.service-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.service-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sb-title {
    background-color: var(--main-color);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .07);
}

.sb-title h1 {
    color: #fff;
    font-size: 22px;
    font-family: 'SBAggroM';
    text-align: center;
    padding: 25px;
}

.sb-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .07);
}

.sb-divide-line {
    width: 100%;
    height: 1px;
    display: flex;
    background-color: #ddd;
}

.sb-price {
    padding: 20px 0;
    text-align: center;
}

.sb-price p {
    color: #888;
    font-size: 17px;
    font-weight: 400;
    text-decoration: line-through;
}

.sb-price h2 {
    color: #333;
    font-size: 32px;
    font-family: 'SBAggroM';
}

.sb-price h2 span {
    color: #666;
    font-size: 16px;
    font-weight: normal;
}

.sb-notice {
    text-align: center;
}

.sb-notice p {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
    animation: blink 1s infinite ease;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.sb-hashtag {
    padding: 15px 0;
    line-height: 37px;
}

.sb-hashtag span {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
    margin-right: .3rem;
    border-radius: 50px;
    background-color: var(--main-color);
    cursor: pointer;
}

.sb-hashtag span:hover {
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

.sb-info {
    padding: 20px 0;
}

.sb-info h1 {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.sb-info ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sb-info ul li {
    color: #333;
    font-size: 15px;
}


/*==================================================*/
@media (max-width: 850px) {
    .service-box-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 100%;
    }
}
