.article0 {
    padding-bottom: 0 !important;
}

.a0-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.a0-text {
    width: 650px;
}

.a0-text h1 {
    color: #222;
    font-size: 33px;
    margin-bottom: 1rem;
}

.a0-text p {
    color: #222;
    font-size: 16px;
    line-height: 25px;
}

.a0 {
    border-radius: 30px;
}

.divide-line {
    display: block;
    width: 70px;
    height: 5px;
    background: #222;
    margin: 3rem 0;
}