.article4 {
    overflow: hidden;
}

.a4-notice p {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

.a4-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}

.a4-box {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a4-box h1, .a4-box p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Anek Tamil', sans-serif;
}

.coin {
    animation: rotate_image 30s linear infinite;
}

.coin:hover {
    filter: brightness(110%);
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}


/*==================================================*/
@media (max-width: 768px) {
    .a4-notice p {
        font-size: 16px;
        line-height: 26px;
    }

    .a4-notice p br {
        display: none;
    }
    
    .a4-box {
        width: 100%;
    }
}


@media (max-width: 450px) {
    .a4-box h1, .a4-box p {
        font-size: 15px;
    }
}