.a3-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.a3-space {
    width: 100%;
}

.a3-box {
    position: relative;
    width: 48%;
    padding: 20px;
    background-color: #0516226e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.a3b-left {
    text-align: right;
}

.a3b-right {
    float: right;
}

.a3b-left::after {
    position: absolute;
    top: 15px; right: -8px;
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    background-color: #0516226e;
    transform: rotate(45deg);
}

.a3b-right::after {
    position: absolute;
    top: 15px; left: -8px;
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    background-color: #0516226e;
    transform: rotate(45deg);
}

.a3-box h1 {
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: .7rem;
}

.a3-box h4 {
    color: #eee;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.a3-box p {
    color: #aaa;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

.roadmap-line {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    display: block;
    width: 1px;
    height: 750px;
}


/*==================================================*/
@media (max-width: 900px) {
    .a3-wrapper {
        padding-left: 35px;
        gap: 1rem;
    }

    .a3-box {
        width: 100%;
    }

    .a3b-left {
        text-align: left;
    }

    .a3b-right {
        float: left;
    }

    .a3b-left::after {
        right: unset; left: -8px;
    }

    .roadmap-line {
        top: 0; left: 10px;
        transform: unset;
    }
}


@media (max-width: 550px) {
    .a3-box h1 {
        font-size: 17px;
    }

    .a3-box h4 {
        font-size: 15px;
        line-height: 24px;
    }

    .a3-box p {
        font-size: 13px;
        line-height: 20px;
    }
}
