.article8 {
    height: 553px;
    background: url(../images/a8-bg.jpg) no-repeat;
    background-position: left;
    background-size: cover;
}

.a8-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a8-text {
    color: #fff;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.a8-text h1 {
    font-size: 40px;
    font-family: 'SBAggroB';
    font-weight: unset;
    letter-spacing: 0 !important;
}

.a8-text h5 {
    font-size: 20px;
}

.a8-text h5 span {
    color: var(--main-color);
}

.a8-text p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0 !important;
}


/*==================================================*/
@media (max-width: 1800px) {
    .article8 {
        background: url(../images/contact2.png);
        background-position: right;
    }
}


@media (max-width: 850px) {
    .article8 {
        height: auto;
        padding-top: 80px !important;
        padding-bottom: 0 !important;
        background: url(../images/contact-m.png);
    }

    .a8-wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .a8-text {
        text-align: center;
        gap: 1rem;
    }
}


@media (max-width: 550px) {
    .a8-text {
        width: 100%;
    }

    .a8-text h1 {
        font-size: 33px;
    }

    .a8-text h5 {
        font-size: 17px;
    }

    .a8-text p {
        font-size: 14px;
    }
}