.world {
    margin-bottom: 2rem;
}

.a3-text p {
    color: #eee;
    font-size: 20px;
    line-height: 35px;
    font-weight: 200;
    text-align: center;
}

.credit {
    margin: 6rem 0 2rem 0;
}


/*==================================================*/
@media (max-width: 550px) {
    .a3-text p {
        font-size: 15px;
        line-height: 27px;
        text-align: left;
        word-break: break-all;
    }
}