.article6 {
    height: 1230px;
    background: url(../images/a6-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.a6-text-wrapper {
    color: #222;
    text-align: center;
    padding-bottom: 650px;
}

.a6-text-wrapper h1 {
    font-size: 40px;
    margin-bottom: 3rem;
}

.a6-text-wrapper p {
    font-size: 28px;
    font-weight: 300;
}

.a6-text-wrapper p:nth-child(2) {
    margin-bottom: 1.5rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .article6 {
        height: 800px;
    }

    .a6-text-wrapper {
        padding-bottom: 450px;
    }

    .a6-text-wrapper h1 {
        font-size: 20px;
    }

    .a6-text-wrapper p {
        font-size: 17px;
    }
}