.article2 {
    background-color: #f1f1f1;
}

.a2-box-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a2-box {
    flex: 1;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.a2-box i {
    color: var(--main-color);
    font-size: 45px;
    text-align: center;
}

.a2-box h1 {
    color: #222;
    font-size: 20px;
    text-align: center;
}


/*==================================================*/
@media (max-width: 700px) {
    .a2-box-group {
        gap: 1rem;
    }
    
    .a2-box-wrapper {
        gap: 1rem;
    }

    .a2-box {
        padding: 30px 5px;
        border-radius: 20px;
    }

    .a2-box i {
        font-size: 35px;
    }

    .a2-box h1 {
        font-size: 15px;
    }
}


@media (max-width: 450px) {
    .a2-box i {
        font-size: 30px;
    }
    
    .a2-box h1 {
        font-size: 13px;
    }
}