.article7 {
    height: 100vh;
    background: url(../images/a7-bg.jpg);
}

.a7-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.a7-box {
    width: 600px;
    padding: 60px 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 26px 43px 0px rgba(0, 0, 0, .3);
}

.a7-box-title h1 {
    color: #222;
    margin-bottom: .5rem;
}

.a7-box-title p {
    color: #444;
    margin-bottom: 1rem;
}


/*==================================================*/
@media (max-width: 850px) {
    .article7 {
        height: auto;
    }

    .a7-box {
        width: 100%;
        padding: 30px;
    }

    .a7-box-title h1 {
        font-size: 23px;
        margin-bottom: .2rem;
    }

    .a7-box-title p {
        font-size: 14px;
        margin-bottom: .5rem;
    }
}


@media (max-width: 600px) {
    .a7-box {
        padding: 30px 20px;
    }
}