.a6-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.a6-box-wrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.a6-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.a6-image {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.a6-image img {
    border-radius: 20px;
    transform: scale(2);
    opacity: .4;
    transition: .8s;
}

.a6-image img:hover {
    transform: scale(1);
    opacity: 1;
}

.a6-info p {
    color: #ccc;
    font-size: 17px;
    line-height: 25px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a6-image {
        height: 100px;
    }
}


@media (max-width: 768px) {
    .a6-box-wrapper {
        gap: 1rem;
    }
    
    .a6-box {
        gap: .5rem;
    }

    .a6-info p {
        font-size: 14px;
        line-height: 20px;
    }
}


@media (max-width: 600px) {
    .a6-image {
        height: 60px;
        border-radius: 10px;
    }

    .a6-image img {
        opacity: .7;
        border-radius: 10px;
    }

    .a6-info p {
        font-size: 12px;
        line-height: 15px;
        word-break: break-all !important;
    }
}