.a1-text p {
    color: #eee;
    width: 810px;
    font-size: 20px;
    line-height: 33px;
    font-weight: 200;
    text-align: center;
}


/*==================================================*/
@media (max-width: 850px) {
    .a1-text p {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .a1-text p {
        font-size: 15px;
        line-height: 27px;
        text-align: left;
        word-break: break-all;
    }
}