footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 30px 40px;
}

.footer-wrapper {
    display: flex;
}

.footer-wrapper ul {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-wrapper ul li {
    color: #aaa;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.footer-icon {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-wrapper p {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    transform: rotate(0deg);
}


/*==================================================*/
@media (max-width: 768px) {
    footer {
        padding: 30px 20px;
    }

    .footer-wrapper ul {
        flex-direction: column;
        align-items: baseline;
        gap: 3px;
    }
}