header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 999;
}

nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 4rem;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.0625em;
}

nav ul a li {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.0625em;
}

#check {
    display: none;
}

.menuBtns {
    display: none;
}


/*==================================================*/
@media (max-width: 1240px) {
    nav {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    header {
        height: 75px;
    }

    .logo {
        padding-bottom: 10px;
    }

    nav label {
        z-index: 8;
    }

    nav ul {
        position: absolute;
        top: -300px; right: 20px;
        width: 150px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
        z-index: 99;
        gap: 0;
    }

    nav ul li {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    nav ul li a {
        color: #444;
        font-size: 15px;
    }

    nav ul a li {
        color: #444;
        font-size: 15px;
    }

    .menuBtns {
        padding: 2px;
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px);
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
      }
    
    #check:checked ~ ul {top: 60px;}
}
