.promotion {
    width: 100%;
    height: 100vh !important;
    background: url(../images/hero.png) no-repeat;
    display: flex;
}

.promotion-wrapper {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.p-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 100px;
}

.p-text h1 {
    color: #fff;
    font-size: 70px;
    line-height: 77px;
    letter-spacing: -0.04em;
}

.p-text h1 span {
    font-size: 45px;
    font-weight: 400;
}

.downBtn-wrapper {
    display: flex;
    gap: 1rem;
}


.floating {
    position: fixed;
    bottom: 40px; right: 40px;
    z-index: 9999;
}


/*==================================================*/
@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}



@media (max-width: 768px) {
    .promotion {
        height: 840px !important;
        background: url(../images/hero-m.png);
        background-position: center;
    }
    
    .logo-b {
        width: 165px;
    }

    .p-text {
        padding-bottom: 200px;
    }

    .p-text h1 {
        font-size: 55px;
        line-height: 52px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    .p-text h1 span {
        font-size: 28px;
    }

    .downBtn-wrapper {
        gap: .3rem;
    }

}