.promotion {
    width: 100%;
    height: 100vh !important;
    background: url(../images/hero.jpg);
    display: flex;
}

.promotion-wrapper {
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-text h1 {
    color: #fff;
    font-size: 65px;
    font-family: 'NanumSquare';
    letter-spacing: -0.02em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 7px rgba(0, 0, 0, .1);
}

.p-text h1 br {
    display: none;
}

.p-text h5 {
    color: #fff;
    font-size: 18px;
    font-family: 'NanumSquare';
    letter-spacing: -0.02em;
    line-height: 33px;
    font-weight: 500;
    margin-bottom: 2rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.pBtn {
    outline: none;
    border: none;
    width: 230px;
    height: 50px;
    background-color: var(--main-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border-radius: 8px;
    cursor: pointer;
}

.pBtn p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'NanumSquare';
}

.scrollDown {
    position: absolute;
    bottom: 40px;
    transform: translate(-50%, -50%);
    transition: .5s;
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}


/*==================================================*/
@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    .promotion {
        background: url(../images/hero-m.jpg);
    }

    .p-text {
        width: 100%;
        justify-content: flex-start;
        align-items: baseline;
    }
    
    .p-text h1 {
        font-size: 45px;
        line-height: 60px;
        text-align: left;
        margin-bottom: .5rem;
        letter-spacing: -0.04em;
        text-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }

    .p-text h1 br {
        display: block;
    }

    .p-text h5 {
        font-size: 16px;
        font-family: 'Pretendard';
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 1.3rem;
        letter-spacing: -0.04em;
        text-shadow: 0 0 3px rgba(0, 0, 0, .2);
    }

    .pBtn {
        width: 160px;
        height: 40px;
        border-radius: 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }

    .pBtn p {
        font-size: 13px;
    }
}


@media (max-width: 430px) {
    .p-text h1 {
        font-size: 40px;
        line-height: 55px;
    }
    
    .p-text h5 br {
        display: none;
    }
}
