/*--Promotion--*/
.p-text p {
    font-size: 17px;
    font-weight: 200;
    line-height: 25px;
}


/*--article1--*/
.a1-box-info p {
    line-height: 18px;
}


/*--article4--*/
.tab-box {
    padding: 20px;
}

.tab-box h1 {
    margin-bottom: 0;
}

.tab-box h4 {
    margin-bottom: .5rem;
}


/*--article6--*/
.a6-info p {
    line-height: 20px;
}


/*--footer--*/
.footer-list li {
    color: #aaa;
    font-size: 16px;
    letter-spacing: 0;
}