.article1 {
    padding-bottom: 1300px;
    overflow: hidden;
}

.a1-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.a1-text h1 {
    font-size: 45px;
    line-height: 1.3;
}

.a1-text p {
    width: 350px;
    font-size: 22px;
    line-height: 1.6;
    margin-top: 1.2rem;
}

.a1-image {
    position: absolute;
    top: 0; right: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.a1-image img {
    width: 450px;
}

.a1-image-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.a1-m {
    display: none;
}


/*==================================================*/
@media (max-width: 1000px) {
    .article1 {
        padding-bottom: 60px;
    }
    
    .a1-wrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .a1-text p {
        width: 100%;
    }

    .a1-image {
        display: none;
    }

    .a1-m {
        display: flex;
    }
}


@media (max-width: 768px) {
    .article1 {
        padding-bottom: 40px;
    }
    
    .a1-text h1 {
        font-size: 35px;
    }
    
    .a1-text p {
        font-size: 18px;
    }
}


@media (max-width: 450px) {
    .a1-wrapper {
        gap: 2rem;
    }
    
    .a1-text h1 {
        font-size: 26px;
    }
    
    .a1-text p {
        font-size: 15px;
    }
}