.floating {
    position: fixed;
    bottom: 30px; right: 30px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    z-index: 999;
}

.topBtn {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: var(--main-color);
    transition: background .3s;
    cursor: pointer;
}

.topBtn i {
    color: #fff;
    font-size: 22px;
    -webkit-animation: none;
    animation: none;
}



/*==================================================*/
@media (max-width: 768px) {
    .floating {
        bottom: 20px; right: 20px;
    }
    
    .topBtn {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .topBtn i {
        font-size: 15px;
    }
}