footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 40px 20px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer-sns {
    display: flex;
    gap: 10px;
}

.footer-sns .sns {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
}

.footer-sns .sns i {
    color: #fff;
    font-size: 26px;
    transition: all .2s;
}

.footer-wrapper p {
    color: #0e0e0e;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.02em;
}

.footer-sns .sns:hover i {
    color: var(--main-color);
    font-size: 30px;
}


/*==================================================*/
@media (max-width: 450px) {
    .footer-wrapper {
        gap: 1rem;
    }
    
    .footer-sns {
        gap: 5px;
    }
    
    .footer-sns .sns {
        width: 30px;
        height: 30px;
    }

    .footer-sns .sns i {
        font-size: 20px;
    }

    .footer-wrapper p {
        font-size: 12px;
    }
}