.article4 {
    height: 100vh;
    background-color: #000;
    background: url(../images/a4-bg.jpg);
    background-attachment: fixed;
    overflow: hidden;
}

.a4-text h5 {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
}

.a4-text h5 span {
    font-size: 45px;
    font-weight: 500;
}

.a4-text h5 em {
    padding: 0 8px;
    font-style: normal;
    border-radius: 3px;
    background-color: var(--main-color);
}

.a4-text p {
    color: rgba(255, 255, 255, .6);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-top: 4rem;
}


/*==================================================*/
