.article5 {
    background-color: #f2f2f2;
}

.a5-title {
    width: 100%;
    margin-bottom: 4rem;
    z-index: 2;
}

.a5-title h5 {
    color: #222;
    font-size: 55px;
    line-height: 1.3;
}

.a5-title p {
    color: #777;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 2rem;
}

.a5-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    z-index: 2;
}

.a5-box {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(45,52,61,.12);
}

.a5-box-icon {
    width: 100%;
}

.a5-box-icon img {
    float: right;
    height: 70px;
}

.a5-box-text h5 {
    color: #222;
    font-size: 24px;
}

.a5-box-text p {
    color: #777;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 1rem;
}


/*==================================================*/
