.article1 {
    padding-bottom: 0;
    background-color: var(--main-color);
}

.a1-wrapper {
    color: #fff;
    width: 100%;
}

.a1-title {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 5rem;
}

.a1-title span {
    font-weight: 700;
    background: linear-gradient(to top, rgba(255, 255, 255, .2) 60%, transparent 50%);
}

.a1-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.a1-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a1-box {
    width: fit-content;
    padding: 20px 60px;
    background-color: #151515;
    box-shadow: 10px 12px 12px 3px rgba(0, 0, 0, .3);
}

.a1-box:nth-child(1) {
    border-radius: 40px 40px 40px 0;
}

.a1-box:nth-child(2) {
    margin-left: 100px;
    border-radius: 40px 40px 0 40px;
}

.a1-box:nth-child(3) {
    border-radius: 40px 40px 40px 0;
}

.a1-box:nth-child(4) {
    margin-left: 100px;
    border-radius: 40px 40px 0 40px;
}

.a1-box p {
    font-size: 24px;
    line-height: 1.5;
}

.a1-image {
    width: 45%;
    padding-top: 5%;
}



/*==================================================*/
@media (max-width: 950px) {
    .a1-contents {
        flex-direction: column;
        gap: 5rem;
    }

    .a1-image {
        width: 100%;
        padding-top: 0;
    }
}


@media (max-width: 768px) {
    .a1-box {
        padding: 15px 30px;
    }
    
    .a1-box p {
        font-size: 18px;
    }
}



@media (max-width: 450px) {
    .a1-title {
        font-size: 24px;
    }

    .a1-box p {
        font-size: 16px;
    }
}