.article3 {
    position: relative;
    padding: 120px 0;
}

.slider-wrapper {
    width: 1600px;
}

.a3-sub-title {
    position: absolute;
    top: 60px;
    opacity: .7;
}

.mySwiper {
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .05);
}

.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-m-img {
    display: none;
}


/*==================================================*/
@media (max-width: 1650px) {
    .slider-wrapper {
        width: 100%;
    }

    .swiper-slide {
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .article3 {
        padding: 60px 0;
    }

    .a3-sub-title {
        top: 30px;
    }
    
    .s-p-img {
        display: none;
    }

    .s-m-img {
        display: block;
    }
}