.article4 {
    background: url(../images/a4-bg.png);
}

.a4-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a4-wrapper p {
    color: #222;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 2rem 0;
}

button.btn {
    border: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #fd8503;
    cursor: pointer;
    outline-offset: 4px;
    position: relative;
}
button.btn:hover .front {
    transform: translateY(-6px);
    transition: transform 0.25s cubic-bezier(.3, .7, .4, 1.5);
}
button.btn:active .front {
    transform: translateY(-2px);
    transition: transform 0.2s;
}
button.btn:focus:not(:focus-visible) {
    outline: none;
}
button.btn .front {
    min-width: 450px;
    height: 60px;
    display: block;
    border-radius: 12px;
    line-height: 60px;
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    background-color: #fd8503;
    transform: translateY(-8px);
    transition: transform 0.4s cubic-bezier(.3, .7, .4, 1);
}
button.btn .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #aa5d0b;
    transform: translateY(2px);
    filter: blur(4px);
}
button.btn .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #cf7413;
}