.article4 {
    position: relative;
    background-color: #eef2ff;
}

.a4-sub-title {
    position: absolute;
    top: 30px;
    opacity: .7;
}

.a4-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a4-wrapper img {
    margin-bottom: 2rem;
}
