.article1 {
    position: relative;
    padding: 100px 0 300px 0;
    background-color: #f6f6f7;
}

.a1-sub-title {
    position: absolute;
    top: 30px;
    opacity: .7;
}

.a1-box-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a1-box h1 {
    color: #777;
    font-size: 55px;
    font-family: 'Futura Hv BT';
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 10rem 0;
}

.hexagon {
    position: absolute;
    transition: all .7s ease-in-out;
    cursor: pointer;
}

.hexagon1 {
    transform: translate(-420px, -40px);
}

.hexagon2 {
    transform: translate(-260px, 250px);
}

.hexagon3 {
    transform: translate(420px, -40px);
}

.hexagon4 {
    transform: translate(260px, 250px);
}

.hexagon-before {
    transform: translate(0, 0);
    opacity: 0;
    visibility: hidden;
}


@font-face {
    font-family: 'Futura Hv BT';
    src: url('../fonts/FUTURAHI.TTF') format('truetype');
}



/*==================================================*/
@media (max-width: 1200px) {
    .article1 {
        padding: 20px 0 200px 0;
    }
    
    .a1-box h1 {
        margin-top: 430px;
    }
    
    .hexagon1 {
        transform: translate(-160px, -80px);
    }

    .hexagon2 {
        transform: translate(-160px, 350px);
    }
    
    .hexagon3 {
        transform: translate(160px, -80px);
    }
    
    .hexagon4 {
        transform: translate(160px, 350px);
    }
}


@media (max-width: 700px) {
    .article1 {
        padding: 80px 0 120px 0;
        overflow: hidden;
    }

    .a1-sub-title {
        top: 60px;
    }
    
    .a1-box h1 {
        font-size: 35px;
        margin-top: 185px;
    }

    .hexagon {
        width: 220px;
    }
    
    .hexagon1 {
        transform: translate(-120px, -120px);
    }

    .hexagon2 {
        transform: translate(-120px, 150px);
    }
    
    .hexagon3 {
        transform: translate(120px, -120px);
    }
    
    .hexagon4 {
        transform: translate(120px, 150px);
    }
}


@media (max-width: 500px) {
    .article1 {
        padding: 60px 0;
    }
    
    .hexagon {
        width: 170px;
    }

    .hexagon1 {
        transform: translate(-90px, -100px);
    }

    .hexagon2 {
        transform: translate(-90px, 130px);
    }
    
    .hexagon3 {
        transform: translate(90px, -100px);
    }
    
    .hexagon4 {
        transform: translate(90px, 130px);
    }
}