.article5 {
    position: relative;
    padding: 120px 0;
}

.a5-sub-title {
    position: absolute;
    top: 60px;
    opacity: .7;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.a5-wrapper img {
    width: 600px;
}

.a5-text h1 {
    color: #222;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.a5-step ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.a5-step ul li {
    color: #555;
    font-size: 22px;
    font-weight: 500;
}

.a5-step ul li span {
    color: #5269ff;
    font-weight: 800;
}



/*==================================================*/
@media (max-width: 1000px) {
    .a5-wrapper {
        flex-direction: column;
        gap: 5rem;
        padding-top: 50px;
    }

    .a5-wrapper img {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .article5 {
        padding: 60px 0;
    }
      
    .a5-text h1 {
        font-size: 24px;
    }
}


@media (max-width: 550px) {
    .a5-wrapper {
        gap: 2.5rem;
    }
    
    .a5-text h1 {
        font-size: 22px;
    }

    .a5-step ul li {
        font-size: 18px;
    }
}


@media (max-width: 450px) {
    .a5-wrapper {
        padding-top: 0;
        gap: 1.5erm;
    }

    .a5-text h1 {
        font-size: 18px;
    }

    .a5-step ul li {
        font-size: 16px;
    }
}