.article14 {
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
}

.a14-city {
    position: absolute;
    bottom: 150px;
    filter: grayscale(1);
    transform: scale(2);
    user-select: none;
    opacity: .5;
    z-index: 1;
}

.a14-flood {
    position: absolute;
    bottom: -50px;
    z-index: 2;
}

.article14 .article-wrapper {
    position: relative;
}

.a14-image {
    z-index: 5;
}

.a14-text {
    position: absolute;
    top: 0; right: 0;
    width: 65%;
    color: #888;
    font-size: 22px;
    line-height: 1.8;
}


/*==================================================*/
