.article5 {
    position: relative;
    background-color: #e8e8e8;
}

.article5 .article-wrapper {
    width: 100%;
}

.a5Swiper {
    width: 100%;
}

.a5Swiper .swiper-wrapper {
    padding: 30px;
}

.a5Swiper .swiper-slide {
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 6px 22px rgba(45,52,61,.12);
    border-radius: 10px;
}

.a5Swiper .swiper-slide span {
    color: var(--sub-color);
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.a5Swiper .swiper-slide h5 {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.a5Swiper .swiper-slide ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.a5Swiper .swiper-slide ul li {
    color: #888;
    font-size: 15px;
    line-height: 1.5;
    list-style-type: '- ';
    list-style-position: inside;
}

.a5Swiper .swiper-button-wrapper {
    position: absolute;
    top: 50%; left: 35%;
}

.a5Swiper .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0 6px 22px rgba(45,52,61,.12);
}

.a5Swiper .swiper-button-next i {
    color: rgba(0, 0, 0, .4);
    font-size: 28px;
}



/*==================================================*/
@media (max-width: 1650px) {
    .a5Swiper .swiper-button-wrapper {
        left: 20%;
    }
}


@media (max-width: 1250px) {
    .article5 .article-wrapper {
        padding: 0;
    }
}


@media (max-width: 1050px) {
    .a5Swiper .swiper-button-wrapper {
        left: 10%;
    }
}


@media (max-width: 550px) {
    .a5Swiper .swiper-slide {
        height: auto;
        padding: 40px;
    }
    
    .a5Swiper .swiper-slide span {
        font-size: 16px;
        margin-bottom: 1.5rem;
    }
    
    .a5Swiper .swiper-slide h5 {
        font-size: 20px;
    }
    
    .a5Swiper .swiper-button-wrapper {
        left: 5%;
    }

    .a5Swiper .swiper-button-next {
        width: 40px;
        height: 40px;
        border-radius: 14px;
    }
    
    .a5Swiper .swiper-button-next i {
        font-size: 22px;
    }
}


@media (max-width: 450px) {
    .a5Swiper .swiper-wrapper {
        padding-top: 5px;
    }
    
    .a5Swiper .swiper-slide {
        padding: 30px;
    }
}