.article1 {
    position: relative;
    padding-bottom: 0;
    background-color: transparent;
    overflow: hidden;
}
.article1::after {
    content: '';
    position: absolute;
    top: 400px; left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}

.a1-city {
    position: absolute;
    bottom: 250px;
    filter: grayscale(1);
    transform: scale(2);
    user-select: none;
    opacity: .5;
    z-index: 2;
}

.a1-flood {
    position: absolute;
    bottom: 0;
    user-select: none;
    z-index: 5;
    transition: all .3s;
    opacity: 0;
}

.a1-flood-text {
    position: absolute;
    bottom: 10px; left: 50%;
    transform: translate(-50%, 0);
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    z-index: 6;
    transition: all .3s;
    opacity: 0;
}

.a1-cloud {
    position: relative;
    width: 60%;
    z-index: 2;
}

.a1-cloud img {
    width: 100%;
}

.a1-cloud-text {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.a1-cloud-text h5 {
    color: var(--sub-color);
    font-size: 45px;
    font-weight: 800;
}

.a1-cloud-text p {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 1.7;
    margin-top: 1rem;
}

.a1-rain {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    z-index: 3;
}

.a1-rain img {
    width: 150px
}

.a1-rain p {
    position: absolute;
    top: 30%; right: 0;
    width: 300px;
    color: #888;
    font-size: 25px;
    line-height: 1.8;
}

.a1-house {
    width: 100%;
    z-index: 4;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a1-city {
        transform: scale(1.5);
    }
}


@media (max-width: 1650px) {
    .a1-house,
    .a1-flood {
        width: 2000px;
        min-width: 2000px;
        margin-bottom: -3rem;
    }
}


@media (max-width: 1350px) {
    .a1-city {
        bottom: 150px;
        width: 2000px;
        min-width: 2000px;
    }
}


@media (max-width: 1050px) {
    .a1-cloud {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .article1::after {
        top: 25%;
    }

    .a1-cloud-text {
        width: 90%;
    }

    .a1-cloud-text h5 {
        font-size: 36px;
    }

    .a1-cloud-text p {
        font-size: 20px;
    }

    .a1-rain img {
        width: 100px;
    }
}


@media (max-width: 550px) {
    .article1::after {
        top: 15%;
    }
    
    .a1-city {
        width: 1300px;
        min-width: 1300px;
    }
    
    .a1-cloud {
        width: 100%;
    }
    
    .a1-cloud-text {
        width: 80%;
    }

    .a1-cloud-text h5 {
        font-size: 32px;
    }

    .a1-cloud-text p {
        font-size: 16px;
        margin-top: 10px;
    }

    .a1-rain p {
        right: unset;
        top: 22%; left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        font-size: 18px;
        line-height: 1.65;
        text-align: center;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, .4);
    }
}


@media (max-width: 450px) {
    .a1-house,
    .a1-flood {
        width: 1600px;
        min-width: 1600px;
        margin-bottom: -2rem;
    }
    
    .a1-flood-text {
        bottom: 15px;
        font-size: 20px;
    }
    
    .a1-rain img {
        width: 75px;
    }
}