.article2 {
    position: relative;
    position: sticky;
    top: 0;
    height: fit-content;
    padding-bottom: 300px;
}
.article2::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, var(--rain-color) 0%, #1997d2 50%, var(--main-color) 100%);
}

.article2 .article-wrapper {
    width: 1000px;
}

.a2-box {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 30px rgba(45,52,61,.12);
    z-index: 2;
}

.a2-box-text {
    color: var(--main-color);
    width: 75%;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
}

.a2-box img {
    width: 60%;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article2 {
    }
    
    .article2 .article-wrapper {
        width: 100%;
    }
    
    .a2-box {
        width: 90%;
        padding: 60px;
    }
}


@media (max-width: 768px) {
    .article2::after {
        height: 400px;
    }
    
    .a2-box img {
        width: 80%;
    }

    .a2-box-text {
        width: 85%;
        font-size: 22px;
    }
}


@media (max-width: 550px) {
    .a2-box {
        width: 100%;
        padding: 40px;
        gap: 2rem;
    }
}


@media (max-width: 450px) {
    .a2-box {
        padding: 25px;
    }

    .a2-box-text {
        width: 90%;
        font-size: 18px;
    }
}