.article14 {
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
}

.a14-city {
    position: absolute;
    bottom: 150px;
    filter: grayscale(1);
    transform: scale(2);
    user-select: none;
    opacity: .5;
    z-index: 1;
}

.a14-flood {
    position: absolute;
    bottom: -10px;
    z-index: 2;
}

.article14 .article-wrapper {
    position: relative;
}

.a14-image {
    z-index: 5;
}

.a14-text {
    position: absolute;
    top: 0; right: 0;
    width: 65%;
    color: #888;
    font-size: 22px;
    line-height: 1.8;
}

.a14-mobile {
    display: none;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a14-flood {
        bottom: -50px;
    }
}


@media (max-width: 1850px) {
    .a14-flood {
        width: 1900px;
        min-width: 1900px;
    }
}


@media (max-width: 950px) {
    .a14-flood {
        width: 1500px;
        min-width: 1500px;
    }
    
    .a14-text {
        top: -10%; right: 5%;
        font-size: 19px;
    }
}


@media (max-width: 768px) {
    .article14 {
        padding-bottom: 0;
        justify-content: flex-end !important;
    }

    .article14 .article-wrapper {
        padding: 0;
    }
    
    .a14-city,
    .a14-flood,
    .a14-image,
    .a14-text {
        display: none;
    }

    .a14-mobile {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 100%;
        display: flex;
        flex-direction: column;
    }

    .a14-image-m {
        position: absolute;
        top: 0; left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        z-index: 6;
    }
    
    .a14-city-m {
        width: 1200px;
        min-width: 1200px;
        filter: grayscale(1);
        transform: scale(2);
        margin-bottom: -5rem;
        opacity: .5;
        z-index: 3;
    }
    
    .a14-flood-m {
        width: 200%;
        min-width: 200%;
        z-index: 4;
    }

    .a14-text-m {
        position: static;
        color: #fff;
        width: 100%;
        padding: 50px;
        font-size: 19px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        background-color: var(--rain-color);
        z-index: 5;
    }
}