.article12 {
    position: relative;
    background-color: #e8e8e8;
}

.a12-box ul li {
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.a12-box ul li span {
    font-size: 18px;
    font-weight: 700;
}

.a12-box-wrapper {
    margin-top: 6rem;
}

.a12-box-text ul li span {
    display: block;
    color: #888;
    font-size: 15px;
    margin-top: 5px;
}


/*==================================================*/
