.article3 {
    position: relative;
    background-color: transparent;
    overflow: hidden;
}
.article3::after {
    content: '';
    position: absolute;
    top: 52px;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    z-index: 1;
}

.a3-people {
    position: absolute;
    top: 0;
    width: 100%;
}

.a3-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    z-index: 2;
}

.a3-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 6px 22px rgba(45,52,61,.1);
    border-radius: 10px;
}

.a3-box-icon {
    width: 100%;
}

.a3-box-icon img {
    float: right;
    height: 74px;
}

.a3-box-text h5 {
    color: var(--main-color);
    font-size: 24px;
    margin-bottom: 1rem;
}

.a3-box-text h5 span {
    display: block;
    color: #aaa;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 5px;
}

.a3-box-text ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.a3-box-text ul p {
    color: var(--sub-color);
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
}

.a3-box-text ul li {
    color: #777;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5px;
}


/*==================================================*/
@media (min-width: 2250px) {
    .article3::after {
        top: 65px;
    }
}


@media (max-width: 1919px) {
    .a3-people {
        width: 1900px;
        min-width: 1900px;
    }
}


@media (max-width: 1050px) {
    .a3-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 768px) {
    .article3 {
        padding-top: 120px;
    }
}


@media (max-width: 450px) {
    .a3-box {
        padding: 40px;
    }
    
    .a3-box-icon img {
        height: 60px;
    }
}