.article4 {
    position: relative;
    background-color: #e8e8e8;
}

.a4-bg i {
    margin-left: -500px;
}

.a4-box-wrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    z-index: 10;
}

.a4-arrow {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 60px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.a4-arrow:nth-child(2) {
    left: 32.5%;
    background: linear-gradient(to right, var(--rain-color) 0%, #1997d2 100%);
}
.a4-arrow:nth-child(4) {
    left: 67.5%;
    background: linear-gradient(to right, #1997d2 0%, var(--main-color) 100%);
}
.a4-arrow i {
    color: #fff;
    font-size: 24px;
}

.a4-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

.a4-box img {
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(45,52,61,.15);
}

.a4-box-title {
    color: #fff;
    height: 65px;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rain-color);
    text-align: center;
}

.a4-box-title span {
    display: none;
}

.a4-box:nth-child(3) .a4-box-title {
    background-color: #1997d2;
}
.a4-box:nth-child(5) .a4-box-title {
    background-color: var(--main-color);
}

.a4-box ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.a4-box ul li {
    color: #222;
    height: 70px;
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(45,52,61,.08);
}

.a4-check i {
    color: var(--sub-color);
    font-size: 28px;
    font-weight: 500;
}



/*==================================================*/
@media (max-width: 1050px) {
    .a4-arrow {
        display: none;
    }
    
    .a4-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .a4-box-title span {
        display: flex;
        margin-right: 10px;
    }
}


@media (max-width: 550px) {
    .a4-box-wrapper {
        gap: 3rem;
    }
    
    .a4-box-title {
        font-size: 22px;
        height: 55px;
    }

    .a4-box ul {
        gap: 10px;
    }
    
    .a4-box ul li {
        height: 55px;
        padding: 0 15px;
        font-size: 16px;
    }
}


@media (max-width: 450px) {
    .a4-box-wrapper {
        gap: 1rem;
    }
    
    .a4-check i {
        font-size: 22px;
    }
}