.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: -1;
}

.promotion-wrapper {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.p-logo {
    width: 550px;
}

.p-text {
    text-align: center;
}

.p-text h5 {
    color: #222;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.35;
}

.p-text p {
    color: #888;
    font-size: 19px;
    line-height: 1.6;
    margin-top: 1rem;
}

.scrollDown {
    position: absolute;
    bottom: 40px;
    width: 20px;
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}


/*==================================================*/
@media (max-width: 768px) {
    .promotion-wrapper {
        width: 90%;
    }
    
    .p-logo {
        width: 80%;
    }
}


@media (max-width: 550px) {
    .promotion-wrapper {
        gap: 2rem;
    }
    
    .p-text h5 {
        font-size: 30px;
    }

    .p-text p {
        font-size: 16px;
    }
}