.article1 {
    height: 1440px;
    background: url(../images/a1-bg.jpg);
}

.a1-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.a1-box {
    position: relative;
    width: 800px;
    color: #fff;
    padding: 70px 50px;
    padding-left: 150px;
    border-radius: 0 0 50px 0;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, .1);
}

.a1-box h1 {
    font-size: 35px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    text-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.a1-box p {
    color: #ddd;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: .7rem;
}

.a1-box p br {
    display: none;
}

.a1-box-number {
    position: absolute;
    top: -20px; left: -20px;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .2);
}

.a1-box:nth-child(1) .a1-box-number {
    background-color: #03d9df;
}

.a1-box:nth-child(2) .a1-box-number {
    background-color: #5292e8;
}

.a1-box:nth-child(3) .a1-box-number {
    background-color: #b141f5;
}

.a1-box:nth-child(4) .a1-box-number {
    background-color: #f902ff;
}

.a1-box-number p {
    color: #fff;
    font-size: 45px;
    font-family: 'PuradakGentleGothicR';
    text-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 0;
}

.a1-box-number p span {
    color: rgba(255, 255, 255, .5);
    font-family: 'PuradakGentleGothicR';
}


.a1-bottom {
    text-align: center;
    margin-top: 6rem;
}

.a1-bottom h1 {
    color: #fff;
    font-size: 45px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    letter-spacing: -0.04em;
}

.a1-bottom p {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-top: .7rem;
}


/*==================================================*/
@media (max-width: 1045px) {
    .article1 {
        height: auto;
    }
    
    .a1-box-wrapper {
        width: 100%;
        padding-left: 20px;
    }

    .a1-box {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .a1-box-wrapper {
        width: 100%;
    }
    
    .a1-box {
        padding: 40px;
        padding-left: 110px;
    }

    .a1-box h1 {
        font-size: 30px;
    }

    .a1-box p {
        font-size: 20px;
    }

    .a1-box-number {
        width: 100px;
        height: 100px;
        border-radius: 40px 0 40px 0;
    }

    .a1-box-number p {
        font-size: 30px;
    }
}


@media (max-width: 650px) {
    .a1-box-wrapper {
        gap: 2rem;
        padding-left: 7px;
    }
    
    .a1-box {
        padding: 30px;
        padding-left: 85px;
        border-radius: 0 0 30px 0;
    }

    .a1-box h1 {
        font-size: 22px;
    }

    .a1-box p {
        font-size: 16px;
    }
    
    .a1-box-number {
        top: -12px; left: -12px;
        width: 72px;
        height: 72px;
        border-radius: 30px 0 30px 0;
    }

    .a1-box-number p {
        font-size: 24px;
    }
}


@media (max-width: 550px) {
    .a1-box p {
        line-height: 1.4;
    }
    
    .a1-box p br {
        display: block;
    }
    
    .a1-bottom {
        margin-top: 3rem;
    }
    
    .a1-bottom h1 {
        font-size: 35px;
    }
    
    .a1-bottom p {
        font-size: 24px;
    }
}


@media (max-width: 450px) {
    .a1-bottom h1 {
        font-size: 28px;
    }

    .a1-bottom p {
        font-size: 20px;
    }
}