.article2 {
    position: relative;
    height: 100vh;
    height: 100svh;
    background-color: #000;
}

.a2-content {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.a2-content p {
    width: 430rem;
    font-size: 32px;
    font-weight: 500;
    white-space: nowrap;
}

.a2-content p:first-child {
    text-align: right;
}

.a2-bg {
    width: 500rem;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}




@media (max-width: 991px) {}


@media (max-width: 768px) {}


@media (max-width: 450px) {}