footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08111f;
    padding: 60px 0;
}

.footer-wrapper {
    width: 1200px;
}

.footer-box-wrapper {
    width: 100%;
}

.footer-box-group {
    display: flex;
    gap: 5rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.logo-f {
    width: fit-content;
}

.logo-f img {
    width: 160px;
    cursor: pointer;
}

.footer-box-button {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.fBtn {
    color: #aaa;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fBtn p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0 !important;
}

.fBtn span {
    font-size: 12px;
    font-weight: 300;
}

.fBtn p:first-child {
    color: #fff;
    font-weight: 700;
}

.fpBtn {
    padding: 0;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.footer-box-info h1 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer-box-info p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0;
}

.footer-box-info:nth-child(3) .f-copyright {
    display: none;
}



/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}



@media (max-width: 850px) {
    footer {
        padding: 40px 0;
    }

    .footer-box-wrapper {
        gap: 2rem;
    }

    .footer-box {
        gap: 3rem;
    }

    .footer-box-group {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-box-info:first-child br {
        display: none;
    }

    .footer-box-info:first-child p br {
        display: block;
    }

    .footer-box-info:first-child .f-copyright {
        display: none;
    }
    
    .footer-box-info:nth-child(3) .f-copyright {
        display: block;
    }
}


@media (max-width: 550px) {
    footer {
        padding: 30px 0;
    }
    
    .footer-box {
        gap: 2rem
    }

    .logo-f img {
        width: 120px;
    }

    .footer-box-button {
        padding-bottom: 2rem;
    }

    .fBtn {
        flex-direction: column;
        align-items: unset;
        gap: 1.3rem;
    }
    
    .fBtn p {
        font-size: 15px;
    }

    .fBtn span {
        display: none;
    }

    .footer-box-info h1 {
        font-size: 13px;
        margin-bottom: .7rem;
    }
    
    .footer-box-info p {
        font-size: 12px;
    }
}