.about {
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
}

.ab-top {
    width: 100%;
}

.ab-top h5 {
    color: var(--main-color);
    font-size: 145px;
    font-weight: 700;
    font-family: 'Poppins';
    text-transform: uppercase;
    letter-spacing: -0.04em;
}

.ab-top h5 span {
    display: block;
    color: #ddd;
    font-size: 66px;
    font-weight: 600;
    font-family: 'Poppins';
    letter-spacing: -0.04em;
    margin-bottom: -17rem;
}

.ab-top h5 em {
    display: block;
    color: #aaa;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-family: 'Poppins';
    letter-spacing: 0em;
}

.ab-top p {
    color: #222;
    font-size: 21px;
    line-height: 1.7;
    margin-top: 2rem;
}

.ab-image {
    margin: -5rem 0;
}

.ab-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.ab-box h5 {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins';
}

.ab-box p {
    color: #aaa;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 1rem;
}


/*==================================================*/
