.services {
    background: url(../images/services-bg.jpg) no-repeat;
    background-size: cover;
}

.sv-box-wrapper {
    margin-top: 3rem;
}

.sv-box {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.sv-box#data1 {
    display: flex;
}

.sv-box h5 {
    color: var(--main-color);
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins';
}

.sv-box p {
    color: #666;
    font-size: 22px;
    line-height: 1.7;
}

.sv-box ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 3rem;
}

.sv-box ul span {
    color: #555;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins';
}

.sv-box ul li {
    color: #aaa;
    font-size: 19px;
    line-height: 1.65;
    margin-left: 16px;
    list-style: square;
    margin-top: 10px;
}


/*==================================================*/
