.a7-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
}

.a7-box-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.a7-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a7-box img {
    width: 50%;
    filter: grayscale(1);
    transition: all .3s;
    opacity: .5;
}

.a7-box:hover img {
    filter: grayscale(0);
    opacity: 1;
}


/*==================================================*/
