.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
    overflow: hidden;
}

.article-wrapper {
    color: rgba(255, 255, 255, .6);
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.article-title {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 4rem;
}

.article-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}