.a2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.a2-image {
    width: 700px;
}

.a2-box-wrapper {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.a2-box h5 {
    font-size: 45px;
    display: flex;
}

.a2-box h5 input {
    color: rgba(255, 255, 255, .6);
    font-size: 45px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: transparent;
}

.a2-box p {
    color: rgba(255, 255, 255, .5);
    font-size: 20px;
    margin-top: 1rem;
}


/*==================================================*/
