.a6-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.a6-image {
    width: 100%;
    height: 500px;
    background-color: rgba(255, 255, 255, .01);
    border: 1px solid rgba(255, 255, 255, .08);
}

.a6-image img {
    opacity: .3;
}

.a6-box-text {
    text-align: center;
}

.a6-box-text h5 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
}

.a6-box-text p {
    color: rgba(255, 255, 255, .5);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 10px;
}


/*==================================================*/
