.article5 .article-title {
    font-family: 'Pretendard';
}

.a5-chart-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.a5-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.a5-chart h5 {
    font-size: 42px;
    font-weight: 500;
    font-family: 'Poppins';
}

.pie {
    width: 520px;
    height: 520px;
    background-image: conic-gradient(#ffffff12 64%, #ff33d315 50%, #ff33d315 85%, #0da4fc20 50%, #0da4fc20 95%, #d6cb3515 90%, #d6cb3515 100%);
    border-radius: 50%
}

.pie2 {
    width: 520px;
    height: 520px;
    background-image: conic-gradient(#ffffff12 100%, blue 64%, blue 81%, black 81%);
    border-radius: 50%
}


.a5-c1 {
    position: relative;
}

.a5-tag {
    position: absolute;
    font-weight: 300;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, .15);
    opacity: .8;
}

.a5-t1 {
    bottom: 280px; left: 280px;
    font-size: 36px;
}
.a5-t2 {
    bottom: 320px; left: 40px;
    font-size: 32px;
}
.a5-t3 {
    top: 110px; left: 90px;
    transform: rotate(55deg);
    font-size: 22px;
    letter-spacing: 0;
}
.a5-t4 {
    top: 50px; left: 200px;
    transform: rotate(80deg);
    font-size: 18px;
    letter-spacing: 0;
}

.a5-c2 {
    position: relative;
}

.a5-t5 {
    top: 44%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    white-space: nowrap;
}


/*==================================================*/