.promotion {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-wrapper {
    width: 1200px;
    z-index: 10;
}

.p-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p-text P {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Poppins';
}

.p-text h5 {
    color: #fff;
    font-size: 85px;
    font-weight: 600;
    line-height: 1.4;
}

.p-text h5 b {
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, var(--main-color) 0%, var(--sub-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-store-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.p-storeBtn img {
    width: 220px;
    border-radius: 5px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .1);
    transition: all .2s;
    opacity: .8;
}

.p-storeBtn:hover img {
    opacity: 1;
}


/*==================================================*/
@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}