.article7 {
    padding-bottom: 0;
    border-bottom: none;
}

.a7-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.a7-box {
    padding: 50rem;
    border: 2px solid #000;
    background-color: #fff;
}

.a7-box h5 {
    font-size: 24rem;
}

.a7-box p,
.a7-box ul li {
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20rem;
}



/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}