.article2 {
    padding-bottom: 0;
    border-bottom: none;
}

.article2.pdb {
    padding-bottom: 120rem;
}

.a2-logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20rem;
}

.a2-logo {
    width: 100%;
    height: 80rem;
    padding: 0 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
}

.a2-logo img {
    max-height: 50%;
    filter: grayscale(1);
}
.a2-logo:hover img {
    filter: grayscale(0);
}


/*==================================================*/
@media (max-width: 991px) {
    .article2.pdb {
        padding-bottom: 80rem;
    }
}


@media (max-width: 550px) {
    
}