.a10-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20rem;
}

.article10 .a2-logo {
    width: 20%;
}

.a10-notice {
    font-size: 20rem;
    font-weight: 700;
    margin-top: 50rem;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}