.a3-logo-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.a3-logo {
    width: 100%;
    height: 80rem;
    padding: 0 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    border: 1px solid #000;
    background-color: #fff;
}

.a3-logo img {
    max-width: 70%;
    max-height: 50%;
    filter: grayscale(1);
}
.a3-logo:hover img {
    filter: grayscale(0);
}



/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}