.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border-bottom: 2px solid #000;
    padding: 120rem 0;
    overflow: hidden;
}

.article-wrapper {
    width: 1200rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ar-title {
    width: 100%;
    margin-bottom: 50rem;
}

.ar-title h5 {
    font-size: 36rem;
    font-weight: 600;
}

.ar-title p {
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 20rem;
}



/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .article {
        padding: 80rem 0;
    }
}