.a9-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-spacing: 0;
}

.a9-table thead tr th {
    color: #fff;
    padding: 20rem 0;
    font-size: 22rem;
    font-weight: 600;
    border-right: 1px solid #fff;
    background-color: #000;
}

.a9-table thead tr th:last-child {
    border-right: 1px solid #000;
}

.a9-table td {
    padding: 18rem;
    font-size: 18rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}