.a12-box-text p {
    margin-top: 10rem;
}

.a12-box ul {
    margin-top: 50rem;
}

.a12-box ul li:first-child {
    width: fit-content;
    color: #fff;
    font-size: 16rem;
    font-weight: 600;
    padding: 7rem;
    background-color: #000;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}