.a6-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.a6-box {
    padding: 40rem;
    display: flex;
    border: 2px solid #000;
}

.a6-time {
    font-size: 22rem;
    font-weight: 700;
    min-width: 20%;
}

.a6-info h5 {
    font-size: 22rem;
    letter-spacing: -1rem;
}

.a6-info p {
    font-size: 18rem;
    font-weight:500;
    line-height: 1.6;
    margin-top: 20rem;
}

.a6-info ul {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin-top: 20rem;
}

.a6-info ul li {
    font-size: 18rem;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    gap: 20rem;
}

.a6-info ul li span {
    min-width: 56rem;
    color: #fff;
    padding: 7rem;
    font-size: 16rem;
    font-weight: 600;
    text-align: center;
    background-color: #000;
}

.a6-box:hover {
    color: #000 !important;
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(to right in oklch,
            var(--color-1),
            var(--color-2));
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}