.a8-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}