.a5-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15rem;
}

.a5-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    overflow: hidden;
}

.a5-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
}

.a5Btn {
    position: absolute;
    bottom: 20rem; left: 20rem;
    color: #fff;
    font-size: 40rem;
    cursor: pointer;
}

.a5-text {
    padding: 30rem;
}

.a5-text h5 {
    font-size: 26rem;
    font-weight: 600;
    font-family: 'Inter';
    text-align: center;
    letter-spacing: -0.5rem;
}

.a5-text ul {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-left: 20rem;
    margin-top: 30rem;
}

.a5-text ul li {
    font-size: 17rem;
    font-weight: 500;
    line-height: 1.4;
    list-style: circle;
}

.a5-popup-wrapper {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    z-index: 999;
    display: none;
}

.a5-popup-closeBtn {
    position: absolute;
    bottom: 50rem; left: 50%;
    transform: translate(-50%, 0);
    width: 70rem;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    cursor: pointer;
}

.a5-popup-closeBtn img {
    width: 40%;
    filter: invert(1);
}

.a5-popup {
    width: 550rem;
    max-height: 70vh;
    padding: 60rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    border: 2px solid #000;
    background-color: #fff;
    overflow-y: auto;
}

.a5-popup h4 {
    font-size: 28rem;
    font-weight: 600;
}

.a5-popup p {
    font-size: 17rem;
    line-height: 1.6;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}