.floating {
    position: fixed;
    bottom: 60rem; right: 60rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 98;
}

.floating a {
    width: 60rem;
    height: 60rem;
    text-align: center;
    line-height: 60rem;
    cursor: pointer;
}

.topBtn {
    background: #000;
}

.topBtn i {
    color: #fff;
    font-size: 30rem;
}


/*==================================================*/
@media (max-width: 991px) {

}