footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60rem 0;
    background-color: #000;
}

.footer-wrapper {
    width: 1200rem;
}

.footer-box-wrapper {
    width: 100%;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.logo-f {
    width: fit-content;
    font-size: 24rem;
    margin-bottom: 20rem;
}

.f-info p {
    color: #fff;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.6;
}

.f-info p br {
    display: none;
}

.f-info em br {
    display: block;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    footer {
        padding: 40px 0;
    }
}


@media (max-width: 550px) {
    .fBtn-wrapper {
        display: none;
    }

    .f-info p {
        font-size: 20rem;
    }
}