.popup-form-wrapper {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    z-index: 999;
    display: none;
}

.popup-form-closeBtn {
    position: absolute;
    bottom: 50rem; left: 50%;
    transform: translate(-50%, 0);
    width: 70rem;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    cursor: pointer;
}

.popup-form-closeBtn img {
    width: 40%;
    filter: invert(1);
}

.popup-form {
    width: 700rem;
    max-height: 70vh;
    padding: 60rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    background-color: #fff;
    overflow-y: auto;
}

.popup-form::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid #000;
}

.popup-form::-webkit-scrollbar-thumb {
    background-color: #000;
}

.form-notice {
    padding: 30rem;
    padding-left: 40rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    border: 2px solid #000;
    margin-top: -20rem;
}

.form-notice li {
    font-size: 15rem;
    font-weight: 600;
    line-height: 1.6;
    list-style-type: '- ';
}


/* form style */
.section-title {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: #000;
    margin-top: 40rem;
}

.radio-item,
.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item.privacy {
    margin-top: 20rem;
}

.checkbox-item label {
    margin-bottom: 0;
}

.checkbox-item label em {
    font-style: normal;
    margin-left: 10px;
}

.form-group {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
}

.required {
    color: red;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 13px;
    letter-spacing: 0;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    outline: none;
}

.option-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    margin-right: 5px;
    accent-color: #000;
}

.btn-submit {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease;
    margin-top: 20px;
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(to right in oklch,
            var(--color-1),
            var(--color-2));
}

.btn-submit:hover,
.btn-submit:active {
    background-color: #000;
    color: #fff;
}

.other-input {
    margin-left: 10px;
    border-bottom: 1px solid #000 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 150px !important;
    padding: 2px !important;
}


/*==================================================*/
@media (max-width: 991px) {
    .popup-form-closeBtn {
        bottom: unset; left: unset;
        top: 30rem; right: 30rem;
        transform: unset;
        width: 50rem;
        height: 50rem;
    }
    
    .popup-form {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
    }
}


@media (max-width: 550px) {

}