header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 20rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 98;
}

nav {
    width: 1200rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav label {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60rem;
}

nav ul li a {
    color: #fff;
    font-size: 18rem;
    font-weight: 600;
}

.navBtn {
    font-size: 17rem;
    font-weight: 700;
    padding: 10rem 24rem;
    border-radius: 50rem;
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(
            to right in oklch,
            var(--color-1),
            var(--color-2));
    transition: all .2s ease;
    cursor: pointer;
}
.navBtn:hover {
    color: #fff;
}

.logo {
    color: #fff;
    font-size: 22rem;
    font-weight: 600;
    font-family: 'Inter';
    white-space: nowrap;
}

.Fixed {
    position: fixed;
    top: 0;
    padding: 10rem 0;
    background-color: #000;
}

.Fixed2 {
    color: #3d3d3d;
    font-weight: 700;
}

.active {
    display: none;
}

.actives {
    color: var(--main-color);
}

#check,
.menuBtns,
.overlay {
    display: none;
}


/*==================================================*/
@media (max-width: 1250px) {
    nav {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .Fixed2 {
        color: #fff;
    }

    .actives {
        color: var(--main-color);
    }

    nav label {
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
    }

    .navBtn {
        display: none;
    }
    
    nav ul {
        position: absolute;
        top: 0; left: -100%;
        width: 100%;
        height: 100vh;
        padding: 80rem;
        padding-top: 140rem;
        flex-direction: column;
        align-items: flex-start;
        background-color: #000;
        touch-action: none;
        transition: all .2s;
        z-index: 7;
        gap: 40rem;
    }

    nav ul li a {
        color: #fff;
        font-size: 26px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
    }

    .bar-color {
        background-color: #222;
    }
    
    #check:checked ~ ul {left: 0;}
}



@media (max-width: 550px) {
    header {
        padding: 20px 0;
    }

    .Fixed {
        padding: 15px 0;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}