.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000 !important;
    overflow: hidden;
}

.promotion video {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.promotion-wrapper {
    width: 1200rem;
    z-index: 2;
}

.p-text h6 {
    width: fit-content;
    font-size: 24rem;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20rem;
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(to right in oklch,
            var(--color-1),
            var(--color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.p-text h5 {
    width:fit-content;
    font-size: 70rem;
    line-height: 1.05;
    font-weight: 800;
    font-family: 'Inter';
    text-transform: uppercase;
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(
            to right in oklch,
            var(--color-1),
            var(--color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.p-text p {
    color: #fff;
    width: fit-content;
    font-size: 20rem;
    line-height: 1.4;
    font-weight: 600;
    margin-top: 50rem;
}

.pBtn {
    font-size: 18rem;
    font-weight: 700;
    outline: none;
    border: none;
    width: 180rem;
    height: 55rem;
    border-radius: 50rem;
    background-color: #fff;
    margin-top: 70rem;
    cursor: pointer;
}
.pBtn:hover {
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(
            to right in oklch,
            var(--color-1),
            var(--color-2));
}




/*==================================================*/
@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 90%;
    }
}