.article1 {
    padding-top: 0 !important;
}

.a1-wrapper {
    width: 100%;
    height: 100px;
    border-radius: 0 0 30px 30px;
    background-color: #f0f0f0;
    display: flex;
}

.a1-box-wrapper {
    width: 1060px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.a1-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.a1-box-title p {
    color: #555;
    font-size: 18px;
    font-family: 'SBAggroL';
    padding-bottom: 6px;
}

.a1-box-title p span {
    color: var(--main-color);
    font-family: 'SBAggroL';
}

.a1-box-number p {
    color: #333;
    font-size: 18px;
    font-family: 'SBAggroB';
}

.a1-box-number p span {
    color: #333;
    font-family: 'SBAggroB';
}

.a1-box-title i {
    color: var(--main-color);
    font-size: 1px;
}

.a1-button {
    width: 340px;
    line-height: 100px;
    text-align: center;
    border-radius: 0 0 30px 0;
    background-color: var(--main-color);
}

.a1-button p {
    color: #fff;
    font-size: 18px;
    font-family: 'SBAggroB';
    letter-spacing: 0 !important;
}


/*==================================================*/
@media (max-width: 1450px) {
    .a1-button {
        display: none;
    }
}


@media (max-width: 1000px) {
    .a1-box-wrapper {
        width: 100%;
        gap: 3rem;
    }

    .a1-box {
        gap: .5rem;
    }

    .a1-box-title p {
        padding-bottom: 0;
    }

    .a1-box-title p span {
        display: none;
    }
}


@media (max-width: 768px) {
    .a1-box {
        flex-direction: column;
    }
}


@media (max-width: 550px) {
    .a1-box-wrapper {
        gap: 1.7rem;
    }

    .a1-box-title p {
        font-size: 15px;
    }

    .a1-box-number p {
        font-size: 16px;
    }
}


@media (max-width: 450px) {
    .a1-box-title p {
        font-size: 12px;
    }

    .a1-box-number p {
        font-size: 13px;
    }
}