.article7 {
    padding-bottom: 120px !important;
}

.a7-box-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.a7-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a7-box-top {
    text-align: center;
    z-index: 2;
}

.a7-box-top p {
    color: var(--main-color);
    font-size: 16px;
    font-family: 'Montserrat';
    letter-spacing: 0 !important;
    margin-bottom: .7rem;
}

.a7-box-info {
    text-align: center;
}

.a7-box-info h1 {
    color: #333;
    font-size: 20px;
    margin-bottom: .5rem;
}

.a7-box-info p {
    color: #555;
    font-size: 16px;
    font-weight: 300;
}

.process-line {
    position: absolute;
    top: 41px; left: 0;
    width: 100%;
    height: 2px;
    display: flex;
    background-color: #e6e6e6;
    z-index: 1;
}



/*==================================================*/
@media (max-width: 1250px) {
    .process-line {
        display: none;
    }
}


@media (max-width: 850px) {
    .article7 {
        padding-bottom: 60px !important;
    }

    .a7-box-wrapper {
        flex-direction: column;
    }

    .arrow {
        display: none;
    }

    .a7-box-top img {
        display: none;
    }

    .a7-box-top p {
        margin-bottom: 0;
    }

    .a7-box {
        gap: 1rem;
    }
}