.promotion {
    width: 100%;
    height: 512px !important;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 !important;
}

.promotion-wrapper {
    width: 1400px;
    height: 512px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

.p-text {
    position: relative;
}

.p-text p {
    color: var(--main-color);
    font-size: 14px;
    font-family: 'SBAggroB';
    letter-spacing: 0.015em !important;
    margin-bottom: 1.5rem;
}

.p-text h1 {
    color: #333;
    font-size: 50px;
    font-family: 'SBAggroL';
    font-weight: unset;
    margin-bottom: 2rem;
}

.p-text h1 span {
    color: #333;
    font-family: 'SBAggroB';
}

.p-text h1 span em {
    position: relative;
    color: var(--main-color);
    font-style: normal;
    font-family: 'SBAggroB';
}

.p-text h5 {
    color: #555;
    font-size: 19px;
    font-family: 'SBAggroL';
    font-weight: normal;
}

.horn {
    position: absolute;
    bottom: 50px; left: -7px;
}


/*==================================================*/
@media (max-width: 1450px) {
    .promotion-wrapper {
        width: 100%;
        margin: 0 20px;
    }
}


@media (max-width: 1000px) {
    .promotion {
        height: auto !important
    }

    .promotion-wrapper {
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 80px 30px;
    }

    .p-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .p-text a h5 {
        color: #fff;
        width: 300px;
        height: 55px;
        line-height: 55px;
        border-radius: 50px;
        background: var(--main-color);
    }

    .horn {
        display: none;
    }
}


@media (max-width: 600px) {
    .promotion-wrapper {
        padding: 60px 40px;
    }

    .p-text {
        margin-bottom: 2.5rem;
    }

    .p-text h1 {
        font-size: 35px;
    }

}


@media (max-width: 450px) {
    .promotion-wrapper {
        padding: 30px 20px;
    }

    .p-text h1 {
        font-size: 28px;
    }

    .p-text a h5 {
        width: 250px;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
    }
}