.assess-text h6 {
    color: #f5f5f7;
    font-size: 22rem;
    margin-bottom: 20rem;
    text-align: center;
}

.assess-text p {
    font-size: 18rem;
    line-height: 1.6;
}


/*==================================================*/
@media (max-width: 991px) {

}


@media (max-width: 550px) {
    
}