.article2 {
    padding: 200px 0;
}

.article2 .article-wrapper {
    width: 75%;
}

.a2-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.a2-title p {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-bottom: 2rem;
    letter-spacing: 0;
}

.a2-title h5 {
    color: #aaa;
    font-size: 46px;
    font-weight: 200;
    line-height: 1.35;
}

.a2-title h5 span {
    color: #444;
    font-weight: 600;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.a2-box {
    position: relative;
    width: 15%;
    height: 555px;
    padding: 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
    cursor: pointer;
    z-index: 9;
}

.a2-box-title {
    position: absolute;
    top: 70px; left: 50%;
    color: #fff;
    transform: translate(-50%, 0);
    font-size: 45px;
    font-weight: 600;
    writing-mode: vertical-rl;
}

.a2-box:nth-child(1) {
    background: url(../images/a2-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a2-box:nth-child(2) {
    background: url(../images/a2-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a2-box:nth-child(3) {
    background: url(../images/a2-3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a2-box .a2-box-text {
    padding-top: 60px;
    opacity: 0;
    visibility: hidden;
}

.a2-box.on {
    width: 70%;
    cursor: unset;
    z-index: 10;
}

.a2-box.on .a2-box-title {
    opacity: 0;
    visibility: hidden;
}

.a2-box.on .a2-box-text {
    padding-top: 0;
    opacity: 1;
    visibility: visible;
    transition: all .6s .6s;
}

.a2-box-text span {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0;
    margin-bottom: 2rem;
}

.a2-box-text h5 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}

.a2-box-text p {
    color: #fff;
    width: 60%;
    font-size: 17px;
    line-height: 1.7;
    margin-top: 1.5rem;
}

.a2-box-text a {
    width: fit-content;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
    transition: all .3s;
}

.a2-box-text a:hover {
    gap: 1.5rem;
}

.a2-arrow {
    width: 35px;
    margin-bottom: 4px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(2deg) brightness(100%) contrast(113%);
}


/*==================================================*/
@media (min-width: 2250px) {
    .a2-box {
        height: 666px;
    }

    .a2-box-text h5 {
        font-size: 45px;
    }
    
    .a2-box-text p {
        width: 55%;
        font-size: 19px;
    }
}