.article4 {
    position: relative;
    padding-top: 60px;
    padding-bottom: 0;
    background: url(../images/a4-bg.jpg);
    background-position: bottom !important;
}

.a4-coin {
    position: absolute;
    top: 180px;
    width: 100%;
    z-index: 1;
}

.a4-text {
    text-align: center;
    margin-bottom: 5rem;
    z-index: 10;
}

.a4-text h5 {
    color: #fff;
    font-size: 65px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
}

.a4-text p {
    color: #fff;
    font-size: 32px;
    font-family: 'GmarketSansMedium';
    margin-top: 2rem;
}

.a4-receipt {
    position: relative;
}

.a4-1200 {
    position: absolute;
    bottom: 270px; left: 50%;
    transform: translate(-50%, 0);
    animation: blink .7s step-end infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}


.a4-flow-wrapper {
    position: relative;
    width: 100%;
    border-top: 7px dotted #fed85c;
    border-bottom: 7px dotted #fed85c;
    background-color: #3830169c;
    margin-top: 3rem;
    overflow: hidden;
}

.led {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.a4-flow {
    color: #fed85c;
    padding: 30px 0;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 0;
    text-shadow: 0 0 20px #fed85cc9;
    display: flex;
    white-space: nowrap;
    animation: flow 20s linear infinite;
}

@keyframes flow {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-95%, 0, 0);
    }
}


/*==================================================*/
@media (min-width: 2250px) {
    .a4-coin {
        top: 120px;
    }
}