.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    background-color: #eee;
    padding: 50px 0;
}

.footer-wrapper {
    width: 1200px;
    display: flex;
    gap: 5rem;
}

.logo-f {
    width: 240px;
}

.footer-text ul {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-text ul li a {
    color: #555;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.footer-text p {
    color: #777;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    font-family: 'Montserrat';
    letter-spacing: 0;
}

.footer-text p b {
    font-family: 'Montserrat';
}



/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}