/* 서브페이지 공통 스타일 */
.anlz {
    background: url(../images/anlz-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}



/*==================================================*/
