.article2 {
    background: url(../images/a2-bg.jpg);
}

.a2-wrapper {
    width: 100%;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.a2-box-group {
    width: 50%;
    display: flex;
    gap: 1rem;
}

.a2-box {
    color: #222;
    flex: 1;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    transition: all .3s;
}

.on {
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
    transform: scale(1.07);
}

.a2-box.on img {
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(357deg) brightness(109%) contrast(103%);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(357deg) brightness(109%) contrast(103%);
}

.a2-box img {
    width: 80px;
    -webkit-filter: invert(31%) sepia(73%) saturate(3061%) hue-rotate(351deg) brightness(88%) contrast(90%);
    filter: invert(31%) sepia(73%) saturate(3061%) hue-rotate(351deg) brightness(88%) contrast(90%);
    user-select: none;
}

.a2-box h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-top: .7rem;
}

.a2-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .2rem .5rem;
    margin-top: .3rem;
}

.a2-box ul li {
    font-size: 15px;
    font-weight: 400;
}


/*=========================================================*/
@media (max-width: 1550px) {
    .a2-box-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .a2-box-group {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .a2-box {
        flex: unset;
        width: 350px;
        padding: 40px 10px;
    }
}


@media (max-width: 768px) {
    .on {
        transform: scale(1);
    }
}


@media (max-width: 600px) {
    .a2-box-wrapper,
    .a2-box-group {
        gap: .5rem;
    }
    
    .a2-box {
        padding: 30px 10px;
    }

    .a2-box img {
        width: 60px;
    }
    
    .a2-box h2 {
        font-size: 17px;
        margin-top: .3rem;
    }

    .a2-box ul li {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .a2-box img {
        width: 50px;
    }
    
    .a2-box h2 {
        font-size: 13px;
    }

    .a2-box ul {
        gap: .2rem;
    }

    .a2-box ul li {
        font-size: 10px;
    }
}