.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 140px 0 30px 0;
    background-color: #111;
}

.footer-wrapper {
    width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#map {
    width: 100%;
    height: 400px;
    background: url(../images/map.png) no-repeat;
    background-position: center;
}

.footer-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
}

.footer-top a {
    width: fit-content;
}

.f-image {
    width: 240px;
}

.footer-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
}

.footer-menu li {
    color: #fff;
    font-size: 16px;
}

.footer-line {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-text {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.f-text br {
    display: none;
}


/*==================================================*/
@media (max-width: 1550px) {
    .footer {
        height: auto;
        padding: 60px 0;
        gap: 2rem;
    }
}


@media (max-width: 1350px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: .7rem;
    }
}


@media (max-width: 768px) {
    .footer {
        padding: 30px 0;
    }
    
    .footer-menu {
        display: none;
    }

    .footer-line {
        display: none;
    }

    .f-text span {
        display: none;
    }
    
    .f-text br {
        display: block;
    }
}


@media (max-width: 550px) {
    .footer-wrapper {
        gap: 1rem;
    }
    
    .f-image {
        width: 180px;
    }
}


@media (max-width: 450px) {
    #map {
        height: 250px;
        border-radius: 8px;
    }
    
    .f-text {
        font-size: 11px;
    }
}


@media (max-width: 350px) {
    .f-text {
        font-size: 9px;
    }
}