::-webkit-scrollbar {
    display: none;
}

.promotion {
    padding: 0 !important;
}

.promotion-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

.p-text {
    display: flex;
    text-align: center;
}

.p-text:first-child {
    height: 85px;
    overflow: hidden;
}

.p-text:nth-child(2) {
    height: 55px;
    overflow: hidden;
}

.p-text h1 {
    color: #fff;
    font-size: 75px;
    font-family: 'Montserrat';
    line-height: 1.2;
}

.p-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 2rem;
}

.scroll {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    transform: translate(-50%, -50%);
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    animation: upDown 1.5s ease-in-out infinite;
    z-index: 9998;
}

.scroll p {
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Montserrat';
    letter-spacing: 0.04em;
}

.scrollDown {
    width: 20px;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}



/*=========================================================*/
@media (max-width: 1050px) {
    .p-text:first-child {
        height: 55px;
    }

    .p-text:nth-child(2) {
        height: 35px;
    }
    
    .p-text h1 {
        font-size: 45px;
    }

    .p-text p {
        font-size: 18px;
        margin-top: 1rem;
    }
}


@media (max-width: 600px) {
    .p-text:first-child {
        height: 45px;
    }
    
    .p-text h1 {
        font-size: 35px;
    }

    .p-text p {
        font-size: 15px;
    }
}


@media (max-width: 450px) {
    .p-text:first-child {
        height: 35px;
    }
    
    .p-text h1 {
        font-size: 28px;
    }

    .p-text p {
        font-size: 13px;
    }
}