.article {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    z-index: 4;
}

.article-wrapper {
    width: 1400rem;
}

.at-bg {
    display: block;
    width: 110%;
    height: 110%;
}

.at-bg img {
    display: block;
    height: 110%;
    transform: scale(1.1);
    object-fit: cover;
}

.at-text {
    position: absolute;
    bottom: 10%; left: 10%;
    z-index: 2;
}

.at-text h5 {
    font-size: 60rem;
    font-weight: 200;
}

.at-text h5 span {
    color: #ffffffb2;
    font-size: 32rem;
    margin-left: 15rem;
}

.at-text p {
    font-size: 20rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: -0.5rem;
    margin-top: 20rem;
}



/*==================================================*/
@media (max-width: 1450px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 991px) {
    .at-text {
        left: 5%;
    }

    .at-text h5 {
        font-size: 50rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 15rem;
    }

    .at-text h5 span {
        margin-left: 0;
    }
}