.article {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    margin-bottom: -1px;
}

.at-bg {
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.at-text {
    position: absolute;
    bottom: 10%; left: 10%;
    z-index: 2;
}

.at-text h5 {
    font-size: 60rem;
    font-weight: 200;
}

.at-text h5 span {
    color: #ffffffb2;
    font-size: 32rem;
    margin-left: 15rem;
}

.at-text p {
    font-size: 20rem;
    line-height: 1.6;
    letter-spacing: -0.5rem;
    margin-top: 20rem;
}


/*==================================================*/
@media (max-width: 1450px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .article {
        padding: 60rem 0;
    }
}