.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40rem 0;
}

.footer-wrapper {
    width: 100%;
    padding: 0 50rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 100rem;
}

.logo-f {
    color: #fff;
    font-size: 140rem;
    font-family: 'Playfair Display';
    letter-spacing: -0.5rem;
    white-space: nowrap;
}

.footer-text p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 0;
}



/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        padding: 0 20px;
    }
}


@media (max-width: 991px) {
    .footer-wrapper {
        flex-direction: column-reverse;
        align-items: unset;
        gap: 60rem;
    }

    .footer-mid {
        width: 100%;
    }

    .logo-f {
        float: right;
        font-size: 80rem;
    }
}


@media (max-width: 550px) {
    .footer-text p {
        font-size: 18rem;
    }
}