.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 98;
}

nav {
    width: 100%;
    padding: 0 50rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

nav label {
    display: none;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0;
}

.header.is-invert {
    filter: invert(1);
}

.logo {
    position: fixed;
    top: 20px; left: 50rem;
    color: #fff;
    font-size: 28px;
    font-family: 'Playfair Display';
    letter-spacing: -0.5rem;
    white-space: nowrap;
}

#check,
.menuBtns,
.overlay {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    nav {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 991px) {
    .header {
        padding: 20px 0;
    }

    nav label {
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
    }

    nav ul {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        padding-left: 80rem;
        flex-direction: column;
        justify-content: center;
        backdrop-filter: blur(50rem);
        background-color: rgba(0, 0, 0, .5);
        touch-action: none;
        transition: all .2s;
        z-index: 7;
        gap: 40rem;
    }

    nav ul li a {
        color: #fff;
        font-size: 26px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, .6);
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        z-index: 6;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
    }

    .bar-color {
        background-color: #222;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~.overlay {
        opacity: 1;
        visibility: visible;
        touch-action: none;
    }
}



@media (max-width: 550px) {
    .logo {
        font-size: 20px;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}