.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.pr-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255 255 255 / 0);
    backdrop-filter: blur(32px);
    pointer-events: none;
    z-index: 2;
}

.promotion canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.p-text {
    width: 50%;
    padding-right: 15%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
}

.p-text h5 {
    font-size: 80rem;
    font-weight: 200;
}

.p-text p {
    font-size: 20rem;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 50rem;
}



/*==================================================*/
@media (max-width: 991px) {
    .p-text {
        width: 100%;
        padding: 0 5%;
        text-align: right;
    }
}


@media (max-width: 550px) {
    .p-text p {
        font-size: 24rem;
    }
}