.article3 {
    background-color: #ff414d;
}

.a3-wrapper {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a3-text p {
    font-size: 35px;
}

.a3Btn {
    width: 670px;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    border: 5px solid #000;
    margin: 1.3rem 0;
}

.a3Btn h1 {
    color: #000;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.a3Btn i {
    color: #aaa;
    font-size: 50px;
}

.a3-text h2 {
    font-size: 45px;
}

.a3-image {
    width: 400px;
}


/*==================================================*/
@media (max-width: 1150px) {
    .a3-image {
        display: none;
    }
}


@media (max-width: 850px) {
    .article3 {
        padding-bottom: 100px;
    }

    .a3-text {
        width: 100%;
    }

    .a3Btn {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .a3-text p {
        font-size: 26px;
    }

    .a3Btn h1 {
        font-size: 35px;
    }

    .a3Btn i {
        font-size: 40px;
    }

    .a3-text h2 {
        font-size: 35px;
    }
}


@media (max-width: 550px) {
    .a3-text p {
        font-size: 22px;
    }

    .a3Btn {
        padding: 15px 20px;
        border: 4px solid #000;
    }
    
    .a3Btn h1 {
        font-size: 28px;
    }

    .a3Btn i {
        font-size: 33px;
    }

    .a3-text h2 {
        font-size: 28px;
    }
}


@media (max-width: 450px) {
    .article3 {
        padding-bottom: 80px;
    }
    
    .a3Btn {
        margin: .7rem 0;
    }
    
    .a3Btn h1 {
        font-size: 22px;
    }

    .a3Btn i {
        font-size: 25px;
    }

    .a3-text h2 {
        font-size: 25px;
    }
}