.article5 {
    position: relative;
    padding-bottom: 0;
    background-color: #252525;
}

.a5-bg {
    position: absolute;
    bottom: 70px; right: 250px;
    width: 950px;
    z-index: 1;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.a5Btn {
    color: #fff;
    width: fit-content;
    padding: 5px 20px 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .5);
}

.a5Btn p {
    font-size: 35px;
    font-weight: 700;
}

.a5Btn i {
    font-size: 40px;
}

.a5-text-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.a5-text p {
    color: #fff;
    font-size: 30px;
}

.a5-text-bottom {
    line-height: 1.9;
    margin-top: 1rem;
}

.a5-text-bottom span {
    background: linear-gradient(to top, var(--main-color) 15%, transparent 15%);
}



/*==================================================*/
@media (max-width: 1100px) {
    .a5-bg {
        bottom: 70px;
        right: unset;
        left: 0;
        width: 100%;
    }
    
    .a5-wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .a5-image {
        max-width: 600px;
        margin: 0 auto;
    }
}


@media (max-width: 666px) {
    .a5-image {
        max-width: 100%;
    }
}


@media (max-width: 550px) {
    .a5Btn {
        padding: 5px 15px 5px 20px;
        gap: 5px;
    }

    .a5Btn p {
        font-size: 22px;
    }

    .a5Btn i {
        font-size: 30px;
    }

    .a5-text p {
        font-size: 22px;
    }
}


@media (max-width: 450px) {
    .a5-wrapper {
        gap: 2rem;
    }
}