.article7 {
    padding-bottom: 0;
    background-color: var(--main-color);
}

.a7-title {
    margin-bottom: 3rem;
}

.a7-title h1 {
    color: #fff;
    font-size: 65px;
}

.a7-square {
    width: 650px;
    height: 60px;
    background-color: #fff;
}


/*==================================================*/
@media (max-width: 768px) {
    .a7-title {
        margin-bottom: 2rem;
    }
    
    .a7-title h1 {
        font-size: 45px;
    }

    .a7-square {
        width: 90%;
        height: 50px;
    }
}


@media (max-width: 550px) {
    .a7-title h1 {
        font-size: 32px;
    }

    .a7-square {
        height: 35px;
    }
}