.article6 {
    background-color: #f2f2f2;
}

.a6-title h1 {
    color: #222;
    font-size: 45px;
    margin-bottom: 4rem;
}

.a6-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.a6-box {
    padding: 40px 20px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 3%);
}

.a6-box br {
    display: none;
}

.a6-box-image {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    margin-right: 2rem;
}

.a6-box-image img {
    height: 80px;
    -webkit-filter: invert(15%) sepia(43%) saturate(6119%) hue-rotate(343deg) brightness(99%) contrast(88%);
    filter: invert(15%) sepia(43%) saturate(6119%) hue-rotate(343deg) brightness(99%) contrast(88%);
    transition: transform .3s ease;
    user-select: none;
}

.a6-box:hover {
    color: #fff;
    background-color: var(--main-color);
}

.a6-box:hover .a6-box-image img {
    transform: scale(1.1);
    -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(12deg) brightness(104%) contrast(100%);
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(12deg) brightness(104%) contrast(100%);
}

.a6-bottom {
    width: 100%;
    color: #aaa;
    font-size: 18px;
    text-align: center;
    margin-top: 3rem;
}


/*==================================================*/
@media (max-width: 1150px) {
    .a6-box {
        flex-direction: column;
    }

    .a6-box-image {
        width: unset;
        border: none;
        margin-right: 0;
    }
}


@media (max-width: 768px) {
    .a6-box {
        padding: 30px;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
    }

    .a6-box br {
        display: block;
    }
    
    .a6-box-image img {
        height: 60px;
    }
}


@media (max-width: 550px) {
    .a6-title h1 {
        font-size: 32px;
        margin-bottom: 3rem;
    }
    
    .a6-box-wrapper {
        gap: 1rem;
    }
    
    .a6-box {
        padding: 20px;
        font-size: 17px;
        gap: 8px;
    }

    .a6-box-image img {
        height: 50px;
    }

    .a6-bottom {
        font-size: 15px;
    }
}


@media (max-width: 450px) {
    .a6-box-wrapper {
        gap: 10px;
    }
    
    .a6-box {
        padding: 10px;
        font-size: 14px;
        line-height: 1.2;
        gap: 5px;
    }
}