.a5-title {
    margin-bottom: 5rem;
}

.a5-title h1 {
    color: #222;
    font-size: 45px;
}

.a5-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem 8rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a5-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 850px) {
    .a5-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}


@media (max-width: 550px) {
    .a5-title {
        margin-bottom: 3rem;
    }
    
    .a5-title h1 {
        font-size: 32px;
    }
}


@media (max-width: 450px) {
    .a5-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2rem;
    }
}