/* .article6 {
    background: url(../images/a6-bg.jpg);
} */

.a6-title h1 {
    color: #fff;
    font-size: 55px;
    line-height: 1.25;
    font-family: 'GangwonEduPowerExtraBoldA';
    letter-spacing: -0.02em;
    text-align: center;
}

.a6-title h1 span {
    color: var(--main-color);
    font-family: 'GangwonEduPowerExtraBoldA';
}

.a6-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.a6-box-group {
    display: flex;
    gap: 1.5rem;
}

.a6-box {
    position: relative;
    flex: 1;
    width: 49%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .3);
    overflow: hidden;
}

.a6-box-number {
    position: absolute;
    bottom: -90px; right: 20px;
    color: #ddd;
    font-size: 200px;
    font-weight: 700;
    font-family: 'Poppins';
    font-style: italic;
    letter-spacing: -0.04em;
    opacity: .2;
}

.a6-box-number span {
    color: var(--main-color);
    font-family: 'Poppins';
    opacity: .6;
}

.a6-box-title {
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    background-color: var(--main-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.a6-box-info {
    color: #222;
    padding: 30px;
    padding-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    background-color: #fff;
}

.a6-box-info b {
    font-weight: 700;
}



/*==================================================*/
