.article3 {
    background: url(../images/hero.jpg);
}

.a3-wrapper {
    width: 100%;
}

.a3-title h1 {
    color: #fff;
    font-size: 55px;
    line-height: 1.25;
    font-family: 'GangwonEduPowerExtraBoldA';
    letter-spacing: -0.02em;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .07);
}

.a3-title p {
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-family: 'Bazzi';
    text-align: center;
    margin-bottom: 1.3rem;
}

.a3-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
}

.a3-box {
    flex: 1;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .05);
}

.a3-box p {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.a3-box h2 {
    color: #fff;
    font-size: 100px;
    font-family: 'GangwonEduPowerExtraBoldA';
    text-shadow: 0 0 15px rgba(0, 0, 0, .2);
}



/*==================================================*/
