.article2 {
    background: url(../images/a2-bg.jpg);
}

.a2-wrapper {
    padding-top: 4rem;
}

.a2-text {
    text-align: center;
    margin-top: 2rem;
}

.a2-text h1 {
    color: #2d2d2d;
    font-size: 35px;
    font-weight: unset;
    line-height: 1.5;
    font-family: 'establishRoomNo703OTF';
}

.a2-text h2 {
    color: #2d2d2d;
    font-size: 40px;
    font-weight: unset;
    line-height: 1.5;
    font-family: 'Cafe24Ssurround';
    margin-top: 1rem;
}

.a2-text h2 span {
    color: #ffbb00;
    font-family: 'Cafe24Ssurround';
}

.a2-image {
    animation: rotate_image 30s linear infinite;
}

@keyframes rotate_image{
	100% {
        transform: rotate(360deg);
    }
}


/*==================================================*/
@media (min-width: 2250px) {
    .a2-image {
        width: 750px;
    }
}