.article9 {
    position: relative;
    background: url(../images/hero.jpg);
}

.a9-image {
    position: absolute;
    bottom: -50px;
}

.a9-wrapper {
    text-align: center;
    padding-bottom: 27rem;
}

.a9-wrapper h2 {
    color: #fff;
    font-size: 35px;
    line-height: 1.2;
    font-weight: unset;
    font-family: 'Bazzi';
    margin-bottom: 1.5rem;
}

.a9-wrapper h1 {
    color: #fff;
    font-size: 70px;
    line-height: 1.25;
    font-family: 'GangwonEduPowerExtraBoldA';
    letter-spacing: -0.02em;
    text-align: center;
}

.a9-wrapper h1 span {
    color: #e70004;
    font-family: 'GangwonEduPowerExtraBoldA';
}

.a9-wrapper p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 1rem;
}



/*==================================================*/
