.article2 {
    position: relative;
}

.a2-bg {
    position: absolute;
    top: 14%;
    width: 80%;
    height: 100%;
    background: url(../images/a5-bg-1.png) no-repeat;
    background-position: top center;
    background-size: cover;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.a2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.a2-box:nth-child(2) {
    margin: 0 -3rem;
}

.a2-box:nth-child(1) .a2-circle {
    background-color: rgba(255, 255, 255, .01);
}
.a2-box:nth-child(2) .a2-circle {
    background-color: rgba(255, 255, 255, .03);
}
.a2-box:nth-child(3) .a2-circle {
    background-color: rgba(255, 255, 255, .05);
}

.a2-circle {
    width: 400px;
    height: 400px;
    color: rgba(255, 255, 255, .5);
    font-size: 40px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px dashed rgba(255, 255, 255, .2);
}

.a2-box-text {
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

.a2-box-text h5 {
    font-size: 26px;
}

.a2-box-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 1rem;
}


/*==================================================*/
@media (max-width: 1150px) {
    .a2-bg {
        top: 5%;
        width: 100%;
        opacity: .7;
    }
    
    .a2-box-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        margin-top: 2rem;
    }

    .a2-box {
        width: 100%;
        flex-direction: row;
        gap: 0;
    }

    .a2-box:nth-child(2) {
        margin: -3rem 0;
    }

    .a2-box-text {
        width: 40%;
        text-align: left;
        padding-left: 5%;
    }

    .a2-box-text h5 {
        white-space: nowrap;
    }
}


@media (max-width: 850px) {
    .a2-circle {
        width: 270px;
        height: 270px;
        font-size: 28px;
    }
    
    .a2-box-text {
        width: 45%;
    }
    
    .a2-box-text h5 {
        font-size: 22px;
    }

    .a2-box-text p {
        font-size: 14px;
    }
}


@media (max-width: 650px) {
    .a2-box:nth-child(2) {
        margin: -2rem 0;
    }
    
    .a2-circle {
        width: 200px;
        height: 200px;
        font-size: 24px;
    }
    
    .a2-box-text h5 {
        font-size: 20px;
    }

    .a2-box-text p br {
        display: none;
    }
}


@media (max-width: 550px) {
    .a2-box-wrapper {
        margin-top: 0;
    }
    
    .a2-box:nth-child(2) {
        margin: -2rem 0;
    }
    
    .a2-circle {
        width: 160px;
        height: 160px;
        font-size: 20px;
    }
    
    .a2-box-text h5 {
        font-size: 18px;
        font-weight: 600;
    }

    .a2-box-text p {
        font-size: 13px;
        font-weight: 300;
    }
}


@media (max-width: 500px) {   
    .a2-box:nth-child(2) {
        margin: -1rem 0;
    }
    
    .a2-circle {
        width: 130px;
        min-width: 130px;
        height: 130px;
        font-size: 17px;
        border: 1px dashed rgba(255, 255, 255, .2);
    }
    
    .a2-box-text {
        width: 65%;
    }
    
    .a2-box-text h5 {
        font-size: 18px;
    }

    .a2-box-text p {
        font-size: 13px;
    }
}


@media (max-width: 410px) {
    .a2-box:nth-child(2) {
        margin: -10px 0;
    }

    .a2-box-text {
        width: 70%;
    }

    .a2-box-text h5 {
        font-size: 15px;
    }

    .a2-box-text p {
        font-size: 11px;
    }
}