.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.article-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 5rem;
}

.article-title h5 {
    color: #aaa;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
}

.article-title p {
    color: #aaa;
    font-size: 18px;
    line-height: 1.6;
}

.article-title .t-sb {
    width: 50px;
    opacity: .7;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}