.article5 {
    overflow: hidden;
}

.article5 .article-wrapper {
    width: 100%;
}

.a5-bg-0 {
    background: url(../images/a5-bg-0.png) no-repeat;
    background-position: top center;
    background-size: cover;
}
.a5-bg-1 {
    background: url(../images/a5-bg-1.png) no-repeat;
    background-position: top center;
    background-size: cover;
}
.a5-bg-2 {
    background: url(../images/a5-bg-2.png) no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.a5-bg-3 {
    background: url(../images/a5-bg-3.png) no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.a5-reason-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.a5-reason {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
}

.a5-reason:nth-child(2n) {
    margin-left: 300px;
}
.a5-reason:nth-child(2n-1) {
    margin-right: 300px;
}

.a5-image {
    height: 350px;
    transition: all .3s ease;
    transform: scale(.2);
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.imageShow {
    transform: scale(1);
    opacity: .6;
    visibility: visible;
}

.a5-reason:nth-child(2n-1) .a5-image {
    position: absolute;
    top: -120px; right: 16%;
}
.a5-reason:nth-child(2n) .a5-image {
    position: absolute;
    top: -120px; left: 16%;
}

.a5-r-title {
    color: rgba(255, 255, 255, .5);
    font-size: 55px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    transition: all .2s ease;
    cursor: pointer;
}

.a5-r-title span {
    color: rgba(255, 255, 255, .3);
    font-size: 20px;
    font-weight: 400;
}

.titleNot {
    opacity: 1 !important;
}

.titleOpacity {
    opacity: .2;
}

.a5-r-text {
    color: rgba(255, 255, 255, .4);
    font-size: 22px;
    line-height: 1.5;
    margin-top: -1rem;
    transition: all .2s ease;
    opacity: 0;
    visibility: hidden;
}

.textShow {
    margin-top: 3rem;
    opacity: 1;
    visibility: visible;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a5-reason:nth-child(2n-1) .a5-image {
        right: 25%;
    }
    .a5-reason:nth-child(2n) .a5-image {
        left: 25%;
    }
}


@media (max-width: 1650px) {
    .a5-image {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

    .a5-reason:nth-child(2n-1) .a5-image {
        position: absolute;
        top: -120px; right: 0;
    }
    .a5-reason:nth-child(2n) .a5-image {
        position: absolute;
        top: -120px; left: 0;
    }
}


@media (max-width: 1250px) {
    .article5 {
        position: relative;
        padding-bottom: 0;
    }
    
    .a5-reason-wrapper {
        margin-top: 350px;
        gap: 25rem;
    }
    
    .a5-reason:nth-child(2n),
    .a5-reason:nth-child(2n-1) {
        margin: 0;
    }
    
    .a5-image {
        right: unset !important;
        top: -300px !important; left: 50% !important;
        transform: translate(-50%, 0);
        height: 250px;
    }
    
    .a5-r-title {
        display: flex;
        flex-direction: column;
        align-items: unset;
        cursor: default;
    }

    .a5-r-text {
        position: relative;
        line-height: 1.65;
        opacity: 1;
        visibility: visible;
        margin-top: 5rem;
    }

    .a5-r-text::after {
        content: '';
        position: absolute;
        top: -4rem; left: 50%;
        transform: translate(-50%, 0);
        width: 1px; height: 40px;
        background-color: rgba(255, 255, 255, .4);
    }

    .a5-bg-m1 {
        position: absolute;
        top: 2%;
        width: 100%;
        height: 50%;
        background: url(../images/a5-bg-0.png) no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .a5-bg-m2 {
        position: absolute;
        top: 20%;
        width: 100%;
        height: 50%;
        background: url(../images/a5-bg-1.png) no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .a5-bg-m3 {
        position: absolute;
        top: 30%;
        width: 100%;
        height: 50%;
        background: url(../images/a5-bg-2.png) no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
    .a5-bg-m4 {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 50%;
        background: url(../images/a5-bg-3.png) no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
}


@media (max-width: 650px) {    
    .a5-reason-wrapper {
        gap: 12rem;
        margin-top: 250px;
    }
    
    .a5-image {
        top: -200px !important;
        height: 150px;
    }

    .a5-r-title {
        font-size: 38px;
    }

    .a5-r-title span {
        font-size: 16px;
    }

    .a5-r-text {
        font-size: 18px;
    }
}


@media (max-width: 450px) {
    .a5-r-text {
        font-size: 15px;
    }
}