.article4 {
    position: relative;
    padding-bottom: 0;
    background: url(../images/a4-bg.jpg);
    background-position: top center !important;
}

.a4-bay {
    position: absolute;
    top: 60px; left: 50%;
    transform: translate(-50%, 0);
}

.a4-1 {
    margin-top: 2rem;
}

.mySwiper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 7rem;
}

.mySwiper .swiper-slide {
    width: 350px !important;
    transform: scale(.8) !important;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    opacity: .2;
    transition: all .5s ease;
}

.mySwiper .swiper-slide img {
    width: 350px !important;
    height: 611px;
    margin-top: 83px;
    border-radius: 8px 8px 0 0;
}

.mySwiper .swiper-slide-active {
    transform: scale(1) !important;
    opacity: 1;
}

.phone {
    position: absolute;
    bottom: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 365px;
}

.a4-camera {
    position: absolute;
    top: 95px; left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}


/*==================================================*/
@media (max-width: 768px) {
    .a4-bay {
        top: 40px;
        width: 80%;
    }

    .a4-title {
        width: 30%;
    }

    .a4-1 {
        width: 40%;
        margin-top: 1rem;
    }
}


@media (max-width: 550px) {
    .mySwiper {
        margin-top: 5rem;
    }
}


@media (max-width: 450px) {
    .article4 {
        padding-top: 20px;
    }
    
    .a4-bay {
        top: 20px;
        width: 75%;
    }
    
    .mySwiper {
        margin-top: 3rem;
    }

    .mySwiper .swiper-slide {
        width: 290px !important;
        opacity: 0;
    }

    .mySwiper .swiper-slide-active {
        opacity: 1;
    }
    
    .mySwiper .swiper-slide img {
        width: 290px !important;
        height: 506px;
        margin-top: 83px;
        border-radius: 8px;
    }

    .phone {
        width: 303px;
    }
}