.article13 {
    padding-bottom: 30px;
    background: url(../images/a13-bg.jpg);
}

.a13-title {
    margin-bottom: 3rem;
}

.a13-1,
.a13-2 {
    width: 90%;
}

.a13-2 {
    margin-top: 1rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .a13-title {
        width: 70%;
        margin-bottom: 2rem;
    }
}