.promotion {
    width: 100%;
	padding: 0 !important;
}

.promotion-wrapper {
	position: relative;
	width: 100%;
}

.p-text {
	position: absolute;
	top: 250px; left: 0;
	z-index: 3;
}

.p-image {
	position: absolute;
	bottom: 80px; right: -10px;
	z-index: 2;
}



/*==================================================*/
@media (max-width: 850px) {
	.p-text {
		top: 150px;
	}
}


@media (max-width: 550px) {
	.p-image {
		bottom: 40px;
	}
}


@media (max-width: 450px) {
	.p-text {
		top: 120px;
	}

	.p-image {
		bottom: 20px;
	}
}


@media (max-width: 350px) {
	.p-text {
		top: 100px;
	}

	.p-image {
		bottom: 10px;
	}
}