.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 120rem 0;
}

.article-wrapper {
    width: 1200rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .article {
        padding: 80rem 0;
    }
}