.footer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    background: url(../images/footer-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30rem;
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-wrapper p {
    font-size: 19rem;
    font-weight: 500;
    line-height: 1.4;
}

.ft-top {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}

.ft-top h5 {
    color: var(--main-color);
    font-size: 250rem;
    font-weight: 700;
    font-family: 'Inter';
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #000;
    white-space: nowrap;
    user-select: none;
}

.ft-center {
    text-align: center;
    margin-bottom: 100rem;
}

.ft-center p {
    font-size: 24rem;
    font-weight: 600;
}

.ft-center p br {
    display: none;
}

.ft-center h6 {
    font-size: 20rem;
    font-weight: 500;
    font-family: 'Inter';
    text-transform: uppercase;
}

.ft-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*==================================================*/
@media (min-width: 2250px) {
    .ft-top {
        top: 50%;
    }
}


@media (max-width: 991px) {
    
}