.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 98;
    mix-blend-mode: difference;
}

.gnb {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20rem;
}

.menu a {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter';
    text-transform: uppercase;
}

.menu-item.lang {
    opacity: .4;
}

#logo-container {
    position: fixed;
    top: 20rem; left: 20rem;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index: 999999;
}

#logo-container div {
    display: flex;
    align-items: center;
}

/* 처음에 숨겨질 요소들 */
.left_pr,
.com,
.right_pr {
    display: none;
    opacity: 0;
}

.sb img,
.left_pr img,
.right_pr img,
.com img {
    display: flex;
    height: 50rem;
    filter: invert(1);
}

.com img {
    width: 40rem;
    height: unset;
}

#check,
.gnb label,
.overlay {
    display: none;
}


/*==================================================*/
@media (max-width: 991px) {
    .gnb label {
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        padding-left: 80rem;
        flex-direction: column;
        justify-content: center;
        background-color: #111;
        touch-action: none;
        transition: all .2s;
        z-index: 7;
        gap: 40rem;
    }

    .menu li a {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    .Fixed2 {
        color: #fff !important;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, .6);
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        z-index: 6;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
    }

    .bar-color {
        background-color: #222;
    }

    #check:checked~.menu {
        left: 0;
    }

    #check:checked~.overlay {
        opacity: 1;
        visibility: visible;
        touch-action: none;
    }
}


@media (max-width: 550px) {

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}