.article3 {
    position: relative;
    background-color: var(--main-color);
}

.article3::after {
    position: absolute;
    top: 0; left: 0;
    content: '공모전이 종료되었습니다.';
    width: 100%;
    height: 100%;
    color: #242c3c;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Pretendard';
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, .7);
}

.article3 iframe {
    width: 100%;
    overflow: hidden;
}

.a3-popup-wrapper {
    position: relative;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    display: none;
}

.a3-p-closeBtn {
    position: absolute;
    top: 20px; right: 20px;
    width: 25px;
    cursor: pointer;
}

.a3-popup {
    width: 580px;
    height: 450px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: scroll;
}

.a3-popup p {
    color: #222;
    font-size: 17px;
    line-height: 1.5;
}

.a3-popup::-webkit-scrollbar {
    width: 0;
}

.a3-popup::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.a3-popup::-webkit-scrollbar-thumb {
    background-color: #ddd;
    outline: none;
}


/*==================================================*/
@media (max-width: 900px) {
    .confetti {
        display: none;
    }
}


@media (max-width: 650px) {
    .a3-popup {
        width: 90%;
        padding: 20px;
    }

    .a3-popup p {
        font-size: 14px;
    }
}