.article4 {
    position: relative;
}

.a4-rect {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 400px;
    background-color: var(--main-color);
}

.a4-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    z-index: 2;
}

.a4-left {
    flex: 1;
}

.a4-image {
    display: none;
}

.a4-image.show {
    display: flex;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}

.a4-right {
    flex: 1;
    padding-top: 40px;
}

.a4-text h5 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
}

.a4-text p {
    color: #ffffff80;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.65;
    margin-top: 2rem;
}

.a4-moreBtn {
    color: #ffffff80;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: gap .3s ease;
    margin-top: 3rem;
}

.a4-moreBtn i {
    font-weight: lighter;
}

.a4-moreBtn:hover {
    color: #fff;
    gap: 12px;
}

.a4-bottom {
    display: flex;
    gap: 1.2rem;
    margin-top: 90px;
    z-index: 20;
}

.a4-thumbnail {
    cursor: pointer;
}



/*==================================================*/
