.article5 {
    position: relative;
    padding-bottom: 3rem;
}

.a5-flow-wrapper {
    position: absolute;
    top: -50px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.a5-flow {
    color: #fff;
    font-size: 240px;
    font-weight: 600;
    font-family: 'Montserrat';
    white-space: nowrap;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: flow 30s linear infinite;
    user-select: none;
    opacity: .1;
}

.a5-title {
    color: #222;
    text-align: center;
    margin-bottom: 3rem;
    z-index: 10;
}

.a5-title p {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 800;
    font-family: 'Montserrat';
    margin-bottom: 1rem;
    letter-spacing: 0;
}

.a5-title h4 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 800;
}

.a5-title h4 span {
    color: var(--main-color);
}

.a5-title h5 {
    color: #888;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;
    margin-top: 1rem;
}

.a5-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #222;
    border-bottom: 1px solid #222;
}

.a5-vertical {
    width: 1px;
    height: 200px;
    background-color: #ddd;
}

.a5-box {
    flex: 1;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.a5-box-image img {
    height: 85px;
    user-select: none;
    margin-bottom: 1.5rem;
    transition: transform .3s ease;
}

.a5-box-text {
    text-align: center;
}

.a5-box-text h5 {
    color: #222;
    font-size: 22px;
}

.a5-box-text p {
    color: #888;
    font-size: 16px;
    line-height: 1.65;
    margin-top: 1rem;
}

.a5-box:hover {
    background-color: var(--main-color);
}

.a5-box:hover .a5-box-image img {
    transform: scale(1.1);
    filter: invert(91%) sepia(95%) saturate(20%) hue-rotate(281deg) brightness(107%) contrast(106%);
}

.a5-box:hover .a5-box-text h5,
.a5-box:hover .a5-box-text p {
    color: #fff;
}


/*==================================================*/
