.common-fxd {
    width: 100%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
}

.cf-box-wrapper {
    width: 1300px;
    display: flex;
    gap: 3rem;
}

.cf-box {
    flex: 1;
    padding: 80px 50px;
    transition: all .3s ease;
}

.cf-box:nth-child(1) {
    background: url(../images/ft-1.jpg) no-repeat;
    background-size: cover;
}
.cf-box:nth-child(2) {
    background: url(../images/ft-2.jpg) no-repeat;
    background-size: cover;
}

.cf-box:hover {
    filter: brightness(110%);
}

.cf-box h5 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(0, 0, 0, .3);
    letter-spacing: -0.02em;
}

.cf-box p {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: gap .3s ease;
    margin-top: 2rem;
}

.cf-box p i {
    font-weight: lighter;
}

.cf-box:hover p {
    gap: 12px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #102231;
}

.f-vertical {
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
}

.footer-notice {
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b545e;
}

.fn-text {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fn-text p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-wrapper {
    width: 1300px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 100%;
    padding: 44px 0;
    display: flex;
    gap: 5rem;
}

.logo-f {
    width: 200px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.f-left {
    min-width: 370px;
}

.f-left p {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: -0.02em;
}

.f-line {
    width: 1px;
    background-color: rgba(255, 255, 255, .1);
}

.f-right {
    color: #ffffff80;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.f-right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-right ul .fr-head {
    color: #ffffff80;
    font-weight: 700;
    margin-bottom: 10px;
}

.f-right ul li {
    color: #ffffff52;
}

.f-right ul li:hover {
    color: #fff;
}

.footer-bottom {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.f-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.f-logo-wrapper img {
    width: 20px;
    opacity: .4;
}


/*==================================================*/
