.header {
    position: relative;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    transition: all .3s ease;
    z-index: 98;
}

.gnb {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb-right {
    display: flex;
    align-items: center;
}


.pc-menu {
    display: flex;
}

.menu-item {
    width: 120px;
    height: 90px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.Fixed {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.Fixed2 {
    color: #3d3d3d !important;
    font-weight: 700 !important;
}

.active {
    display: none;
}

.logo, .logo-w {
    width: 220px;
    padding-top: 4px;
}

#check,
.mobile-menu {
    display: none;
}

.sub-wrapper {
    position: absolute;
    top: 90px; left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    display: none;
}

.sub-group {
    padding: 20px 0;
    padding-right: 90px;
    width: 1300px;
    display: flex;
    justify-content: flex-end;
}

.sub-menu {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sub-menu li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.gnb label {
    width: 90px;
    height: 90px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, .1);
    transition: background-color .3s ease;
    cursor: pointer;
}

.menuBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.bar1,
.bar2,
.bar3 {
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: .3s ease;
}

.bar-color {
    background-color: #3d3d3d;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
    transform: rotate(-45deg) translate(-5px, 2px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
}


.header:hover {
    background-color: #fff;
}

.header:hover .logo-w {
    display: none;
}

.header:hover .logo {
    display: block;
}

.header:hover .pc-menu a {
    color: #3d3d3d;
    font-weight: 700;
}

.header:hover .gnb label {
    height: 90px;
    background-color: var(--main-color);
}

.header.Fixed .gnb label {
    height: 90px;
    background-color: var(--main-color);
}


/*==================================================*/
@media (max-width: 1350px) {
    .gnb {
        width: 100%;
        padding: 0 20px;
    }
}