.promotion {
    position: relative;
    width: 100%;
    height: 100vh !important;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.promotion-wrapper {
    width: 1300px;
    z-index: 11;
}

.p-bar-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
    background-color: #21378a;
    z-index: 12;
}

.p-bar {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pb-text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    gap: 7px;
}

.p-text {
    color: #fff;
}

.p-text h5 {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat';
    letter-spacing: 0;
    margin-bottom: 3rem;
}

.p-text h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.p-text h3 {
    font-size: 55px;
    font-weight: 800;
}

.p-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 2.5rem;
}

.video {
    position: relative;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.video video {
    width: 120%;
}

.video-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
}

.video-overlay2 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, transparent 100%);
    z-index: 10;
}



/*==================================================*/
@media (min-width: 2250px) {
    .p-text h5 {
        font-size: 22px;
    }

    .p-text h4 {
        font-size: 32px;
    }

    .p-text h3 {
        font-size: 65px;
    }

    .p-text p {
        font-size: 20px;
    }
}


@media (max-width: 1919px) {
    .video video {
        width: unset;
    }
}


@media (max-width: 1350px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}