.article2 {
    position: relative;
    height: auto;
    overflow: hidden;
}

.a2-circle {
    position: absolute;
    bottom: -130%;
    width: 130%;
    height: 1500rem;
    border-radius: 100%;
    background-color: #000;
    box-shadow: 0 -10rem 200rem var(--main-color);
    z-index: 1;
}

.a2-box-wrapper {
    display: flex;
    align-items: center;
    gap: 70rem;
    margin-bottom: 25%;
    z-index: 2;
}

.a2-vertical {
    width: 1px;
    height: 40rem;
    background-color: rgba(255, 255, 255, .3);
}

.a2-box {
    text-align: center;
}

.a2-box p {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 700;
    margin-bottom: 20rem;
}

.a2-box h5 {
    font-size: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-align: right;
}

.a2-box h5 span {
    width: 145rem;
    font-size: 80rem;
    font-weight: 600;
    font-family: 'Montserrat';
    white-space: nowrap;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}