.article4 {
    overflow: hidden;
}

.article4 .article-wrapper {
    width: 100%;
}

#slider {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 100rem;
    user-select: none;
    cursor: grab;
}

#slider.dragging {
    cursor: grabbing;
}

#slider div {
    width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
}

#slider div img {
    pointer-events: none;
}

#slider div .main {
    width: 350rem;
    box-shadow: 10rem 0 30rem rgba(0, 0, 0, .5);
    z-index: 3;
}

#slider div .landing {
    width: 120rem;
    transform: scale(.9);
    margin-left: -15rem;
    z-index: 2;
}


/*==================================================*/
@media (max-width: 768px) {

}


@media (max-width: 550px) {
    
}