.article3 {
    height: auto;
    padding-top: 0;
    overflow: hidden;
}

.a3-title {
    width: 100%;
    text-align: left;
}

.a3-title h5 {
    font-size: 60rem;
    line-height: 1.25;
    letter-spacing: -4px;
}

.a3Swiper {
    position: relative;
    width: 100%;
}

.a3Swiper .swiper-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.a3Swiper .swiper-button {
    top: 55%;
    color: #fff;
    width: 55px;
    height: 55px;
    font-size: 30px;
    border-radius: 22px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .15);
}
.a3Swiper .swiper-button:hover {
    background-color: rgba(255, 255, 255, .23);
}

.a3Swiper .swiper-button-prev {
    left: 0;
}
.a3Swiper .swiper-button-next {
    right: 0;
}

.a3Swiper .ss-top {
    width: 100%;
    padding: 0 100rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.a3Swiper .ss-title-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 100rem;
}

.a3Swiper .ss-title p {
    color: var(--main-color);
    font-size: 19rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.a3Swiper .ss-title h5 {
    font-size: 50rem;
}

.ss-category {
    display: flex;
    align-items: center;
    gap: 20rem;
}

.ss-cate {
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgba(255, 255, 255, .5);
    font-size: 16rem;
}
.ss-cate.withus {
    color: var(--main-color);
    font-weight: 600;
    font-family: 'Montserrat';
}
.ss-cate.glow {
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat';
}
.ss-cate span {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, .25);
}
.ss-cate.withus span {
    background-color: var(--main-color);
}

.ss-graph-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.ss-graph {
    height: 500rem;
    padding: 0 100rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25rem;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.ss-bar {
    width: 100rem;
    height: 0;
    background-color: var(--main-color);
    transition: all 1s ease;
}
.ss-bar.stop {
    background-color: rgba(255, 255, 255, .25);
}

.ss-bar.withus {
    position: relative;
}
.ss-bar.withus::after {
    content: '';
    position: absolute;
    top: -40rem; left: 50%;
    transform: translate(-50%, 0);
    width: 30rem;
    height: 30rem;
    background: url(../images/sb-w.svg);
    background-size: cover;
    z-index: 30;
}

.ss-cate.glow span,
.ss-bar.glow {
    background: linear-gradient(0deg,
            red,
            orange,
            yellow,
            green,
            cyan,
            blue,
            violet,
            red);
    background-size: 100% 800%;
    background-repeat: repeat-y;
    animation: rainbowScrollOneWay 3s linear infinite;
}

@keyframes rainbowScrollOneWay {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.a3Swiper .ss-date {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 33rem;
}

.a3Swiper .ss-date p {
    color: rgba(255, 255, 255, .5);
    font-size: 16rem;
    letter-spacing: -0.6px;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}