.article1 {
    background-color: #fff;
    overflow: hidden;
}

.article1 .article-wrapper {
    width: 100%;
}

.a1-title {
    text-align: center;
    margin-bottom: 70rem;
    text-transform: uppercase;
}

.a1-title h6 {
    color: var(--main-color);
    font-size: 20rem;
    font-family: 'Montserrat';
    margin-bottom: 30rem;
}

.a1-title h5 {
    font-size: 45rem;
    line-height: 1.4;
}

.a1-title p {
    color: #bbb;
    font-size: 23rem;
    margin-top: 30rem;
}

.a1-icon-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin-top: 30rem;
}

.a1-icon {
    will-change: transform;
    animation: marquee2 10s linear infinite;
}

.a1-icon.reverse {
    animation: marquee1 10s linear infinite;
    opacity: .3;
}

@keyframes marquee1 {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.a1-icon {
    display: flex;
    gap: 20rem;
}

.a1-icon img {
    width: 100rem;
    min-width: 100rem;
    border-radius: 30rem;
    overflow: hidden;
}



/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}