.article2 {
    background-color: #eaf2fa;
}

.a2-wrapper {
    width: 100%;
}

.a2-title {
    color: var(--main-color);
    text-align: center;
}

.a2-title h1 {
    font-size: 85px;
    font-weight: unset;
    font-family: 'Recipekorea';
}

.a2-title p {
    font-size: 35px;
    line-height: 1.6;
    font-family: 'Recipekorea';
    margin-top: 1rem;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 1rem;
}

.a2-box h1 {
    font-size: 55px;
    font-weight: unset;
    font-family: 'Recipekorea';
    text-align: center;
    margin-top: 1rem;
}

.a2-box p {
    font-size: 24px;
    line-height: 1.3;
    font-family: 'Recipekorea';
    text-align: center;
    margin-top: .5rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a2-box-wrapper {
        gap: 5rem;
    }

    .a2-box h1 {
        font-size: 35px;
    }

    .a2-box p {
        font-size: 18px;
    }
}


@media (max-width: 768px) {
    .a2-title h1 {
        font-size: 65px;
    }
    
    .a2-title p {
        font-size: 22px;
    }

    .a2-box-wrapper {
        gap: 3rem;
        margin-top: 2rem;
    }

    .a2-box h1 {
        font-size: 28px;
    }

    .a2-box p {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    .a2-box-wrapper {
        flex-direction: column;
    }

    .a2-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .a2-box img {
        width: 300px;
    }
}


@media (max-width: 500px) {
    .a2-title h1 {
        font-size: 45px;
    }

    .a2-title p {
        font-size: 16px;
        margin-top: .5rem;
    }
}