@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h7, p, a, li, span {
    transform: rotate(-0.03deg);
    letter-spacing: -0.02em;
    font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'sans-serif';
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-color: #b4e148;
    --sub-color: #00adef;
}


/*==================================================*/
.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents {
    position: relative;
    width: 768px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}



/*==================================================*/
@media (max-width: 800px) {
    .contents {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}