.article3 {
    background-color: #111;
    background-image: linear-gradient(to bottom, #000, #171717);
}

.a3-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100rem;
}

.a3-wrapper .ar-title {
    min-width: 33%;
    text-align: left;
}

.table-container {
    width: 100%;
    border-radius: 10px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th {
    width: 180rem;
    color: #f5f5f7;
    padding: 25rem 0;
    font-size: 24rem;
    font-weight: 700;
    vertical-align: middle;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-align: left;
}

.info-table td {
    color: #f5f5f7;
    font-size: 22rem;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    line-height: 1.6;
    vertical-align: middle;
}



/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}