.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #1d1506);
    padding: 120rem 0;
}

.footer-wrapper {
    width: 1400rem;
    display: flex;
    flex-direction: column;
    gap: 50rem;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30rem;
}

.ft-text {
    color: #fff;
    font-size: 60rem;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 50rem;
}

.fBtn {
    color: #fff;
    font-size: 18rem;
    font-weight: 600;
    cursor: pointer;
}

.logo-f {
    width: 160rem;
    margin-bottom: 40rem;
}

.footer-text p {
    color: rgba(255, 255, 255, .6);
    font-size: 15rem;
    line-height: 1.8;
    letter-spacing: 0;
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fb-left p {
    color: rgba(255, 255, 255, .3);
    font-size: 15rem;
    font-weight: 300;
    letter-spacing: 0;
}

.admBtn {
    color: rgba(255, 255, 255, .3);
    font-size: 13rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

.f-menu {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .fBtn-popup {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
    }

    .fBtn-closeBtn {
        bottom: 5%;
        box-shadow: none;
        background-color: #000;
    }

    .fBtn-closeBtn img {
        filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(189deg) brightness(103%) contrast(102%);
    }

    .footer {
        padding: 60rem 0;
    }

    .footer-top {
        flex-direction: column;
        align-items: unset;
        border-bottom: none;
        margin-bottom: -70rem;
    }

    .fBtn-wrapper {
        display: none;
    }
}


@media (max-width: 550px) {
    .fBtn-popup {
        padding: 60rem;
    }

    .fp-text p,
    .fp-text ul li {
        font-size: 20rem;
    }

    .footer-wrapper {
        gap: 60rem;
    }

    .fmh {
        font-size: 24rem;
    }

    .f-menu-item .f-menu-hover li a {
        font-size: 20rem;
    }

    .footer-text p,
    .fb-left p {
        font-size: 20rem;
    }
}


@media (max-width: 450px) {

    .fp-text p,
    .fp-text ul li {
        font-size: 22rem;
    }

    .footer-wrapper {
        padding: 0 20px;
    }
}