#video-tab input {
    display: none;
}

.video-wrapper {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
}

.video-wrapper label {
    display: block;
}

.videoBtn {
    flex: 1;
    line-height: 55px;
    border-bottom: 5px solid #fff;
    background-color: #fff;
    transition: all .3s;
    cursor: pointer;
}

.videoBtn p {
    color: #aaa;
    font-size: 20px;
    text-align: center;
}

.videoBtn span {
    display: none;
    color: #aaa;
    font-size: 24px;
    font-family: 'NanumSquare';
    font-weight: 700;
    text-align: center;
}

.divide-line {
    display: flex;
    width: 1px;
    height: 30px;
    background: #ddd;
}

.video-item {
    width: 100%;
    display: none;
}

.video-item p {
    display: none;
    color: #777;
    font-size: 20px;
    font-family: 'NanumSquare';
    font-weight: 700;
    letter-spacing: -0.04em;
    text-align: center;
    margin-bottom: 1rem;
}

.video-item iframe {
    width: 900px;
    height: 500px;
}

.video-item video {
    width: 880px;
    height: 500px;
}


#v1:checked ~ .vi1 {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#v2:checked ~ .vi2 {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#v3:checked ~ .vi3 {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#v4:checked ~ .vi4 {display: flex; flex-direction: column; justify-content: center; align-items: center;}
#v5:checked ~ .vi5 {display: flex; flex-direction: column; justify-content: center; align-items: center;}


#v1:checked ~ .video-wrapper > .videoBtn:nth-child(1) {border-bottom: 5px solid var(--main-color);}
#v2:checked ~ .video-wrapper > .videoBtn:nth-child(3) {border-bottom: 5px solid var(--main-color);}
#v3:checked ~ .video-wrapper > .videoBtn:nth-child(5) {border-bottom: 5px solid var(--main-color);}
#v4:checked ~ .video-wrapper > .videoBtn:nth-child(7) {border-bottom: 5px solid var(--main-color);}
#v5:checked ~ .video-wrapper > .videoBtn:nth-child(9) {border-bottom: 5px solid var(--main-color);}

#v1:checked ~ .video-wrapper > .videoBtn:nth-child(1) p {color: var(--main-color);}
#v2:checked ~ .video-wrapper > .videoBtn:nth-child(3) p {color: var(--main-color);}
#v3:checked ~ .video-wrapper > .videoBtn:nth-child(5) p {color: var(--main-color);}
#v4:checked ~ .video-wrapper > .videoBtn:nth-child(7) p {color: var(--main-color);}
#v5:checked ~ .video-wrapper > .videoBtn:nth-child(9) p {color: var(--main-color);}



/*=========================================================*/
@media (max-width: 1450px) {
    .video-wrapper {
        width: 100%;
    }

    .videoBtn p {
        display: none;
    }

    .videoBtn span {
        display: block;
    }

    .video-item p {
        display: block;
    }

    #v1:checked ~ .video-wrapper > .videoBtn:nth-child(1) span {color: var(--main-color);}
    #v2:checked ~ .video-wrapper > .videoBtn:nth-child(3) span {color: var(--main-color);}
    #v3:checked ~ .video-wrapper > .videoBtn:nth-child(5) span {color: var(--main-color);}
    #v4:checked ~ .video-wrapper > .videoBtn:nth-child(7) span {color: var(--main-color);}
    #v5:checked ~ .video-wrapper > .videoBtn:nth-child(9) span {color: var(--main-color);}
}


@media (max-width: 950px) {
    .article5 {
        padding-bottom: 0 !important;
    }

    .videoBtn {
        line-height: 35px;
        border-bottom: 2px solid transparent;
    }

    .video-item iframe {
        width: 450px;
        height: 300px;
    }

    #v1:checked ~ .video-wrapper > .videoBtn:nth-child(1) {border-bottom: 2px solid var(--main-color);}
    #v2:checked ~ .video-wrapper > .videoBtn:nth-child(3) {border-bottom: 2px solid var(--main-color);}
    #v3:checked ~ .video-wrapper > .videoBtn:nth-child(5) {border-bottom: 2px solid var(--main-color);}
    #v4:checked ~ .video-wrapper > .videoBtn:nth-child(7) {border-bottom: 2px solid var(--main-color);}
    #v5:checked ~ .video-wrapper > .videoBtn:nth-child(9) {border-bottom: 2px solid var(--main-color);}
}


@media (max-width: 450px) {
    .video-wrapper {
        margin-bottom: 1rem;
    }

    .videoBtn span {
        font-size: 18px;
    }

    .video-item iframe {
        width: 380px;
        height: 250px;
    }

    .video-item p {
        font-size: 17px;
        margin-bottom: 0;
    }
}