.article6 {
    background: url(../images/contact-bg.jpg) no-repeat center;
    background-size: cover;
}

.a6-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.a6-info h1 {
    color: #fff;
    font-size: 60px;
    font-family: 'KOHIBaeumOTF';
    font-weight: unset;
    letter-spacing: -0.04em;
}

.icon-wrapper {
    display: flex;
    gap: .5rem;
    margin-top: 2rem;
}

.icon-wrapper img {
    transition: all .3s;
}

.icon-wrapper img:hover {
    transform: translateY(-10px);
}

.a6-form {
    width: 700px;
    padding: 80px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.a6-form-title {
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.08em;
    margin-bottom: 1.5rem;
}

#my_modal {
    display: none;
    width: 500px;
    padding: 30px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 15px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#my_modal p {
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: -0.04em;
}

#popup_open_btn {
    color: royalblue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.0625em;
    cursor: pointer;
}


/*=========================================================*/
@media (max-width: 1335px) {
    .a6-wrapper {
        gap: 5rem;
    }

    .a6-info h1 {
        font-size: 40px;
    }   
}


@media (max-width: 1060px) {
    .a6-form {
        width: 500px;
        padding: 60px;
    }
}


@media (max-width: 900px) {
    .a6-wrapper {
        flex-direction: column;
        gap: 2rem;
    }
}


@media (max-width: 550px) {
    .a6-wrapper {
        align-items: baseline;
    }

    .a6-info h1 {
        font-size: 33px;
    }

    .icon-wrapper {
        gap: .3rem;
        margin-top: .5rem;
    }

    .icon-wrapper img {
        width: 30px;
    }

    .icon-wrapper img:hover {
        transform: translateY(0);
    }

    .a6-form {
        width: 100%;
        padding: 50px 30px;
        border-radius: 20px;
    }

    .a6-form p {
        font-size: 22px;
    }

    #my_modal {
        width: 90%;
        padding: 20px;
    }

    #my_modal p {
        font-size: 12px;
    }
}