.article2 {
    background: transparent;
}

.article2 .article-title h1 {
    margin-bottom: 1rem !important;
}

.tab-item {
    width: 100%;
}

.tab-item p {
    color: #222;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: center;
}

.tab-item img {
    max-width: 100%;
}

.a2-notice h2 {
    color: #222;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to top, #cdefff 50%, transparent 50%);
    margin-top: 2rem;
}

.a2-notice h2 br {
    display: none;
}



/*=========================================================*/
.swiper {
    width: 900px;
    height: 450px;
    margin-top: 1.5rem;
    border-radius: 30px;
    transition: all .3s;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    transition: all .3s;
    cursor: pointer;
  }

  .swiper-slide img:hover {
      filter: brightness(120%);
      -webkit-filter: brightness(120%);
  }

.swiper:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}



/*=========================================================*/
@media (max-width: 1600px) {
    .article2 {
        padding: 30px 0 !important;
    }

    .article2 .article-title h1 {
        margin-bottom: .3rem !important;
    }

    .swiper:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .a2-notice::after {
        content: '';
        width: 150px;
        height: 2px;
        display: block;
        margin: 0 auto;
        background: #aaa;
        margin: 3rem auto 5rem auto;
    }
}


@media (max-width: 1000px) {
    .a2-notice h2 {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
        margin-top: 1rem;
        background: none;
    }

    .a2-notice h2 br {
        display: block;
    }
}


@media (max-width: 930px) {
    .swiper {
        width: 100%;
        height: 350px;
        border-radius: 20px;
    }

    .swiper-slide img {
        object-fit: cover;
        border-radius: 20px;
    }
}



@media (max-width: 600px) {
    .swiper {
        height: 280px;
    }

    .tab-item p br {
        display: none;
    }

    .tab-item p {
        font-size: 14px;
        line-height: 20px;
    }

    .a2-notice::after {
        margin: 1rem auto 2rem auto;
    }
}