.floating {
    height: auto;
    position: fixed;
    bottom: 20px; right: 20px;
    z-index: 999;
}

.f-ico-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.call-ico {
    position: relative;
}

.floatingBtn {
    position: absolute;
    bottom: 197px; left: -250px;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.floating:hover .floatingBtn {
    opacity: 1;
    visibility: visible;
}

/*=========================================================*/
@media (max-width: 768px) {
    .floating {
        bottom: 30px;
    }

    .floatingBtn {
        display: none;
    }

    .f-ico-wrapper a img {
        width: 40px;
    }
}