::-webkit-scrollbar {
    display: none;
}

.promotion {
    padding-top: 0 !important;
}

.promotion-text {
    position: absolute;
    top: 35%; left: 58%;
    padding-left: 80px;
    padding-top: 30px;
    display: flex;
    z-index: 9998;
}

.p-text {
    color: #222;
}

.p-text h1 {
    font-size: 70px;
    line-height: 90px;
    font-weight: unset;
    font-family: 'KOHIBaeumOTF';
    letter-spacing: -0.04em;
    margin-bottom: 2rem;
}

.p-text span {
    font-size: 70px;
    font-family: 'KOHIBaeumOTF';
    font-weight: normal;
    letter-spacing: -0.04em;
}

.pBtn {
    outline: none;
    border: none;
    width: 250px;
    height: 55px;
    background-color: var(--main-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 100px;
    cursor: pointer;
}

.pBtn p {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}


@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.scroll {
    position: absolute;
    bottom: 40px;
    transform: translate(-50%, -50%);
    animation: upDown 1.5s ease-in-out infinite;
    z-index: 9998;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}



/*=========================================================*/
@media (max-width: 1400px) {
    .promotion-text {
        left: 20px;
        padding-left: 0;
        padding-top: 0;
    }

    .p-text {
        color: #fff;
    }

    .p-text h1 {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    }

    .p-text span {
        font-size: 50px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    }
}


@media (max-width: 500px) {
    .p-text h1 {
        font-size: 42px;
        line-height: 60px;
    }

    .p-text span {
        font-size: 42px;
        line-height: 55px;
    }

    .pBtn {
        width: 230px;
        height: 50px;
    }

    .scroll img {
        filter: brightness(200%);
        -webkit-filter: brightness(200%);
    }
}