.article3 {
    background: url(../images/a3-bg.png);
    background-position: bottom !important;
}

.article3 .article-wrapper {
    position: relative;
}

.a3-mockup {
    position: absolute;
    top: 0; left: 0;
    width: 400px;
    height: 783px;
    z-index: 10;
}

.mySwiper {
    width: 390px;
    height: 763px;
    user-select: none;
    border-radius: 60px;
    margin-left: 5px;
    margin-top: 7px;
    overflow: hidden;
}

.mySwiper .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mySwiper .swiper-slide img {
    width: 350px !important;
    min-width: 350px !important;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article3 .article-wrapper {
        flex-direction: column-reverse;
    }

    .a3-mockup {
        position: absolute;
        top: unset;
        bottom: -8px; left: 50%;
        transform: translate(-50%, 0) !important;
        width: 400px;
        height: 783px;
        z-index: 10;
    }

    .mySwiper {
        margin-left: 0;
    }
}


@media (max-width: 550px) {
    .a3-mockup {
        top: 232px;
        width: 80%;
        height: auto;
    }

    .mySwiper {
        width: 76%;
        height: auto;
        border-radius: 30px;
    }

    .mySwiper .swiper-slide img {
        width: 100% !important;
        min-width: unset !important;
    }
}


@media (max-width: 450px) {
    .a3-mockup {
        top: 202px;
    }
    
    .mySwiper {
        width: 78%;
        border-radius: 20px;
    }
}


@media (max-width: 350px) {
    .a3-mockup {
        top: 207px;
        width: 78%;
    }
}