.article1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-repeat: repeat;
    background-position: left !important;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23eee%22 stroke-width=%22.8%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M87 0h87v87H87zM261 0h87v87h-87zM348 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeaa%22 d=%22M435 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee7b%22 d=%22M522 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 0h87v87h-87zM783 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee89%22 d=%22M870 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 0h87v87h-87zM1044 0h87v87h-87zM1131 0h87v87h-87zM1218 0h87v87h-87zM1305 0h87v87h-87zM1392 0h87v87h-87zM1479 0h87v87h-87zM1653 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeedf%22 d=%22M1740 0h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 0h87v87h-87zM1914 0h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee18%22 d=%22M87 87h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee92%22 d=%22M261 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 87h87v87h-87zM435 87h87v87h-87zM522 87h87v87h-87zM609 87h87v87h-87zM696 87h87v87h-87zM870 87h87v87h-87zM957 87h87v87h-87zM1044 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee10%22 d=%22M1218 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1305 87h87v87h-87zM1392 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee01%22 d=%22M1479 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee1a%22 d=%22M1566 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 87h87v87h-87zM1740 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee6b%22 d=%22M1827 87h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee1a%22 d=%22M1914 87h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 174h87v87H0zM87 174h87v87H87z%22%2F%3E%3Cpath fill=%22%23eeeeee87%22 d=%22M174 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M261 174h87v87h-87zM435 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee45%22 d=%22M522 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M609 174h87v87h-87zM696 174h87v87h-87zM783 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeecb%22 d=%22M870 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee1f%22 d=%22M957 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1044 174h87v87h-87zM1131 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeb4%22 d=%22M1218 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee7c%22 d=%22M1305 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1479 174h87v87h-87zM1566 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeecc%22 d=%22M1653 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeece%22 d=%22M1740 174h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee96%22 d=%22M1827 174h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M87 261h87v87H87zM174 261h87v87h-87zM261 261h87v87h-87zM435 261h87v87h-87zM522 261h87v87h-87zM609 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee00%22 d=%22M696 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeec1%22 d=%22M870 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee92%22 d=%22M1044 261h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 261h87v87h-87zM1392 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee37%22 d=%22M1479 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeee2%22 d=%22M1653 261h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1740 261h87v87h-87zM1827 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee2a%22 d=%22M1914 261h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeba%22 d=%22M87 348h87v87H87z%22%2F%3E%3Cpath fill=%22%23eeeeee95%22 d=%22M174 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeefb%22 d=%22M348 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M435 348h87v87h-87zM522 348h87v87h-87zM609 348h87v87h-87zM696 348h87v87h-87zM783 348h87v87h-87zM870 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee0d%22 d=%22M957 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1044 348h87v87h-87zM1131 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeef9%22 d=%22M1305 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1392 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee10%22 d=%22M1479 348h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1566 348h87v87h-87zM1827 348h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeedc%22 d=%22M0 435h87v87H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M87 435h87v87H87zM174 435h87v87h-87zM261 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeea4%22 d=%22M348 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M435 435h87v87h-87zM522 435h87v87h-87zM609 435h87v87h-87zM696 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee81%22 d=%22M783 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee96%22 d=%22M870 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee06%22 d=%22M957 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1044 435h87v87h-87zM1131 435h87v87h-87zM1218 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee3e%22 d=%22M1305 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1392 435h87v87h-87zM1479 435h87v87h-87zM1566 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee27%22 d=%22M1827 435h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeed3%22 d=%22M1914 435h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M261 522h87v87h-87zM348 522h87v87h-87zM435 522h87v87h-87zM522 522h87v87h-87zM609 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee71%22 d=%22M696 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeee8%22 d=%22M870 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 522h87v87h-87zM1044 522h87v87h-87zM1131 522h87v87h-87zM1218 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee01%22 d=%22M1305 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1392 522h87v87h-87zM1479 522h87v87h-87zM1566 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee72%22 d=%22M1653 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1740 522h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee66%22 d=%22M1827 522h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1914 522h87v87h-87zM0 609h87v87H0zM87 609h87v87H87zM174 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeea3%22 d=%22M261 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeea0%22 d=%22M522 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M609 609h87v87h-87zM696 609h87v87h-87zM783 609h87v87h-87zM870 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee35%22 d=%22M957 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee34%22 d=%22M1044 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1131 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee47%22 d=%22M1218 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee8d%22 d=%22M1305 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1392 609h87v87h-87zM1479 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeee6%22 d=%22M1566 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 609h87v87h-87zM1740 609h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeb5%22 d=%22M1914 609h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 696h87v87H0zM87 696h87v87H87zM174 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeba%22 d=%22M261 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M435 696h87v87h-87zM522 696h87v87h-87zM609 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee9c%22 d=%22M696 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 696h87v87h-87zM870 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee4c%22 d=%22M957 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1044 696h87v87h-87zM1131 696h87v87h-87zM1305 696h87v87h-87zM1392 696h87v87h-87zM1479 696h87v87h-87zM1566 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeee2%22 d=%22M1653 696h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeca%22 d=%22M1740 696h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 696h87v87h-87zM1914 696h87v87h-87zM0 783h87v87H0z%22%2F%3E%3Cpath fill=%22%23eeeeee07%22 d=%22M87 783h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 783h87v87h-87zM261 783h87v87h-87zM348 783h87v87h-87zM435 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee86%22 d=%22M522 783h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 783h87v87h-87zM783 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee18%22 d=%22M870 783h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 783h87v87h-87zM1044 783h87v87h-87zM1131 783h87v87h-87zM1218 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee7f%22 d=%22M1392 783h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeed4%22 d=%22M1479 783h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1566 783h87v87h-87zM1653 783h87v87h-87zM1914 783h87v87h-87zM0 870h87v87H0zM87 870h87v87H87zM174 870h87v87h-87zM348 870h87v87h-87zM435 870h87v87h-87zM522 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee76%22 d=%22M609 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 870h87v87h-87zM783 870h87v87h-87zM870 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee87%22 d=%22M957 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1044 870h87v87h-87zM1131 870h87v87h-87zM1218 870h87v87h-87zM1305 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeea3%22 d=%22M1392 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1479 870h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee9d%22 d=%22M1566 870h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1653 870h87v87h-87zM1740 870h87v87h-87zM1827 870h87v87h-87zM1914 870h87v87h-87zM0 957h87v87H0z%22%2F%3E%3Cpath fill=%22%23eeeeee9d%22 d=%22M87 957h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 957h87v87h-87zM261 957h87v87h-87zM348 957h87v87h-87zM435 957h87v87h-87zM522 957h87v87h-87zM609 957h87v87h-87zM696 957h87v87h-87zM783 957h87v87h-87zM870 957h87v87h-87zM957 957h87v87h-87zM1044 957h87v87h-87zM1131 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee0e%22 d=%22M1218 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1392 957h87v87h-87zM1479 957h87v87h-87zM1566 957h87v87h-87zM1653 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeae%22 d=%22M1740 957h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeea0%22 d=%22M1914 957h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeebd%22 d=%22M0 1044h87v87H0z%22%2F%3E%3Cpath fill=%22%23eeeeee65%22 d=%22M87 1044h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 1044h87v87h-87zM261 1044h87v87h-87zM522 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee1c%22 d=%22M609 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M696 1044h87v87h-87zM783 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeeb6%22 d=%22M870 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 1044h87v87h-87zM1044 1044h87v87h-87zM1131 1044h87v87h-87zM1218 1044h87v87h-87zM1392 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee89%22 d=%22M1479 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1566 1044h87v87h-87zM1653 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee94%22 d=%22M1740 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1827 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee16%22 d=%22M1914 1044h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee97%22 d=%22M0 1131h87v87H0z%22%2F%3E%3Cpath fill=%22%23eeeeeefe%22 d=%22M87 1131h87v87H87z%22%2F%3E%3Cpath fill=%22%23eeeeee74%22 d=%22M174 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee95%22 d=%22M261 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 1131h87v87h-87zM435 1131h87v87h-87zM522 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee13%22 d=%22M696 1131h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 1131h87v87h-87zM870 1131h87v87h-87zM1044 1131h87v87h-87zM1131 1131h87v87h-87zM1218 1131h87v87h-87zM1305 1131h87v87h-87zM1392 1131h87v87h-87zM1479 1131h87v87h-87zM1566 1131h87v87h-87zM1653 1131h87v87h-87zM1740 1131h87v87h-87zM1827 1131h87v87h-87zM0 1218h87v87H0z%22%2F%3E%3Cpath fill=%22%23eeeeee49%22 d=%22M87 1218h87v87H87z%22%2F%3E%3Cpath fill=%22%23eeeeeed7%22 d=%22M261 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 1218h87v87h-87zM435 1218h87v87h-87zM522 1218h87v87h-87zM609 1218h87v87h-87zM783 1218h87v87h-87zM870 1218h87v87h-87zM957 1218h87v87h-87zM1044 1218h87v87h-87zM1131 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee73%22 d=%22M1305 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1479 1218h87v87h-87zM1566 1218h87v87h-87zM1653 1218h87v87h-87zM1740 1218h87v87h-87zM1914 1218h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee86%22 d=%22M0 1305h87v87H0z%22%2F%3E%3Cpath fill=%22%23eeeeeebc%22 d=%22M87 1305h87v87H87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M174 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeee8%22 d=%22M261 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M348 1305h87v87h-87zM435 1305h87v87h-87zM522 1305h87v87h-87zM609 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee7a%22 d=%22M696 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee91%22 d=%22M870 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee73%22 d=%22M1044 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeed9%22 d=%22M1131 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeecd%22 d=%22M1218 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee78%22 d=%22M1392 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeee3%22 d=%22M1566 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeed7%22 d=%22M1653 1305h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1740 1305h87v87h-87zM1827 1305h87v87h-87zM1914 1305h87v87h-87zM87 1392h87v87H87zM261 1392h87v87h-87zM348 1392h87v87h-87zM435 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee56%22 d=%22M522 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M609 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee7a%22 d=%22M696 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M783 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee15%22 d=%22M870 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M957 1392h87v87h-87zM1044 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee65%22 d=%22M1131 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1218 1392h87v87h-87zM1305 1392h87v87h-87zM1392 1392h87v87h-87zM1479 1392h87v87h-87zM1566 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeefc%22 d=%22M1653 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeee43%22 d=%22M1740 1392h87v87h-87z%22%2F%3E%3Cpath fill=%22%23eeeeeefe%22 d=%22M1914 1392h87v87h-87z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2250%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%22.5%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.a1-title {
    width: 100%;
    margin-bottom: 5rem;
}

.a1-title h5 {
    color: #222;
    font-size: 65px;
    line-height: 1.3;
}

.a1-title h5 span {
    color: #fff;
    padding: 2px 8px;
    font-weight: 800;
    border-radius: 7px;
    background-color: var(--main-color);
}

.a1-title p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
}

.a1-title p span {
    padding: 4px 6px;
    border-radius: 4px;
    background-color: var(--sub-color);
    cursor: default;
}

.a1Btn {
    width: fit-content;
    color: #222;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5rem;
    transition: all .2s;
}

.a1Btn img {
    width: 34px;
}

.a1Btn:hover {
    gap: 20px;
}

.a1-image {
    position: absolute;
    top: 30%; right: -20%;
    transform: translate(0, -50%);
    width: 70%;
}

.a1-map {
    width: 60%;
    user-select: none;
    opacity: .7;
}

.pin {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.pin-1 {
    bottom: 27%; left: 16%;
}
.pin-2 {
    bottom: 24%; left: 15%;
}
.pin-3 {
    bottom: 25%; left: 19%;
}
.pin-4 {
    bottom: 19%; left: 13%;
}
.pin-5 {
    bottom: 21%; left: 17%;
}
.pin-6 {
    bottom: 18%; left: 20%;
}
.pin-7 {
    bottom: 55%; left: 20%;
}
.pin-8 {
    bottom: 52%; left: 22%;
}

.gps {
    position: relative;
    width: 24px;
    height: 24px;
}

.gps::before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: var(--main-color);
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.gps::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 15px;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

.a1Btn-m {
    display: none;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a1-title h5 {
        font-size: 77px;
    }

    .a1-title p {
        font-size: 22px;
    }
    
    .a1-image {
        right: -22%;
    }
    
    .a1-map {
        width: 55%;
    }

    .gps {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 1450px) {
    .article1 {
        justify-content: unset;
    }
    
    .a1-title {
        margin-bottom: 10rem;
        z-index: 10;
    }
    
    .a1-image {
        top: unset; right: unset;
        bottom: 5%; left: 50%;
        transform: translate(-50%, 0);
        width: 60%;
    }

    .a1-map {
        width: 100%;
    }

    .pin-1 {
        left: 30%;
    }
    .pin-2 {
        left: 29%;
    }
    .pin-3 {
        left: 33%;
    }
    .pin-4 {
        left: 27%;
    }
    .pin-5 {
        left: 31%;
    }
    .pin-6 {
        left: 34%;
    }
    .pin-7 {
        left: 34%;
    }
    .pin-8 {
        left: 36%;
    }
}


@media (max-width: 850px) {
    .a1-title {
        margin-bottom: 0;
    }

    .a1-image {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .article1 {
        height: auto;
        padding-bottom: 130%;
    }
    
    .a1-title {
        margin-bottom: -20%;
    }
    
    .a1-title h5 {
        font-size: 45px;
    }

    .a1-title h5 span {
        border-radius: 3px;
    }

    .a1-title p {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .a1Btn {
        display: none;
    }

    .a1Btn-m {
        position: absolute;
        bottom: 30px; right: 30px;
        padding: 10px 15px;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: var(--sub-color);
        box-shadow: 6px 6px 18px rgba(0, 0, 0, .2);
    }
}


@media (max-width: 550px) {
    .a1-title p {
        font-size: 14px;
        margin-top: 1rem;
    }
    
    .gps {
        width: 16px;
        height: 16px;
    }
}


@media (max-width: 450px) {
    .a1-title h5 {
        font-size: 36px;
    }
}