.article7 {
    background: url(../images/a7-bg.jpg);
}

.article7 .article-wrapper {
    width: 85%;
}

.a7-title {
    margin-bottom: 5rem;
}

.a7-wrapper {
    position: relative;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
    background: url(../images/a7-pattern.jpg);
    background-attachment: fixed;
    background-position: center;
}

.a7-37 {
    position: absolute;
    bottom: 100px; right: 300px;
    animation: blink .7s step-end infinite;
}


/*==================================================*/
