.article9 {
    padding-bottom: 0;
    background: url(../images/a9-bg.jpg);
    border-bottom: 1px solid #f23c24;
}

.article9 .article-wrapper {
    width: 100%;
}

.a9-title {
    margin-bottom: -1rem;
}

.mySwiper4 {
    position: relative;
    width: 100%;
    height: auto;
    user-select: none;
}

.mySwiper4 .swiper-slide {
    width: 350px !important;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    transform: scale(.75);
    transition: all .5s ease;
    filter: blur(8px);
    opacity: .8;
}

.mySwiper4 .swiper-slide img {
    width: 350px !important;
    height: 611px;
    margin-top: 83px;
}

.mySwiper4 .swiper-slide-active {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

.mySwiper4 .swiper-slide-active img {
    border-radius: 35px 35px 0 0;
}

.mySwiper4 .swiper-button-wrapper {
    position: absolute;
    top: 52%; left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 10;
}

.phone {
    position: absolute;
    bottom: -8px; left: 50%;
    transform: translate(-50%, 0);
    width: 364px;
    height: 629px;
    border-radius: 40px 40px 0 0;
    background-color: #fff;
    border: 7px solid #151515;
    box-shadow: 0 0 50px #f23c24;
}

.a9-camera {
    position: absolute;
    top: 95px; left: 50%;
    transform: translate(-50%, 0);
    width: 80px;
    z-index: 5;
}



/*==================================================*/
@media (max-width: 1250px) {
    .article9 .article-wrapper {
        padding: 0;
    }
}


@media (max-width: 1050px) {
    .a9-title {
        width: 75%;
    }

    .mySwiper4 .swiper-button-wrapper {
        width: 90%;
    }
}


@media (max-width: 550px) {
    .a9-title {
        width: 90%;
    }
    
    .mySwiper4 .swiper-slide-active {
        opacity: 1;
    }

    .mySwiper4 .swiper-button-wrapper {
        top: 60%;
        width: 100%;
    }
}


@media (max-width: 450px) {    
    .mySwiper4 .swiper-slide {
        width: 290px !important;
    }

    .mySwiper4 .swiper-slide img {
        width: 300px !important;
        height: 524px;
        margin-top: 83px;
    }

    .phone {
        bottom: -95px;
        width: 303px;
    }
}