.article11 {
    position: relative;
    background-color: #f23c24;
}

.article11 .article-wrapper {
    width: 85%;
}

.a11-1 {
    position: absolute;
    bottom: -100px; left: -200px;
    width: 700px;
    z-index: 10;
}

.a11-wrapper {
    width: 100%;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    background: url(../images/a5-bg.jpg) no-repeat;
    background-size: cover;
}

.a11-title {
    margin-bottom: 2rem;
    z-index: 2;
}

.a11-table-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.a11-notice {
    position: absolute;
    top: 0;
}


/*==================================================*/
@media (max-width: 1850px) {
    .article11 .article-wrapper {
        width: 95%;
    }

    .a11-wrapper {
        padding: 5% 15%;
    }

    .a11-notice {
        width: 60%;
    }
}


@media (max-width: 1250px) {
    .a11-1 {
        width: 50%;
    }

    .a11-title {
        width: 75%;
    }
}


@media (max-width: 1050px) {
    .a11-wrapper {
        border: 3px solid #000;
    }

    .a11-table-wrapper {
        width: 120%;
    }
}


@media (max-width: 768px) {
    .article11 .article-wrapper {
        width: 100%;
    }
    
    .a11-1 {
        bottom: -7%; left: -15%;
    }

    .a11-wrapper {
        padding: 5%;
    }
    
    .a11-title {
        width: 90%;
        margin-top: 6%;
    }

    .a11-table-wrapper {
        width: 100%;
        margin-bottom: 10%;
    }
}


@media (max-width: 550px) {
    .a11-notice {
        top: -10%;
        width: 70%;
    }
}