.article5 {
    position: relative;
    padding-bottom: 10px;
    background-color: #f23c24;
}

.article5 .article-wrapper {
    width: 85%;
}

.a5-wrapper {
    width: 100%;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    background: url(../images/a5-bg.jpg) no-repeat;
    background-size: cover;
}

.a5-bottom {
    position: absolute;
    bottom: 100px; right: 240px;
    z-index: 2;
}

.a5-title {
    margin-bottom: 5rem;
    z-index: 2;
}

.a5-bowl-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a5-bowl {
    margin-bottom: 17rem;
    animation: upDown 3.2s ease-in-out infinite;
    z-index: 2;
}

.a5-t1 {
    position: absolute;
    top: 2%; left: 65%;
    z-index: 2;
}

.a5-t2 {
    position: absolute;
    top: 40%; left: 0;
    z-index: 2;
}




/*==================================================*/
@media (max-width: 1850px) {
    .article5 .article-wrapper {
        width: 95%;
    }

    .a5-wrapper {
        padding: 5% 15%;
    }
    
    .a5-bowl {
        width: 85%;
        margin-bottom: 25%;
    }

    .a5-t1 {
        left: 80%;
        width: 30%;
    }

    .a5-t2 {
        width: 50%;
    }

    .a5-bottom {
        right: 10%;
        width: 50%;
    }
}


@media (max-width: 1050px) {
    .a5-wrapper {
        border: 3px solid #000;
    }
}


@media (max-width: 850px) {
    .a5-bowl {
        width: 100%;
    }

    .a5-bottom {
        bottom: 5%;
    }
}


@media (max-width: 650px) {
    .article5 .article-wrapper {
        width: 100%;
    }
    
    .a5-wrapper {
        padding: 5%;
    }

    .a5-title {
        margin-top: 1rem;
    }

    .a5-t1 {
        top: -4%; left: 60%;
        width: 35%;
    }

    .a5-t2 {
        top: 50%;
        width: 75%;
    }
    
    .a5-bottom {
        width: 60%;
    }
}


@media (max-width: 550px) {
    .a5-title {
        margin-bottom: 3rem;
    }

    .a5-bowl {
        margin-bottom: 35%;
    }

    .a5-bottom {
        width: 70%;
    }
}