.floating {
    position: fixed;
    bottom: 50px; right: 50px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    z-index: 98;
}

.floating a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.topBtn {
    background: rgba(255, 255, 255, .1);
}

.topBtn i {
    color: #fff;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .6);
}


/*==================================================*/
@media (max-width: 768px) {
    .floating {
        bottom: 35px; right: 35px;
    }
    
    .topBtn {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}


@media (max-width: 550px) {
    .topBtn {
        background: #f23c24;
    }

    .topBtn i {
        font-size: 24px;
        text-shadow: none;
    }
}