.article6 {
    position: relative;
    padding-top: 0;
    padding-bottom: 200px;
    background: url(../images/a6-bg.jpg);
    background-attachment: fixed;
}

.a6-flow-wrapper {
    position: absolute;
    top: 36%;
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: hidden;
    z-index: 1;
}

.a6-flow {
    color: rgba(255, 255, 255, .05);
    padding: 20px 0;
    font-size: 200px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    display: flex;
    white-space: nowrap;
    animation: slide 20s linear infinite;
}

.a6-1 {
    width: 100%;
}

.a6-title {
    margin-top: -15rem;
}

.a6-subtitle {
    margin: 8rem 0;
}

.a6-chart-wrapper {
    position: relative;
    width: 1000px;
}

.a6-pen {
    position: absolute;
    bottom: -110px; left: 220px;
}


/*==================================================*/
@media (max-width: 1550px) {
    .a6-title {
        margin-top: -10%;
    }
}


@media (max-width: 1250px) {
    .a6-title {
        width: 50%;
    }

    .a6-pen {
        width: 75%;
    }
}


@media (max-width: 1050px) {
    .a6-chart-wrapper,
    .a6-why {
        width: 90%;
    }
}


@media (max-width: 950px) {
    .article6 {
        padding-bottom: 25%;
    }
    
    .a6-subtitle {
        width: 50%;
        margin: 6rem 0;
    }

    .a6-pen {
        bottom: -25%; left: 22%;
    }
}


@media (max-width: 650px) {
    .a6-flow-wrapper {
        top: 33%;
    }
    
    .a6-flow {
        font-size: 160px;
    }
    
    .a6-subtitle {
        margin: 4rem 0;
    }
}


@media (max-width: 550px) {
    .a6-flow {
        font-size: 130px;
    }
}


@media (max-width: 450px) {
    .article6 {
        padding-bottom: 18%;
    }
    
    .a6-subtitle {
        margin: 3rem 0;
    }
    
    .a6-chart-wrapper,
    .a6-why {
        width: 100%;
    }
}