header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    z-index: 98;
}

nav {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    padding-top: 50px;
    transition: all .4s;
}

nav ul {
    display: flex;
    gap: 5rem;
    transition: all .4s;
}

nav ul li a {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

nav ul li a.actives::after {
    content: '';
    position: absolute;
    bottom: -35px; left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
}

.askBtn {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.askBtn span {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-family: 'PuradakGentleGothicR';
    animation: blink .7s step-end infinite;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.5em #ff0000, 0 0 0.1em #ff0000, 0 6px 3px #000;
    text-align: center;
}

.askBtn p {
    font-size: 24px;
    font-family: 'PuradakGentleGothicR';
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.5em #ff0000, 0 0 0.1em #ff0000, 0 6px 3px #000;
}

.Fixed {
    position: fixed;
    top: 0;
    height: 95px;
    background-color: rgba(0, 0, 0, .4);
}

.actives {
    color: var(--main-color) !important;
}

header.Fixed .logo {
    transform: scale(.8);
}

#check,
nav label,
.m-telBtn,
.menuBtns,
.overlay {
    display: none;
}


/*==================================================*/
@media (min-width: 2250px) {
    .Fixed {
        height: 110px;
    }

    header.Fixed .logo {
        transform: scale(1);
    }
    
    nav {
        padding: 0 80px;
    }
    
    nav ul {
        gap: 8rem;
    }

    nav ul li a {
        font-size: 24px;
    }

    nav ul li a.actives::after {
        bottom: -40px;
        height: 4px;
    }
}


@media (max-width: 1650px) {
    header {
        height: 115px;
        transition: all .4s;
    }

    nav {
        padding: 0 20px;
    }
    
    .logo {
        display: block !important;
        width: 120px;
        max-width: 120px;
        min-width: 120px;
        padding-top: 4px;
        z-index: 8;
    }

    .Fixed {
        height: 115px;
        background-color: #111;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    header.Fixed nav {
        justify-content: space-between;
        align-items: center;
    }
    
    header.Fixed .logo {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    
    .askBtn {
        display: none;
    }

    .m-telBtn {
        color: #fff;
        font-size: 24px;
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
    }

    nav label {
        display: flex;
        z-index: 8;
    }

    nav ul {
        position: relative;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, .7);
        z-index: 7;
        overflow: hidden;
        display: none;
    }

    nav ul li a {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
    }

    nav ul li a.actives::after {
        bottom: -7px;
        height: 3px;
        background-color: transparent;
    }

    .actives {
        color: #fff !important;
        font-weight: 700 !important;
    }

    nav ul.show {
        display: flex;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px);
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
    }
}



@media (max-width: 550px) {
    header,
    .Fixed {
        height: 80px;
    }

    .logo {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
    }
    
    .m-telBtn {
        font-size: 20px;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px);
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-4px, -4px);
    }
}