.article6 {
    padding-top: 0;
    background-color: var(--main-color);
}

.a6-title {
    color: var(--main-color);
    padding: 16px 20px;
    font-size: 45px;
    font-family: 'GmarketSansM';
    border-radius: 0 0 30px 30px;
    background-color: #fff;
    margin-bottom: 4rem;
}

.a6-title span {
    font-family: 'GmarketSansB';
}

.a6-box-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.a6-box-image {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 5px solid #fff;
}

.a6-1 {
    width: 140px;
    margin-right: 10px;
}
.a6-2 {
    height: 150px;
}
.a6-3 {
    width: 180px;
}
.a6-4 {
    height: 140px;
    margin-left: 15px;
}


.a6-box-text {
    margin-top: 2rem;
    text-align: center;
}

.a6-box-text h5 {
    color: rgba(255, 255, 255, .9);
    font-size: 24px;
    font-family: 'GmarketSansB';
}

.a6-box-text p {
    color: rgba(255, 255, 255, .9);
    font-size: 17px;
    line-height: 1.3;
    margin-top: 12px;
}


/*==================================================*/
