.a11-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.a11-arrow {
    margin-bottom: 3rem;
}

.a11-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a11-box-image {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.a11-box-text {
    text-align: center;
}

.a11-box-text p {
    color: var(--main-color);
    font-size: 18px;
    font-family: 'GmarketSansM';
    margin-bottom: 10px;
}

.a11-box-text h5 {
    color: #222;
    font-size: 24px;
    font-family: 'GmarketSansB';
}

.a11-bottom {
    color: #fff;
    font-size: 22px;
    font-family: 'GmarketSansB';
    padding: 12px 24px;
    padding-top: 16px;
    border-radius: 30px;
    background-color: var(--main-color);
    margin-top: 4rem;
}


/*==================================================*/
