.article8 {
    background-color: var(--main-color);
}

.a8-box {
    width: 1334px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/a8-1.png) no-repeat;
}

.a8-bottom {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    width: 1200px;
    margin-top: 1rem;
    text-align: right;
}


/*==================================================*/
