.a5-top {
    width: 100%;
    color: #222;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.a5-wrapper {
    position: relative;
    width: 100%;
}

.a5-image {
    width: 950px;
    height: 515px;
    overflow: hidden;
}

.a5-image img {
    transition: transform 5s;
}

.article5:hover .a5-image img {
    transform: scale(1.2);
}

.a5-text {
    position: absolute;
    top: 160px; right: 0;
    width: 750px;
    padding: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    background-color: #003a8e;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .2);
}

.a5-text span {
    font-size: 20px;
    font-weight: 500;
}

.a5-text ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: .5rem;
}

.a5-askBtn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 3rem;
    transition: all .3s;
    cursor: pointer;
}

.a5-askBtn:hover {
    gap: 15px;
}


/*==================================================*/
