.a3-top {
    width: 100%;
    color: #222;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
}

.a3-wrapper {
    position: relative;
    width: 100%;
}

.a3-image {
    width: 950px;
    height: 515px;
    overflow: hidden;
    float: right;
}

.a3-image img {
    transition: transform 5s;
}

.article3:hover .a3-image img {
    transform: scale(1.2);
}

.a3-text {
    position: absolute;
    top: 80px; left: 0;
    width: 750px;
    padding: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    background-color: #003a8e;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .2);
}

.a3-askBtn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 3rem;
    transition: all .3s;
    cursor: pointer;
}

.a3-askBtn:hover {
    gap: 15px;
}


/*==================================================*/
