@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 120px 0;
}

.article-wrapper {
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-title {
    width: 100%;
    margin-bottom: 2rem;
}

.article-title p {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Play';
    margin-bottom: .7rem;
}

.article-title h1 {
    color: #222;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 700;
}

.ar-title-dark p {
    color: #fff;
    margin-bottom: .5rem;
}

.ar-title-dark h1 {
    color: #fff;
    font-size: 50px;
}


/*==================================================*/
@media (max-width: 1650px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    .article {
        padding: 40px 0;
    }
}