.promotion {
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
}


.ab1 {
    background: url(../images/ab1-bg.jpg) no-repeat;
    background-size: cover;
}

.ab-wrapper {
    width: 100%;
}

.ab-wrapper h1 {
    color: var(--main-color);
    font-size: 52px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.04em;
}

.ab-wrapper h1 span {
    color: #222;
    font-size: 32px;
    font-weight: 800;
}

.ab-wrapper p {
    width: 700px;
    color: #666;
    font-size: 20px;
    line-height: 1.7;
    margin-top: 2rem;
}


.ab-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin-top: 3rem;
}

.ab-table tr td {
    color: #3d3d3d;
    padding: 13px 0;
    font-size: 17px;
    line-height: 1.4;
    word-break: break-all !important;
}

.ab-table tr td:first-child {
    width: 100px;
    font-weight: 600;
}


/*==================================================*/
