.biz-wrapper h1 {
    color: var(--main-color);
    font-size: 52px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.04em;
}

.biz-wrapper h1 span {
    color: #222;
    font-size: 32px;
    font-weight: 800;
}

.biz-wrapper p {
    color: #666;
    font-size: 20px;
    line-height: 1.7;
    margin-top: 2rem;
}


/*==================================================*/
