.article3 {
    padding-bottom: 0;
    background: url(../images/a3-bg.jpg);
    overflow: hidden;
}

.mySwiper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.mySwiper .swiper-slide {
    width: 350px !important;
    transform: scale(.75);
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    opacity: .6;
    transition: all .5s ease;
}

.mySwiper .swiper-slide img {
    width: 350px !important;
    height: 600px;
}

.mySwiper .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.phone {
    position: absolute;
    bottom: -200px; left: 50%;
    transform: translate(-50%, 0);
    width: 370px;
}


.article3-1 {
    background-color: #184030;
}

.article3-2 {
    background-color: #401818;
}

.article3-1 h1 {
    color: #fff;
    font-size: 75px;
    font-weight: unset;
    font-family: 'FUNFLOWSURVIVORKR';
    letter-spacing: -0.04em;
    text-align: center;
}

.article3-1 h1 span {
    color: var(--sub-color);
    font-size: 120px;
    font-family: 'FUNFLOWSURVIVORKR';
    animation: blinker .7s step-end infinite;
}

@font-face {
    font-family: 'FUNFLOWSURVIVORKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/FUNFLOWSURVIVORKR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*==================================================*/
@media (min-width: 2250px) {
    .mySwiper .swiper-slide {
        width: 450px !important;
    }

    .mySwiper .swiper-slide img {
        width: 450px !important;
        height: 778px;
    }

    .phone {
        width: 475px;
        bottom: -350px;
    }
}


@media (max-width: 850px) {
    .a3-title p {
        font-size: 18px;
    }
    
    .a3-title h1 {
        font-size: 40px;
    }

    .article3-1 h1 {
        font-size: 45px;
    }

    .article3-1 h1 span {
        font-size: 55px;
    }
}


@media (max-width: 450px) {
    .a3-title p {
        font-size: 14px;
        margin-bottom: .7rem;
    }
    
    .a3-title h1 {
        font-size: 30px;
    }

    .mySwiper .swiper-slide {
        opacity: 0;
    }

    .mySwiper .swiper-slide-active {
        opacity: 1;
    }

    .phone {
        min-width: 370px;
    }

    .article3-1 h1 {
        font-size: 30px;
    }

    .article3-1 h1 span {
        font-size: 40px;
    }
}
