.article5 .article-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.faq-container {
    width: 750rem;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.faq-item {
    border-radius: 20rem;
    background-color: #fff;
    box-shadow: 0 15rem 40rem 0 rgba(80, 86, 131, .15);
}

.faq-q {
    padding: 30rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20rem;
}

.q-pfx {
    width: 50rem;
    min-width: 50rem;
    height: 50rem;
    min-height: 50rem;
    color: #fff;
    font-size: 22rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14rem;
    background-color: var(--main-color);
}

.faq-q .txt {
    flex: 1;
    font-size: 22rem;
    font-weight: 600;
}

.arrow {
    color: #aaa;
    font-size: 24rem;
    transition: transform 0.3s;
}

.faq-a {
    display: none;
    color: #444;
    padding-left: 100rem;
    padding-bottom: 50rem;
    font-size: 18rem;
    line-height: 1.7;
}

.faq-item.on .arrow {
    transform: rotate(180deg);
    color: var(--main-color);
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}