.article4 {
    padding: 60rem 0;
}

.a4-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20rem;
}

.a4-box {
    position: relative;
    padding: 50rem;
    padding-top: 150rem;
    display: flex;
    flex-direction: column;
    border-radius: 20rem;
    box-shadow: 0 15rem 40rem 0 rgba(80, 86, 131, .15);
    background-color: #fff;
}

.a4-box-icon {
    position: absolute;
    top: 50rem; left: 50rem;
    font-size: 40rem;
    margin-bottom: 40rem;
    transition: all .2s;
}

.a4-box:nth-child(1) i {
    color: #001aff;
}
.a4-box:nth-child(2) i {
    color: #ae00ff;
}
.a4-box:nth-child(3) i {
    color: #1aad5c;
}
.a4-box:nth-child(4) i {
    color: #ff6600;
}

.a4-box-text p {
    color: #aaa;
    font-size: 16rem;
    line-height: 1.5;
    margin-bottom: 15rem;
}

.a4-box-text h6 {
    color: #222;
    font-size: 32rem;
}

.a4-box:hover .a4-box-icon {
    transform: scale(1.1);
}



/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}