.article2 {
    background-color: var(--main-color);
}

.article2 .article-wrapper {
    width: 100%;
}

.a2Swiper {
    width: 100%;
    overflow: hidden;
}

.a2Swiper .swiper-slide {
    height: auto;
    padding: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50rem;
    background-color: #fff;
}

.a2Swiper .swiper-button-prev {
    left: 27.5%;
}

.a2Swiper .swiper-button-next {
    right: 27.5%;
}

.a2Swiper .sbnBtn {
    color: var(--main-color);
    width: 70rem;
    height: 70rem;
    font-size: 45rem;
    font-weight: lighter;
    text-shadow: 0 0 30rem rgba(0, 0, 0, .3);
    background-color: #fff;
    border-radius: 25rem;
    box-shadow: 0 10rem 30rem 0 rgba(80, 86, 131, .4);
    transition: all .3s;
    cursor: pointer;
    margin-top: -30rem;
}

.a2Swiper .sbnBtn:hover {
    transform: scale(1.15);
}

.a2Swiper .sbnBtn.swiper-button-disabled {
    opacity: 0;
}

.ss-profile {
    display: flex;
    align-items: center;
    gap: 20rem;
}

.ss-profile img {
    width: 75rem;
    border-radius: 20rem;
}

.ss-profile h5 {
    color: #222;
    font-size: 26rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 0;
}

.ss-profile h5 span {
    color: #aaa;
    font-size: 22rem;
    font-weight: 500;
    letter-spacing: 0;
}

.ss-title {
    color: #222;
    font-size: 28rem;
    font-weight: 700;
    margin: 40rem 0 20rem 0;
    text-align: center;
}

.ss-text p {
    color: #666;
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 50rem;
}

.ss-text h5 {
    color: var(--main-color);
    font-size: 50rem;
    font-weight: 800;
    text-align: center;
    animation: blink 1.2s step-end infinite;
}



/*==================================================*/
@media (min-width: 2250px) {
    .a2Swiper .swiper-button-prev {
        left: 34%;
    }

    .a2Swiper .swiper-button-next {
        right: 34%;
    }
}


@media (max-width: 1050px) {
    .a2Swiper .swiper-button-prev {
        left: 14%;
    }

    .a2Swiper .swiper-button-next {
        right: 14%;
    }
}


@media (max-width: 991px) {
    .a2Swiper .swiper-button-prev {
        left: 11%;
    }

    .a2Swiper .swiper-button-next {
        right: 11%;
    }
}


@media (max-width: 550px) {
    .a2Swiper .swiper-button-prev {
        left: 3%;
    }

    .a2Swiper .swiper-button-next {
        right: 3%;
    }
}