.a2-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.a2-top .article-title {
    margin-bottom: 0;
}

.a2Btn {
    color: #fff;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--main-color);
    margin-bottom: 10px;
}

.a2-box-text {
    margin-top: 10px;
}

.a2-box-text h5 {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.a2-box-text p {
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}



/*==================================================*/
@media (max-width: 768px) {
    .article2 .article-wrapper {
        padding-right: 0;
    }

    .a2-top {
        padding-right: 20px;
        margin-bottom: 2rem;
    }

    .a2Btn {
        padding: 10px 32px;
        font-size: 14px;
        margin-bottom: 0;
    }

    .a2-box-text h5 {
        font-size: 18px;
    }

    .a2-box-text p {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .article2 .article-wrapper {
        padding-right: 20px;
    }

    .a2-top {
        padding-right: 0;
    }
}