.article3 {
    background-color: #f5f5f5;
}

.a3-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.a3-left {
    width: 386px;
    grid-column: 1 / 2;
}

.a3-right {
    grid-column: 2 / 4;
}

.a3-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1rem;
}

.a3-tabBtn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.a3-tabBtn {
    color: #888;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.a3-tabBtn.on {
    color: var(--main-color);
    font-weight: 700;
    border-bottom: 2px solid var(--main-color);
}

.a3-list {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.a3-list li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.a3-list li a h5 {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.a3-list li a p {
    color: #aaa;
    font-size: 13px;
    white-space: nowrap;
}

.a3-list li:hover h5 {
    text-decoration: underline;
}

.a3-box-wrapper {
    display: none;
}

.a3-box {
    border: 1px solid #ddd;
    background-color: #fff;
}

.a3-box-image {
    position: relative;
}

.a3-box-cate {
    position: absolute;
    top: 0; left: 0;
    color: #fff;
    padding: 4px 8px;
    font-size: 16px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, .3);
}

.a3-box-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.a3-box-text li {
    color: #222;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}

.a3-box-text li p {
    color: #555;
    font-weight: 400;
}

.a3Btn {
    color: var(--main-color);
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border: 1px solid var(--main-color);
    margin-top: 10px;
}


/*==================================================*/
@media (max-width: 1370px) {
    .a3-wrapper {
        display: flex;
        flex-direction: column;
    }

    .a3-left {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .article3 .article-wrapper {
        padding-right: 0;
    }

    .a3-left,
    .a3-right .a3-top,
    .a3-tabBtn-wrapper {
        padding-right: 20px;
    }

    .a3-top .article-title {
        margin-bottom: 0;
    }
    
    .a3-top {
        align-items: flex-end;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1.5rem;
    }

    .a3-tabBtn-wrapper {
        justify-content: flex-start;
    }
}


@media (max-width: 550px) {
    .a3-wrapper {
        gap: 3rem;
    }
}


@media (max-width: 450px) {
    .article3 .article-wrapper {
        padding-right: 20px;
    }

    .a3-left,
    .a3-right .a3-top,
    .a3-tabBtn-wrapper {
        padding-right: 0;
    }

    .a3-tabBtn-wrapper {
        gap: 10px;
    }
    
    .a3-list li a h5 {
        font-size: 16px;
    }

    .a3-list li a p {
        font-size: 12px;
    }
}