.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 50px 0;
}

.footer-wrapper {
    width: 1320px;
    display: flex;
    gap: 5rem;
}

.logo-f img {
    width: 140px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-right ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fBtn {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.01em;
}


.footer-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.footer-box h5 {
    width: 100%;
    color: #555;
    font-size: 16px;
}

.footer-box h5 span {
    color: #aaa;
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
}

.footer-box p {
    color: #444;
    font-size: 15px;
    margin-top: 12px;
}


/*==================================================*/
@media (max-width: 1370px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 1050px) {
    .footer-wrapper {
        flex-direction: column;
        gap: 3rem;
    }
}


@media (max-width: 768px) {
    .footer-wrapper {
        gap: 2rem;
    }

    .logo-f img {
        width: 100%;
    }
    
    .fBtn {
        display: none;
    }

    .footer-right {
        gap: 0;
    }
}


@media (max-width: 550px) {
    .footer {
        padding: 30px 0;
    }

    .footer-box-wrapper {
        gap: 1rem;
    }

    .footer-box h5 {
        font-size: 13px;
    }

    .footer-box h5 span {
        font-size: 11px;
        margin-left: 10px;
    }

    .footer-box p {
        font-size: 11px;
        line-height: 1.5;
        margin-top: 5px;
    }
}


@media (max-width: 450px) {
    .footer-wrapper {
        gap: 1rem;
    }
}