.a2-title {
    width: 100%;
    color: #222;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.mySwiper {
    width: 100%;
    padding: 0 1px;
}

.a2-box {
    width: 32%;
    display: flex !important;
    flex-direction: column;
}

.a2-box-image {
    overflow: hidden;
}

.a2-box-image img {
    margin-bottom: -5px;
    transition: all .2s ease;
}

.a2-box:hover .a2-box-image img {
    transform: scale(1.07);
}

.a2-box-text {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
}

.a2-box-text h5 {
    color: #222;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.a2-box-text p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.45;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*==================================================*/
