.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    background-color: #eee;
    padding: 50px 0;
}

.footer-wrapper {
    width: 1320px;
    display: flex;
    gap: 5rem;
}

.logo-f {
    width: 220px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-right ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fBtn {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
}

.footer-right p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: -0.01em;
}



/*==================================================*/
@media (max-width: 1370px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 1050px) {
    .footer-wrapper {
        flex-direction: column;
        gap: 1rem;
    }
    
    .logo-f {
        width: 150px;
    }
    
    .footer-right ul {
        display: none;
    }
}


@media (max-width: 550px) {
    .footer {
        padding: 30px 0;
    }
    
    .logo-f {
        width: 120px;
    }

    .footer-right p {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .logo-f {
        width: 90px;
    }

    .footer-right p {
        font-size: 10px;
        line-height: 1.65;
    }
}