.article5 {
    position: relative;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.a5-circle {
    z-index: 1;
}

.a5-circle .c1 {
    position: absolute;
    bottom: 60px; left: 250px;
    width: 180px;
    height: 180px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-animation: upDown 1.8s ease-in-out infinite;
    animation: upDown 1.8s ease-in-out infinite;
}

.a5-circle .c2 {
    position: absolute;
    top: 100px; left: -180px;
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    background-color: var(--sub-color);
    -webkit-animation: upDown 2.3s ease-in-out infinite;
    animation: upDown 2.3s ease-in-out infinite;
}

.a5-circle .c3 {
    position: absolute;
    bottom: 200px; left: 650px;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-animation: upDown2 2.2s ease-in-out infinite;
    animation: upDown2 2.2s ease-in-out infinite;
}

.a5-circle .c4 {
    position: absolute;
    bottom: 250px; left: 730px;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    background-color: var(--sub-color);
    -webkit-animation: upDown3 2s ease-in-out infinite;
    animation: upDown3 2s ease-in-out infinite;
}

.a5-circle .c5 {
    position: absolute;
    top: 20px; left: 1400px;
    width: 260px;
    height: 260px;
    display: block;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-animation: upDown 1.6s ease-in-out infinite;
    animation: upDown 1.6s ease-in-out infinite;
}

.a5-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    z-index: 2;
}

.a5-left h1 {
    color: #242734;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.a5-left h2 {
    color: #242734;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 3rem;
}

.a5-line {
    width: 40px;
    height: 3px;
    display: flex;
    background-color: #242734;
}

.a5-left p {
    color: #242734;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 2rem;
}

.a5-left a {
    width: fit-content;
    margin-top: 2rem;
}

.a5-left i {
    color: #fff;
    font-size: 30px;
}

.form-bottom {
    position: relative;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.form-bottom p {
    color: #222;
    font-size: 13px;
    line-height: 1.3;
}

.form-bottom p b {
    line-height: 2;
}

.fb-closeBtn {
    position: absolute;
    bottom: -20px; right: 0;
    cursor: pointer;
}

.fb-closeBtn i {
    color: #222;
    font-size: 24px;
}



/*==================================================*/
@media (min-width: 2150px) {
    .a5-circle .c5 {
        left: 1700px;
    }
}


@media (max-width: 1050px) {
    .a5-left {
        width: 400px;
    }
}


@media (max-width: 950px) {
    .article5 {
        padding-bottom: 0;
    }
    
    .a5-wrapper {
        flex-direction: column;
        gap: 3rem;
        padding-top: 0;
    }

    .a5-left {
        width: 100%;
    }

    .a5-left h1 {
        font-size: 30px;
        margin-bottom: 0;
    }
    
    .a5-left h2 {
        font-size: 50px;
        margin-bottom: 2rem;
    }
    
    .a5-line {
        width: 30px;
        height: 2px;
    }

    .a5-left p {
        font-size: 14px;
        margin-top: 1rem;
    }
    
    .a5-left a {
        margin-top: 1rem;
    }
    
    .a5-left i {
        font-size: 26px;
    }
}


@media (max-width: 650px) {   
    .a5-circle .c2 {
        top: 250px;
    }
    
    .a5-circle .c3 {
        bottom: 250px; left: 150px;
    }
    
    .a5-circle .c4 {
        bottom: 350px; left: 230px;
    }
}



@media (max-width: 450px) {
    .a5-left h1 {
        font-size: 24px;
    }
    
    .a5-left h2 {
        font-size: 40px;
    }
    
    .a5-line {
        width: 30px;
        height: 2px;
    }
}