.floating {
    position: fixed;
    bottom: 20px; right: 20px;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    z-index: 999;
}

.topBtn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    background: var(--sub-color);
    cursor: pointer;
}

.topBtn i {
    color: #fff;
    font-size: 22px;
    -webkit-animation: none;
    animation: none;
}

.kakaoBtn {
    background-color: #ffe100;
}

.kakaoBtn i {
    color: #411515;
    font-size: 40px;
}

.askBtn {
    background-color: var(--main-color);
}

.askBtn i {
    color: #fff;
    font-size: 26px;
}

.telBtn {
    background-color: #22bb7b;
    -webkit-animation: pulseAnim-3 1.3s infinite;
    animation: pulseAnim-3 1.3s infinite;
}

.telBtn i {
    color: #fff;
    font-size: 30px;
}

@keyframes pulseAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 106, 0, 0.4);
	}
	70% {
		box-shadow: 0 0 0 15px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}

@keyframes pulseAnim-2 {
	0% {
		box-shadow: 0 0 0 0 rgba(254, 238, 0, 0.8);
	}
	70% {
		box-shadow: 0 0 0 10px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}

@keyframes pulseAnim-3 {
	0% {
		box-shadow: 0 0 0 0 rgba(22, 212, 111, 0.8);
	}
	70% {
		box-shadow: 0 0 0 10px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}


/*==================================================*/
@media (max-width: 850px) {
    .floating {
        right: 10px;
        gap: .4rem;
    }
    
    .topBtn {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .topBtn i {
        font-size: 17px;
    }

    .kakaoBtn i {
        font-size: 28px;
    }
}