.article6 {
    background-color: #292929;
}

.a6-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.a6-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.a6-title h1 {
    color: #fff;
    font-size: 35px;
}

.a6-title i {
    color: #aaa;
    font-size: 35px;
}

.a6-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.a6-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.a6-list img {
    width: 30px;
}

.a6-list p {
    color: #dadada;
    font-size: 24px;
}

.a6-list p span {
    color: #fff;
    font-weight: 700;
    background-color: #000;
}

.a6-list p em {
    font-style: normal;
    font-family: 'Poppins';
    background: linear-gradient(to top, var(--main-color) 15%, transparent 15%);
}

.a6-right {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.4rem;
}

.a6-right img {
    width: 160px;
    opacity: .3;
}

.a6-right p {
    color: rgba(255, 255, 255, .3);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}


/*==================================================*/
