.article11 {
    background-color: #efefff;
}

.article11 p {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.02em;
    text-align: center;
}

.article11 p span {
    font-weight: 400;
}


/*==================================================*/
