.article8 {
    position: relative;
    background-color: #e9e9ff;
    overflow: hidden;
}

.a8-bg {
    position: absolute;
    top: -400px; left: -700px;
    width: 100%;
    height: 1000px;
    transform: rotate(-62deg);
    background-color: #d4d4ff;
    z-index: 1;
}

.a8-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.a8-left p {
    font-size: 26px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ababff;
    letter-spacing: -0.02em;
}

.a8-left h1 {
    font-size: 180px;
    letter-spacing: -0.135em;
}

.a8-left h1 span {
    color: red;
    font-weight: 700;
}

.a8-left h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.02em;
}

.a8-left h2 b {
    font-weight: 700;
}

.a8-right {
    position: relative;
    display: flex;
}

.a8-plus-wrapper {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 157px;
}

.a8-plus-wrapper i {
    color: #fff;
    font-size: 33px;
}

.a8-circle {
    color: #fff;
    width: 230px;
    height: 230px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    border-radius: 50%;
    background-color: #ff3d4abc;
}

.a8-circle:nth-child(2) {
    background-color: #4f4f4f;
    margin-left: 0;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a8-bg {
        top: -100px; left: -400px;
    }
    
    .a8-wrapper {
        flex-direction: column;
        gap: 5rem;
    }

    .a8-left h2 {
        text-align: center;
    }
}


@media (max-width: 850px) {
    .a8-wrapper {
        gap: 4rem;
    }

    .a8-left p {
        font-size: 22px;
    }

    .a8-left h1 {
        font-size: 150px;
        text-align: center;
    }

    .a8-left h2 {
        font-size: 24px;
    }
    
    .a8-plus-wrapper {
        gap: 110px;
    }

    .a8-plus-wrapper i {
        font-size: 28px;
    }
    
    .a8-circle {
        width: 180px;
        height: 180px;
        font-size: 20px;
    }
}


@media (max-width: 650px) {
    .a8-wrapper {
        gap: 3rem;
    }

    .a8-left p {
        font-size: 18px;
    }

    .a8-left h1 {
        font-size: 100px;
    }

    .a8-left h2 {
        font-size: 20px;
    }

    .a8-plus-wrapper {
        gap: 81px;
    }
    
    .a8-plus-wrapper i {
        font-size: 20px;
    }
    
    .a8-circle {
        width: 120px;
        height: 120px;
        font-size: 16px;
        margin-left: -20px;
    }
}


@media (max-width: 450px) {
    .article8 {
        overflow: hidden;
    }
    
    .a8-wrapper {
        gap: 2rem;
    }

    .a8-left p {
        padding: 7px 14px;
        font-size: 16px;
    }

    .a8-plus-wrapper {
        gap: 69px;
    }
    
    .a8-plus-wrapper i {
        font-size: 16px;
    }
    
    .a8-circle {
        width: 100px;
        height: 100px;
        font-size: 14px;
        margin-left: -15px;
    }
}