.article12 {
    background-color: #efefff;
}

.a12-wrapper {
    width: 100%;
}

.a12-title {
    color: #ccc;
    font-size: 65px;
}

.a12-box-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.a12-box {
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    background-color: #ff3d4a;
    background-image: url(../images/a12-b-bg1.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.a12-box h2 {
    font-size: 16px;
}

.a12-box h1 {
    font-size: 32px;
    margin-top: .5rem;
}

.a12-box p {
    font-size: 20px;
    margin-top: .7rem;
}


.a12-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.logo-f {
    width: 180px;
}


/*==================================================*/
