.article1 {
    background-color: #222222;
}

.a1-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.a1-bgtext {
    position: absolute;
    top: 50%; right: 0;
    transform: translate(0, -50%);
    color: rgba(255, 255, 255, .07);
    font-size: 250px;
    z-index: 1;
}

.a1-wrapper p {
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.a1-wrapper p span {
    color: var(--main-color);
    font-weight: 700;
}



/*==================================================*/
