/* 학생보호자 진학프로그램 리스트 */
.ct-box-text ul {
    gap: 6px;
}

.ct-box-text ul li p {
    margin-top: 0;
}

.ct-box {
    position: relative;
}

.ct-box .chk-box {
    position: absolute;
    top: 15px; left: 15px;
    z-index: 20;
}

.a3-box-text {
    padding: 0;
}

.a3-box-text li {
    display: flex;
    align-items: center;
}

.pg-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1.5rem;
}

.pgBtn {
    width: 50%;
    padding: 10px 0;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
}

.pgBtn:last-child {
    color: #aaa;
    border: 1px solid #aaa;
}

.pg-end {
    width: 100%;
    border: 1px solid #ddd !important;
    background-color: #eee;
    pointer-events: none;
}


/* sort */
.pg-sort-wrapper {
    width: 100%;
    margin-bottom: 1rem;
}

.pg-sort {
    float: right;
    color: #222;
    font-size: 17px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.pg-sort option {
    font-size: 15px;
}


/* 프로그램 클릭 시 */
.adm-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.backBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0;
}

.pg-title {
    width: 100%;
    padding: 30px 0;
    border-top: 2px solid #222;
    border-bottom: 1px solid #ddd;
}

.pg-title h5 {
    color: #222;
    font-size: 36px;
    font-weight: 600;
}

.pg-top-wrapper {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
}

.pg-thumb {
    width: 50%;
}

.pg-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pg-info ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pg-info ul li {
    color: #222;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pg-info ul li p {
    color: #777;
    font-weight: 400;
}


/* 탭버튼 */
.pg-tabBtn-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
}

.pg-tabBtn {
    color: #aaa;
    font-size: 19px;
    padding: 18px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.pg-tabBtn.on {
    color: var(--main-color);
    font-weight: 700;
    border-bottom: 2px solid var(--main-color);
}

.pg-contents {
    width: 100%;
}

.pg-contents#data2 {
    display: none;
}


/* 프로그램 신청 및 예약 */
.pg-booking {
    width: 100%;
    display: flex;
    gap: 2rem;
}


/* 캘린더 */
.pg-left {
    width: 50%;
    min-width: 50%;
}

.calendar_container {
    width: 100%;
    border: 1px solid #ddd;
}

.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 10px;
}

.cd-top {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.cd-top .title {
    color: #222;
    font-size: 20px;
    font-weight: 600;
}

.cd-top i {
    font-size: 20px;
    cursor: pointer;
}

.day {
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.calendar_days > button {
    width: 70px;
    height: 70px;
    color: #333;
    font-size: 19px;
    font-weight: 600;
    border-radius: 25px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.day_hover {
    background-color: #f5f5f5 !important;
}

.day_selected {
    color: #fff !important;
    background-color: var(--main-color) !important;
}



/* 시간 선택 */
.pg-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pg-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pg-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.pg-time {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pg-time h5 {
    width: 135px;
    color: #222;
    font-size: 20px;
    letter-spacing: 0;
}

.pg-timeBtn {
    color: var(--main-color);
    padding: 8px;
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid var(--main-color);
}

.pg-timeBtn.end {
    color: #bbb;
    border: 1px solid #bbb;
    pointer-events: none;
}

.pg-timeBtn.waiting {
    color: var(--sub-color-2);
    border: 1px solid var(--sub-color-2);
    pointer-events: unset;
}

.pg-timeBtn .text1,
.pg-timeBtn .text2 {
    display: none;
}

.pg-timeBtn.end .text {
    display: none;
}

.pg-timeBtn.end .text1 {
    display: block;
}

.pg-timeBtn.waiting .text,
.pg-timeBtn.waiting .text1 {
    display: none;
}

.pg-timeBtn.waiting .text2 {
    display: block;
}

.pg-num {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.pg-waiting {
    width: 100%;
    color: #aaa;
    padding: 30px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    margin-top: 1rem;
}

.pg-notice {
    width: 100%;
    color: #fc6257d0;
    padding: 30px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: 1px solid #fc635740;
    background-color: #fff4f3;
}

.pg-notice h5 {
    font-size: 20px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .pg-booking {
        flex-direction: column;
    }

    .pg-left {
        width: 100%;
        min-width: 100%;
    }
    
    .calendar tbody {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .calendar tr {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
    }

    .calendar_days > button {
        width: 100%;
        height: 120px;
    }
}


@media (max-width: 950px) {
    .pg-title {
        border-bottom: none;
    }
    
    .pg-top-wrapper {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .pg-thumb {
        width: 100%;
    }

    .pg-info {
        padding: 40px;
        border: 1px solid #ddd;
        border-top: none;
        margin-top: -4px;
    }
}


@media (max-width: 768px) {
    .pg-title h5 {
        font-size: 32px;
    }

    .calendar_days > button {
        height: 80px;
    }
}


@media (max-width: 650px) {
    .pg-info {
        gap: 1rem;
    }
    
    .pg-info ul li {
        font-size: 17px;
    }
}


@media (max-width: 550px) {
    .pg-sort {
        padding: 3px 7px;
        font-size: 15px;
    }

    .pg-title {
        padding: 20px 0;
    }
    
    .pg-title h5 {
        font-size: 24px;
    }

    .pg-top-wrapper {
        margin-bottom: 1rem;
    }

    .pg-tabBtn {
        padding: 16px 0;
        font-size: 16px;
    }

    .cd-top {
        padding: 20px;
    }
    
    .cd-top .title {
        font-size: 18px;
    }

    .calendar_days > button {
        height: 55px;
        font-size: 16px;
        border-radius: 16px;
    }

    .day {
        font-size: 14px;
    }

    .pg-time h5 {
        width: 115px;
        font-size: 17px;
    }

    .pg-num {
        font-size: 17px;
    }
}


@media (max-width: 450px) {
    .calendar tbody {
        width: 90%;
    }
    
    .cd-top .title {
        font-size: 16px;
    }

    .calendar_days > button {
        height: 36px;
        font-size: 13px;
        border-radius: 14px;
    }

    .pg-timeBtn {
        padding: 7px;
        width: 75px;
    }

    .pg-waiting,
    .pg-notice {
        padding: 20px;
        font-size: 15px;
    }

    .pg-notice h5 {
        font-size: 17px;
    }
}