/* 게시판 목록 */
.board-list-wrapper {
    width: 100%;
}

.board-list {
    width: 100%;
}

/* 상단 카테고리 */
.board-top {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.board-cate {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.board-cate:nth-child(1) {
    width: 3%;
}
.board-cate:nth-child(2) {
    width: 5%;
}
.board-cate:nth-child(3) {
    width: 72%;
    text-align: left;
    margin-left: 50px;
}
.board-cate:nth-child(4) {
    width: 10%;
}
.board-cate:nth-child(5) {
    width: 10%;
}

/* 게시글 목록 */
.board-cts-wrapper {
    width: 100%;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    transition: all .2s;
}

.board-cts-wrapper:hover {
    background-color: #f5f5f5;
}

.board-cts-wrapper.nt .nt-cate {
    margin: 0 auto;
    width: fit-content;
    color: #fff;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--main-color);
}

.board-cts-wrapper.nt .board-cts:nth-child(2) {
    font-weight: 700;
}

.board-cts {
    color: #555;
    font-size: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.board-cts:nth-child(1) {
    width: 3%;
}
.board-cts:nth-child(2) {
    width: 5%;
}
.board-cts:nth-child(3) {
    width: 72%;
    text-align: left;
    margin-left: 50px;
}
.board-cts:nth-child(4) {
    width: 10%;
}
.board-cts:nth-child(5) {
    width: 10%;
}

.board-cts.reply {
    padding-left: 10px;
}


/* 게시글 뷰 */
.board-view {
    width: 100%;
}

.backBtn {
    color: #aaa;
    display: block;
    width: fit-content;
    margin-bottom: 1rem;
}

.board-v-info {
    padding: 30px 0;
    border-top: 2px solid #222;
    border-bottom: 1px solid #ddd;
}

.board-title {
    color: #222;
    font-size: 36px;
    font-weight: 600;
}

.board-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.board-bottom .board-adm {
    margin-bottom: 0;
}

.board-date {
    color: #aaa;
    font-size: 17px;
    letter-spacing: 0;
    white-space: nowrap;
}

.board-content {
    color: #555;
    font-size: 19px;
    line-height: 1.8;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}


/* 댓글 */
.cmt-wrapper {
    width: 100%;
    margin-top: 3rem;
}

.cmt-title {
    color: #777;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.cmt-title span {
    color: var(--main-color);
    font-weight: 600;
}

.cmt-write {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.cmt-input {
    width: 85%;
    height: 60px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ddd;
    border-right: none;
}

.cmt-input::placeholder {
    color: #ccc;
}

.cmt-input:focus {
    border: 1px solid var(--main-color);
    border-right: none;
}

.cmt-btn {
    width: 15%;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--main-color);
}

.cmt-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.cmt-content {
    position: relative;
    padding: 30px 0;
    border-top: 1px solid #ddd;
}

.cmt-content:first-child {
    border-top: none;
}

.cmt-content.cmt-reply {
    border-top: none;
    padding-left: 40px;
    border-top: 1px dashed #ddd;
}

.cmt-content .board-adm {
    position: absolute;
    top: 30px; right: 30px;
}

.cmt-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cmt-profile img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.cmt-id {
    color: #222;
    font-size: 17px;
}

.cmt-date {
    color: #aaa;
    font-size: 15px;
    margin-top: 5px;
}

.cmt-text {
    color: #222;
    font-size: 19px;
    line-height: 1.7;
    margin-top: 1rem;
}


/*==================================================*/
