.sub-promotion {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #111;
    background-position: center !important;
    animation: zoom-bg 10s both;
    margin-bottom: 2rem;
}

@keyframes zoom-bg {
    0% {
        background-size: 115% auto;
    }

    100% {
        background-size: 105% auto;
    }
}

.sub-promotion-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-p-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.sub-p-text h5 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.p-route {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 1rem;
    text-shadow: 0 0 25px rgba(0, 0, 0, .3);
}

.p-route p {
    font-size: 18px;
}

.p-route i {
    font-size: 16px;
}

.p-route span i {
    font-size: 22px;
}


.sub-menu {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.sub-menu-wrapper {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 6px 24px rgba(0, 0, 0, .1);
}

.sub-navBtn {
    position: relative;
    color: #aaa;
    padding: 24px 48px;
    font-size: 17px;
    font-weight: 500;
}

.sub-navBtn:hover {
    color: var(--main-color);
}

.sub-navBtn.show {
    color: var(--main-color);
}

.sub-navBtn.show::after {
    content: '';
    position: absolute;
    bottom: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 3px;
    background-color: var(--main-color);
}



/*==================================================*/
@media (min-width: 1921px) and (max-width: 2559px) {
    .sub-promotion {
        background-size: cover !important;
        animation: none;
    }
}


@media (max-width: 1919px) {
    .sub-promotion {
        background-size: cover !important;
        animation: none;
    }
}