/* 심리검사 */
.tp-notice {
    width: 100%;
    color: #fc6257d0;
    padding: 30px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: 1px solid #fc635740;
    background-color: #fff4f3;
}

.tp-notice li {
    margin-left: 20px;
    list-style: disc;
}

.tp-box-wrapper {
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border: 1px solid #ddd;
    margin: 2rem 0;
}

.tp-arrow {
    width: 40px;
    opacity: .15;
}

.tp-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tp-box-icon {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fc635712;
    transition: all .3s;
}

.tp-box-icon img {
    height: 50%;
    filter: invert(58%) sepia(33%) saturate(7494%) hue-rotate(330deg) brightness(112%) contrast(98%);
    user-select: none;
}

.tp-box.on .tp-box-icon {
    background-color: var(--main-color);
}

.tp-box.on .tp-box-icon img {
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(60deg) brightness(103%) contrast(103%);
}

.tp-box-text h5 {
    color: var(--main-color);
    font-size: 16px;
}

.tp-box-text p {
    color: #222;
    font-size: 20px;
    font-weight: 700;
    margin-top: 3px;
}


.ex-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.ex-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.ex-box-text h5 {
    color: #222;
    font-size: 24px;
}

.ex-box-text p {
    color: #888;
    font-size: 15px;
    line-height: 1.65;
    margin-top: 1rem;
}

.exBtn {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3rem;
    transition: all .2s;
}

.ex-arrow {
    width: 30px;
}

.exBtn:hover {
    gap: 15px;
}


/*==================================================*/
@media (max-width: 1370px) {
    .tab-contents .article-wrapper {
        padding: 0;
    }
}


@media (max-width: 1150px) {
    .tp-box-wrapper {
        padding: 50px 10px;
        gap: 2rem;
    }

    .ex-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 850px) {
    .tp-box-wrapper {
        padding: 32px 10px;
        gap: 1rem;
        margin: 1rem 0;
    }

    .tp-arrow {
        width: 28px;
    }
    
    .tp-box-text h5 {
        font-size: 14px;
    }

    .tp-box-text p {
        font-size: 18px;
    }

    .ex-box-wrapper {
        gap: 1rem;
    }
}


@media (max-width: 768px) {
    .tp-box-wrapper {
        padding: 30px;
        justify-content: space-around;
    }

    .tp-box {
        flex-direction: column;
        gap: 10px;
    }

    .tp-box-icon {
        border-radius: 10px;
    }
    
    .tp-box-text {
        text-align: center;
    }

    .tp-arrow {
        margin-bottom: 3rem;
    }
}


@media (max-width: 550px) {
    .tp-notice {
        padding: 20px;
        font-size: 13px;
    }
    
    .tp-arrow {
        width: 20px;
    }
    
    .tp-box-text h5 {
        font-size: 11px;
    }

    .tp-box-text p {
        font-size: 13px;
    }

    .ex-box {
        padding: 30px;
    }

    .ex-box-text h5 {
        font-size: 20px;
    }

    .ex-box-text p {
        font-size: 13px;
    }
}


@media (max-width: 450px) {
    .tp-box-icon {
        width: 56px;
        height: 56px;
    }

    .tp-arrow {
        margin-bottom: 2.2rem;
    }
}