.article7 .article-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.faq-container {
    width: 750rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    color: #fff;
    border-radius: 20px;
    background-color: #151515;
}

.faq-q {
    padding: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.q-pfx {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: var(--main-color);
}

.faq-q .txt {
    flex: 1;
    font-size: 28px;
    font-weight: 700;
}

.arrow {
    color: #aaa;
    font-size: 36px;
    transition: transform 0.3s;
}

.faq-a {
    display: none;
    color: #fff;
    padding-left: 100px;
    padding-bottom: 50px;
    font-size: 22px;
    line-height: 1.7;
}

.faq-item.on .arrow {
    transform: rotate(180deg);
    color: var(--main-color);
}


/*==================================================*/
@media (max-width: 991px) {
    .article7 .article-wrapper {
        flex-direction: column;
    }

    .article7 .ar-title {
        width: 100%;
        text-align: center;
    }

    .faq-container {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .q-pfx {
    }
    
    .faq-q .txt {
    }

    .faq-a {
    }

    .faq-item:nth-child(2) .faq-a br {
        display: none;
    }
}