.logo{
    position: fixed;
    top: 30px; left: 30px;
    display: flex;
    width: 60px;
    z-index: 98;
}

.gnb {
    position: fixed;
    top: 30px; right: 40px;
    display: flex;
    gap: 40px;
    mix-blend-mode: difference;
    z-index: 98;
}

.gnb a {
    color: #fff;
    font-size: 18px;
}



/*==================================================*/
@media (max-width: 550px) {

}