.promotion {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.promotion::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45) url('../images/video_pattern.png') repeat 0 0;
    z-index: 2;
}

.promotion video {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 102%;
    height: 102%;
    object-fit: cover;
    z-index: 1;
}

.promotion-wrapper {
    width: 1300rem;
    z-index: 2;
}

.p-text {
    color: #fff;
}

.p-text h6 {
    font-size: 22px;
    margin-bottom: 30px;
}

.p-text h5 {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
}

.p-text h5 span {
    color: var(--main-color);
    font-weight: 800;
    letter-spacing: -2rem;
}

.p-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 50px;
}

.pBtn-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.pBtn {
    color: #fff;
    width: 250px;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 15rem;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.pBtn:last-child {
    border: 1px solid #ffffff20;
    backdrop-filter: blur(10px);
    background-color: #ffffff20;
}
.pBtn:hover {
    filter: brightness(110%);
}
.pBtn:last-child:hover {
    background-color: #ffffff30;
}

.pBtn i {
    font-size: 22px;
    font-weight: lighter;
}

.p-bar {
    width: 100%;
    padding: 22px 0;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    background-color: var(--main-color);
}


/*==================================================*/
@media (max-width: 1350px) {
    .promotion-wrapper {
        width: 90%;
    }
}