.floating {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 98;
}

.flBtn {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.flBtn.topBtn {
    background: var(--main-color);
    border: 1px solid #ffffff40;
}

.flBtn.topBtn i {
    color: #fff;
    font-size: 24px;
}

.flBtn.kakaoBtn {
    background: #f2da00;
}

.flBtn.kakaoBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flBtn.kakaoBtn i {
    color: #391c1d;
    font-size: 32px;
}


/*==================================================*/
@media (max-width: 1024px) {
    .floating {
        bottom: 35px;
        right: 35px;
    }

    .floating a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 16px;
        cursor: unset;
    }

    .flBtn.topBtn {
        display: none !important;
    }
}