.a2Btn {
    position: relative;
    width: 600rem;
    height: 140rem;
    font-size: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #8c00ff;
    transition: all .2s;
}
.a2Btn:hover {
    font-size: 49rem;
}

.a2-hover {
    position: absolute;
    top: -100rem; right: 0;
    color: #fff;
    width: fit-content;
    padding: 20px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: #111;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}

.a2Btn:hover .a2-hover {
    opacity: 1;
    visibility: visible;
}


/*==================================================*/
@media (max-width: 1024px) {
    
}