.article5 {
    padding-bottom: 0;
}

.a5-flow-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30rem;
    overflow: hidden;
    z-index: 4;
}

.a5-flow {
    display: flex;
    width: max-content;
    animation: p-flow-slide 50s linear infinite;
}

.a5-flow:nth-child(2) {
    flex-direction: row-reverse;
    animation-name: p-flow-slide-reverse;
    transform: translateX(-50%);
    opacity: .3;
}

.a5-flow img {
    height: 40px;
    width: auto;
    margin: 0 32px;
    object-fit: contain;
}

@keyframes p-flow-slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes p-flow-slide-reverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}



/*==================================================*/
@media (max-width: 1024px) {
    
}