.a1-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.a1-box {
    border: 1px solid #ffffff30;
    overflow: hidden;
}

.a1-box img {
    margin-bottom: -5px;
}


/*==================================================*/
@media (max-width: 1024px) {
    
}