@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html.safari.desktop {
    font-size: 0.040083333vw;
}

html,
body {
    font-size: 6.25%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 17rem;
    word-break: keep-all;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events : none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button, input {
    outline: none;
}

:root {
    --main-color: #6F7BD4;
}

.main-bg {
    position: relative;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/hero.avif);
    background-position: center;
    background-size: cover;
    filter: brightness(40%);
    transition: all 0.6s ease;
    z-index: 1;
}
.main-bg::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(30rem);
    background-color: #00000010;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s ease;
}

.main-bg.active {
    filter: brightness(60%);
}

.main-bg.active::before {
    opacity: 1;
}



/*==================================================*/
@media (min-width: 1025px) {
    html,
    html.safari.desktop {
        font-size: 0.052083333vw;
    }
}

@media (max-width: 1024px) {
    html,
    html.safari.desktop {
        font-size: 0.8px;
    }
}

@media (max-width: 767px) {
    html,
    html.safari.desktop {
        font-size: 0.10430vw;
    }
}