.a3-box-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.a3-box-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.a3-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.a3-box:hover {
    -webkit-filter: brightness(105%);
    filter: brightness(105%);
}



/*==================================================*/
@media (max-width: 850px) {
    .a3-box-group{    
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}