.caption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}


#detail {
  text-decoration: none;
}

.pop-wrap {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}


.pop-container {
  position: fixed;
  z-index: 11;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16);
}


.pop-header {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 32px 32px 0;
  font-size: 10px;
  color : #303030;
}

.pop-header .pop-notice {
  line-height: 1.3;
  font-size: 2.2em;
}

.pop-header .pop-notice span {
  display: inline-block;
  vertical-align: middle;
}

.pop-close {
  position: absolute;
  top: 28px;
  right: 22px;
  z-index: 50;
}

.pop-close .btn-pop {
  display: block;
  font-size: 0;
  width: 40px;
  height: 40px;
  background: url("../sub/images/ico-close.png") center center no-repeat;
  background-size: 32px 32px;
}

.pop-inner {
  height: calc(100% - 96px - 40px);
}

.pop-inner .pop-cont {
  padding: 0 32px;
  overflow-y: auto;
  word-break: break-word;
  color : #303030;
}

.pop-inner .btn-wrap--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  margin: 0;
  border-radius: 0 0 12px 12px;
  background: #fff;
}

.pop-inner__footer .btn,
.pop-inner .btn-wrap--footer .btn {
  min-width: 120px;
}


.card-title {
  margin: 0 0 24px;
  font-size: 2em;
}


.tbl-data {
  margin: 16px 0 0;
  border-top: 1px solid #d1d1d1;
}

.tbl-data table {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  border-bottom: 1px solid #d1d1d1;
}

.tbl-data table th,
.tbl-data table td {
  font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'sans-serif';
  height: 55px;
  text-align: center;
  border-top: 1px solid #d1d1d1;
  padding: 7px 10px;
  vertical-align: middle;
}

.tbl-data table tbody td:last-child {
  border-right: 0;
}

.tbl-data table tbody tr:first-child th,
.tbl-data table tbody tr:first-child td {
  border-top: 0;
}

.tbl-data--type3 table tbody th,
.tbl-data--type3 table tbody td {
  padding: 16px;
  border-left: 0;
  text-align: left;
}

.tbl-data--type3 table tbody th {
  background-color: #fff;
  font-weight: 300;
}

.tbl-data--type3 table tbody td {
  font-weight: 400;
}

.btn {
  font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'sans-serif';
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  min-width: 160px;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
  background: url(../images/footer-bg.gif);
  border-radius: 4px;
  text-align: center;
}

.btn--primary {
  background: url(../images/footer-bg.gif);
  /*background: #ffcc00;*/
}


.btn-txt {
  /*color: rgba(0, 0, 0, 0.87);*/
  line-height: 24px;
  min-height: 24px;
  font-size: 1.5em;
  font-weight: 400;
}

.btn-txt--arr-r:after {
  margin-top: -2px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 24px;
  height: 24px;
  background: url("../sub/images/arr-1-right-white.png") 0 0 no-repeat;
  background-size: 100% auto;
}


.back-card--txt:first-child {
  padding: 0 8px 0 0;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 48px;
  font-size: 10px;
}

.btn-wrap button,
.btn-wrap a {
  margin-left: 8px;
}

.btn-wrap button:first-child,
.btn-wrap a:first-child {
  margin-left: 0;
}

.card-box {
  overflow: hidden;
}

.card-box:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.card-box+.card-box {
  margin-top: 40px;
}


.card-box__item {
  position: relative;
  float: left;
  width: calc(100%/3)px;
}


.card-box__item .btn {
  min-width: 136px;
}

.card-box__before {
  position: relative;
  z-index: 5;
  border-radius: 12px;
}

.card-box__before .card-box__card {
  position: absolute;
  left: 50%;
  height: 128px;
  margin-left: -101px;
  z-index: 1;
}

.card-box__before .card-box__card img {
  width: auto;
}

.card-box__after {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 81%;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid rgba(112, 112, 112, 0.71); /* #707070 */
  background-color: rgba(100, 100, 100, 0.71); /* #646464 */
  color : #ffffff;
  transform: rotateY(180deg);
  opacity: 0;
  font-size: 10px;
}

.card-box__after .card-title {
  margin-bottom: 10px;

}

.card-box__after .card-type__item {
  /*float: left;*/
  /*width: 50%;*/
  /*margin: 28px 0 0 0;*/
}


.card-box__after .card-type__money {
  display: inline-block;
  /*margin: 0 0 0 13px;*/
  vertical-align: top;
  /*line-height: 36px;*/
  color: #ffffff;
  font-size: 1.5em;
}

/* 버튼위치 */
.card-box__after .btn-wrap {
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
}

.card-box__item .card-box__before,
.card-box__item .card-box__after {
  transition: all .2s;
}

.card-box__item:hover .card-box__before,
.card-box__item:hover .card-box__after {
  transition: all .4s;
}

.card-box__item:hover .card-box__before {
  transform: rotateY(180deg);
  opacity: 0;
}

.card-box__item:hover .card-box__after {
  z-index: 10;
  transform: rotateY(360deg);
  opacity: 1;
}

.card-box__btn-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  padding: 10px 0 10px 0;
  border-top: 1px solid #f1f4f8;
}

.card-box__btn-wrap span {
  font-size: 1.5em;
}

.card-box .btn-wrap {
  clear: both;
}

.card-box .btn-wrap .btn-txt--more:before {
  display: none;
}

.tbl-data--type3 .box-count {
  margin-top: 0;
  padding: 0;
  border-bottom: 0;
}


/*===이게맞나.......======================================================================*/
@media (max-width: 1440px) {

  .card-box__after {
    width: 100%;
    height: 82%;
  }

  .card-box__after .card-type__item {
    /*margin-top: 20px;*/
  }

}

@media (max-width: 1250px) {

  .card-box__after {
    width: 90%;
    left: 20px;
  }

}

@media (max-width: 1024px) {

  .card-box__after {
    width: 88%;
    height: 79%;
    left: 20px;
    padding: 20px;
  }

  .card-box__after .card-type__item {
    margin-top: 16px;
  }
  #card-type__item3 {
    margin-top: 0px;
  }

  .card-box__btn-wrap {
    border-bottom: none;
    margin-top: 0px;
  }

}

@media (max-width: 920px) {

  .card-box__after {
    height: 72%;
    width: 84%;
    left: 20px;
    padding-top: 26px;
    padding-left: 22px;
  }

  .card-type {
    display: none;
  }

}

@media (max-width: 780px) {

  .card-box__after {
    height: 72%;
    width: 84%;
    left: 20px;
    padding-top: 16px;
    padding-left: 24px;
  }

  .card-type {
    display: none;
  }

}

@media (max-width: 744px) {

  .card-box:after .card-box__btn-wrap {
    margin-top: 0px;
  }

}

@media (max-width: 650px) {

  .card-type {
    display: block;
    margin-top: 32px;
  }

  .card-box__after {
    height: 84%;
    width: 91%;
    left: 20px;
    /*padding-left: 28px;*/

  }

  .card-title {
    margin-top: 10px;
  }

}

@media (max-width: 425px) {

  .card-type {
    margin: 12px 0 0 0;
  }

  .card-box__after {
    height: 83%;
    width: 90%;
    left: 20px;
    padding-top: 20px;
  }

}

@media (max-width: 375px) {

  .card-box__after {
    height: 80%;
    width: 88%;
    left: 20px;
    padding-top: 16px;
    padding-left: 26px;
  }

  .card-type {
    margin: 0;
  }

  .card-box__btn-wrap {
    margin-top: 20px;
  }

}

@media (max-width: 320px) {

  .card-box__after {
    height: 77%;
    width: 86%;
    left: 20px;
    padding: 0px;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 12px;
  }

  .card-box__after .card-title {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  #card-box__btn-wrap3 {
    margin-top: 8px;
    padding: 8px 0 0;
  }

  .card-box__after .card-type__item {
    margin-top: 0px;
  }

  .card-type {
    /*margin-top: 10px;*/
  }
  

  .card-box__after .card-type__money {
    margin: 0px;
  }

}