.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
    padding: 100rem 0;
}

.article-wrapper {
    width: 1400rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ar-title {
    width: 100%;
    margin-bottom: 50rem;
}

.ar-title p {
    color: var(--light-blue);
    font-size: 24rem;
    font-weight: 600;
    margin-bottom: 20rem;
}

.ar-title.dark p  {
    font-weight: 500;
}

.ar-title.dark h5 {
    color: #fff;
}

.ar-title h5 span {
    position: relative;
    font-family: 'SabonLTPro';
    text-decoration: underline;
    text-decoration-color: var(--light-blue);
    text-underline-position: under;
}


/*==================================================*/
@media (max-width: 1450px) {
    .article-wrapper {
        width: 90%;
    }
}


@media (max-width: 550px) {
    .ar-title p {
        font-size: 30rem;
    }
}