.article1 {
    background: url(../images/a1-bg.jpg);
    background-position: top center !important;
}

.a1-box-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.a1-box {
    padding: 50rem;
    background-color: var(--bg-white);
}

.a1-box img {
    width: 75rem;
    margin-bottom: 80rem;
}

.a1-box-text p {
    color: #777;
    font-size: 20rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .article1 {
        background-size: 150% !important;
    }
    
    .article1 .ar-title {
        margin-top: 80rem;
    }
    
    .a1-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .a1-box {
        padding: 40rem;
        display: flex;
        align-items: center;
        gap: 30rem;
    }

    .a1-box img {
        margin-bottom: 0;
    }
}


@media (max-width: 550px) {
    .a1-box-text p {
        font-size: 28rem;
    }
}