.art-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.art-bottom h6 {
    width: 50%;
    color: var(--light-blue);
    font-size: 30rem;
    font-weight: unset;
    font-family: 'SabonLTPro';
}

.a3-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.a3-box {
    padding: 33rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #777;
    transition: all .3s;
}
.a3-box:hover {
    background-color: #f5f5f5;
}

.a3-box-text h6 {
    color: var(--main-color);
    font-size: 24rem;
    font-weight: 500;
}

.a3-box-text p {
    font-size: 18rem;
    margin-top: 10rem;
}

.a3-box .pBtn {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    opacity: .5;
}



/*==================================================*/
@media (max-width: 768px) {
    .art-bottom {
        flex-direction: column;
        gap: 20rem;
    }

    .art-bottom h6 {
        width: 100%;
    }

    .a3-box {
        padding: 50rem 0;
    }

    .a3-box .pBtn {
        border: 1px solid var(--main-color);
    }
    
    .a3-box-text h6 {
        font-size: 32rem;
        padding-right: 100rem;
    }

    .a3-box-text p {
        font-size: 24rem;
        margin-top: 20rem;
    }
}


@media (max-width: 550px) {
    .article3 .ar-title h5 {
        font-size: 65rem;
    }

    .art-bottom h6 {
        padding-right: 120rem;
        font-size: 40rem;
    }
}