.article5 {
    background-color: var(--bg-white);
}

.article5 .ar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50rem;
    border-bottom: 1px solid #777;
}

.article5 .ar-title p {
    width: 50%;
    color: var(--main-color);
    font-size: 26rem;
    font-weight: unset;
    font-family: 'SabonLTPro';
    line-height: 1.4;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.a5-graph {
    width: 550rem;
}

.a5-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 120rem;
}

.a5-left img {
    width: 450rem;
}

.a5Btn {
    width: fit-content;
    padding: 22rem 40rem 15rem 40rem;
    color: var(--main-color);
    font-size: 22rem;
    display: flex;
    align-items: center;
    gap: 20rem;
    border-radius: 50rem;
    border: 1px solid var(--main-color);
    transition: all .3s;
}

.a5Btn i {
    font-size: 32rem;
    margin-top: -7px;
}

.a5Btn:hover {
    color: #fff;
    background-color: var(--main-color);
}

.a5Btn-m {
    display: none;
}


/*==================================================*/
@media (max-width: 768px) {
    .article5 .ar-title {
        flex-direction: column;
        gap: 50rem;
    }

    .article5 .ar-title h5 {
        display: flex;
        flex-direction: column;
    }
    .article5 .ar-title p {
        width: 100%;
    }

    .a5-wrapper {
        flex-direction: column;
        gap: 100rem;
    }

    .a5-left {
        width: 100%;
    }
    
    .a5-left img,
    .a5-graph {
        width: 100%;
    }

    .a5-left img {
        padding: 0 50rem;
    }

    .a5Btn {
        display: none;
    }

    .a5Btn-m {
        display: flex;
    }
}


@media (max-width: 550px) {
    .article5 .ar-title h5 {
        font-size: 70rem;
    }
    .article5 .ar-title p {
        font-size: 45rem;
    }

    .a5Btn {
        font-size: 30rem;
    }
}