.article2 {
    margin-bottom: -150px;
}

.a2-title {
    width: 100%;
    margin-bottom: 4rem;
    z-index: 10;
}

.a2-title p {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Play';
    margin-bottom: 1rem;
}

.a2-title h5 {
    color: #222;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
}

.a2-title h5 span {
    color: var(--main-color);
}

.a2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.a2-text {
    width: 500px;
    min-width: 500px;
}

.a2-text ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.a2-text ul li h5 {
    color: #222;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat';
    letter-spacing: 0;
}

.a2-text ul li h5 span {
    color: var(--main-color);
    font-size: 18px;
}

.a2-text ul li p {
    color: #777;
    font-size: 16px;
    line-height: 1.75;
    margin-top: 1rem;
}

.a2-moreBtn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all .2s ease;
    margin-top: 4rem;
}

.a2-moreBtn p {
    color: #222;
    font-size: 16px;
    font-weight: 500;
}

.a2-arrow {
    width: 30px;
}

.a2-moreBtn:hover {
    gap: 22px;
}

.a2-image {
    z-index: 10;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a1-flow-wrapper {
        bottom: -350px;
    }
    
    .a1-flow {
        font-size: 240px;
    }
    
    .a2-wrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .a2-text {
        width: 100%;
        min-width: unset;
    }
    
    .a2-image img {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .a2-title {
        margin-bottom: 3rem;
    }
    
    .a2-title h5 {
        font-size: 32px;
    }

    .a2-text ul {
        gap: 2rem;
    }
    
    .a2-text ul li h5 {
        font-size: 20px;
    }

    .a2-text ul li p {
        font-size: 14px;
    }

    .a2-moreBtn {
        margin-top: 3rem;
    }

    .a2-moreBtn p {
        font-size: 14px;
    }

    .a2-arrow {
        width: 22px;
    }
}


@media (max-width: 550px) {
    .a1-flow-wrapper {
        bottom: -170px;
    }
    
    .a1-flow {
        font-size: 150px;
        animation: flow 20s linear infinite;
    }

    @keyframes flow {
        0% {
            transform: translate3d(0, 0, 0);
        }
    
        100% {
            transform: translate3d(-500%, 0, 0);
        }
    }
    
    .a2-title {
        margin-bottom: 2rem;
    }
    
    .a2-title p {
        font-size: 13px;
    }

    .a2-title h5 {
        font-size: 24px;
    }

    .a2-wrapper {
        gap: 2rem;
    }
    
    .a2-text ul {
        gap: 1rem;
    }
    
    .a2-text ul li h5 {
        font-size: 16px;
    }

    .a2-text ul li p {
        font-size: 12px;
    }

    .a2-moreBtn {
        margin-top: 2rem;
    }

    .a2-moreBtn p {
        font-size: 12px;
    }

    .a2-arrow {
        width: 15px;
    }
}