.article5 {
    background: url(../images/a5-bg.jpg);
}

.a5-title {
    width: 100%;
    margin-bottom: 3rem;
}

.a5-title p {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Play';
    margin-bottom: 1rem;
}

.a5-title h5 {
    color: #222;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.4;
}

.a5-title h5 span {
    font-weight: 700;
}


/*==================================================*/
@media (max-width: 768px) {
    .a5-title h5 {
        font-size: 32px;
    }
}


@media (max-width: 550px) {
    .a5-title {
        margin-bottom: 1.5rem;
    }
    
    .a5-title p {
        font-size: 13px;
    }
    
    .a5-title h5 {
        font-size: 24px;
    }
}