@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: "FoundersGrotesk", "SabonLTPro", serif, sans-serif;
}

html.safari.desktop {
    font-size: 0.040083333vw;
}

html,
body {
    font-size: 6.25%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 17rem;
    word-break: keep-all;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events : none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button, input {
    outline: none;
}

h5 {
    color: var(--main-color);
    font-size: 50rem;
    font-weight: unset;
    font-family: "SabonLTPro", serif;
}

p {
    font-weight: 300;
}

:root {
    --main-color: #101f35;
    --light-blue: #00a8f2;
    --dark-blue: #16212d;
    --bg-white: #f4fbff;
    --sub-text: #535b64;
}

.i-rotate {
    transform: rotate(180deg);
}

.no-scroll {
    overflow: hidden;
}


/*==================================================*/
@media (max-width: 1650px) {
    html,
    html.safari.desktop {
        font-size: 0.06756756756756757vw;
    }
}

@media (max-width: 768px) {
    html,
    html.safari.desktop {
        font-size: 0.13020833333333335vw;
    }
}