@font-face {
    font-family: "SabonLTPro";
    src: url(../fonts/SabonLTPro-Roman.ttf);
}
@font-face {
    font-family: "SabonLTPro-Bold";
    src: url(../fonts/SabonLTPro-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "FoundersGrotesk";
    src: url(../fonts/Founders_Grotesk/FoundersGrotesk-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "FoundersGrotesk";
    src: url(../fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "FoundersGrotesk";
    src: url(../fonts/Founders_Grotesk/FoundersGrotesk-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "FoundersGrotesk";
    src: url(../fonts/Founders_Grotesk/FoundersGrotesk-Semibold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "FoundersGrotesk";
    src: url(../fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf);
    font-weight: 700;
}