.footer {
    width: 100%;
}

.footer-group {
    width: 100%;
    padding: 40rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 1400rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fg-top {
    padding: 120rem 0;
    background-color: #6b717b;
}

.logo-f {
    display: flex;
    width: 220rem;
}

.ft-left h5 {
    color: #fff;
    font-size: 32rem;
    font-weight: unset;
    margin-top: 30rem;
}

.ft-left p {
    color: #fff;
    font-size: 19rem;
    margin-top: 10rem;
}

.ft-right {
    width: 50%;
}

.ft-right p {
    color: #fff;
    font-size: 22rem;
    margin-bottom: 20rem;
}

.ft-input {
    width: 100%;
    height: 70rem;
    padding: 0 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100rem;
    border: 1px solid #fff;
}

.ft-input input {
    color: #fff;
    width: 90%;
    font-size: 22rem;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: -6px;
}
.ft-input input::placeholder {
    color: #fff;
}

.ft-input .f-submit {
    color: #fff;
    font-size: 36rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: -6px;
}

.fg-bot {
    background-color: var(--main-color);
}

.fg-bot p {
    color: #fff;
    font-size: 17rem;
    line-height: 1.4;
    margin-bottom: 30rem;
}



/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .footer-group {
        padding: 40rem;
    }

    .footer-wrapper {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        gap: 50rem;
    }

    .fg-top {
        padding-top: 100rem;
    }

    .ft-right {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .footer-group {
        padding: 20rem;
    }
    
    .fg-top {
        padding: 100rem 0 60rem 0;
    }

    .ft-left p {
        font-size: 26rem;
    }

    .ft-right p {
        font-size: 32rem;
        padding-right: 120rem;
    }
    
    .ft-input {
        height: 80rem;
    }
    
    .fg-bot {
        padding: 40rem 0;
    }
    
    .fg-bot p {
        font-size: 22rem;
    }
}