.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .3s ease;
    z-index: 96;
}

.Fixed {
    position: fixed;
    height: 85px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.gnb {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 4rem;
}

.menu-head {
    color: #222;
    padding: 22px 0;
    font-size: 19px;
    font-weight: 600;
}

.menu-head:hover {
    color: var(--main-color) !important;
}

.menu-head .menu-plus {
    display: none;
}

.menu-item {
    position: relative;
}

.menu-hover {
    position: absolute;
    top: 35px; left: 50%;
    transform: translate(-50%, 0);
    width: 140px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    background-color: #fff;
    display: none;
}

.menu-hover li a {
    color: #222 !important;
    font-size: 16px;
    font-weight: 500;
}

.menu-hover li a:hover {
    color: var(--main-color) !important;
}

.mh-0,
.mh-3,
.mh-4,
.mh-5 {
    display: none !important;
}

.logo {
    width: 85px;
    max-width: 85px;
    padding-top: 8px;
}

#check,
.menuBtns {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    .gnb {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 950px) {
    .logo {
        z-index: 30;
    }
    
    .gnb label {
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color: #fff;
        touch-action: none;
        transition: all .2s;
        opacity: 0;
        visibility: hidden;
        z-index: 7;
    }

    .menu-item:first-child {
        border-top: 1px solid #aaa;
    }

    .menu-head {
        width: 100%;
        height: 62px;
        color: #222;
        font-size: 18px;
        font-weight: 500;
        padding: 0 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #aaa;
        cursor: pointer;
    }

    .menu-plus {
        width: 28px;
        height: 28px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .menu-plus i {
        color: #222;
        font-size: 22px;
        font-weight: lighter !important;
    }

    .menu-hover {
        position: static;
        transform: unset;
        width: unset;
        padding: 20px;
        display: flex;
        justify-content: unset;
        align-items: unset;
        box-shadow: none;
        border-radius: 0;
        background-color: #f2f2f2;
        border-bottom: 1px solid #aaa;
    }

    .menu-hover li a {
        font-size: 16px;
        font-weight: 400;
    }

    .menu-head:hover,
    .menu-hover li a:hover {
        color: #222 !important;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #202945;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px);
        transform: rotate(-45deg) translate(-5px, 2px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-9px, -6px);
    }
    
    #check:checked ~ ul {
        opacity: 1;
        visibility: visible;
    }
}


@media (max-width: 768px) {
    .header {
        background-color: transparent;
    }
    
    .Fixed {
        background-color: #202945;
    }

    .menu {
        background-color: #202945;
    }
    
    .menu-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }

    .menu-head {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .menu-hover {
        background-color: #1a223a;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .menu-hover li a {
        color: #fff !important;
    }

    .menu-head:hover,
    .menu-hover li a:hover {
        color: #fff !important;
    }

    .menu-plus i {
        color: #fff;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }
}


@media (max-width: 550px) {
    .header {
        height: 70px;
    }

    .logo {
        width: 55px;
        max-width: 55px;
        padding-top: 6px;
    }

    .menu {
        padding-top: 70px;
    }

    .menu-head {
        height: 52px;
        font-size: 15px;
    }

    .menu-hover {
        padding: 15px;
        gap: 6px;
    }
    
    .menu-hover li a {
        font-size: 13px;
    }

    .menu-plus i {
        font-size: 16px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px);
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-4px, -4px);
    }
}