.promotion {
    width: 100%;
    height: 100vh;
    background: url(../images/hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: left !important;
}

.promotion-wrapper {
    width: 1400rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p-text h5 {
    color: #fff;
    font-weight: unset;
    font-family: 'SabonLTPro';
    line-height: 1.2;
}

.p-text p {
    color: #ddd;
    font-size: 24rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'FoundersGrotesk';
    margin: 30rem 0 60rem 0;
}

.pBtn {
    color: rgba(255, 255, 255, .3);
    font-size: 32rem;
    font-weight: 600;
    width: 70rem;
    min-width: 70rem;
    height: 70rem;
    min-height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .3);
    transition: all .3s;
    cursor: pointer;
}
.pBtn:hover {
    color: #fff;
    border: 2px solid #fff;
}

.pBtn i {
    margin-top: 15rem;
}



/*==================================================*/
@media (max-width: 1450px) {
    .promotion-wrapper {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .p-text {
        margin-bottom: 100rem;
    }
    
    .p-text h5 {
        font-size: 60rem;
    }
    
    .p-text h5 br {
        display: none;
    }
}


@media (max-width: 550px) {
    .p-text p {
        font-size: 28rem;
    }

    .pBtn {
        font-size: 40rem;
        width: 90rem;
        min-width: 90rem;
        height: 90rem;
        min-height: 90rem;
    }
}