.toggle-menu {
    position: relative;
    position: fixed;
    top: 0; right: -40%;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--bg-white);
    touch-action: none;
    transition: all .6s;
    opacity: 0;
    visibility: hidden;
    z-index: 998;
}

.menuBtns {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all .3s;
    cursor: pointer;
    z-index: 999;
}

.menuBtns .bar {
    width: 36px;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease;
}

.bar2 {
    opacity: 0;
    visibility: hidden;
}

.bar1.change {
    transform: rotate(-45deg) translate(-5px, 4px);
    background-color: var(--main-color) !important;
}

.bar3.change {
    transform: rotate(45deg) translate(-6px, -5px);
    background-color: var(--main-color) !important;
}

.tm-wrapper {
    width: 100%;
    height: 94%;
    padding: 50rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.menu a {
    color: var(--main-color);
    width: 100%;
    padding: 30rem 0 22rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    transition: all 1s;
}

.menu a p {
    font-size: 30px;
    font-family: 'FoundersGrotesk';
    margin-bottom: -3px;
}

.menu a i {
    font-size: 26px;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 1;
}

.toggle-menu.on {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.overlay.on {
    opacity: 1;
    visibility: visible;
}

.logo-tg {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    .toggle-menu {
        right: -60%;
        width: 60%;
    }
}


@media (max-width: 950px) {
    .toggle-menu {
        right: -100%;
        width: 100%;
        transition: none;
    }

    .logo-tg {
        position: absolute;
        top: 40px; left: 30px;
        width: 120px;
        display: flex;
    }

    .tm-wrapper {
        padding-top: 100rem;
    }
}


@media (max-width: 768px) {
    .logo-tg {
        top: 30px; left: 20px;
    }
    
    .tm-wrapper {
        padding-top: 60rem;
    }
    
    .menu a p {
        font-size: 30rem;
    }

    .menu a i {
        font-size: 40rem;
    }
}


@media (max-width: 550px) {    
    .logo-tg {
        top: 36rem;
        width: 180rem;
    }
    
    .menuBtns {
        gap: 3px;
    }
    
    .menuBtns .bar {
        width: 28px;
    }

    .bar1.change {
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .bar3.change {
        transform: rotate(45deg) translate(-3px, -3px);
    }

    .menu a {
        padding: 30rem 0 18rem 0;
    }
}