.form-wrapper {
    width: 525px;
    z-index: 2;
}

.f-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.f-form .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-form .input-wrapper .input-title h1 {
    color: #555;
    font-size: 16px;
    font-weight: 500;
}

.f-form .input-wrapper .input-title h1 span {
    color: red;
}

.f-form .inputbox {
    color: #222;
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Pretendard';
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #dedede;
}

.f-form textarea {
    color: #222;
    width: 100%;
    height: 155px;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Pretendard';
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #dedede;
}

.f-form .inputbox::placeholder {
    color: #aaa;
}

.f-form textarea::placeholder {
    color: #aaa;
}

.f-form .inputbox:focus,
.f-form textarea:focus {
    border: 1px solid var(--main-color);
}

.radio-wrapper {
    width: 100%;
    display: flex;
    gap: 5px;
}

.radio-wrapper input[type="radio"] {
    display: none;
}

.radio-wrapper label {
    flex: 1;
    color: #333;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Pretendard';
    border-radius: 7px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.radio-wrapper label:hover {
    background-color: #f8f8f8;
}

.radio-wrapper input[type="radio"]:checked+label {
    color: #fff;
    font-weight: 500;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.f-submit {
    color: #fff;
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 0 19px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: var(--main-color);
    cursor: pointer;
}

.f-submit:disabled {
    color: #ccc;
    font-weight: 300;
    cursor: not-allowed;
    background-color: #f2f2f2;
}

.f-personal {
    width: 100%;
    padding: 20px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.f-personal-no {
    background-color: #fff7f7;
    border: 1px solid #e82424;
}

.f-personal-text input {
    display: none;
}

.f-personal-text label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.f-personal-text label em {
    position: relative;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.f-personal-text label em::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    display: none;
}

.f-personal-text label p {
    color: #444;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

#cb:checked ~ label em::after {
    display: block;
}

.f-personalBtn {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #bbb;
    cursor: pointer;
}

.f-popup-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

.f-popup {
    position: relative;
    width: 550px;
    padding: 30px;
    border-radius: 7px;
    background-color: #fff;
}

.f-popup p {
    color: #222;
    font-size: 15px;
    line-height: 1.4;
}

.f-popup p b {
    line-height: 2;
}

.f-popup-closeBtn {
    position: absolute;
    top: 18px; right: 18px;
    width: 15px;
    cursor: pointer;
}



/*==================================================*/
@media (max-width: 900px) {
    .form-wrapper {
        padding: 0 30px;
    }
    
    .f-form .input-group {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .f-form .input-wrapper {
        width: 100%;
        gap: 3rem;
    }

    .f-form .input-wrapper .input-title h1 {
        width: 85px !important;
    }

    .f-form .inputbox {
        width: 100%;
    }

    .f-form textarea {
        margin-left: 0;
    }
}


@media (max-width: 650px) {
    .a11-title {
        width: 70%;
    }

    .form-wrapper {
        margin-top: 2rem;
    }

    .f-popup,
    .f-alert {
        width: 80%;
        padding: 25px;
    }

    .f-alert {
        width: 250px;
        padding: 15px 20px;
    }

    .f-popup p,
    .f-alert p {
        font-size: 12px;
        line-height: 1.3;
    }

    .f-popup-closeBtn {
        top: 13px; right: 13px;
    }
}


@media (max-width: 550px) {
    .form-wrapper {
        width: 100%;
    }
    
    .f-personal {
        padding: 12px;
    }
    
    .f-personal-text label p {
        font-size: 12px;
        letter-spacing: -0.02em;
    }

    .f-personalBtn {
        font-size: 10px;
    }
    
    .f-form .input-wrapper {
        gap: 1rem;
    }

    .f-form .input-wrapper .input-title h1 {
        width: 75px;
        font-size: 13px;
    }
}


@media (max-width: 450px) {
    .form-wrapper {
        padding: 0 20px;
    }
    
    .f-form .input-group {
        padding: 10px 0;
        gap: 10px;
    }
    
    .f-form .inputbox {
        height: 43px;
        font-size: 13px;
    }

    .f-form textarea {
        font-size: 13px;
    }

    .f-submit {
        width: 220px;
        height: 45px;
        font-size: 14px;
        margin-top: 1.5rem;
    }
}


@media (max-width: 350px) {
    .f-form .input-wrapper {
        gap: 10px;
    }

    .f-form .input-wrapper .input-title h1 {
        width: 70px !important;
        font-size: 12px;
    }
}