.article1 {
    position: relative;
    padding-bottom: 220px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.a1-road {
    position: absolute;
    top: 1600px; right: -300px;
    width: 3500px;
    height: 200px;
    transform: rotate(-30deg);
    background-color: var(--main-color);
    z-index: 1;
}

.a1-hashtag {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.a1-hashtag h1 {
    color: rgba(0, 0, 0, .7);
    padding: 18px 0;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    border-radius: 200px;
    background-color: rgba(0, 0, 0, .03);
    box-shadow: inset 0 0 2px 0 rgb(0 0 0 / 10%);
}

.a1-hashtag h1:hover {
    background-color: rgba(0, 0, 0, .07);
}

.a1-hashtag h1:nth-child(1) {
    -webkit-animation: upDown 1.4s ease-in-out infinite;
    animation: upDown 1.4s ease-in-out infinite;
}
.a1-hashtag h1:nth-child(2) {
    -webkit-animation: upDown2 2.1s ease-in-out infinite;
    animation: upDown2 2.1s ease-in-out infinite;
}
.a1-hashtag h1:nth-child(3) {
    -webkit-animation: upDown3 1.9s ease-in-out infinite;
    animation: upDown3 1.9s ease-in-out infinite;
}
.a1-hashtag h1:nth-child(4) {
    -webkit-animation: upDown2 1.7s ease-in-out infinite;
    animation: upDown2 1.7s ease-in-out infinite;
}
.a1-hashtag h1:nth-child(5) {
    -webkit-animation: upDown3 2s ease-in-out infinite;
    animation: upDown3 2s ease-in-out infinite;
}
.a1-hashtag h1:nth-child(6) {
    -webkit-animation: upDown 2.2s ease-in-out infinite;
    animation: upDown 2.2s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-5px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform:  translateY(-5px);
	}
}

@keyframes upDown2 {
	0% {
		transform:  translateY(4px);
	}
	50% {
		transform: translateY(-4px);
	}
	100% {
		transform:  translateY(4px);
	}
}

@keyframes upDown3 {
	0% {
		transform:  translateY(-5px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform:  translateY(-5px);
	}
}

.a1-text {
    width: 100%;
    margin-top: 10rem;
}

.a1-text p {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.a1-text h1 {
    color: #222;
    font-size: 65px;
    line-height: 1.4;
    font-weight: 700;
}

.a1-text h1 span {
    background: linear-gradient(to top, var(--sub-color) 15%, transparent 15%);
}

.a1-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.a1-truck {
    width: 500px;
    z-index: 2;
}

.a1-m-text h2 {
    color: rgba(0, 0, 0, .3);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.6;
}

.a1-m-text h2 b {
    color: #555;
}

.a1-m-text p {
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 5rem;
}

.a1-m-text p b {
    font-size: 15px;
    line-height: 2;
}

.a1-m-text p span {
    color: #f38181;
    font-size: 12px;
    font-weight: 700;
    line-height: 2.2;
}

.a1-vertical {
    width: 2px;
    height: 100px;
    display: block;
    background-color: rgba(0, 0, 0, .3);
    margin-top: 30rem;
}

.a1-bottom {
    color: rgba(0, 0, 0, .3);
    font-size: 75px;
    line-height: 1.5;
    text-align: center;
    margin: 3rem 0 5rem 0;
}

.a1-bottom b {
    color: #333;
    font-weight: 800;
}

.article1 .askBtn {
    width: 250px;
    height: 55px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
}

.article1 .askBtn p {
    font-size: 18px;
    font-weight: 600;
}


/*==================================================*/
@media (min-width: 2350px) {
    .a1-road {
        top: 1420px; right: -300px;
    }
}