.article6 {
    position: relative;
    padding: 0;
}

.a6-image {
    position: absolute;
    bottom: -330rem;
    width: 90%;
    border-radius: 15rem 15rem 0 0;
    margin-bottom: -5px;
    overflow: hidden;
}

.a6-image img {
    width: 100%;
    object-fit: cover;
}

.a6-title {
    width: 100%;
    text-align: left;
}



/*==================================================*/
@media (max-width: 768px) {
    
}
