.a7-icon-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50rem;
    margin-top: 20rem;
}

.a7-icon {
    will-change: transform;
    animation: marquee2 10s linear infinite;
}

.a7-icon.reverse {
    animation: marquee1 10s linear infinite;
    filter: grayscale(1);
    opacity: .3;
}

@keyframes marquee1 {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.a7-icon {
    display: flex;
    gap: 100rem;
}

.a7-icon img {
    height: 45rem;
}



/*==================================================*/
@media (max-width: 768px) {
    
}
