.articlex {
    height: 100vh;
    min-height: 100vh;
    padding: 0 !important;
}

.articlex1 {
    background-color: #eee;
}
.articlex2 {
    background-color: #ddd;
}
.articlex3 {
    background-color: #fff;
}

.ax3-text {
    margin-bottom: 0;
}

.ax3-text h5 {
    line-height: 1.5;
}



/*==================================================*/
@media (max-width: 768px) {
    
}
