.article1 {
    height: 100vh;
    padding: 0 !important;
    margin-bottom: -1px;
}

.article .article-wrapper {
    position: relative;
}

.article-bg {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
}

.article-bg img {
    width: 120%;
    object-fit: cover;
    object-position: center;
}

.at-text h5 {
    color: #222;
    font-size: 55rem;
    letter-spacing: -3rem;
}

.at-text p {
    color: #888;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 30rem;
}

.article1 .at-text {
    position: absolute;
    bottom: 150rem; left: 0;
    z-index: 3;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}