.article2 {
    height: 100vh;
    padding: 0 !important;
    margin-bottom: -1px;
}

.at-text ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 30rem;
    padding-left: 30rem;
}

.at-text ul li {
    color: #888;
    font-size: 18rem;
    line-height: 1.6;
    list-style-type: '•   ';
}

.article2 .at-text {
    position: absolute;
    bottom: 150rem; left: 0;
    z-index: 3;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}