.promotion {
    position: relative;
    width: 100%;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-image {
    position: absolute;
    bottom: -330rem;
    width: 90%;
    border-radius: 15rem 15rem 0 0;
    margin-bottom: -5px;
    overflow: hidden;
}

.p-image img {
    width: 100%;
    object-fit: cover;
}

.p-text {
    height: 100vh;
    text-align: center;
    margin: 30rem 0 80rem 0;
}

.p-text h5 {
    font-size: 70rem;
    font-weight: 600;
    line-height: 1.25;
}

.p-text h5 span {
    color: var(--main-color);
    letter-spacing: -4rem;
}

.p-text p {
    color: rgba(0, 0, 0, .5);
    font-size: 21rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 33rem;
}


/*==================================================*/
@media (max-width: 768px) {

}