.p-text h5 {
    font-size: 80px;
}

.a1-text p {
    font-size: 45px;
}

.a6-text h5,
.a6-text p {
    font-size: 60px;
}


/*==================================================*/
@media (max-width: 768px) {
    .p-text p {
        font-size: 32px;
    }
    
    .p-text h5 {
        font-size: 55px;
    }
}


@media (max-width: 650px) {
    .a1-text p {
        font-size: 32px;
    }
}


@media (max-width: 550px) {
    .p-text p {
        font-size: 24px;
    }
    
    .p-text h5 {
        font-size: 45px;
    }
    
    .a6-text h5,
    .a6-text p {
        font-size: 40px;
    }
}


@media (max-width: 450px) {
    .p-text p {
        font-size: 18px;
    }
    
    .p-text h5 {
        font-size: 35px;
    }
    
    .a1-text p {
        font-size: 24px;
    }

    .a6-text h5,
    .a6-text p {
        font-size: 32px;
    }
}