.article3 {
    position: relative;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.article3 .article-wrapper {
    width: 1400px;
}

.article3 .video-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}

.article3 video {
    position: absolute;
    top: 0; left: 0;
    width: 110%;
    z-index: 1;
}

.a3-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    z-index: 3;
}

.a3-left {
    color: #fff;
}

.a3-left h4 {
    color: var(--main-color);
    font-size: 28px;
    margin-bottom: 2rem;
}

.a3-left h5 {
    font-size: 65px;
}

.a3-left p {
    font-size: 19px;
    line-height: 1.65;
    margin-top: 4rem;
}

.a3-tag-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.a3-tag {
    font-size: 19px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .1);
}

.a3-tag:hover {
    background-color: rgba(255, 255, 255, .2);
}

.a3-right {
    min-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a3-r-image {
    position: relative;
}

.a3-r-image::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, #000 0%, transparent 100%);
    z-index: 1;
}

.a3-r-image img {
    width: 100%;
}

.a3-r-image p {
    position: absolute;
    bottom: 15px; left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    z-index: 2;
}


/*==================================================*/



@media (max-height: 950px) {
    .article3 {
        height: auto;
    }
}