.article2 {
    position: relative;
    padding-top: 200px;
    padding-bottom: 0;
    overflow: hidden;
}

.a2-bg {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 25%;
    background-color: var(--main-color);
    z-index: 2;
}

.a2-flow-wrapper {
    position: absolute;
    bottom: 220px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.a2-flow {
    color: var(--main-color);
    font-size: 220px;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    text-transform: uppercase;
    animation: flow 100s linear infinite;
    user-select: none;
    opacity: .1;
    z-index: 1;
}

@keyframes flow {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-600%, 0, 0);
    }
}

.a2-title {
    width: 100%;
    margin-bottom: 4rem;
    z-index: 10;
}

.a2-title h5 {
    color: #222;
    font-size: 65px;
}

.a2-title h5 span {
    color: var(--main-color);
}

.a2-title p {
    color: #aaa;
    font-size: 19px;
    line-height: 1.65;
    margin-top: 2rem;
}


.mySwiper2 {
    position: relative;
    width: 100%;
    z-index: 10 !important;
}

.mySwiper2 .swiper-wrapper {
    margin: 3rem 0 6rem 0;
}

.mySwiper2 .swiper-slide {
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}

.mySwiper2 .swiper-slide:nth-child(2n) {
    margin-top: -3rem;
}

.mySwiper2 .swiper-slide .s-image {
    margin-bottom: 1rem;
    overflow: hidden;
}

.mySwiper2 .swiper-slide .s-text {
    position: absolute;
    bottom: 50px; left: 40px;
}

.mySwiper2 .swiper-slide .s-text h5 {
    color: #fff;
    font-size: 32px;
}

.mySwiper2 .swiper-slide .s-text p {
    color: #fff;
    font-size: 16px;
    line-height: 1.65;
    margin-top: 1rem;
}

.article2 .swiperBtn-wrapper {
    gap: 1.5rem;
    margin-top: 3rem !important;
}

.article2 .swiperBtn-wrapper .sbp,
.article2 .swiperBtn-wrapper .sbn {
    color: #ccc;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 1px solid #ddd;
    opacity: 1;
}

.article2 .swiperBtn-wrapper .sbp:hover,
.article2 .swiperBtn-wrapper .sbn:hover {
    background: #f7f7f7;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a2-flow-wrapper {
        bottom: 270px;
    }
}