.article6 {
    background-color: #f2f2f2;
}

.a6-title h1 {
    color: #222;
    font-size: 45px;
    margin-bottom: 4rem;
}

.a6-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.a6-box {
    padding: 40px 20px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 3%);
}

.a6-box-image {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eee;
    margin-right: 2rem;
}

.a6-box-image img {
    height: 80px;
    -webkit-filter: invert(15%) sepia(43%) saturate(6119%) hue-rotate(343deg) brightness(99%) contrast(88%);
    filter: invert(15%) sepia(43%) saturate(6119%) hue-rotate(343deg) brightness(99%) contrast(88%);
    transition: transform .3s ease;
    user-select: none;
}

.a6-box:hover {
    color: #fff;
    background-color: var(--main-color);
}

.a6-box:hover .a6-box-image img {
    transform: scale(1.1);
    -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(12deg) brightness(104%) contrast(100%);
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(12deg) brightness(104%) contrast(100%);
}


/*==================================================*/
