.article8 {
    padding-top: 0;
}

#map {
    width: 525px;
    height: 350px;
    background-color: #222;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.location {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 30px;
    border-bottom: 1px dashed #ddd;
}

.location h1 {
    color: #222;
    font-size: 26px;
    font-weight: 800;
}

.location p {
    color: #555;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0;
    margin-top: 1rem;
}

.location p span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
}


.a8-title {
    text-align: center;
    padding-top: 6rem;
    margin-bottom: 4rem;
}

.a8-title h2 {
    color: #aaa;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: .7rem;
}

.a8-title h1 {
    color: var(--main-color);
    font-size: 75px;
    font-weight: 800;
}

.a8-arrow {
    width: 30px;
    max-width: 30px;
    margin-bottom: 3rem;
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    animation: upDown 1.5s ease-in-out infinite;
}


@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}


/*==================================================*/
