footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 30px 20px;
}

.footer-wrapper p {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}


/*==================================================*/
@media (max-width: 450px) {
    .footer-wrapper p {
        font-size: 12px;
    }
}