.promotion {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.p-logo {
    width: 200rem;
}

.p-text {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.p-text h5 {
    font-size: 45px;
    line-height: 1.1;
    font-family: 'Bebas Neue';
    text-shadow: 0 0 30px rgb(153, 0, 255);
    letter-spacing: 2px;
}

.p-text p {
    font-size: 24px;
    font-family: 'Bebas Neue';
    text-shadow: 0 0 20px red;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.p-info {
    width: 600px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(20rem);
    border: 1px solid #ffffff52;
    background-color: #ffffff1c;
    margin-top: 50px;
}

.p-info span {
    color: #fff;
    font-size: 36px;
    font-family: 'Bebas Neue';
    letter-spacing: 2rem;
}

.pBtn {
    width: 600px;
    height: 90px;
    color: #fff;
    font-size: 36px;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--main-color);
    background: linear-gradient(135deg, #ff6b6b, #845ef7);
    margin-top: 30px;
    transition: all .3s;
}
.pBtn i {
    margin-top: -3px;
    font-weight: lighter;
}

.pBtn:hover {
    font-size: 40px;
}


/*==================================================*/
@media (min-width: 1921px) {
    .p-text h5 {
        font-size: 60rem;
    }

    .p-text p {
        font-size: 32rem;
    }

    .p-text h5 {
        padding: 0 80rem;
    }

    .p-text p {
        padding: 0 50rem;
    }

    .p-info,
    .pBtn {
        width: 33%;
    }
}


@media (max-width: 1024px) {
    .p-text h5 {
        font-size: 60rem;
    }

    .p-text p {
        font-size: 32rem;
    }

    .p-text h5 {
        padding: 0 80rem;
    }

    .p-text p {
        padding: 0 50rem;
    }
    
    .p-text h5 br,
    .p-text p br {
        display: none;
    }
    
    .p-info,
    .pBtn {
        width: 75%;
    }

    .p-info {
        padding: 25rem 0;
    }

    .p-info span {
        font-size: 40rem;
    }

    .pBtn {
        height: 110rem;
        font-size: 45rem;
        margin-top: 20rem;
    }
    .pBtn:hover {
        font-size: 50rem;
    }
}


@media (max-width: 550px) {
    .p-info,
    .pBtn {
        width: 90%;
    }
}