.article9 {
    background-color: #111;
    background: url(../images/a9-bg.png);
}

.a9-logo-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30rem;
}

.a9-logo {
    height: 250rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.a9-logo img {
    width: 50%;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}