.article7 {
    position: relative;
    background-color: #040404;
    background: url(../images/a7-bg.jpg);
    border: 20rem solid var(--green-color);
    background: transparent;
}

.a7-background {
    position: absolute;
    top: 0; left: 0;
}

.a7-background .video {
    filter: brightness(200%);
}

.a7-title h5,
.a7-title h5 span {
    font-family: 'Paperozi';
}

.a7-title h5 span {
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    animation: pulseTxt 0.75s infinite;
}

.a7-noise {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/noise.gif');
    background-position: 0 0;
    background-size: auto;
    pointer-events: none;
    opacity: 0.05;
    transition: opacity .2s cubic-bezier(.445, .05, .55, .95); 
    border-radius: 0;
    z-index: 2;
}

.a7-table-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.a7-table {
    width: 100%;
    margin-top: -30rem;
}

.a7-notice {
    position: absolute;
    top: 10rem;
    border: 1px solid rgba(255, 255, 255, .15);
}



.article7x {
    position: relative;
    height: 100vh;
    background: transparent;
    border: 20rem solid var(--main-color);
    z-index: 100;
}
.article7x::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    animation: innerglow 1s infinite;
    z-index: 101;
}

.a7x-notice {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 700rem;
    padding: 60rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0 0 50rem rgba(0, 0, 0, .6);
    background-color: #000;
    z-index: 10;
}

.a7x-notice h5 {
    font-size: 50rem;
    line-height: 1.4;
    font-family: 'Paperozi';
    animation: blink .7s infinite;
}
.a7x-notice h5 span {
    font-size: 70rem;
}

.a7x-notice p {
    font-size: 21rem;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 30rem;
    white-space: nowrap;
}

.a7x-notice p em {
    color: var(--main-color);
    font-size: 26rem;
    font-weight: 700;
    font-style: normal;
}

.a7x-notice p span {
    display: block;
    padding: 2px 4px;
    font-size: 50rem;
    font-weight: 800;
    font-family: 'Paperozi';
    border-radius: 5rem;
    background-color: var(--main-color);
    margin-top: 10rem;
    animation: pulseAnim-3 1.3s infinite;
}

.a7x-notice ul {
    padding: 20rem;
    padding-left: 30rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    text-align: left;
    margin-top: 30rem;
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, .1);
}

.a7x-notice ul li {
    color: #aaa;
    font-size: 15rem;
    letter-spacing: -0.5rem;
    list-style: circle;
    list-style-position: inside;
}

.a7x-background {
    position: absolute;
    top: 0; left: 0;
}

.a7x-title {
    margin-bottom: 70rem;
}

.a7x-box-wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.a7x-box {
    position: relative;
    padding: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7rem;
    border-inline: 10rem solid var(--main-color);
    background-color: #fff;
}

.a7x-box img {
    position: absolute;
    top: 50rem;
    width: 250rem;
}

.a7x-box p {
    color: #aaa;
    font-size: 36rem;
    font-weight: 700;
    font-family: 'Paperozi';
    margin-bottom: 20rem;
}

.a7x-box h5 {
    color: #000;
    font-size: 70rem;
    font-weight: 900;
    font-family: 'Paperozi';
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}