.article8 {
    position: relative;
    padding: 320rem 0 160rem 0;
}

.a8-roof {
    position: absolute;
    top: 0;
    width: 100%;
}

.a8-title {
    position: absolute;
    top: 62%; left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    padding: 0 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 10;
}

.a8-rocket {
    width: 100rem;
    margin-bottom: 10rem;
    filter: invert(1);
}

.a8-title p br {
    display: block;
}

.a8-notice h6 {
    width: 100%;
    padding: 4rem 8rem;
    font-size: 40rem;
    font-family: 'Paperozi';
    border-radius: 3px;
    background-color: var(--green-color);
    margin: 30rem 0;
}

.a8-bottom {
    font-size: 17rem;
    line-height: 1.5;
}

.a8-box-wrapper {
    display: flex;
    align-items: center;
    gap: 20rem;
    margin-top: 40rem;
}

.a8-box-wrapper i {
    font-size: 30rem;
}

.a8-box {
    width: 100rem;
    height: 100rem;
    font-size: 20rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    border: 3rem solid var(--main-color);
}

.article8 .slider {
    gap: 30rem;
    background-color: transparent;
}

.article8 .slider img {
    width: 400rem;
}



/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}