.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/hero.jpg);
    background-attachment: fixed;
    overflow: hidden;
    z-index: 98;
}
.promotion::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220rem;
    background-color: var(--main-color);
    z-index: 1;
}
.promotion::after {
    content: '';
    position: absolute;
    bottom: 220rem;
    width: 100%;
    height: 80rem;
    background-color: var(--green-color);
    z-index: 1;
}
.noise {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/noise.gif');
    background-position: 0 0;
    background-size: auto;
    pointer-events: none;
    opacity: 0.05;
    transition: opacity .2s cubic-bezier(.445, .05, .55, .95); 
    border-radius: 0;
    z-index: 2;
}

.p-flow-wrapper {
    position: absolute;
    bottom: 236rem;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.p-flow {
    color: #fff;
    font-size: 40rem;
    font-weight: 600;
    font-family: 'Paperozi';
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 10s linear infinite;
}

.promotion-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    z-index: 3;
}

.p-0won {
    position: absolute;
    bottom: 0; right: 0;
    width: 400rem;
    transition: all .2s;
    z-index: 9;
}
.p-0won:hover {
    transform: scale(1.05);
}

.p-image {
    position: relative;
    width: 1000rem;
    margin-bottom: 30%;
}

.p-image img {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    transform: scale(.9);
    transition: all .6s ease;
}

.p-image img.active {
    opacity: 1;
    transform: scale(1);
}

.p-text {
    text-align: center;
    margin-top: 150rem;
}

.p-text h5 {
    color: #fff;
    font-size: 85rem;
    font-weight: 900;
    font-family: 'Paperozi';
    line-height: 1.2;
    -webkit-text-stroke: 3px var(--main-color);
}

.p-text h5 span {
    color: transparent;
    font-family: 'Paperozi';
    font-size: 120rem;
    -webkit-text-stroke: 1px #fff;
    animation: pulseTxt 0.75s infinite;
    letter-spacing: 0;
}

.p-text p {
    color: #fff;
    font-size: 26rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 30rem;
}



/*==================================================*/
@media (min-width: 2250px) {
    .p-image {
        width: 1300rem;
    }
}


@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 90%;
    }
}