.chr-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.chr-box {
    position: relative;
    padding: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.chr-moreBtn {
    position: absolute;
    top: 15px; right: 15px;
    color: #aaa;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0;
    visibility: hidden;
}

.chr-moreBtn p {
    font-size: 13px;
}

.chr-moreBtn i {
    font-size: 16px;
}

.chr-box:hover img {
    animation: upDown 1s infinite;
}

@keyframes upDown {
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
}

.chr-box:hover .chr-moreBtn {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.chr-b-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.chr-b-text span {
    color: #666;
    font-size: 16px;
    font-family: 'BMHANNAAir';
    margin-bottom: 5px;
}

.chr-name {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.chr-name h5 {
    color: #222;
    font-size: 25px;
    font-family: 'BMHANNAAir';
}

.chr-name p {
    color: #aaa;
    font-size: 18px;
    font-weight: 500;
    font-family: 'BMHANNAAir';
    letter-spacing: 0;
    margin-top: 10px;
}

.chr-story-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    z-index: 100;
    display: none;
}

.chr-story {
    position: relative;
    width: 650px;
    height: auto;
    max-height: 450px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .15);
    overflow: auto;
}

.chr-story p {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.65;
    font-family: 'BMHANNAAir';
}

.chr-story::-webkit-scrollbar {
    width: .3em;
}

.chr-story::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.chr-story::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 30px;
    outline: none;
}

.chr-closeBtn {
    position: absolute;
    top: 20px; right: 20px;
    width: 20px;
    cursor: pointer;
}


/*==================================================*/
