.gr-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.gr-text p {
    color: #222;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.7;
    font-family: 'BMHANNAAir';
}

.gr-signature {
    float: right;
    width: 100%;
    color: #222;
    font-size: 16px;
    font-weight: 600;
    font-family: 'BMHANNAAir';
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}

.gr-sign {
    width: 212px;
}


/*==================================================*/
