.prc-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
}

.prc-box {
    position: relative;
    padding: 30px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border-radius: 20px;
    border: 1px solid #eee;
    background-color: #fafafa;
}

.prc-box-num {
    position: absolute;
    top: -25px; left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Play';
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #fafafa;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.prc-box-icon {
    height: 65px;
    margin-bottom: 5px;
}

.prc-box-text h5 {
    color: #444;
    font-size: 20px;
    font-weight: 600;
    font-family: 'BMHANNAAir';
}

.prc-box-text p {
    color: #888;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.65;
    margin-top: 10px;
}


/*==================================================*/
