.bs-vertical {
    width: 1px;
    height: 50px;
    background-color: #aaa;
    margin-bottom: 2rem;
}

.bs-info p {
    color: #777;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 4rem;
}

.bs-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.bs-box {
    position: relative;
    overflow: hidden;
}

.bs-image {
    width: 600px;
    border-radius: 10px;
}

.bs-box p {
    position: absolute;
    bottom: 40px; left: 40px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    z-index: 10;
}

.bs-box::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.3) 100%);
}



/*==================================================*/
