.a2-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.a2-title {
    position: sticky;
    top: 120px;
    height: 300px;
    margin-top: 8rem;
}

.a2-title h5 {
    color: #222;
    font-size: 62px;
    line-height: 1.3;
}

.a2-title h5 span {
    color: var(--main-color);
    font-weight: 800;
}

.a2-title p {
    color: #777;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.65;
    margin-top: 2rem;
}

.a2-right {
    width: 45%;
}

.mySwiper {
    width: 100%;
}

.swiper-button-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 4rem;
}

.swiper-button-wrapper .swiper-button-prev,
.swiper-button-wrapper .swiper-button-next {
    position: static !important;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.swiper-button-wrapper .swiper-button-prev img,
.swiper-button-wrapper .swiper-button-next img {
    height: 18px;
    opacity: .4;
}


/*==================================================*/
@media (max-width: 1050px) {
    .a2-wrapper {
        flex-direction: column;
        gap: 5rem;
    }

    .a2-title {
        position: static;
        height: unset;
        padding: 0 6%;
        margin-top: 0;
    }

    .a2-right {
        width: 100%;
        padding: 0 5%;
    }
}


@media (max-width: 850px) {
    .a2-wrapper {
        gap: 3rem;
    }
    
    .a2-title h5 {
        font-size: 45px;
    }

    .a2-title p {
        font-size: 16px;
        margin-top: 1rem;
    }

    .swiper-button-wrapper {
        display: none;
    }
}


@media (max-width: 550px) {
    .a2-wrapper {
        gap: 2rem;
    }
    
    .a2-title {
        padding: 0 2%;
    }

    .a2-title h5 {
        font-size: 36px;
    }

    .a2-title p {
        font-size: 15px;
        font-weight: unset;
    }
    
    .a2-right {
        padding: 0 3%;
    }
}


@media (max-width: 450px) {
    .a2-title p br {
        display: none;
    }
}