.article8 {
    background: url(../images/a8-bg.jpg);
}

.a8-wrapper {
    width: 100%;
}

.a8-title h1 {
    font-size: 30px;
    margin-bottom: 3rem;
}

.a8-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.a8-box {
    position: relative;
    width: 33%;
    height: 192px;
    padding: 0 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #0b1d64;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
    cursor: pointer;
    overflow: hidden;
}

.a8-box img {
    width: 80px;
    height: auto;
    margin-bottom: .7rem;
    -webkit-filter: invert(83%) sepia(94%) saturate(24%) hue-rotate(297deg) brightness(113%) contrast(105%);
    filter: invert(83%) sepia(94%) saturate(24%) hue-rotate(297deg) brightness(113%) contrast(105%);
    -webkit-user-select: none;
    user-select: none;
    transition: transform .3s ease;
}

.a8-box:hover img {
    transform: scale(1.2);
}

.a8-box-text h1 {
    font-size: 22px;
    text-align: center;
}

.a8-box-text span {
    color:#ccc;
    font-size: 14px;
    line-height: 2;
}


/*==================================================*/
