.article4 {
    background: url(../images/a4-bg.jpg);
}

.a4-title {
    width: 100%;
    font-size: 30px;
    margin-bottom: 2rem;
}

.a4-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.a4-wrapper-2 {
    margin-top: 10rem;
}

.a4Btn-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.a4Btn {
    padding: 7px 14px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .07);
}

.a4Btn:hover {
    background-color: rgba(255, 255, 255, .1);
}

.a4Btn span {
    font-size: 13px;
}

.a4-box {
    width: 33%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
}

.a4-box h1 {
    font-size: 18px;
    margin-bottom: .3rem;
}

.a4-box p {
    font-size: 16px;
    line-height: 1.6;
}

.a4-box h4 {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    margin-top: .5rem;
}

.a4-box h3 {
    padding-left: 10px;
    margin: .5rem 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.6;
}

.a4-box-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-spacing: 0;
    table-layout: fixed;
    margin-top: .5rem;
}

.a4-box-table td {
    padding: .5em;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Pretendard';
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
    word-break: break-all !important;
    text-align: center;
}

.a4-box-table thead {
    background-color: rgba(255, 255, 255, .05);
}

.a4-notice {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, .4);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
    margin-top: 1rem;
}

.a4-notice p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}


/*==================================================*/
