.article6 {
    background: url(../images/a6-bg.jpg);
}

.a6-wrapper {
    width: 100%;
}

.a6-title {
    margin-bottom: 2rem;
}

.a6-title h1 {
    font-size: 30px;
    margin-bottom: .5rem;
}

.a6-title p {
    font-size: 18px;
    line-height: 1.6;
}

.a6-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.a6-box {
    position: relative;
    width: 33%;
    height: 220px;
    padding: 0 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #0b1d64;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
    transition: transform .3s ease;
    overflow: hidden;
}

.a6-box:last-child {
    background-color: #001e95;
}

.a6-box img {
    width: 80px;
    height: auto;
    margin-bottom: .7rem;
    -webkit-filter: invert(83%) sepia(94%) saturate(24%) hue-rotate(297deg) brightness(113%) contrast(105%);
    filter: invert(83%) sepia(94%) saturate(24%) hue-rotate(297deg) brightness(113%) contrast(105%);
    -webkit-user-select: none;
    user-select: none;
}

.a6-box:nth-child(3):hover {
    transform: scale(1.2);
}

.a6-box:nth-child(3) img {
    -webkit-filter: invert(82%) sepia(88%) saturate(4979%) hue-rotate(347deg) brightness(96%) contrast(107%);
    filter: invert(82%) sepia(88%) saturate(4979%) hue-rotate(347deg) brightness(96%) contrast(107%);
}

.a6-box-text h1 {
    font-size: 22px;
    text-align: center;
}

.a6-box-text p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-top: .5rem;
}

.a6-box-text p a:hover {
    color: var(--sub-color);
    text-decoration: underline;
}

.a6-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-spacing: 0;
    table-layout: fixed;
    margin-top: 3rem;
}

.a6-table td {
    padding: 1.1em;
    font-size: 17px;
    line-height: 1.4;
    font-family: 'Pretendard';
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
    word-break: break-all !important;
}

.a6-table thead {
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
}

.a6-table thead td {
    padding: 1em;
    font-size: 18px;
    font-weight: 700;
}

.a6-table tbody td {
    text-align: center;
}

.a6-table tbody td em {
    color: #ddd;
    font-size: 15px;
    line-height: 2;
    font-style: normal;
}

.a6-t-date {
    width: 120px;
    text-align: center;
}

.a6-t-center {
    text-align: center;
}

.a6-table-notice p {
    color: #aaa;
    font-size: 15px;
    text-align: right;
    margin-top: 1rem;
}

.a6-t-1 {
    background-color: rgba(255, 255, 255, .1);
    /* background-color: rgba(0, 255, 136, 0.07); */
}

.a6-t-2 {
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    /* background-color: rgba(251, 255, 0, 0.07); */
}

.a6-t-3 {
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    /* background-color: rgba(255, 0, 221, 0.07); */
}

.a6-t-4 {
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    /* background-color: rgba(0, 140, 255, 0.07); */
}



/*==================================================*/
