.article2 {
    background: url(../images/a2-bg.jpg);
}

.a2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
}

.a2-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'GmarketSans';
    letter-spacing: -0.04em;
}

.a2-text p {
    font-size: 18px;
    line-height: 1.6;
}

.a2-image {
    margin-top: 2rem;
}

.a2-ask-wrapper {
    width: 100%;
    padding: 20px;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .05);
}

.a2-asklist {
    padding-left: 20px;
    margin-top: .5rem;
}

.a2-asklist li {
    line-height: 1.5;
    list-style: disc;
}

.a2-asklist li a:hover {
    color: var(--sub-color);
    text-decoration: underline;
}


/*==================================================*/
