.floating,
.floating2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    transition: transform .3s ease;
    z-index: 999;
}

.floating {
    bottom: 40px; right: 40px;
}

.floating2 {
    bottom: 40px; left: 40px;
}

.registBtn {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    line-height: 70px;
    color: #fff;
    background: var(--main-color);
    -webkit-animation: pulseAnim 1.3s infinite;
    animation: pulseAnim 1.3s infinite;
    cursor: pointer;
}

.floating:hover, 
.floating2:hover {
    transform: scale(1.1);
}

.registBtn i {
    color: #fff;
    font-size: 32px;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
    -webkit-animation: none;
    animation: none;
}

.youtubeBtn {
    background: #f70000;
    -webkit-animation: pulseAnim2 1.3s infinite;
    animation: pulseAnim2 1.3s infinite;
}


@keyframes pulseAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 98, 255, 0.4);
	}
	70% {
		box-shadow: 0 0 0 15px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}

@keyframes pulseAnim2 {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
	}
	70% {
		box-shadow: 0 0 0 15px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}


/*==================================================*/
@media (max-width: 768px) {
    .floating {
        bottom: 20px; right: 20px;
    }
    
    .floating2 {
        bottom: 20px; left: 20px;
    }
    
    .registBtn {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .registBtn i {
        font-size: 25px;
    }
}