.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 999;
}

.gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.gnb-menu {
    display: flex;
    gap: 8rem;
}

.gnb-menu-item {
    padding: 35px 0;
}

.gnb-menu-item a {
    color: #fff;
    padding: 36px 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.Fixed {
    position: fixed;
    top: 0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, .5);
}

.actives {
    color: var(--sub-color) !important;
    border-bottom: 3px solid var(--sub-color);
}

.gnb-menu-item:hover a {
    color: var(--sub-color) !important;
}

.gnb-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.gnb-icon-wrapper a {
    display: flex;
    align-items: center;
    gap: 3px;
}

.gnb-icon-wrapper a p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.lang {
    width: 20px;
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(260deg) brightness(106%) contrast(105%);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(260deg) brightness(106%) contrast(105%);
}

.logo-w {
    width: 280px;
    padding-top: 3px;
}


/*==================================================*/
@media (max-width: 768px) {
    .header {
        height: 75px;
    }
}



@media (min-width: 1301px) {
    .header:hover {
        background-color: rgba(0, 0, 0, .5);
    }
}