.a5-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 7rem;
}

.a5-icon-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.a5-icons {
    display: flex;
    gap: 5rem;
}

.a5-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.a5-icon {
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #f1f9ff;
    border-radius: 10px;
    transition: transform .3s ease;
    cursor: pointer;
}

.a5-icon:hover {
    transform: scale(1.1);
    background-color: #e8f5ff;
}

.a5-icon i {
    color: #4fb7e4;
    font-size: 50px;
}

.a5-icon:hover i {
    color: #1ba0db;
}

.a5-text p {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}


.a5-wrapper-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a5-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a5-icon-group-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.a5-circle {
    width: 330px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f8f8f8;
}

.a5-circle p {
    color: #555;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1.3rem;
}




/*==================================================*/
@media (max-width: 1100px) {
    .a5-icon-group {
        gap: 2rem;
    }

    .a5-icons {
        gap: 2rem;
    }

    .a5-wrapper-2 {
        flex-direction: column;
        gap: 5rem;
    }
}


@media (max-width: 850px) {
    .a5-wrapper {
        gap: 2rem;
    }
    
    .a5-icon-group {
        flex-direction: column;
    }
}


@media (max-width: 450px) {
    .article5 {
        padding-bottom: 0 !important;
    }
      
    .a5-icon {
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
    }

    .a5-icon i {
        font-size: 40px;
    }

    .a5-text p {
        font-size: 15px;
    }

    .a5-wrapper-2 {
        gap: 0;
    }

    .a5-items {
        gap: 0;
    }

    .a5-items {
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    .a5-items:last-child {
        border-bottom: none;
    }

    .a5-icon-group-2 {
        padding-bottom: 40px;
    }
    
    .a5-circle {
        width: 100%;
        height: auto;
        padding: 20px 0;
        background-color: transparent;
    }

    .a5-circle img {
        width: 100px;
    }

    .a5-circle p {
        margin-top: .5rem;
    }
}
