.article3 {
    padding: 200rem 0;
    background: url(../images/a3-bg.png);
    background-attachment: fixed;
}

.a3-text {
    text-align: center;
}

.a3-text h5 {
    color: #fff;
    font-size: 50rem;
}

.a3-text p {
    color: #fff;
    font-size: 20rem;
    margin-top: 30rem;
}



/*==================================================*/
@media (max-width: 1024px) {
    
}