.article2 {
    background-color: var(--point-color);
}

.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.a2-box {
    padding: 50rem;
    border: 3px solid #000;
    background-color: #fff;
}

.a2-box-text span {
    color: #fff;
    padding: 2px 4px;
    font-size: 18rem;
    font-weight: 600;
    background-color: var(--main-color);
}

.a2-box-text h6 {
    font-size: 32rem;
    margin: 20rem 0;
}

.a2-box-text p {
    font-size: 21rem;
    font-weight: 500;
    line-height: 1.6;
}



/*==================================================*/
@media (max-width: 1024px) {
    
}