.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 80rem 0;
}

.footer-wrapper {
    width: 1400rem;
    display: flex;
    justify-content: space-between;
    gap: 50rem;
}

.fw-left {
    display: flex;
    align-items: center;
    gap: 80rem;
}

.logo-f {
    width: 200rem;
}

.footer-text p {
    color: #fff;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0;
}

.footer-text p+p {
    margin-top: 12px;
}

.fw-right {
    display: flex;
    gap: 12px;
}

.fw-right a {
    height: fit-content;
    color: #eee;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: all .2s;
}

.fw-right a img {
    height: 40px;
}

.fw-right a:hover {
    transform: translateY(-5px);
}


/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 1024px) {

}


@media (max-width: 768px) {

}