.promotion {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background: url(../images/hero.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-wrapper {
    width: 1400rem;
}

.p-text {
    margin-top: 50rem;
}

.p-text h5 {
    color: #fff;
    font-size: 45rem;
    font-weight: 700;
}
.p-text h5 span {
    color: #000;
    padding: 0 6px;
    font-weight: 800;
    background-color: var(--point-color);
}

.p-text p {
    color: #ddd;
    font-size: 18rem;
    line-height: 1.5;
    margin-top: 30rem;
}

.p-text p b {
    display: block;
    margin-bottom: 10px;
}



/*==================================================*/
@media (max-width: 1450px) {
    .promotion-wrapper {
        width: 90%;
    }
}