.article11 {
    padding: 80px 0;
    background-color: #000;
}

.a11-wrapper {
    width: 100%;
}

.a11-title {
    margin-bottom: 3rem;
}

.a11-text p {
    width: 940px;
    color: #ddd;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.65;
}

.a11-bottom {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}


/*==================================================*/
