.article8 {
    padding-top: 80px;
    background: url(../images/a8-bg.jpg);
}

.a8-title {
    margin-bottom: 5rem;
}

.a8-box-wrapper {
    width: 850px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.a8-box {
    position: relative;
    width: 100%;
}

.a8-box img:first-child {
    width: 100%;
}

.a8-free {
    position: absolute;
    bottom: 25px; left: 50%;
    transform: translate(-50%, 0) rotate(-7deg);
    height: 150px;
    z-index: 20;
}



/*==================================================*/
