.article10 {
    padding-bottom: 180px;
    background: url(../images/a7-bg.jpg);
    background-position: bottom !important;
    margin-bottom: -1px;
}

.a10-title {
    margin-bottom: 4rem;
}

.a10-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.a10-box {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    border: 2px solid #ddd;
    background-color: #fff;
    cursor: default;
}

.a10-box:hover {
    border: 2px solid var(--main-color);
}

.a10-box p {
    color: #555;
    font-size: 18px;
    line-height: 1.65;
}


/*==================================================*/
