.article7 {
    padding-bottom: 180px;
    background: url(../images/a7-bg.jpg);
    background-position: bottom !important;
    margin-bottom: -1px;
}

.a7-title {
    margin-bottom: 2rem;
}

.a7-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-spacing: 0;
    table-layout: fixed;
}

.a7-top {
    width: 100%;
    color: #aaa;
    font-size: 15px;
    text-align: right;
    margin-bottom: 5px;
}

.a7-table thead {
    border-top: 2px solid #333;
}

.a7-table thead td {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-right: 1px solid #555;
    background-color: #111;
}

.a7-table tr:hover {
    background-color: #f5f5f5;
}

.a7-table td {
    padding: 15px 0;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    word-break: break-all !important;
    white-space: nowrap;
}

.a7-table tr td:first-child {
    width: 250px;
    padding-right: 20px;
    text-align: right;
}

.a7-table .tr-total {
    font-weight: 700;
    border: 2px solid #222;
    background-color: #f2f2f2 !important;
}

.a7-table .tr-income {
    color: #640e14;
    font-weight: 700;
    background-color: #fff2f3 !important;
    border: 5px solid var(--main-color);
}

.a7-table .tr-income td {
    font-size: 28px;
}

.a7-circle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin: 4rem 0;
}

.a7-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
}

.a7-bottom {
    text-align: center;
}

.a7-bottom h4 {
    color: #222;
    font-size: 45px;
    font-weight: unset;
    font-family: 'twaysky';
    letter-spacing: -0.0625em;
    line-height: 1.5;
}

.a7-bottom p {
    color: #888;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.65;
    margin-top: 2rem;
}


/*==================================================*/
@media (max-width: 850px) {
    .a7-title {
        width: 75%;
    }

    .a7-table tr td:first-child {
        width: 120px;
    }
}


@media (max-width: 650px) {
    .article7 {
        padding-bottom: 120px;
    }
    
    .a7-table thead td {
        font-size: 15px;
    }
    
    .a7-table td {
        padding: 12px 0;
        font-size: 14px;
    }

    .a7-table tr:hover {
        background-color: transparent;
    }

    .a7-table .tr-income {
        border: 3px solid var(--main-color);
    }

    .a7-table .tr-income td {
        font-size: 16px;
    }

    .a7-circle-wrapper {
        gap: 1rem;
        margin: 2rem 0;
    }

    .a7-circle {
        width: 6px;
        height: 6px;
    }
    
    .a7-bottom h4 {
        font-size: 28px;
    }

    .a7-bottom p {
        font-size: 16px;
        margin-top: 1rem;
    }
}


@media (max-width: 550px) {
    .a7-table thead td {
        font-size: 13px;
    }

    .a7-table tr td:first-child {
        width: 80px;
        padding-right: 7px;
    }

    .a7-table .tr-income td {
        font-size: 13px;
    }

    .a7-circle-wrapper {
        gap: 12px;
    }
    
    .a7-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .a7-bottom p {
        width: 90%;
        font-size: 12px;
    }

    .a7-bottom p br {
        display: none;
    }
}


@media (max-width: 450px) {
    .article7 {
        padding-bottom: 80px;
    }
    
    .a7-title {
        margin-bottom: 1rem;
    }

    .a7-table thead td {
        font-size: 12px;
    }

    .a7-table td {
        padding: 10px 0;
        font-size: 11px;
    }

    .a7-bottom h4 {
        font-size: 24px;
    }
}