.article8 {
    padding-top: 80px;
    background: url(../images/a8-bg.jpg);
}

.a8-title {
    margin-bottom: 5rem;
}

.a8-box-wrapper {
    width: 850px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.a8-box {
    position: relative;
    width: 100%;
}

.a8-box img:first-child {
    width: 100%;
}

.a8-free {
    position: absolute;
    bottom: 10px; left: 18%;
    width: 250px;
    z-index: 20;
}

.a8-100 {
    left: 3%;
    width: 400px;
}

.a8-bottom {
    color: #fff;
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
    margin-top: 5rem;
}


/*==================================================*/
@media (max-width: 900px) {
    .a8-title {
        width: 75%;
    }
    
    .a8-box-wrapper {
        width: 100%;
    }

    .a8-free {
        width: 62%;
    }

    .a8-100 {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .article8 {
        padding-top: 40px;
    }
    
    .a8-bottom {
        font-size: 18px;
        margin-top: 3rem;
    }
}


@media (max-width: 650px) {
    .a8-box-wrapper {
        gap: 1rem;
    }
}


@media (max-width: 550px) {
    .a8-title {
        margin-bottom: 3rem;
    }
    
    .a8-bottom {
        font-size: 14px;
        margin-top: 2rem;
    }
    
    .a8-bottom br {
        display: none;
    }
}