.popup-wrapper {
    width: 100%;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.popup-0 {
    top: 150px; left: 50%;
    transform: translate(-50%, 0);
}

.image-wrapper {
    background-color: #000;
}

.button-area {
    width: 100%;
    padding: 5px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background-color: #000;
}

.button-area p {
    font-size: 13px;
}

.closeBtn {
    color: #fff;
    border: none;
    outline: none;
    padding: 2px 4px;
    background-color: transparent;
    cursor: pointer;
}



/*========================================================*/
@media (max-width: 970px) {    
    .button-area p {
        font-size: 11px;
    }
}


@media (max-width: 550px) {
    .popup {
        width: 90%;
    }
}