.article.promotion {
    position: relative;
    width: 100%;
    height: calc(100vh - 220px);
    background: url(../images/hero.jpg);
    transition: all .3s;
    overflow: hidden;
    margin-top: 220px;
}

.fork {
    position: absolute;
    bottom: 0; left: -50px !important;
    width: 360px;
}

.promotion-wrapper {
    width: 1200px;
}

.p-text {
    width: 530px;
}

.p-text h5 {
    color: var(--main-color);
    font-size: 75px;
    line-height: 1.35;
    font-weight: unset;
    font-family: 'LOTTERIADDAG';
}

.p-text h5 span {
    color: #fff;
    padding: 0 14px;
    padding-top: 3px;
    font-size: 86px;
    font-family: 'LOTTERIADDAG';
    background-color: #111;
}

.p-text h5 span:nth-child(1) {
    background-color: var(--main-color);
}

.p-text h5 span:nth-child(2) {
    background-color: #111;
}

.p-text p {
    color: #555;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 2rem;
}

.p-text p span {
    position: relative;
    color: var(--main-color);
    font-weight: 800;
}

.p-text p span:after {
    content: '';
    position: absolute;
    bottom: -8px; left: 0;
    width: 222px;
    height: 42px;
    background: url(../images/line.png) no-repeat;
}

.p-image {
    position: absolute;
    top: 50%; right: -120px;
    transform: translate(0, -50%);
}



/*==================================================*/
@media (max-height: 1050px) {
    .article.promotion {
        height: 900px;
    }
}


@media (min-width: 2250px) {
    .article.promotion {
        height: calc(100vh - 260px);
        margin-top: 260px;
    }
    
    .fork {
        left: -130px;
        width: 600px;
    }
    
    .p-image {
        right: 160px;
    }
}


@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}