.article {
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-color: #03081b;
    padding: 80px 0;
}

.article-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.article-title h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: .3rem;
}

.title-line {
    width: 60px;
    height: 2px;
    display: flex;
    background-color: #fff;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .article {
        padding: 40px 0;
    }

    .article-title {
        margin-bottom: 2rem;
    }
    
    .article-title h1 {
        font-size: 24px;
    }
}