.article3 {
    position: relative;
}

.phone {
    animation: updown 1s infinite ease-in-out;
}

.a3-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a3-wrapper h2 {
    font-size: 23px;
    font-weight: 700;
}

.a3-wrapper h1 {
    font-size: 55px;
}

.a3-wrapper p {
    color: #ddd;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.a3-arrow {
    display: flex;
    flex-direction: column;
}

.a3-arrow ion-icon {
    color: #fff;
    font-size: 50px;
    margin-top: 5rem;
    animation: upDown 1.5s ease-in-out infinite;
}


@keyframes updown {
    0% {transform:translateY(0);}
    10% {transform:translateY(-5px);}
    20% {transform:translateY(0);}
    30% {transform:translateY(-5px);}
    40% {transform:translateY(0);}
    100% {transform:translateY(0);}
}


@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}


/*==================================================*/
@media (max-width: 500px) {
    .phone {
        width: 100px;
    }

    .a3-wrapper h2 {
        font-size: 18px;
    }

    .a3-wrapper h1 {
        font-size: 40px;
    }

    .a3-wrapper p {
        font-size: 15px;
    }
}