.form-wrapper {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    margin-top: .5rem;
    z-index: 2;
}

.form-wrapper .inputbox {
    color: #fff;
    width: 100%;
    height: 52px;
    padding: 10px 19px;
    margin: .5rem 0;
    font-size: 15px;
    font-family: 'Pretendard';
    outline: none;
    border: none;
    background-color: #12183180;
    border-radius: 8px;
    transition: all .3s;
}

.form-wrapper .inputbox:hover {
    background-color: #1b244990;
}

.form-wrapper .inputbox:focus {
    background-color: #1b244990;
}

input::placeholder {
    color: #bbb;
}

.submitBtn {
    float: right;
    color: #fff;
    width: 200px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Pretendard';
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    margin-top: .5rem;
}

.submitBtn:disabled {
    cursor: not-allowed;
    background-color: #aaa;
}



/*=============================================================*/
@media (max-width: 900px) {
    .form-wrapper {
        width: 100%;
    }
}


@media (max-width: 500px) {
    input::placeholder {
        color: #888;
    }

    .submitBtn {
        width: 170px;
        font-size: 14px;
    }
}