.article1 {
    position: relative;
    padding: 0;
    z-index: 1;
}
.article1::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, #fff, transparent);
    z-index: 2;
}

.cloud {
    position: absolute;
    top: -50px;
    left: 10%;
    width: 80%;
    animation: flowLeft 60s linear infinite;
    user-select: none;
    z-index: 2;
}

@keyframes flowLeft {
    from {
        left: 10%;
    }

    to {
        left: -300px;
    }
}

.sky {
    position: relative;
    width: 100%;
    user-select: none;
    z-index: 1;
}

.article1 .article-wrapper {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.a1-text+.a1-text {
    margin-top: 40%;
}

.a1-text h6 {
    color: #fff;
    font-size: 36px;
    line-height: 1.3;
}

.a1-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 20px;
}

.a1-text.top {
    margin-left: -30%;
}

.a1-text.mid {
    text-align: center;
}


/*==================================================*/
@media (max-width: 1024px) {
    
}