.article7 {
    height: 100vh;
    background: url(../images/a7-bg.jpg);
}

.a7-wrapper {
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .1);
}

.a7-wrapper p {
    color: var(--main-color);
    font-size: 35px;
}

.a7-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.a7-title .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-animation: pulseAnim 1.3s infinite;
    animation: pulseAnim 1.3s infinite;
}

.a7-title h1 {
    color: var(--main-color);
    font-size: 65px;
}

.a7-wrapper h2 {
    color: #d9d9d9;
    font-size: 85px;
    margin-top: 1rem;
}


/*==================================================*/
@media (max-width: 850px) {
    .article7 {
        height: auto;
    }
    
    .a7-wrapper {
        padding: 80px 20px;
    }
    
    .a7-wrapper p {
        font-size: 25px;
    }
    
    .a7-title {
        gap: 10px;
    }
    
    .a7-title .circle {
        width: 20px;
        height: 20px;
    }
    
    .a7-title h1 {
        font-size: 45px;
    }
    
    .a7-wrapper h2 {
        font-size: 55px;
    }
}


@media (max-width: 550px) {
    .a7-wrapper {
        padding: 40px 10px;
        gap: 1rem;
    }
    
    .a7-wrapper p {
        color: #d9d9d9;
        font-size: 18px;
    }

    .a7-title .circle {
        width: 12px;
        height: 12px;
    }

    .a7-title h1 {
        font-size: 30px;
    }

    .a7-wrapper h2 {
        font-size: 35px;
    }
}