.article10 {
    background-color: #4e4e4e;
}

.a10-wrapper {
    text-align: center;
    margin-top: 5rem;
}

.a10-wrapper h1 {
    color: #c9c9c9;
    font-size: 55px;
}

.a10-wrapper p {
    color: #dadada;
    font-size: 30px;
    line-height: 1.8;
    margin-top: 2rem;
}

.a10-wrapper p span {
    color: #84684f;
    padding: 4px 7px;
    font-weight: 700;
    border-radius: 7px;
    background-color: #1c1c1c;
}


/*==================================================*/
@media (max-width: 768px) {
    .a10-wrapper h1 {
        font-size: 45px;
    }

    .a10-wrapper p {
        font-size: 24px;
    }
}


@media (max-width: 450px) {
    .a10-wrapper h1 {
        font-size: 35px;
    }

    .a10-wrapper p {
        font-size: 18px;
    }
}