.article3 {
    position: relative;
}

.a3-bg {
    position: absolute;
    top: -50px;
    width: 100%;
    mix-blend-mode: exclusion;
    z-index: 3;
}

.article3 .article-wrapper {
    width: 100%;
}

.a3Swiper {
    width: 100%;
}

.a3Swiper .swiper-wrapper {
    padding-bottom: 40px;
}

.a3Swiper .swiper-slide {
    height: 500px;
    padding: 60px;
    border-radius: 30px;
}

.a3Swiper .ss-1 {
    background: url(../images/a3-1.jpg) no-repeat;
    background-size: cover;
}
.a3Swiper .ss-2 {
    background: url(../images/a3-2.jpg) no-repeat;
    background-size: cover;
}
.a3Swiper .ss-3 {
    background: url(../images/a3-3.jpg) no-repeat;
    background-size: cover;
}

.a3Swiper .swiper-slide .ss-text {
    color: #fff;
}

.a3Swiper .swiper-slide .ss-text h5 {
    font-size: 36px;
}

.a3Swiper .swiper-slide .ss-text p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 1.5rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article3 .article-wrapper {
        padding: 0;
    }
}


@media (max-width: 650px) {
    .article3 .article-wrapper {
        padding: 0 20px;
    }

    .a3Swiper .swiper-slide {
        height: 250px;
        padding: 40px;
        display: flex;
        align-items: flex-end;
    }

    .a3Swiper .swiper-slide .ss-text h5 {
        font-size: 32px;
    }
    
    .a3Swiper .swiper-slide .ss-text p {
        font-size: 18px;
        margin-top: 1.2rem;
    }

    .a3Swiper .swiper-slide .ss-text p br {
        display: none;
    }
}


@media (max-width: 550px) {
    .a3-bg {
        top: 0;
    }
    
    .a3Swiper .swiper-slide {
        height: 200px;
        padding: 30px;
    }
    
    .a3Swiper .swiper-slide .ss-text h5 {
        font-size: 24px;
    }
    
    .a3Swiper .swiper-slide .ss-text p {
        font-size: 15px;
        margin-top: 1rem;
    }
}