.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.a2-box-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.a2-box {
    padding: 40px;
    display: flex;
    align-items: flex-end;
    border-radius: 30px;
    overflow: hidden;
}

.a2-box-1 {
    background: url(../images/a2-1.jpg) no-repeat;
    background-position: center;
    background-size: 110%;
}
.a2-box-2 {
    background: url(../images/a2-2.jpg) no-repeat;
    background-position: center;
    background-size: 110%;
}
.a2-box-3 {
    background: url(../images/a2-3.jpg) no-repeat;
    background-position: center;
    background-size: 110%;
}
.a2-box-4 {
    background: url(../images/a2-4.jpg) no-repeat;
    background-position: center;
    background-size: 110%;
}

.a2-box:hover {
    transition: background-size .6s !important;
    background-size: 115%;
}

.a2-box-text {
    margin-top: 8rem;
    z-index: 10;
}

.a2-box-text h5 {
    color: #fff;
    font-size: 26px;
}

.a2-box-text p {
    font-size: 13px;
    line-height: 1.45;
    margin-top: 10px;
}

.a2-box-1 .a2-box-text h5,
.a2-box-1 .a2-box-text p {
    color: #000;
}
.a2-box-3 .a2-box-text h5,
.a2-box-4 .a2-box-text h5,
.a2-box-3 .a2-box-text p,
.a2-box-4 .a2-box-text p {
    color: #1e6dff;
}

.a2Swiper {
    display: none !important;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a2-box {
        background-size: cover !important;
    }
}


@media (max-width: 950px) {
    .article2 .article-wrapper {
        padding: 0;
    }

    .a2-box-wrapper {
        display: none;
    }

    .a2Swiper {
        width: 100%;
        display: block !important;
    }

    .a2Swiper .swiper-wrapper {
        padding-bottom: 40px;
    }

    .a2Swiper .swiper-slide {
        height: 664px;
    }

    .a2Swiper .a2-box-group {
        display: flex;
        flex-direction: column;
    }

    .a2Swiper .a2-box-group .a2-box {
        flex: 1;
    }
}


@media (max-width: 650px) {
    .article2 .article-wrapper {
        padding: 0 20px;
    }
}


@media (max-width: 550px) {
    .a2Swiper .swiper-slide {
        height: 664px;
    }

    .a2-box {
        padding: 30px;
    }
}