.a5-box-wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.a5-box-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
}

.a5-box-group:last-child {
    margin-top: 2rem;
    z-index: 3;
}

.a5-box {
    color: #a7accb;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    padding: 30px 50px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to bottom, #0d0f1590 0%, #26336690 100%);
}

.a5-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a5-bar {
    margin-top: -12%;
    margin-bottom: -5%;
}

.a5-man {
    position: absolute;
    top: -51%;
    width: 25%;
    z-index: 2;
}



/*==================================================*/
@media (max-width: 1250px) {
    .a5-text {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 1150px) {
    .a5-man {
        top: -48%;
    }
}


@media (max-width: 850px) {
    .a5-box-wrapper {
        gap: 3rem;
    }
    
    .a5-box {
        font-size: 15px;
        padding: 20px;
        border-radius: 20px;
    }
}


@media (max-width: 650px) {
    .a5-box-group {
        gap: 1rem;
    }

    .a5-box {
        font-size: 13px;
        padding: 18px;
    }
}


@media (max-width: 550px) {
    .a5-box-wrapper {
        gap: 2rem;
    }

    .a5-box {
        font-size: 11px;
        padding: 15px;
    }
}