.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.article-wrapper {
    color: rgba(255, 255, 255, .8);
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.article-title {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.35;
    text-align: center;
    margin-bottom: 4rem;
}



/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .article {
        padding: 50px 0;
    }

    .article-title {
        font-size: 40px;
        margin-bottom: 3rem;
    }
}


@media (max-width: 550px) {
    .article-title {
        width: 90%;
        font-size: 32px;
        margin-bottom: 2rem;
    }

    .article-title br {
        display: none;
    }
}