.article2 {
    position: relative;
}

.a2-bg {
    position: absolute;
    top: -150px; left: 0;
}

.a2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.a2-title {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-top: 3rem;
}

.a2-box-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow: hidden;
}

.a2-box-wrapper::before {
    content: '';
    position: absolute;
    top: 0; right: 230px;
    width: 50%;
    height: 100%;
    background: linear-gradient(-110deg, #000 0%, transparent 60%);
}

.a2-box-wrapper::after {
    content: '';
    position: absolute;
    top: 0; right: 230px;
    width: 50%;
    height: 100%;
    background: linear-gradient(-110deg, #000 0%, transparent 60%);
}

.a2-box h5 {
    color: #fff;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
}

.a2-box h5 input {
    color: #fff;
    font-size: 85px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: transparent;
}

.a2-box p {
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    margin-top: 1rem;
}


/*==================================================*/
@media (max-width: 1350px) {
    .a2-box-wrapper::before,
    .a2-box-wrapper::after {
        right: 0;
        width: 100%;
    }
}


@media (max-width: 950px) {
    .a2-box-wrapper {
        gap: 3rem;
    }
    
    .a2-box h5,
    .a2-box h5 input {
        font-size: 75px;
    }
}


@media (max-width: 850px) {
    .a2-bg {
        top: -700px;
    }
    
    .a2-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .a2-title {
        margin-top: 0;
    }

    .a2-box-wrapper {
        width: 400px;
    }
}


@media (max-width: 550px) {
    .a2-box-wrapper {
        width: 90%;
    }
    
    .a2-box h5,
    .a2-box h5 input {
        font-size: 55px;
    }
}


@media (max-width: 450px) {
    .a2-wrapper {
        gap: 3rem;
    }
    
    .a2-title {
        font-size: 32px;
    }

    .a2-box-wrapper {
        gap: 1.5rem;
    }

    .a2-box p {
        margin-top: 10px;
    }
}