.article6 {
    position: relative;
}

.a6-bg {
    position: absolute;
    top: 330px; right: 0;
}

.a6-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem 4rem;
}

.a6-box {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*==================================================*/
@media (max-width: 1920px) {
    .a6-bg {
        height: 100%;
    }
}


@media (max-width: 950px) {
    .a6-bg {
        top: unset;
        bottom: -100%;
    }
}


@media (max-width: 650px) {
    .a6-box-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .a6-box {
        width: 100%;
    }
}