.article5 {
    position: relative;
}

.a5-bg {
    position: absolute;
    top: -30px; left: 0;
}

.article5 .article-title {
    font-family: 'Pretendard';
}

.article5 .article-wrapper {
    overflow: hidden;
}

.a5-box-wrapper {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}

.a5-box {
    padding: 30px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
}


/*==================================================*/
@media (max-width: 1920px) {
    .a5-bg {
        width: 75%;
    }
}


@media (max-width: 1350px) {
    .a5-bg {
        top: 40%;
    }
    
    .a5-box-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 850px) {
    .a5-bg {
        width: 90%;
    }
    
    .a5-chart {
        width: 90%;
    }
}


@media (max-width: 550px) {    
    .a5-bg {
        width: 100%;
    }
    
    .a5-chart {
        width: 100%;
    }

    .a5-box-wrapper {
        width: 100%;
    }

    .a5-box {
        padding: 20px;
        border-radius: 20px;
    }
}