.a7-box-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.a7-box {
    padding: 30px 80px;
    border-radius: 30px;
    background-color: #171717;
    text-align: center;
}

.a7-box h5 {
    color: #717171;
    font-size: 22px;
}

.a7-box p {
    color: #666;
}

.a7-box:first-child {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(0, 0, 0, .7);
}

.a7-box:first-child h5 {
    color: #fff;
}

.a7-box:first-child p {
    color: rgba(255, 255, 255, .7);
}


/*==================================================*/
