.a7-box-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.a7-box {
    padding: 30px 80px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .07);
    text-align: center;
}

.a7-box h5 {
    color: rgba(255, 255, 255, .5);
    font-size: 22px;
}

.a7-box p {
    color: rgba(255, 255, 255, .5);
}

.a7-box:first-child {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(0, 0, 0, .7);
}

.a7-box:first-child h5 {
    color: #fff;
}

.a7-box:first-child p {
    color: rgba(255, 255, 255, .7);
}


/*==================================================*/
@media (max-width: 950px) {
    .a7-box-wrapper {
        width: 100%;
    }

    .a7-box {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 550px) {
    .a7-box-wrapper {
        gap: 1rem;
    }

    .a7-box {
        padding: 20px 10px;
        border-radius: 20px;
    }
    
    .a7-box h5 {
        font-size: 17px;
    }
}