.article5 {
    background: url(../images/a5-bg.jpg) no-repeat;
}

.a5-title {
    width: 100%;
    color: #222;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.a5-title span {
    color: var(--main-color);
    font-weight: 800;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a5-left {
    width: 420px;
    display: flex;
    flex-direction: column;
}

.a5-left li {
    width: 100%;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    letter-spacing: -0.01em;
    transition: all .3s ease;
    cursor: pointer;
}

.a5-left li:hover {
    background-color: #f2f2f2;
}

.a5-left li.on {
    color: #fff;
    font-weight: 700;
    background-color: var(--main-color);
}


.a5-right {
    width: 100%;
}

.a5-box {
    display: none;
}

.a5-box.on {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

.a5-box-num {
    position: absolute;
    top: 30%; right: 40px;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 180px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-shadow: 0 0 20px rgba(0, 0, 0, .5);
    letter-spacing: -0.02em;
    opacity: .1;
    z-index: 1;
}

.a5-box-image {
    height: 425px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transition: transform .3s ease;
    z-index: 2;
}

.a5-box-image:hover {
    transform: scale(1.05);
}

.a5-box-text {
    width: 330px;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
}

.a5-box-text h5 {
    color: #fff;
    font-size: 36px;
}

.a5-box-text ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    margin-top: 12px;
}

.a5-box-text ul li {
    color: #fff;
    font-size: 20px;
    list-style: disc;
    margin-top: 12px;
}


/*==================================================*/
@media (max-width: 1450px) {
    .a5-title {
        margin-bottom: 3rem;
    }
    
    .a5-wrapper {
        flex-direction: column;
        gap: 4rem;
    }

    .a5-left {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;
    }

    .a5-left li {
        gap: 10px;
    }
}


@media (max-width: 1150px) {
    .article5 {
        padding-bottom: 0;
    }

    .article5 .article-wrapper {
        padding: 0;
    }

    .a5-title,
    .a5-left {
        padding: 0 20px;
    }
    
    .a5-box.on {
        height: 450px;
        padding: 40px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: unset;
    }

    .a5-box-num {
        top: -30px; right: unset;
        left: -30px;
        font-size: 222px;
        transform: unset;
        opacity: .07;
    }

    .a5-box-image {
        position: absolute;
        top: -50px; right: 30px;
        width: 60%;
        height: unset;
        box-shadow: none;
    }
}


@media (max-width: 768px) {
    .a5-title {
        font-size: 28px;
    }
    
    .a5-left li {
        padding: 18px 15px;
        font-size: 18px;
    }
    
    .a5-box.on {
        height: 300px;
    }
    
    .a5-box-num {
        top: 0;
        font-size: 140px;
        text-shadow: 0 0 12px rgba(0, 0, 0, .3);
    }

    .a5-box-image {
        right: 20px;
    }

    .a5-box-text h5 {
        font-size: 24px;
    }

    .a5-box-text ul {
        gap: 3px;
    }
    
    .a5-box-text ul li {
        font-size: 15px;
    }
}


@media (max-width: 550px) {
    .a5-title {
        font-size: 22px;
        margin-bottom: 2rem;
    }

    .a5-wrapper {
        gap: 3rem;
    }

    .a5-left {
        gap: 0;
    }
    
    .a5-left li {
        padding: 14px 12px;
        font-size: 15px;
    }

    .a5-box.on {
        height: auto;
        padding: 30px 20px;
    }

    .a5-box-num {
        top: unset; left: unset;
        bottom: -10px; right: -10px;
        font-size: 180px;
    }
    
    .a5-box-image {
        position: unset;
        width: 100%;
        margin-top: -3rem;
        margin-bottom: 1rem;
    }

    .a5-box-image:hover {
        transform: scale(1);
    }
    
    .a5-box-text {
        width: unset;
        padding-top: 0;
    }
    
    .a5-box-text h5 {
        font-size: 20px;
    }
}


@media (max-width: 450px) {
    .a5-title {
        font-size: 18px;
        margin-bottom: 1.5rem;
    }

    .a5-wrapper {
        gap: 2.5rem;
    }
    
    .a5-left li {
        padding: 12px 10px;
        font-size: 14px;
    }

    .a5-box-image {
        top: -30px;
    }
}