.a6-wrapper {
    width: 100%;
}

.mySwiper3 {
    position: relative;
    width: 100%;
}

.mySwiper3 .swiper-slide {
    width: 100%;
    height: 600px;
    padding: 0 20px;
    background-color: #fff;
}

.mySwiper3 .swiper-button-wrapper {
    position: absolute;
    bottom: 0; left: 10px;
    width: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.mySwiper3 .swiper-button-prev,
.mySwiper3 .swiper-button-next {
    position: unset !important;
    color: var(--main-color);
    font-size: 30px;
}

.mySwiper3 .swiper-slide {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}


.ss-left {
    position: relative;
    width: 600px;
    height: 400px;
    padding: 40px 0;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
    transform: translateY(30px);
    transition: all 1s ease;
    transition-delay: .3s;
    opacity: 0;
    z-index: 2;
}

.mySwiper3 .swiper-slide-active .ss-left {
    transform: translateY(0);
    opacity: 1;
}

.ss-l-title {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 1.2rem;
}

.ss-l-title span {
    color: var(--main-color);
    font-size: 17px;
    font-weight: 800;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #fff;
}

.ss-l-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
}

.ss-l-list li {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    list-style: disc;
}

.result-tag {
    position: relative;
    position: absolute;
    top: 0; right: -140px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 140px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.result-tag::after {
    content: '';
    position: absolute;
    top: 7px; right: -16px;
    width: 32px;
    height: 32px;
    background-color: var(--main-color);
    transform: rotate(45deg);
}

.ss-right {
    position: relative;
    position: absolute;
    bottom: 0; right: 0;
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #eee;
    z-index: 1;
}

.ss-r-title {
    position: absolute;
    top: 30px; right: 30px;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.ss-r-graph-wrapper {
    display: flex;
    gap: 3rem;
    margin-right: 100px;
}

.ss-r-graph-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ss-r-graph {
    height: 300px;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    border-bottom: 1px solid #bbb;
}

.ss-r-bar {
    width: 50px;
    height: 0;
    background-color: #aaa;
    transition: all 1s ease;
    transition-delay: .3s;
}

.mySwiper3 .swiper-slide-active .ssrb-7 {
    height: 7%;
}
.mySwiper3 .swiper-slide-active .ssrb-15 {
    height: 15%;
}
.mySwiper3 .swiper-slide-active .ssrb-18 {
    height: 18%;
}
.mySwiper3 .swiper-slide-active .ssrb-28 {
    height: 28%;
}
.mySwiper3 .swiper-slide-active .ssrb-30 {
    height: 30%;
}
.mySwiper3 .swiper-slide-active .ssrb-36 {
    height: 36%;
}
.mySwiper3 .swiper-slide-active .ssrb-42 {
    height: 42%;
}
.mySwiper3 .swiper-slide-active .ssrb-48 {
    height: 48%;
}
.mySwiper3 .swiper-slide-active .ssrb-50 {
    height: 50%;
}
.mySwiper3 .swiper-slide-active .ssrb-52 {
    height: 52%;
}
.mySwiper3 .swiper-slide-active .ssrb-55 {
    height: 55%;
}
.mySwiper3 .swiper-slide-active .ssrb-70 {
    height: 70%;
}
.mySwiper3 .swiper-slide-active .ssrb-77 {
    height: 77%;
}
.mySwiper3 .swiper-slide-active .ssrb-80 {
    height: 80%;
}
.mySwiper3 .swiper-slide-active .ssrb-82 {
    height: 82%;
}
.mySwiper3 .swiper-slide-active .ssrb-85 {
    height: 85%;
}
.mySwiper3 .swiper-slide-active .ssrb-88 {
    height: 88%;
}
.mySwiper3 .swiper-slide-active .ssrb-95 {
    height: 95%;
}
.mySwiper3 .swiper-slide-active .ssrb-96 {
    height: 96%;
}


.ss-r-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ss-r-info p {
    color: #222;
    font-size: 17px;
    font-weight: 700;
}

.ss-r-info h5 {
    font-size: 22px;
}

.ss-r-info h5 span {
    font-size: 36px;
    font-weight: 800;
}


/*==================================================*/
