.article1 {
    background: url(../images/a1-bg.jpg) no-repeat;
}

.a1-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.a1-text h5 {
    width: 600px;
    color: #222;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.5;
}

.a1-text h5 span {
    color: var(--main-color);
    font-size: 85px;
    font-weight: 800;
}

.a1-text p {
    width: 750px;
    color: #333;
    font-size: 32px;
    font-weight: 400;
    line-height: 2.2;
    padding-top: 2rem;
}

.a1-text p b {
    color: #333;
    font-weight: 700;
}


/*==================================================*/
@media (max-width: 1450px) {
    .a1-text {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }

    .a1-text p {
        width: 100%;
    }

    .a1-text p br {
        display: none;
    }
}


@media (max-width: 768px) {
    .article1 {
        padding: 80px 0;
    }
    
    .a1-text h5 {
        font-size: 35px;
    }

    .a1-text h5 span {
        font-size: 55px;
    }

    .a1-text p {
        font-size: 22px;
    }
}


@media (max-width: 450px) {
    .a1-text h5 {
        font-size: 28px;
    }

    .a1-text h5 span {
        font-size: 45px;
    }

    .a1-text p {
        font-size: 18px;
        line-height: 1.8;
        padding-top: 1rem;
    }
}