.article2 {
    background: url(../images/a2-bg.jpg) no-repeat;
}

.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.a2-box {
    height: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 3%);
}

.a2-box p {
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 700;
}

.a2-box-text {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.a2-box-text h5 {
    color: var(--main-color);
    font-size: 85px;
    font-weight: 800;
}

.a2-box-text span {
    color: var(--main-color);
    font-size: 65px;
    font-weight: 800;
    padding-bottom: 5px;
}


/*==================================================*/
@media (max-width: 1150px) {
    .a2-box-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    .a2-box {
        height: 200px;
        gap: 1rem;
    }
    
    .a2-box p {
        font-size: 20px;
    }

    .a2-box-text h5 {
        font-size: 55px;
    }

    .a2-box-text span {
        font-size: 35px;
    }
}


@media (max-width: 550px) {
    .a2-box-wrapper {
        gap: 10px;
    }
    
    .a2-box {
        height: 160px;
    }
    
    .a2-box p {
        font-size: 14px;
    }

    .a2-box-text h5 {
        font-size: 36px;
    }

    .a2-box-text span {
        font-size: 28px;
        padding-bottom: 0;
    }
}