.floating {
    position: relative;
    position: fixed;
    top: 50%; right: -370px;
    transform: translate(0, -50%);
    transition: all .3s ease;
    z-index: 97;
}

.show {
    right: 0;
}

.floating .ff-open {
    position: absolute;
    top: 0; left: -100px;
    width: 100px;
    height: 140px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--sub-color);
    cursor: pointer;
}

.floating .ff-open i {
    font-size: 28px;
    font-weight: 300;
}

.floating .ff-open i.moving {
    animation: arrowing 1s infinite;
}

.i-rotate {
    transform: scaleX(-1);
    margin-right: 15px;
}


@keyframes arrowing {
    50% {
        transform: translateX(-5px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.floating .form-wrapper {
    width: 370px;
    padding: 0;
}

.floating .form-wrapper .gform {
    gap: 0;
}

.floating .form-wrapper .form-input-group {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating .form-wrapper .input-title h1 {
    font-size: 11px;
}

.floating .form-wrapper .inputbox {
    height: 35px;
    font-size: 12px;
    border-radius: 0;
}

.floating .form-wrapper textarea {
    height: 80px;
    font-size: 12px;
    border-radius: 0;
}

.floating .form-wrapper .f-personal {
    padding: 8px;
    border-radius: 0;
}

.floating .form-wrapper .f-personal label p {
    font-size: 11px;
}

.floating .form-wrapper .f-personal .f-personalBtn {
    font-size: 11px;
    border-radius: 0;
}


.f-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.f-button-wrapper .f-submit {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 0;
}

.f-button-wrapper .telBtn {
    background-color: #111;
}


/*==================================================*/
