.form-wrapper {
    width: 600px;
    padding: 60px 80px;
    background-color: #fff;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .1);
    z-index: 2;
}

.form-title {
    margin-bottom: 2rem;
}

.form-title h5 {
    color: #222;
    font-size: 26px;
    font-weight: 500;
}

.form-title p {
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 10px;
}

.gform {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.gform .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gform .input-wrapper .input-title {
    display: none;
}

.gform .input-wrapper .input-title p {
    color: #555;
    font-size: 12px;
    font-weight: 500;
}

.gform .input-wrapper .input-title p span {
    color: red;
}

.gform .inputbox {
    color: #222;
    height: 47px;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid #ddd;
    letter-spacing: 0;
    transition: all .3s ease;
}

.gform textarea {
    color: #222;
    width: 100%;
    height: 100px;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid #ddd;
    letter-spacing: 0;
    transition: all .3s ease;
}

.gform .inputbox::placeholder {
    color: #ccc;
    font-weight: 400;
}

.gform textarea::placeholder {
    color: #ccc;
    font-weight: 400;
}

.gform .inputbox:focus,
.gform textarea:focus {
    border: 1px solid var(--main-color);
}

.radio-wrapper {
    width: 100%;
    display: flex;
    gap: 5px;
}

.radio-wrapper input[type="radio"] {
    display: none;
}

.radio-wrapper label {
    flex: 1;
    color: #333;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Pretendard';
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.radio-wrapper label:hover {
    background-color: #f8f8f8;
}

.radio-wrapper input[type="radio"]:checked+label {
    color: #fff;
    font-weight: 500;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.f-submit {
    color: #fff;
    width: 100%;
    height: 47px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 0 19px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    letter-spacing: -0.01em;
    cursor: pointer;
}

.f-submit:disabled {
    color: #ccc;
    font-weight: 300;
    cursor: not-allowed;
    background-color: #f2f2f2;
}

.f-personal {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
}

.f-personal-no {
    background-color: #fff7f7;
    border: 1px solid #e82424;
}

.f-personal-text input {
    display: none;
}

.f-personal-text label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.f-personal-text label em {
    position: relative;
    width: 14px;
    min-width: 14px;
    height: 14px;
    min-height: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.f-personal-text label em::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    display: none;
}

.f-personal-text label p {
    color: #444;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}

#cb1:checked ~ label em::after {
    display: block;
}

#cb2:checked ~ label em::after {
    display: block;
}

.f-personalBtn {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    background-color: #bbb;
    cursor: pointer;
}


.pp-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

.policy-popup {
    position: relative;
}

.pp-title {
    position: absolute;
    top: 0;
    width: 100%;
    /* width: calc(100% - .3em); */
    padding: 20px 30px;
    border-radius: 3px 3px 0 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.pp-title h5 {
    font-size: 24px;
}

.pp-closeBtn {
    position: absolute;
    top: 26px; right: 30px;
    width: 20px;
    max-width: 20px;
    cursor: pointer;
    z-index: 2;
}

.policy-popup textarea {
    color: #222;
    width: 600px;
    height: 340px;
    padding: 30px;
    padding-top: 95px;
    font-size: 15px;
    line-height: 1.4;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.policy-popup textarea::-webkit-scrollbar {
    width: .3em;
}

.policy-popup textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.policy-popup textarea::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 30px;
    outline: none;
}



/*==================================================*/
@media (max-width: 768px) {
    .form-wrapper {
        width: 100%;
        padding: 50px;
    }
}


@media (max-width: 650px) {
    .policy-popup {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pp-title {
        width: 100%;
    }

    .policy-popup textarea {
        width: 100%;
    }

    .policy-popup textarea::-webkit-scrollbar {
        display: none;
    }
}


@media (max-width: 550px) {
    .gform .input-wrapper .input-title p {
        font-size: 13px;
    }
    
    .gform .inputbox {
        height: 43px;
        font-size: 13px;
    }

    .gform textarea {
        font-size: 13px;
    }

    .radio-wrapper label {
        padding: 11px 0;
        font-size: 13px;
    }

    .f-personal {
        padding: 15px;
    }
    
    .f-personal-text label p {
        font-size: 12px;
        letter-spacing: -0.02em;
    }

    .f-personalBtn {
        font-size: 10px;
    }


    .pp-title {
        padding: 15px 20px;
    }

    .pp-title h5 {
        font-size: 16px;
    }

    .pp-closeBtn {
        top: 16px; right: 20px;
        width: 12px;
    }

    .policy-popup textarea {
        height: 280px;
        padding: 20px;
        padding-top: 65px;
        font-size: 13px;
    }

    .f-submit {
        height: 45px;
        font-size: 14px;
    }
}


@media (max-width: 450px) {
    .form-wrapper {
        padding: 35px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .08);
    }

    .form-title {
        margin-bottom: 1rem;
    }
    
    .form-title h5 {
        font-size: 22px;
    }

    .form-title p {
        font-size: 14px;
    }

    .gform .inputbox {
        height: 35px;
        padding: 0 10px;
        font-size: 12px;
    }

    .gform textarea {
        height: 80px;
        padding: 10px;
        font-size: 12px;
    }

    .f-personal {
        padding: 8px;
    }

    .f-personal-text label p {
        font-size: 11px;
    }
}