.promotion {
    width: 100%;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6edff !important;
    background: linear-gradient(to bottom, #d6edff, #f5f5f5);
}

.promotion-wrapper {
    width: 1100rem;
    display: flex;
    justify-content: space-between;
    gap: 80rem;
}

.p-image {
    margin-right: -140rem;
}

.p-text {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-text .logo {
    width: 260rem;
    margin-bottom: 60rem;
}

.p-text p {
    color: #0051ff;
    font-size: 30rem;
    font-weight: 800;
    font-family: 'Paperozi';
    margin-bottom: 20rem;
    z-index: 10;
}

.p-text h5 {
    color: #222;
    font-size: 70rem;
    font-weight: 800;
    font-family: 'Paperozi';
    line-height: 1.1;
    z-index: 10;
}

.pBtn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50rem;
}

.pBtn {
    color: #fff;
    padding: 18rem 0;
    width: 300rem;
    font-size: 22rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50rem;
    background-color: var(--main-color);
    cursor: pointer;
    z-index: 10;
}
.pBtn i {
    font-size: 28rem;
    font-weight: lighter;
    margin-bottom: -3px;
}
.pBtn:hover {
    filter: brightness(103%);
}

.pBtn.telBtn {
    color: #fff;
    background-color: #35c96e;
}

.pBtn.kakao {
    color: #391c1d;
    background-color: #f2da00;
}


/*==================================================*/
@media (max-width: 1150px) {
    .promotion-wrapper {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .promotion-wrapper {
        padding-top: 150rem;
    }

    .p-image {
        width: 65%;
        margin-bottom: -10%;
    }

    .p-text {
        margin-bottom: 30rem;
    }

    .p-text h5 {
        padding: 0 30rem;
    }

    .p-text h5 br {
        display: none;
    }
}


@media (max-width: 550px) {
    .p-text p {
        font-size: 36rem;
        font-family: 'Pretendard Variable';
        letter-spacing: -2rem;
    }

    .pBtn {
        padding: 25rem 60rem;
        font-size: 30rem;
    }
}