@import url('https://fonts.cdnfonts.com/css/repetition-scrolling');


.article1 {
    padding: 150px 0;
    background: url(../images/a1-bg.jpg) no-repeat;
    background-attachment: fixed;
}

.article1 .article-wrapper {
    width: 100%;
}

.a1-wrapper {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a1-wrapper2,
.a1-wrapper3 {
    margin-top: 5rem;
}

.a1-wrapper h1 {
    font-size: 35px;
    line-height: 1.4;
    text-align: center;
}

.a1-wrapper h1 br {
    display: none;
}

.a1-wrapper p {
    width: 670px;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 1rem;
    text-align: center;
}

.a1-wrapper2 h2 {
    color: var(--sub-color-1);
    font-size: 45px;
    line-height: 1.4;
    font-weight: 700;
    font-family: 'Montserrat';
    text-align: center;
    background: linear-gradient(-20deg, #0ba360 0%, #3cba92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a1-wrapper2 .a1-sd {
    font-size: 85px;
    background: linear-gradient(-20deg, #0ba360 0%, #3cba92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    animation: upDown 1.5s ease-in-out infinite;
    margin-top: 1rem;
}


.a1-image-wrapper {
    position: relative;
}

.a1-2 {
    position: absolute;
    bottom: 21px; left: 47%;
    transform: translate(-50%, 0);
}

.a1-3 {
    position: absolute;
    bottom: 21px; right: 16px;
}

.a1-wrapper3 h3 {
    width: fit-content;
    font-size: 100px;
    line-height: 1.4;
    font-weight: 500;
    font-family: 'DungGeunMo';
    background: linear-gradient(to left, #914cff 0%, #ff989b 50%, #914cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 3rem;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.a1-wrapper3 h1 {
    margin-top: 4rem;
}

.a1-wrapper3 p {
    width: 650px;
}

.a1-wrapper2 .wpBtn {
    width: 330px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-image: linear-gradient(-20deg, #0ba360 0%, #3cba92 100%);
    margin-top: 2rem;
}

.a1-wrapper2 .wpBtn span {
    font-size: 20px;
    font-weight: 600;
}

.a1-wrapper2 .wpBtn i {
    font-size: 22px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article1 .article-wrapper {
        padding: 0;
    }
    
    .a1-2 {
        width: 400px;
    }
}


@media (max-width: 1050px) {
    .a1-wrapper h1 {
        margin-bottom: 1rem;
    }
    
    .a1-wrapper h1 br {
        display: block;
    }
}


@media (max-width: 850px) {
    .article1 {
        overflow: hidden;
    }
    
    .a1-1 {
        min-width: 793px;
    }

    .a1-2 {
        bottom: 15px;
    }

    .a1-wrapper h1 {
        padding: 0 20px;
        font-size: 22px;
    }

    .a1-wrapper p {
        width: 100%;
        padding: 0 20px;
        font-size: 16px;
    }

    .a1-wrapper p br {
        display: none;
    }

    .a1-wrapper2 h2 {
        font-size: 30px;
    }

    .a1-wrapper2 .a1-sd {
        font-size: 65px;
        margin-bottom: 0;
    }

    .a1-wrapper3 p {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .a1-wrapper p {
        font-size: 14px;
    }

    .a1-2 {
        width: 300px;
    }
    
    .a1-wrapper2 h2 {
        font-size: 22px;
    }

    .a1-wrapper2 .wpBtn {
        width: 240px;
        height: 50px;
    }

    .a1-wrapper2 .wpBtn span {
        font-size: 15px;
    }

    .a1-wrapper3 {
        margin-top: 0;
    }
}