.article5 {
    padding-bottom: 0;
    background: url(../images/a5-bg.jpg);
}

.article5 .launchBtn {
    color: #fff;
    background-color: #0d4668;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a5-text {
    width: 600px;
}

.a5-text h2 {
    color: #222;
    font-size: 24px;
    font-weight: 300;
    font-family: 'GangwonEduPowerExtraBoldA';
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin-bottom: .8rem;
}

.a5-text h1 {
    color: #0d4668;
    font-size: 75px;
    font-weight: unset;
    font-family: 'GangwonEduPowerExtraBoldA';
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.a5-text p {
    color: #222;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 1rem;
}