.article8 {
    background: url(../images/a8-bg.jpg);
}

.a8-title h1 {
    color: #222;
    font-size: 45px;
    font-family: 'Montserrat';
    letter-spacing: -0.04em;
    margin-bottom: 2rem;
}

.a8-first {
    margin-bottom: 6rem;
}

.a8-first .a8-box-text h1 {
    font-size: 22px;
    margin-top: .5rem;
}

.a8-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

.a8-box {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: rgba(0, 0, 0, .03) 0px 10px 15px -3px, rgba(0, 0, 0, .05) 0px 4px 6px -2px;
}

.a8-box::after {
    content: url(../images/a8-more.png);
    position: absolute;
    top: 20px; right: 15px;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.a8-box:hover::after  {
    opacity: 1;
    visibility: visible;
}

.a8-box-text h1 {
    color: #363e4e;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

.a8-box-image {
    min-width: 250px;
}