header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 999;
}

nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-m label {
    display: none;
}

.nav-center {
    display: flex;
    gap: 4rem;
}

.nav-center li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat';
    letter-spacing: -0.02em;
}

.nav-right,
.nav-right-m {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-right .myBtn,
.nav-right-m .myBtn {
    width: 85px;
    height: 32px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-color-2);
}

.nav-right .langBtn,
.nav-right-m .langBtn {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 3px;
}

.Fixed {
    position: fixed;
    top: 0;
    height: 75px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.Fixed2 {
    color: #fff;
}

.actives {
    color: var(--sub-color-2) !important;
}

.logo {
    width: 35px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}

#check {
    display: none;
}

.menuBtns {
    display: none;
}

.overlay {
    display: none;
}

.nav-m {
    display: none;
}


/*==================================================*/
@media (max-width: 1250px) {
    nav {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 1050px) {
    header {
        height: 65px;
        justify-content: space-between;
    }

    .logo {
        width: 30px;
    }

    .Fixed2 {
        color: #fff;
    }

    .actives {
        color: var(--main-color);
    }

    .nav-center,
    .nav-right {
        display: none;
    }

    .nav-m {
        display: flex;
        gap: 1.7rem;
    }

    .nav-m label {
        display: flex;
        z-index: 8;
    }

    .nav-m  .menuBtns {
        display: inline-block;
        cursor: pointer;
    }

    .nav-center-m {
        position: absolute;
        top: 0; left: -100%;
        width: 80%;
        height: 100vh;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #111;
        touch-action: none;
        transition: all .2s;
        z-index: 7;
        gap: 2.2rem;
    }

    .nav-center-m li a {
        color: #fff;
        font-size: 26px;
    }

    .nav-center-m a li {
        color: #fff;
        font-size: 26px;
    }

    .nav-right-m {
        gap: 1rem;
    }

    .nav-right-m .myBtn {
        width: 75px;
        height: 28px;
        font-size: 13px;
        border-radius: 30px;
    }

    .nav-right-m .langBtn {
        font-size: 13px;
    }

    .overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, .6);
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
        z-index: 6;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px);
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -6px);
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
    }
    
    #check:checked ~ .nav-center-m {left: 0;}
    #check:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
        touch-action: none;
    }
}



@media (max-width: 768px) {
    .Fixed {
        height: 65px;
    }
}