.article1 {
    background-color: #f2f2f2;
}

.article1 .article-wrapper {
    width: 100%;
}

.article1 .ar-title {
    width: 1400px;
    margin-bottom: 3rem;
}

.a1-vertical {
    width: 1px;
    height: 60px;
    background-color: #aaa;
    margin-bottom: 3rem;
}

.a1-l-text {
    color: #888;
    font-size: 19px;
    line-height: 1.7;
}

.a1-swiper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.swiper-left {
    width: 400px;
}

.a1Swiper {
    position: relative;
    width: 65.5%;
    margin: 0 !important;
    padding: 20px 60px !important;
}

.a1Swiper .swiper-slide {
    padding: 140px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 3%);
}

.a1Swiper .swiper-slide:hover {
    background-color: var(--main-color);
}

.a1Swiper .swiper-slide:hover .ss-text h5,
.a1Swiper .swiper-slide:hover .ss-text p,
.a1Swiper .swiper-slide:hover .ss-text p span {
    color: #fff;
}

.a1Swiper .swiper-button-wrapper {
    position: absolute;
    top: 50%; left: 30px;
}

.a1Swiper .swiper-button-next {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .1);
    opacity: .7;
}

.a1Swiper .swiper-button-next i {
    color: var(--main-color);
    font-size: 28px;
}

.a1Swiper .swiper-button-next:hover {
    opacity: 1;
}

.a1Swiper .ss-image {
    width: 100%;
}

.a1Swiper .ss-image img {
    float: right;
    height: 70px;
}

.a1Swiper .swiper-slide:hover .ss-image img {
    -webkit-filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(216deg) brightness(104%) contrast(100%);
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(216deg) brightness(104%) contrast(100%);
}

.a1Swiper .ss-text h5 {
    color: #222;
    font-size: 28px;
    font-weight: 600;
    margin: 2rem 0;
}

.a1Swiper .ss-text p {
    width: 90%;
    color: #888;
    font-size: 18px;
    line-height: 1.8;
}



/*==================================================*/
@media (min-width: 1921px) {
    .a1Swiper {
        width: 61.5%;
    }
}


@media (max-width: 1450px) {
    .article1 .article-wrapper {
        padding-right: 0;
    }

    .a1-title {
        width: 100%;
    }
}


@media (max-width: 1250px) {    
    .a1-swiper {
        flex-direction: column;
        justify-content: unset;
        gap: 3rem;
    }

    .a1Swiper {
        width: 100%;
    }

    .a1Swiper .swiper-slide {
        padding: 0 40px;
        height: 450px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .a1-title {
        margin-bottom: 1.5rem;
    }
    
    .a1-swiper {
        gap: 1rem;
    }

    .a1-vertical {
        margin-bottom: 1.5rem;
    }
    
    .a1Swiper {
        padding: 20px !important;
        padding-left: 0 !important;
    }

    .a1Swiper .swiper-button-wrapper {
        display: none;
    }
}


@media (max-width: 550px) {
    .a1-title p {
        font-size: 18px;
    }
    
    .a1-title h5 {
        font-size: 32px;
    }

    .a1-vertical {
        height: 30px;
    }

    .a1-l-text {
        font-size: 14px;
    }

    .a1Swiper .swiper-slide {
        padding: 0 30px;
        height: 350px !important;
    }

    .a1Swiper .ss-image img {
        height: 60px;
    }

    .a1Swiper .ss-text h5 {
        font-size: 18px;
    }

    .a1Swiper .ss-text p {
        font-size: 14px;
    }
}


@media (max-width: 450px) {
    .article1 {
        padding-top: 80px;
    }
    
    .a1-title p {
        font-size: 16px;
    }

    .a1-title h5 {
        font-size: 28px;
        margin: 1rem 0 .5rem 0;
    }

    .a1-l-text {
        font-size: 12px;
    }

    .a1Swiper .ss-text p {
        font-size: 12px;
    }
}