.header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}

.gnb {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #fff;
    font-size: 15px;
    font-family: 'Inter';
}

.logo {
    display: flex;
    width: 180px;
    filter: invert(1);
}


/*==================================================*/
@media (max-width: 1024px) {
    .logo {
        width: 140rem;
        margin: 0 auto;
    }
    
    .gnb ul {
        display: none;
    }
}