.br1 {
    position: relative;
    height: 100vh;
}

.br1-bg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50%;
    height: 80%;
    object-fit: cover;
    z-index: 1;
}

.br1-text {
    position: relative;
    margin-left: 10%;
    z-index: 2;
}

.br1-text h5 {
    font-size: 100rem;
    font-weight: 300;
}

.br1-text p {
    font-size: 18rem;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 50rem;
}

.br2 {
    position: relative;
    height: 100vh;
}

.br2-bg {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.br2-text {
    position: absolute;
    bottom: 20%; left: 10%;
    width: 30%;
    z-index: 2;
}

.br2-text p {
    font-size: 18rem;
    font-weight: 300;
    line-height: 1.7;
}