.we1-bg {
    top: 40%;
    width: 80%;
    height: 0%;
}

.we1-text {
    margin-top: 20%;
}

picture.we2-bg {
    object-fit: cover;
}

.we2-bg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 0%;
    height: 70%;
}

.we2-bg img {
    object-fit: cover;
}

.we2-text {
    left: unset;
    right: 0;
}


/*==================================================*/
@media (max-width: 991px) {
    .we1-bg {
        left: 70%;
        top: 50%;
        width: 0%;
        height: 80%;
        transform: translate(-50%, -50%);
    }

    .we2-text {
        bottom: 20%;
        right: 5%;
    }

    .we2-bg {
        left: 50%;
    }
}