.sub-promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.sub-p-title {
    position: absolute;
    top: 20%; left: 10%;
    font-size: 120rem;
    font-weight: 200;
    z-index: 3;
}

.scrollDown {
    position: fixed;
    bottom: 5%;
    width: 40rem;
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}

.sub-p-text {
    width: 100%;
    text-align: right;
    padding-right: 10%;
}

.sub-p-text h5 {
    font-size: 45rem;
    margin-bottom: -50rem;
}

.sub-p-text p {
    font-size: 32rem;
    margin-top: 20rem;
}

.sub-article {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


/*==================================================*/
@media (max-width: 768px) {
    
}