.article2 {
    background: url(../images/a2-bg.jpg);
    background-attachment: fixed !important;
    background-position: left !important;
    background-color: #f8f8f8;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.a2-box {
    width: 420px;
    height: 480px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
}

.a2-box-image {
    width: 420px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.a2-box-image img {
    cursor: pointer;
    transition: all .3s ease;
}

.a2-box:hover .a2-box-image img {
    transform: scale(1.1);
}

.a2-box-info {
    padding: 20px;
}

.a2-box-info h1 {
    color: #222;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .3rem;
}

.a2-box-info p {
    color: #666;
    font-size: 16px;
    line-height: 1.4;
}


/*==================================================*/
@media (max-width: 1370px) {
    .a2-box-wrapper {
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 500px) {
    .a2-box {
        max-width: 420px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .a2-box-image {
        max-width: 420px;
        width: 100%;
        height: auto;
    }

    .a2-box-info h1 {
        font-size: 18px;
    }

    .a2-box-info p {
        font-size: 15px;
    }
}