.article1 {
    overflow: hidden;
}

.a1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.a1-text h2 {
    color: #555;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.04em;
    margin-bottom: .5rem;
}

.a1-text h1 {
    color: #222;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: -0.04em;
    margin-bottom: 1.5rem;
}

.a1-text p {
    color: #777;
    font-size: 17px;
    line-height: 1.5;
}



/*==================================================*/
@media (max-width: 1070px) {
    .a1-wrapper {
        flex-direction: column;
        gap: 3rem;
    }
}


@media (max-width: 500px) {
    .a1-wrapper {
        gap: 1.5rem;
    }

    .a1-text h2 {
        font-size: 17px;
        margin-bottom: .3rem;
    }

    .a1-text h1 {
        font-size: 33px;
        margin-bottom: 1rem;
    }

    .a1-text p {
        font-size: 13px;
    }
}