.grt1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 70rem;
}

.grt1-image {
    min-width: 50%;
    height: 600rem;
    object-fit: cover;
}

.grt1-text {
    width: 100%;
    margin-top: 30rem;
}

.grt1-text h5 {
    font-size: 50rem;
    font-weight: 700;
    letter-spacing: -2rem;
}

.grt1-text h6 {
    color: var(--main-color);
    font-size: 28rem;
    line-height: 1.5;
    margin: 30rem 0;
}

.grt1-text p {
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.7;
}


.grt2-title {
    text-align: center;
    margin-bottom: 60rem;
    z-index: 2;
}

.grt2-title h6 {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 600;
    margin-bottom: 20rem;
    letter-spacing: 0;
}

.grt2-title h5 {
    font-size: 45rem;
    font-weight: 700;
}

.grt2-title p {
    font-size: 18rem;
    font-weight: 500;
    margin-top: 20rem;
}

.grt2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
    z-index: 2;
}

.grt2-box {
    color: #222;
    padding: 50rem 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
}

.grt2-box-icon {
    width: 60rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin-bottom: 30rem;
}

.grt2-box-icon i {
    display: block;
    color: #fff !important;
    font-size: 30rem;
}

.grt2-box h5 {
    font-size: 20rem;
    font-weight: 700;
}

.grt2-box p {
    font-size: 15rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20rem;
}


.grt3-title h5 {
    font-size: 45rem;
    font-weight: 700;
}

.grt3-box-wrapper {
    min-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}

.grt3-box {
    position: relative;
    overflow: hidden;
}
.grt3-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #000000aa, transparent);
    z-index: 1;
}

.grt3-box-image {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.grt3-box-image img {
    margin-bottom: -4px;
}

.grt3-box-text {
    position: absolute;
    bottom: 50rem; left: 50rem;
    color: #fff !important;
    z-index: 2;
}

.grt3-box-text h5 {
    font-size: 24rem;
}

.grt3-box-text p {
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 10rem;
}



@media (max-width: 991px) {
    .grt-wrapper {
        flex-direction: column;
        justify-content: unset;
        gap: 50rem;
    }

    .grt-image {
        width: 100%;
        height: 400rem;
    }
}


@media (max-width: 550px) {
    .grt1-text {
        font-size: 22rem;
    }
}