.sub-promotion {
    background: url(../images/about-bg.png);
}

.grt-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60rem;
    z-index: 2;
}

.grt-image {
    width: 630rem;
    object-fit: cover;
    object-position: right;
}

.grt-text {
    color: #222;
    font-size: 20rem;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grt-text em {
    font-size: 28rem;
    font-weight: 700;
    font-style: normal;
}

.grt-text p span {
    color: var(--main-color);
    font-weight: 700;
}

.grt-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.grt-sign p {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 700;
}

.grt-sign h5 {
    color: #222;
    font-size: 50rem;
    font-weight: unset;
    font-family: 'JSArirang-Regular';
}

@font-face {
    font-family: 'JSArirang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@media (max-width: 991px) {
    .grt-wrapper {
        flex-direction: column;
        justify-content: unset;
        gap: 50rem;
    }

    .grt-image {
        width: 100%;
        height: 400rem;
    }
}


@media (max-width: 550px) {
    .grt-text {
        font-size: 22rem;
    }
}