.amb1-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50rem;
}

.amb1-sb {
    position: absolute;
    bottom: 20%; right: -5%;
    filter: invert(45%) sepia(42%) saturate(7288%) hue-rotate(3deg) brightness(101%) contrast(111%);
    user-select: none;
}

.amb1-image {
    width: 50%;
    filter: grayscale(1);
}

.amb1-text {
    padding: 80rem 50rem;
}

.amb1-text h5 {
    font-size: 32rem;
    line-height: 1.3;
}

.amb1-text h5 span {
    color: var(--main-color);
}

.amb1-text p {
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 30rem;
}

.amb1-flow-wrapper {
    width: 100%;
    padding: 10rem 0;
    background-color: var(--main-color);
    overflow: hidden;
    z-index: 1;
}

.amb1-flow {
    display: flex;
    align-items: center;
    gap: 20rem;
    animation: marquee 30s linear infinite;
    user-select: none;
    z-index: 1;
}

.amb1-flow img {
    width: 200rem;
}

.amb1-flow.reverse {
    justify-content: flex-end;
    animation: marquee2 30s linear infinite;
}


.amb2 {
    height: 50vh;
    background-color: #111;
    background: url(../images/amb2-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.amb2-text {
    color: #fff;
    width: 100%;
}

.amb2-text h5 {
    font-size: 40rem;
}

.amb2-text p {
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30rem;
}


.amb3-title {
    margin-bottom: 60rem;
}

.amb3-title h6 {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 600;
    margin-bottom: 20rem;
    letter-spacing: 0;
}

.amb3-title h5 {
    font-size: 45rem;
    font-weight: 700;
}

.amb3-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30rem;
}

.amb3-title h6 {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 600;
    margin-bottom: 20rem;
    letter-spacing: 0;
}

.amb3-title h5 {
    font-size: 45rem;
    font-weight: 700;
}

.amb3-box-wrapper {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.amb3-box {
    padding: 50rem;
    border: 2px solid #000;
    background-color: #fff;
}

.amb3-box i {
    color: var(--main-color);
    display: flex;
    font-size: 45rem;
    margin-bottom: 50rem;
}

.amb3-box h5 {
    font-size: 24rem;
    font-weight: 700;
}

.amb3-box p {
    font-weight: 500;
    line-height: 1.6;
    margin-top: 15rem;
}


.amb4 {
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
}

.amb4-sb {
    position: absolute;
    top: -2%; left: 65%;
    transform: translate(-50%, 0);
    height: 110%;
}

.amb4-title {
    color: #fff !important;
    text-align: center;
}

.amb4Btn-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.amb4Btn {
    width: 220rem;
    height: 60rem;
    font-size: 18rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.amb4Btn.dark {
    color: #fff !important;
    background-color: #111;
}