.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.a2-box {
    position: relative;
}
.a2-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #000000aa, transparent);
    z-index: 1;
}

.a2-box-image {
    overflow: hidden;
}

.a2-box-image img {
    height: 100%;
    object-fit: cover;
    transform: scale(1.01);
    filter: grayscale(1);
    transition: all .4s;
    margin-bottom: -5px;
}

.a2-box:hover .a2-box-image img {
    transform: scale(1.05);
    filter: grayscale(0);
}

.a2-box-text {
    position: absolute;
    bottom: 50rem; left: 50rem;
    z-index: 2;
}

.a2-box-text h5 {
    font-size: 24rem;
    font-weight: 600;
}

.a2-box-text p {
    font-weight: 500;
    line-height: 1.5;
    margin-top: 10rem;
    letter-spacing: 0;
}

.a2-box-text p br {
    display: none;
}