.article3 {
    height: 60vh;
    background: url(../images/a3-bg.jpg);
    background-attachment: fixed;
}

.a3-flow-wrapper {
    width: 100%;
    padding: 10rem 0;
    background-color: var(--main-color);
    overflow: hidden;
    z-index: 1;
}

.a3-flow {
    display: flex;
    align-items: center;
    gap: 20rem;
    animation: marquee 30s linear infinite;
    user-select: none;
    z-index: 1;
}

.a3-flow img {
    width: 200rem;
}

.a3-flow.reverse {
    justify-content: flex-end;
    animation: marquee2 30s linear infinite;
}

.a3-text {
    width: 100%;
}

.a3-text h5 {
    font-size: 40rem;
}

.a3-text p {
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30rem;
}