.article {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 100rem 0;
}

.article-wrapper {
    width: 1400rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*==================================================*/
@media (max-width: 1450px) {
    .article-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .article {
        padding: 60rem 0;
    }
}