footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 100rem 0;
}

.footer-wrapper {
    width: 1200rem;
    display: flex;
    flex-direction: column;
    gap: 50rem;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo-f,
.logo-f img {
    display: flex;
    width: 200rem;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 50rem;
}

.fBtn {
    color: #fff !important;
    font-size: 18rem;
    font-weight: 600;
}

.footer-text p {
    color: #fff !important;
    font-size: 15rem;
    line-height: 1.8;
    letter-spacing: 0;
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fb-left p {
    color: #fff !important;
    font-size: 15rem;
    font-weight: 300;
    letter-spacing: 0.03em;
}



/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    footer {
        padding: 60rem 0;
    }

    .footer-top {
        flex-direction: column;
        align-items: unset;
        gap: 50rem;
    }
}


@media (max-width: 550px) {
    .fBtn {
        font-size: 24rem;
    }

    .fb-left p,
    .footer-text p {
        font-size: 22rem;
    }
}