.ms1-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40rem;
}

.ms1-box {
    width: 100%;
    border-radius: 10rem;
    margin-bottom: 50rem;
}

.ms1-box img {
    width: 100%;
    height: 350rem;
    object-fit: cover;
}

.ms1-box h5 {
    font-size: 28rem;
    font-weight: 700;
    margin-top: 20rem;
}

.ms1-box p {
    font-weight: 500;
    line-height: 1.6;
    margin-top: 10rem;
}


.ms2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30rem;
}

.ms2-title h6 {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 600;
    margin-bottom: 20rem;
    letter-spacing: 0;
}

.ms2-title h5 {
    font-size: 45rem;
    font-weight: 700;
}

.ms2-box-wrapper {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.ms2-box {
    padding: 50rem;
    background-color: #fff;
    border: 2px solid #000;
}

.ms2-box i {
    color: var(--main-color);
    display: flex;
    font-size: 45rem;
    margin-bottom: 50rem;
}

.ms2-box h5 {
    font-size: 24rem;
    font-weight: 700;
}

.ms2-box p {
    font-weight: 500;
    line-height: 1.6;
    margin-top: 15rem;
}


.ms3 {
    background-color: var(--main-color);
}

.ms3-title {
    width: 100%;
    margin-bottom: 60rem;
}

.ms3-title h6 {
    color: #000;
}

.ms3-title h5 {
    font-weight: 700;
}

.ms3-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40rem;
}

.ms3-box {
    padding: 40rem 15rem;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
}

.ms3-box h5 {
    font-size: 20rem;
    font-weight: 700;
    margin-bottom: 10rem;
}