.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1552674605-db6ffd4facb5);
    background-size: cover;
    filter: grayscale(1) brightness(80%);
}
.promotion::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #000000, transparent);
}