.sub-promotion {
    background: url(../images/about-bg.png);
}

.sub-article {
    color: #000;
    background-color: #fff;
}

.sub-promotion {
    position: relative;
    height: 450rem;
    background-color: #000;
}

.sub-promotion::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, transparent 100%);
    z-index: 2;
}

.sub-p-text {
    text-align: center;
    margin-top: 40rem;
}

.sub-p-text p {
    font-size: 18rem;
    font-weight: 500;
    margin-bottom: 15rem;
}

.sub-p-text h5 {
    color: #fff;
    font-size: 45rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}