.sub-promotion {
    position: relative;
    height: 500rem;
    background-color: #000;
}

.sub-promotion::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, transparent 100%);
    z-index: 2;
}

.sub-promotion-wrapper {
    width: 1300rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sub-p-text {
    margin-top: 40rem;
}

.sub-p-text h5 {
    color: #fff;
    font-size: 55rem;
    font-weight: 700;
}

.sub-navigation {
    position: absolute;
    bottom: 0;
    width: 1300rem;
    display: flex;
    gap: 40px;
    background-color: rgba(255, 255, 255, .7);
}

.snv-homeBtn {
    width: 70px;
    height: 70px;
    color: #fff !important;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.sub-nav {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 40px;
}

.sub-nav a {
    color: rgba(0, 0, 0, .4);
}

.sub-nav a.show {
    color: #111;
    font-weight: 700;
}


@media (max-width: 1350px) {
    .sub-promotion-wrapper {
        width: 90%;
    }
    
    .sub-navigation {
        left: 0;
        width: 100%;
    }
}


@media (max-width: 991px) {
    .sub-promotion {
        height: 400rem;
    }
    
    .sub-p-text {
        text-align: center;
    }

    .sub-navigation {
        display: none;
    }
}