.article8 {
    background: #f2f2f2;
    background: url(../images/a8-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.a8-title p {
    color: #333;
}

.a8-title h5 {
    color: #222;
    font-weight: 700;
}


/*==================================================*/
