.article3 {
    position: relative;
    background: #000;
    border: 15rem solid var(--main-color);
}

.a3-bg {
    position: absolute;
    top: -150rem;
    opacity: .5;
    z-index: 1;
}

.a3-menu-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60rem 30rem;
    z-index: 2;
}

.a3-menu-image {
    width: 100%;
    overflow: hidden;
}

.a3-menu-image img {
    height: 100%;
    object-fit: cover;
    transition: all .2s;
    margin-bottom: -5px;
}

.a3-menu-image:hover img {
    transform: scale(1.05);
}

.a3-menu-text h5 {
    color: #fff;
    font-size: 26rem;
    font-family: 'GMarket Sans';
    margin-top: 20rem;
    text-align: center;
}


/*==================================================*/
