.article1 {
    position: relative;
    background-color: #000;
    background: url(../images/a1-bg.jpg);
}

.a1-img-flow-wrapper {
    position: absolute;
    top: 0; left: 20rem;
    display: flex;
    gap: 20rem;
}
.a1-img-flow-wrapper2 {
    left: unset;
    right: 20rem;
}

.a1-img-flow {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    animation: flow1 15s linear infinite;
    opacity: .6;
}
.a1-img-flow2 {
    display: flex;
    animation: flow2 15s linear infinite;
    opacity: .4;
}
.a1-img-flow3 {
    opacity: .2;
}

.a1-img-flow img {
    width: 120rem;
}

.a1-title {
    margin-bottom: 60rem;
    text-align: center;
    z-index: 2;
}

.a1-title p {
    color: rgba(255, 255, 255, .8);
    font-size: 26rem;
    font-weight: 700;
    font-family: 'Nanum Myeongjo';
    margin-bottom: 40rem;
}

.a1-title h5 {
    color: #ddd;
    font-size: 90rem;
    font-family: 'Gmarket Sans';
    line-height: 1.05;
    font-weight: 200;
    letter-spacing: -4px;
}

.a1-title h5 span {
    color: var(--main-color);
    font-weight: 800;
    font-family: 'Gmarket Sans';
    letter-spacing: -4px;
}

.a1-box {
    padding: 30rem 50rem 10rem 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30rem;
    border: 5px solid #db0000;
    mix-blend-mode: color-dodge;
}

.a1-box-left {
    color: #fff;
    font-size: 41rem;
    line-height: 1.3;
    font-family: 'Danjo-bold-Regular';
    text-align: center;
}

.a1-box-left span {
    font-size: 60rem;
    font-family: 'Danjo-bold-Regular';
}

.a1-box-right {
    color: #db0000;
    font-size: 130rem;
    font-family: 'SBAggroB';
    letter-spacing: -7px;
    animation: blink .8s step-end infinite;
}

.a1-bottom {
    color: #ccc;
    font-size: 33rem;
    font-weight: 600;
    margin-top: 30rem;
}


.a1-flow-wrapper {
    width: 100%;
    padding: 24rem 0;
    background-color: var(--main-color);
    overflow: hidden;
    z-index: 1;
}

.a1-flow {
    color: var(--sub-color);
    font-size: 36rem;
    font-weight: 600;
    font-family: 'Danjo-bold-Regular';
    font-family: 'Gmarket Sans';
    display: flex;
    align-items: center;
    gap: 40rem;
    white-space: nowrap;
    text-transform: uppercase;
    animation: marquee 15s linear infinite;
    margin-bottom: -4px;
}

.a1-flow img {
    width: 40rem;
}

.a1-flow-wrapper.black {
    border-bottom: 1px solid var(--main-color);
    background-color: #000;
}
.a1-flow-wrapper.black .a1-flow {
    color: var(--main-color);
    animation: marquee2 15s linear infinite;
}
.a1-flow-wrapper.black .a1-flow img {
    filter: invert(55%) sepia(6%) saturate(3644%) hue-rotate(345deg) brightness(100%) contrast(82%);
}



/*==================================================*/
@media (min-width: 2250px) {
    .a1-img-flow img {
        width: 150rem;
    }
}