.contact {
    background: url(../images/contact-bg.jpg) no-repeat;
    background-size: cover;
}

.cs {
    padding-bottom: 0;
}

.cs-title {
    color: #222;
    width: 100%;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.cs-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.cs-box {
    position: relative;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.cs-box-image {
    position: absolute;
    top: 40px; right: 40px;
}

.cs-box-image img {
    height: 50px;
}

.cs-box-text h5 {
    color: #222;
    font-size: 28px;
    font-weight: 700;
    margin-top: 4rem;
}

.cs-box-text p {
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 15px;
}

.cs-box-text p span {
    font-family: 'Montserrat';
}

.cs-map {
    width: 100%;
}

.cs-map iframe {
    width: 100%;
    height: 400px;
}


/*==================================================*/
@media (max-width: 1150px) {
    .cs-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 3rem 0;
    }
}


@media (max-width: 768px) {
    .cs-box-wrapper {
        margin: 2rem 0;
    }
}


@media (max-width: 550px) {
    .cs-box {
        padding: 25px;
        border-radius: 10px;
    }

    .cs-box-image {
        top: 25px; right: 25px;
    }
    
    .cs-box-image img {
        height: 40px;
    }

    .cs-box-text h5 {
        font-size: 22px;
        margin-top: 3rem;
    }

    .cs-box-text p {
        font-size: 13px;
        margin-top: 10px;
    }
}


@media (max-width: 450px) {
    .cs-box-image img {
        height: 30px;
    }
    
    .cs-box-text h5 {
        margin-top: 2rem;
    }
}