.e-commerce {
    background: url(../images/e-commerce-bg.jpg) no-repeat;
    background-size: cover;
}

.ec-image {
    position: relative;
    width: 100%;
}

.ec-image img {
    margin-bottom: -5px;
}

.ec-title {
    position: absolute;
    top: 45%; left: 180px;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 28px;
    line-height: 1.5;
    text-shadow: 0 0 25px rgba(0, 0, 0, .3);
    z-index: 10;
}

.ec-title span {
    font-weight: 300;
}

.ec-title b {
    font-weight: 600;
}

.ec-wrapper {
    width: 70%;
    padding: 70px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #fff;
    margin-top: -5rem;
    z-index: 20;
}

.ec-text h5 {
    color: #222;
    font-size: 22px;
    font-weight: 600;
}

.ec-text p {
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 10px;
}


/*==================================================*/
