.article0 {
    position: relative;
    padding-bottom: 0;
    background: url(../images/a0-bg.jpg);
    background-position: bottom;
    background-size: cover;
}

.a0-flow {
    width: 110%;
    padding: 60px 0;
    background-color: #92d7ff50;
    transform: rotate(2deg);
}
.a0-flow2 {
    background-color: #a4deff;
    transform: rotate(-2deg);
    margin-bottom: 100rem;
}

.a0-flow h5 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Montserrat';
    animation: marquee 30s linear infinite;
    letter-spacing: -0.04em;
    white-space: nowrap;
}

.a0-flow2 h5 {
    font-weight: 800;
    font-family: 'Pretendard';
    display: flex;
    justify-content: flex-end;
    animation: marquee2 30s linear infinite;
    transform: translateX(-100%);
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.a0-video {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #000;
    margin-bottom: 100rem;
    cursor: pointer;
    overflow: hidden;
}

.a0-playBtn {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: all .1s;
    z-index: 3;
}

.a0-video:hover .a0-playBtn {
    transform: translate(-50%, -50%) scale(1.1);
}

.a0-image {
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
}

.a0-video video {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    z-index: 1;
}


/*==================================================*/
