.article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    padding: 150px 0;
}

.article-wrapper {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    gap: 70rem;
}

.at-title {
    width: 40%;
    min-width: 40%;
    margin-top: 70rem;
}

.at-wave {
    width: 30rem;
    margin-bottom: 10rem;
}

.at-title h4 {
    color: var(--main-color);
    font-size: 20rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: 30rem;
}

.at-title h5 {
    color: #222;
    font-size: 50rem;
    line-height: 1.25;
}

.at-title h5 span {
    font-weight: 300;
}

.at-title p {
    color: #aaa;
    font-size: 17rem;
    line-height: 1.65;
    margin-top: 20rem;
}

.at-img-wrapper {
    width: 50%;
    display: flex;
    gap: 20rem;
}

.at-img {
    width: 100%;
    height: 690rem;
    border-radius: 20rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    overflow: hidden;
}


/*==================================================*/
@media (max-width: 1350px) {
    .article-wrapper {
        width: 90%;
    }
}


@media (max-width: 1050px) {
    .article {
        padding: 60px 0;
    }
    
    .article-wrapper {
        flex-direction: column;
    }
    .article1 .article-wrapper,
    .article3 .article-wrapper,
    .article5 .article-wrapper {
        flex-direction: column-reverse;
    }

    .at-title {
        width: 100%;
        min-width: 100%;
        margin-top: 0;
    }

    .at-img-wrapper {
        width: 100%;
    }

    .at-img {
        height: 700rem;
    }
}