.article0 {
    position: relative;
    padding-bottom: 0;
    background: url(../images/a0-bg.jpg);
    background-position: bottom;
    background-size: cover;
}

.a0-flow {
    width: 110%;
    padding: 40rem 0;
    background-color: #92d7ff50;
    transform: rotate(2deg);
}
.a0-flow2 {
    background-color: #a4deff;
    transform: rotate(-2deg);
    margin-bottom: 100rem;
}

.a0-flow h5 {
    color: #fff;
    font-size: 80rem;
    font-weight: 700;
    font-family: 'Montserrat';
    animation: marquee 60s linear infinite;
    letter-spacing: -0.04em;
    white-space: nowrap;
}

.a0-flow2 h5 {
    font-weight: 800;
    font-family: 'Pretendard';
    display: flex;
    justify-content: flex-end;
    animation: marquee2 60s linear infinite;
    transform: translateX(-100%);
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.a0-video {
    position: relative;
    width: 90%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
    margin: 0 auto;
    margin-bottom: 50rem;
    overflow: hidden;
    cursor: pointer;
}

.a0-playBtn {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 200rem;
    transition: all .1s;
    z-index: 3;
}

.a0-video:hover .a0-playBtn {
    transform: translate(-50%, -50%) scale(1.1);
}

.a0-image {
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
}

.a0-video video {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    z-index: 1;
}

video[poster] {
    width: 100%;
    height: 100%;
}


/*==================================================*/
@media (max-width: 768px) {
    .a0-video {
        cursor: default;
    }
    
    .a0-playBtn,
    .a0-image {
        display: none;
    }
    
    .a0-flow {
        padding: 30rem 0;
    }
    
    .a0-flow h5 {
        font-size: 45rem;
    }
    
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(-300%);
        }
    }
    
    @keyframes marquee2 {
        0% {
            transform: translateX(0);
        }
    
        100% {
            transform: translateX(300%);
        }
    }

    .a0-video {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .article0 {
        padding: 30px 0;
    }
    
    .a0-flow2 {
        margin-bottom: 0;
    }
    
    .a0-playBtn {
        width: 150rem;
    }
}