.article6 {
    background: url(../images/a6-bg.jpg);
    background-size: cover;
}

.a6-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50rem;
}

.a6-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.a6-title img {
    height: 30rem;
}

.a6-title p {
    color: #222;
    font-size: 36rem;
    font-weight: 500;
}

.a6-title h5 {
    color: var(--main-color);
    font-size: 45rem;
}

.a6-image {
    position: relative;
    width: 350rem;
    height: 691rem;
    border-radius: 50rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.a6-mockup {
    position: absolute;
    top: 0; left: 0;
    margin-top: -2px;
    overflow: hidden;
    z-index: 2;
}

.a6-1 {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    padding-top: 30px;
    animation: motion 10s linear 0s alternate;
    z-index: 1;
}

@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: -300%;}
}


/*==================================================*/
