footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    padding: 80px 0;
}

.footer-wrapper {
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-f {
    width: 150rem;
    margin-bottom: 10rem;
    opacity: .6;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 40rem;
}

.fBtn {
    color: #a0a0a0;
    font-size: 16rem;
    font-weight: 600;
}
.fBtn:hover {
    color: #fff;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fr-text p {
    color: #a0a0a0;
    font-size: 15rem;
    line-height: 2;
    letter-spacing: 0;
}

.fr-sns {
    display: flex;
    align-items: center;
    gap: 15rem;
}

.fr-sns li a img {
    height: 26rem;
    opacity: .5;
}

.fr-sns li a:hover img {
    opacity: 1;
}


/*==================================================*/
@media (max-width: 1050px) {
    footer {
        padding: 80rem 0 125rem 0;
    }

    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .fBtn-wrapper {
        display: none;
    }
}


@media (max-width: 550px) {
    .fr-text p {
        font-size: 20rem;
    }
}


@media (max-width: 450px) {
    footer {
        padding: 80rem 0 155rem 0;
    }
}