footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    padding: 80px 0;
}

.footer-wrapper {
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo-f {
    width: 150px;
    margin-bottom: 10rem;
    opacity: .6;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 40rem;
}

.fBtn {
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 600;
}
.fBtn:hover {
    color: #fff;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fr-text p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0;
}

.fr-sns {
    display: flex;
    align-items: center;
    gap: 15rem;
}

.fr-sns li a img {
    height: 26px;
    opacity: .7;
}

.fr-sns li a:hover img {
    opacity: 1;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    footer {
        padding: 60px 0;
    }
    
    .footer-wrapper {
        gap: 3rem;
    }
    
    .footer-left {
        flex-direction: column;
    }
    
    .footer-right p {
        font-size: 13px;
    }
}


@media (max-width: 600px) {
    footer {
        padding: 40px 0;
    }
    
    .footer-wrapper {
        gap: 2rem;
    }

    .logo-f {
        width: 160px;
    }
    
    .fBtn-wrapper {
        gap: 2rem;
    }
    
    .fBtn:nth-child(3),
    .fBtn:nth-child(4),
    .fBtn:nth-child(5) {
        display: none;
    }

    .footer-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}


@media (max-width: 550px) {
    .logo-f {
        width: 140px;
    }
    
    .fBtn {
        font-size: 14px;
    }

    .footer-right p {
        font-size: 12px;
    }
}