header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: height .3s ease;
    z-index: 98;
}

.Fixed {
    position: fixed;
    top: 0;
    height: 85rem;
    background-color: var(--main-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

nav {
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.logo-w {
    z-index: 90;
}

.logo img,
.logo-w img {
    height: 34rem;
    padding-top: 4px;
}

.logo-w.hide,
.logo.hide {
    display: none;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.nav-right ul {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.nav-right ul li {
    color: #fff;
    font-size: 19rem;
}

.navBtn {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    width: 95px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;
    z-index: 90;
}

.navBtn img {
    width: 15px;
}

#check,
.menuBtns,
.m-menu,
.nav-right label {
    display: none;
}


/*==================================================*/
@media (max-width: 1250px) {
    nav {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 1050px) {
    .userBtn {
        display: none;
    }

    .navBtn {
        font-size: 14px;
        width: 86px;
        height: 35px;
    }

    .navBtn img {
        width: 12px;
    }

    .nav-right ul {
        display: none;
    }
    
    .nav-right label {
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
    }

    .menuBtns.change {
        margin-top: 4px;
    }

    .m-menu {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 120rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20rem;
        background-color: #eee;
        transition: all .3s ease;
        touch-action: none;
        opacity: 0;
        visibility: hidden;
    }

    .m-menulist {
        width: 90%;
        padding: 18px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: #fff;
    }

    .m-menuBtn {
        display: block;
        color: #222;
        font-size: 16px;
        font-weight: 500;
        padding: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
    }

    .m-menuBtn i {
        color: #ccc;
        font-size: 22px;
    }

    .m-menuBtn:active {
        background-color: #f6f8fb;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .1s ease;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #aaa;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #aaa;
    }
    
    #check:checked ~ .m-menu {
        opacity: 1;
        visibility: visible;
    }
}


@media (max-width: 550px) {
    .navBtn {
        font-size: 12px;
        width: 75px;
        height: 30px;
    }

    .navBtn img {
        width: 10px;
    }
}


@media (max-width: 450px) {
    .Fixed {
        height: 100rem;
    }

    .nav-right ul li a {
        font-size: 21rem;
    }

    .navBtn {
        font-size: 11px;
        width: 70px;
        height: 26px;
    }
    
    .m-menulist {
        padding: 15px;
        border-radius: 10px;
    }

    .m-menuBtn {
        padding: 8px 10px;
        font-size: 13px;
        border-radius: 7px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}