.article1 {
    position: relative;
    height: 100vh;
}

.a1-scene {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a1-left-text {
    position: absolute;
    left: 0;
    width: 40%;
    opacity: 0;
    z-index: 3;
}

.a1-left-text h6 {
    color: var(--main-color);
    font-size: 36rem;
}

.a1-left-text p {
    color: #1a3a5c;
    font-size: 17rem;
    line-height: 1.7;
    margin-top: 30rem;
}

.a1-orbit-group {
    position: relative;
    width: 0;
    height: 0;
}

.a1-center-box {
    position: absolute;
    width: 240rem;
    height: 240rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28rem;
    font-weight: 600;
    color: #1a5276;
    z-index: 2;
    color: #fff;
    background: var(--main-color);
    transform: translate(-50%, -50%);
}

.a1-orbit-box {
    position: absolute;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19rem;
    font-weight: 600;
    color: #1a5276;
    background: #fff;
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
}


/*==================================================*/
@media (max-width: 1024px) {
    
}