.toggle-menu {
    position: relative;
    position: absolute;
    top: -1500%; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000;
    touch-action: none;
    transition: all .6s;
    opacity: 0;
    visibility: hidden;
    z-index: 998;
}

.toggle-menu::after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    z-index: 999;
}

.menuBtns {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    transition: all .3s;
    cursor: pointer;
    margin: 0 -40px 0 80px;
    z-index: 999;
}

.menuBtns .bar {
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease;
}

.menuBtns .bar1 {
    position: absolute;
}

.menuBtns .bar2 {
    transition: width .3s ease;
}
.menuBtns .bar3 {
    position: absolute;
    width: 20px;
    transition-delay: .1s;
}
.menuBtns .bar4 {
    transition: width .3s ease;
    transition-delay: .2s;
}

.menuBtns .bar1.change {
    transform: rotate(45deg);
}
.menuBtns .bar2.change,
.menuBtns .bar4.change {
    opacity: 0;
    visibility: hidden;
}
.menuBtns .bar3.change {
    transform: rotate(-45deg);
    width: 32px;
}

.tm-image {
    width: 30%;
}

.tm-image img {
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.tm-list-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120rem;
}

.tm-list {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tm-listBox {
    padding: 30rem 0;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    transition: all 1s;
    padding-left: 80px;
    opacity: 0;
    visibility: hidden;
}

.tm-listBox:last-child {
    border-bottom: none;
}

.tm-listBox:nth-of-type(1) {
    transition-delay: .3s;
}

.tm-listBox:nth-of-type(2) {
    transition-delay: .4s;
}

.tm-listBox:nth-of-type(3) {
    transition-delay: .5s;
}

.tm-listBox:nth-of-type(4) {
    transition-delay: .6s;
}

.tm-listBox:nth-of-type(5) {
    transition-delay: .7s;
}

.toggle-menu.on {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.toggle-menu.on .tm-listBox {
    padding-left: 0;
    opacity: 1;
    visibility: visible;
}

.tm-l-head {
    font-size: 32px;
    font-weight: 600;
}

.tm-l-head i {
    display: none;
}

.tm-listBox ul {
    display: flex;
    gap: 30rem;
}

.tm-listBox ul li {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    font-weight: 300;
}

.tm-listBox ul li:hover {
    color: #fff;
}


/*==================================================*/
@media (max-width: 1250px) {
    .toggle-menu::after {
        display: none;
    }
    
    .menuBtns {
        margin: 0;
        margin-right: -20px;
    }

    .tm-image {
        display: none;
    }

    .tm-list-wrapper {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .menuBtns {
        width: 80px;
        height: 80px;
        gap: 18px;
    }

    .menuBtns .bar,
    .menuBtns .bar3.change {
        width: 28px;
    }
    
    .tm-list-wrapper {
        align-items: unset;
        padding-top: 120px;
        padding-left: 3rem;
    }
}


@media (max-width: 550px) {    
    .menuBtns {
        width: 70px;
        height: 70px;
        gap: 14px;
    }

    .menuBtns .bar,
    .menuBtns .bar3.change {
        width: 24px;
    }
    
    .tm-list-wrapper {
        padding-top: 100px;
    }
    
    .tm-l-head {
        width: fit-content;
        font-size: 24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }

    .tm-l-head i {
        font-size: 20px;
        display: flex;
        font-weight: lighter;
        transition: all .3s;
    }

    .i-rotate2 {
        transform: rotate(135deg);
    }
    
    .tm-listBox {
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }

    .tm-listBox ul {
        display: none;
    }

    .tm-listBox ul.on {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    
    .tm-listBox ul li {
        font-size: 16px;
    }
}