.article6 {
    padding: 180px 0;
    background-color: #fff;
}

.a6-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a6-left {
    width: 45%;
}

.a6-title h5 {
    color: #222;
    font-size: 80px;
    font-weight: 800;
}

.a6-title h5 span {
    color: var(--main-color);
    font-size: 85px;
    font-weight: 900;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}

.a6-title p {
    color: #222;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.8;
    margin-top: 3rem;
}

.a6-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 5rem;
}

.a6-notice {
    position: relative;
    position: absolute;
    bottom: -150px; left: 0;
    color: #777;
    width: 320px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 7px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .07);
}

.a6-notice span {
    display: block;
    color: #555;
    font-weight: 600;
    margin-top: 10px;
}

.a6-notice::after {
    content: '';
    position: absolute;
    top: -7px; left: 20px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #f5f5f5;
}

.a6-contact li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.a6-contact li p {
    color: #222;
    font-size: 24px;
    font-weight: 600;
}

.a6-contact li img {
    height: 32px;
    filter: invert(15%) sepia(68%) saturate(4727%) hue-rotate(351deg) brightness(92%) contrast(89%);
    user-select: none;
}

.a6-contact li:nth-child(2) img {
    animation: tel 1s infinite ease-in-out;
}

@keyframes tel {
    0% {transform:translateY(0);}
    10% {transform:translateY(-3px);}
    20% {transform:translateY(0);}
    30% {transform:translateY(-3px);}
    40% {transform:translateY(0);}
    100% {transform:translateY(0);}
}


.a6-right {
    width: 50%;
}

.form-wrapper {
    width: 100%;
}

.gform {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gform .input-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.gform .input-wrapper {
    position: relative;
    width: 100%;
}

.gform .input-wrapper .input-title p {
    position: absolute;
    top: 16px; left: 0;
    color: #222;
    font-size: 20px;
    font-weight: 700;
}

.gform .input-wrapper .input-title p span {
    color: var(--main-color);
}

.gform .inputbox {
    color: #222;
    width: 100%;
    height: 60px;
    padding-left: 68px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 3px solid #222;
}

.gform textarea {
    color: #222;
    width: 100%;
    height: 220px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 3px solid #222;
}

.gform textarea::placeholder {
    color: #ccc;
    font-weight: 500;
}

.gform textarea::-webkit-scrollbar {
    width: .3em;
}

.gform textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.gform textarea::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 30px;
    outline: none;
}

.f-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.f-submit {
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: var(--main-color);
    cursor: pointer;
}

.f-submit:disabled {
    color: #aaa;
    cursor: not-allowed;
    background-color: #eee;
}

.f-personal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.f-personal-text input {
    display: none;
}

.f-personal-text label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.f-personal-text label em {
    position: relative;
    width: 22px;
    min-width: 22px;
    height: 22px;
    min-height: 22px;
    background-color: #fff;
    border: 3px solid #222;
    cursor: pointer;
}

.f-personal-text label em::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #222;
    display: none;
}

.f-personal-text label p {
    color: #222;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

#cb:checked ~ label em::after {
    display: block;
}

.f-personalBtn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #222;
    cursor: pointer;
}


.pp-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

.policy-popup {
    position: relative;
}

.pp-title {
    position: absolute;
    top: 0;
    width: 100%;
    /* width: calc(100% - .3em); */
    padding: 20px 30px;
    /* border-radius: 3px 3px 0 0; */
    background-color: var(--main-color);
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.pp-title p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.pp-closeBtn {
    position: absolute;
    top: 25px; right: 30px;
    width: 20px;
    max-width: 20px;
    cursor: pointer;
    z-index: 2;
}

.policy-popup textarea {
    color: #222;
    width: 600px;
    height: 355px;
    padding: 30px;
    padding-top: 95px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    border: none;
    outline: none;
    /* border-radius: 3px; */
    border: 1px solid #ddd;
}

.policy-popup textarea::-webkit-scrollbar {
    width: .3em;
}

.policy-popup textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.policy-popup textarea::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 30px;
    outline: none;
}



/*==================================================*/
@media (max-width: 1250px) {
    .article5 {
        padding: 120px 0;
    }
    
    .a6-wrapper {
        flex-direction: column;
        gap: 6rem;
    }

    .a6-left {
        width: 100%;
    }

    .a6-notice {
        bottom: -50px; left: 235px;
        box-shadow: none;
    }

    .a6-notice::after {
        top: 45px; left: -7px;
        transform: rotate(-45deg);
    }

    .a6-right {
        width: 100%;
    }
}


@media (max-width: 650px) {
    .article5 {
        padding: 40px 0;
    }
    
    .a6-title h5 {
        font-size: 55px;
        margin-top: -10px;
    }

    .a6-title h5 span {
        font-size: 65px;
    }

    .a6-title p {
        font-size: 18px;
        margin-top: 2rem;
    }

    .a6-notice {
        bottom: -60px; left: 200px;
        width: 250px;
        padding: 14px;
        font-size: 12px;
    }
    
    .a6-notice::after {
        top: 15px;
    }
    
    .a6-contact {
        margin-top: 2rem;
    }
    
    .a6-contact li {
        gap: 10px;
    }
    
    .a6-contact li p {
        font-size: 20px;
    }

    .a6-contact li img {
        height: 26px
    }
    
    .f-submit {
        width: 140px;
        height: 45px;
        font-size: 16px;
    }

    .f-personal-text label em {
        width: 18px;
        min-width: 18px;
        height: 18px;
        min-height: 18px;
        border: 2px solid #222;
    }
    
    .f-personal-text label em::after {
        width: 8px;
        height: 8px;
    }
    
    .f-personal-text label p {
        font-size: 14px;
    }
    
    .f-personalBtn {
        font-size: 12px;
        padding: 4px 6px;
    }

    .policy-popup {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 500px) {
    .a6-wrapper {
        gap: 9rem;
    }
    
    .a6-notice {
        bottom: -120px; left: 0;
        width: 250px;
        padding: 14px;
        font-size: 12px;
    }
    
    .a6-notice::after {
        top: -7px; left: 20px;
        transform: rotate(45deg);
    }

    .gform {
        gap: 1rem;
    }
    
    .gform .input-group {
        gap: 1rem;
    }

    .gform .input-wrapper .input-title p {
        top: 13px;
        font-size: 15px;
    }

    .gform .inputbox {
        height: 45px;
        padding-left: 50px;
        font-size: 15px;
        border-bottom: 2px solid #222;
    }

    .gform textarea {
        height: 160px;
        font-size: 15px;
        border-bottom: 2px solid #222;
        margin-top: 45px;
    }

    .pp-title {
        padding: 20px;
    }

    .pp-title p {
        font-size: 20px;
    }

    .pp-closeBtn {
        top: 23px; right: 23px;
        width: 18px;
        max-width: 18px;
    }

    .policy-popup textarea {
        width: 100%;
        height: 340px;
        padding: 20px;
        padding-top: 83px;
        font-size: 14px;
    }
}


@media (max-width: 450px) {
    .a6-title h5 {
        font-size: 42px;
    }

    .a6-title h5 span {
        font-size: 46px;
    }

    .a6-title p {
        font-size: 16px;
        margin-top: 1.5rem;
    }
    
    .f-bottom {
        flex-direction: column;
        gap: 2rem;
    }

    .f-submit {
        width: 100%;
    }
}