.article2 {
    position: relative;
}

.article2 .article-wrapper {
    width: 80%;
}

.a2-glow {
    position: absolute;
    top: 550px; left: 40%;
    transform: translate(-50%, 0);
    box-shadow: var(--main-color) 0 0 250px 100px;
    z-index: 1;
}

.a2-title {
    width: 100%;
    color: #fff;
    font-size: 65px;
    line-height: 1.3;
    text-align: center;
    margin: 20rem 0 40rem 0;
    z-index: 2;
}

.a2-title span {
    color: var(--main-color);
}

.a2-contents-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.a2-contents {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.a2-contents:nth-child(2n) {
    flex-direction: row-reverse;
}

.a2-contents video {
    width: 50%;
}

.a2-c-text {
    width: 50%;
    margin-top: 2rem;
}

.a2-c-text h5 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.3;
}

.a2-c-text h5 span {
    color: var(--main-color);
    font-weight: 600;
}

.a2-c-text p {
    color: rgba(255, 255, 255, .7);
    font-size: 19px;
    font-weight: 200;
    line-height: 1.8;
    margin-top: 2rem;
}

.a2-box-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.a2-polygon {
    position: absolute;
    top: 60px;
    opacity: .15;
    z-index: 1;
}

.a2-box-group {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.a2-box-group:nth-child(4) {
    width: 500px;
    margin-top: 7rem;
}

.a2-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.a2-box .a2-box-image {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .05);
    animation: pulse .7s infinite;
    z-index: 2;
}

.a2-box-image img {
    width: 55px;
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(316deg) brightness(110%) contrast(102%);
    user-select: none;
    transition: all .2s;
}

.a2-box-text {
    color: #fafafa;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.05em;
}

@keyframes pulse {
    100% {
        transform: scale(1.1)
    }
}


.a2Swiper {
    width: 45%;
}

.a2Swiper .swiper-slide img {
    filter: invert(100%);
}



/*==================================================*/
@media (max-width: 768px) {
    .a2-box-group {
        width: 95%;
    }

    .a2-box-group:nth-child(4) {
        width: 70%;
    }
}


@media (max-width: 650px) {
    .a2-polygon {
        top: 40px;
        width: 450px;
    }
    
    .a2-box-wrapper {
        gap: 2rem;
    }

    .a2-box-group {
        width: 85%;
    }

    .a2-box-group:nth-child(4) {
        margin-top: 7rem;
    }
    
    .a2-box {
        width: unset;
    }

    .a2-box-image {
        width: 80px;
        height: 80px;
    }

    .a2-box-image img {
        width: 35px;
    }

    .a2-box-text {
        font-size: 15px;
    }
}


@media (max-width: 550px) {
    .a2-polygon {
        width: 70%;
    }

    .a2-box-wrapper {
        gap: 1rem;
    }

    .a2-box-group {
        width: 75%;
    }

    .a2-box-group:nth-child(4) {
        width: 60%;
        margin-top: 3rem;
    }

    .a2-box-image {
        width: 70px;
        height: 70px;
    }

    .a2-box-image img {
        width: 25px;
    }

    .a2-box-text {
        font-size: 13px;
    }
}


@media (max-width: 450px) {
    .a2-polygon {
        width: 300px;
    }

    .a2-box-group {
        width: 90%;
    }

    .a2-box-group:nth-child(4) {
        width: 70%;
    }

    .a2-box-image {
        width: 60px;
        height: 60px;
    }
}