.article5 {
    position: relative;
    padding: 0;
}
.article5::after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to left, #000, transparent);
    z-index: 1;
}

.article5 #daumRoughmapContainer1747977547095 {
    width: 100%;
    height: 100%;
    height: 700rem;
    z-index: 1;
}

.article5 .wrap_map,
.article5 #map {
    width: 100%;
    height: 100% !important;
    margin-right: 50%;
}

.a5-list {
    position: relative;
    position: absolute;
    top: 0; right: 0;
    width: 50%;
    height: 100%;
    padding: 0 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(65, 65, 65, .9);
    overflow: hidden;
    z-index: 10;
}

.a5-sb {
    position: absolute;
    bottom: 15%; right: -5%;
    height: 100%;
    filter: grayscale(1);
    opacity: .05;
    z-index: 1;
}

.a5-l-title {
    color: #fff;
    font-size: 45rem;
    font-weight: 700;
    font-family: 'GMarket Sans';
    margin-bottom: 40rem;
}

.a5-list ul {
    display: flex;
    flex-direction: column;
    gap: 40rem;
}

.a5-l-box ul li {
    color: #fff;
    font-size: 18rem;
    display: flex;
    align-items: center;
    gap: 50rem;
}

.a5-l-box ul li em {
    width: 100rem;
    font-size: 20rem;
    font-weight: 600;
    font-style: normal;
    margin-top: -2px;
}

.a5-l-box ul li p {
    color: #fff;
    font-size: 19rem;
    font-weight: 600;
}

.a5-l-box ul li h5 {
    font-size: 40rem;
    font-weight: 700;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}



/*==================================================*/
@media (max-width: 768px) {
    
}