.article3 {
    padding-top: 200rem;
    padding-bottom: 0;
    background: url(../images/a3-bg.png);
    overflow: hidden;
}

.a3-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140rem;
}

.a3-doctor {
    width: 600rem;
    margin-bottom: -5px;
    z-index: 2;
}

.a3-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40rem;
    margin-bottom: 100rem;
}

.a3-text h4 {
    color: #aaa;
    font-size: 15rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.a3-text em {
    color: rgba(0, 0, 0, .4);
    font-style: normal;
    font-family: 'GMarket Sans';
}

.a3-text h5 {
    color: #222;
    font-size: 55rem;
    font-weight: 300;
    font-family: 'GMarket Sans';
    line-height: 1.2;
}

.a3-text h5 span {
    color: var(--main-color);
    font-weight: 700;
    font-family: 'GMarket Sans';
}

.a3-text b {
    font-weight: 700;
    font-family: 'GMarket Sans';
}

.a3-text p {
    color: #888;
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.6;
}

.a3-text a {
    display: flex;
    align-items: center;
    gap: 10rem;
    width: fit-content;
    color: #333;
    font-size: 17rem;
    font-weight: 700;
    margin-top: 40rem;
    transition: all .2s;
}
.a3-text a:hover {
    gap: 15rem;
}


/*==================================================*/
@media (max-width: 768px) {
    
}