.sub-menu {
    position: absolute;
    top: 110rem;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: all .3s;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.sub-menu-visible {
    height: 210rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu-wrapper {
    width: 1400rem;
    display: flex;
    justify-content: flex-end;
    gap: 66rem;
    padding-bottom: 40rem;
}

.sub-menu-list {
    padding-top: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sub-menu-list:nth-child(1) {
    width: 70rem;
}
.sub-menu-list:nth-child(2) {
    width: 85rem;
}
.sub-menu-list:nth-child(3) {
    width: 85rem;
}
.sub-menu-list:nth-child(4) {
    width: 130rem;
}
.sub-menu-list:nth-child(5) {
    width: 120rem;
}
.sub-menu-list:nth-child(6) {
    width: 115rem;
}
.sub-menu-list:nth-child(7) {
    width: 70rem;
}

.sub-menu-list li {
    color: #222;
    font-size: 16rem;
    font-weight: 500;
    white-space: nowrap;
}

.sub-menu-list li:hover {
    color: var(--main-color);
}



/*==================================================*/
@media (max-width: 1450px) {
    .sub-menu-list:nth-child(6) {
        width: 112rem;
    }
    .sub-menu-list:nth-child(7) {
        width: 66rem;
    }
}


@media (max-width: 1250px) {
    .sub-menu {
        display: none;
    }
}