.lnb {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    background-image: var(--gradient);
    z-index: 997;
}

.lnb-wrapper {
    width: 1400rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lnb-notice {
    font-size: 16rem;
    display: flex;
    align-items: center;
    gap: 20rem;
}

.lnb-notice b i {
    font-weight: lighter;
}

.lnbSwiper .swiper-slide:hover p {
    text-decoration: underline;
}

.lnb-right {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.lnb-right a {
    font-size: 16rem;
    font-weight: 500;
}

.header {
    position: fixed;
    top: 50rem;
    width: 100%;
    height: 110rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    z-index: 997;
}

.gnb {
    width: 1400rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb-menu {
    display: flex;
    gap: 65rem;
}

.gnb-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb-menu-item a {
    color: #111;
    padding: 39rem 0;
    font-size: 21rem;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    margin-top: 3px;
}

.gnb-menu-item:hover a {
    color: var(--main-color) !important;
    border-bottom: 3px solid var(--main-color) !important;
}

.gnb-menu-item-hover {
    color: var(--main-color) !important;
    border-bottom: 3px solid var(--main-color) !important;
}

.logo {
    width: 220rem;
    min-width: 220rem;
}

.gnb-right {
    display: flex;
    align-items: center;
}

.header.Fixed .menuBtns {
    background-color: var(--main-color);
}


/*==================================================*/
@media (max-width: 1250px) {
    .lnb {
        display: none;
    }
    
    .header {
        top: 0;
    }
    
    .gnb {
        width: 100%;
        padding: 0 20px;
    }
    
    .gnb-menu {
        display: none;
    }
}


@media (max-width: 768px) {
    .gnb {
        width: 100%;
        padding: 0 20px;
    }
}


@media (min-width: 1251px) {
    .header:hover {
        background-color: #fff;
    }
    
    .header:hover .logo-w {
        display: none;
    }
    
    .header:hover .logo {
        display: flex;
    }
    
    .header:hover .gnb-menu li a {
        color: #3d3d3d;
        font-weight: 700;
    }

    .header:hover .menuBtns {
        background-color: var(--main-color);
    }
}