.carousel {
    width: 100%;
    margin-top: 160rem;
}

.mySwiper {
    width: 100%;
    height: 600rem;
}

.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper .swiper-pagination-bullets {
    bottom: 100rem !important;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: var(--sub-color);
}

.s-slide1 {
    background: url(../images/b1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.s-slide2 {
    background: url(../images/b2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.s-slide3 {
    background: url(../images/b3.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.swiper-slide-active .content h5 {
    animation: slideAnimation 1.5s .5s both;
}

.swiper-slide-active .content p {
    animation: slideAnimation 1.5s 1s both;
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    width: 1400rem;
    display: flex;
    flex-direction: column;
    user-select: none;
    z-index: 6;
}

.content h5 {
    color: #fff;
    font-size: 70rem;
    line-height: 1.1;
    font-family: 'GMarket Sans';
    text-shadow: 0 0 30px rgba(0, 0, 0, .4);
}

.content p {
    color: #fff;
    font-size: 20rem;
    line-height: 1.6;
    font-family: 'GMarket Sans';
    margin-top: 30rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, .4);
    margin-bottom: 40rem;
}


/*==================================================*/
@media (max-width: 1400px) {
    .mySwiper .swiper-slide {
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .mySwiper .swiper-slide .s-background img {
        transform: scale(1);
        transition: none;
    }
    
    .s-background-1 img {
        object-position: bottom center;
    }
    
    .s-background-2 img {
        object-position: left;
    }
    
    .s-background-3 img {
        object-position: center;
    }

    .content p {
        margin-bottom: 50rem;
    }
}


@media (max-width: 550px) {
    .mySwiper .swiper-pagination-bullets {
        margin-left: 0 !important;
    }
}