.article3 {
    height: 350rem;
    background-color: #0e1011;
}

.a3-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a3-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.a3-box p {
    color: #aaa;
    font-size: 18rem;
    font-weight: 500;
    text-align: center;
}

.a3-box h5 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 120rem;
    font-weight: 400;
    color: #fff;
    line-height: 1;
}

.flip-digit {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    height: 1.1em;
    width: 0.65em;
}

.flip-digit .digit-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: transform;
}

.flip-digit .digit-inner span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.1em;
    width: 0.65em;
    line-height: 1;
}


@media (max-width: 1024px) {
    .article3 {
        height: auto;
        padding: 120rem 0;
    }
    
    .a3-box-wrapper {
        flex-direction: column;
        justify-content: unset;
        gap: 60rem;
    }
}


@media (max-width: 450px) {
    .a3-box-wrapper {
        gap: 100rem;
    }
    
    .a3-box p {
        font-size: 40rem;
    }

    .a3-box h5 {
        font-size: 160rem;
    }
}