footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.footer-wrapper {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50rem;
    border-radius: 25rem 25rem 0 0;
    background-color: var(--main-color);
}

.footer-inner {
    width: 1100rem;
    padding-top: 60rem;
}

.footer-cta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60rem;
}

.footer-cta h5 {
    color: #fff;
    font-size: 45rem;
    line-height: 1.2;
}

.footer-text p {
    color: #fff;
    font-size: 15rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0;
}

.fctaBtn {
    width: 240rem;
    height: 65rem;
    color: #000;
    font-size: 20rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    background-color: #fff;
}
.fctaBtn:hover {
    color: #fff;
    background-color: #000;
}

.footer-text p+p {
    margin-top: 15px;
}

.logo-f {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80rem 0;
}

.mobile-br {
    display: none;
}

.biz-info span:not(:last-child)::after {
    content: '|';
    margin: 0 8px;
    color: #999;
}


@media (max-width: 1024px) {
    .footer-wrapper {
        width: 100%;
        border-radius: 30rem 30rem 0 0;
    }

    .footer-inner {
        padding: 60rem;
    }
}


@media (max-width: 768px) {
    .mobile-br {
        display: block;
    }

    .biz-info span::after {
        display: none;
    }

    .footer-text p {
        font-size: 22rem;
    }
}


@media (max-width: 450px) {
    .footer-inner {
        padding: 90rem;
        padding-top: 120rem;
    }
    
    .footer-cta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50rem;
        margin-bottom: 100rem;
    }
    
    .footer-cta h5 {
        width: 100%;
        font-size: 70rem;
    }

    .fctaBtn {
        width: 100%;
        height: 110rem;
        color: #fff;
        font-size: 36rem;
        background-color: #000;
    }

    .footer-text p {
        font-size: 28rem;
    }
}