.floating {
    position: fixed;
    bottom: 20px; right: 20px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    z-index: 98;
}

.topBtn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    -webkit-animation: pulseAnim 1.3s infinite;
    animation: pulseAnim 1.3s infinite;
}

.topBtn i {
    color: #fff;
    font-size: 22px;
    -webkit-animation: none;
    animation: none;
}

@keyframes pulseAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 132, 255, 0.4);
	}
	70% {
		box-shadow: 0 0 0 15px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}


/*==================================================*/
@media (max-width: 768px) {
    .topBtn {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .topBtn i {
        font-size: 17px;
    }
}