@font-face {
  font-family: 'GmarketSansB';
  src: url(./GmarketSansTTFBold.woff) format('woff');
}



@font-face {
  font-family: 'GmarketSansM';
  src: url(./GmarketSansTTFMedium.woff) format('woff');
}



@font-face {
  font-family: 'GmarketSansL';
  src: url(./GmarketSansTTFLight.woff) format('woff');
}