.article1 {
    position: relative;
    height: 100vh;
    padding: 0 !important;
    overflow: hidden;
}

.a1-bg {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.a1-text {
    position: absolute;
    bottom: 100px; left: 50%;
    color: #fff;
    width: 800px;
}

.a1-text h5 {
    font-size: 100px;
    font-weight: 600;
}

.a1-text p {
    font-size: 24px;
    line-height: 1.9;
    margin-top: 50px;
}