.article3 {
    background-color: #f6f6f6;
}

.a3-title {
    width: 100%;
    margin-bottom: 60px;
}

.a3-title img {
    width: 80px;
}

.a3-title h5 {
    color: #222;
    font-size: 50px;
    letter-spacing: -3px;
}

.a3-title p {
    font-size: 19px;
    line-height: 1.6;
    margin-top: 30px;
}

.a3-title span {
    display: block;
    color: #aaa;
    font-size: 15px;
    text-align: right;
    margin-bottom: -20px;
}

.a3-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.a3-box {
    height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 15px 40px 0 rgba(80, 86, 131, .15);
    background-color: #fff;
}

.a3-box-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.a3-box-graph {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.a3-graph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.a3-graph p {
    font-size: 16px;
    margin: 0;
}

.a3-graph .bar {
    width: 45px;
    background-color: #ccc;
}

.a3-box-graph.one .a3-graph:nth-child(1) .bar {
    height: 20%;
}
.a3-box-graph.one .a3-graph:nth-child(2) {
    color: var(--main-color);
    font-weight: 700;
}
.a3-box-graph.one .a3-graph:nth-child(2) .bar {
    height: 100%;
    background-color: var(--main-color);
}
.a3-box-graph.one .a3-graph:nth-child(3) .bar {
    height: 70%;
}
.a3-box-graph.one .a3-graph:nth-child(4) .bar {
    height: 55%;
}
.a3-box-graph.one .a3-graph:nth-child(5) .bar {
    height: 35%;
}


.a3-box-graph.two {
    flex-direction: column;
    align-items: flex-start;
}
.a3-box-graph.two .a3-graph {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.a3-box-graph.two .a3-graph p {
    min-width: 45px;
}
.a3-box-graph.two .a3-graph .bar {
    width: 100%;
    height: 35px;
}
.a3-box-graph.two .a3-graph:nth-child(1) {
    color: red;
    font-weight: 700;
}
.a3-box-graph.two .a3-graph:nth-child(1) .bar {
    width: 100%;
    background-color: red;
}
.a3-box-graph.two .a3-graph:nth-child(2) .bar {
    width: 60%;
}
.a3-box-graph.two .a3-graph:nth-child(3) .bar {
    width: 42%;
}
.a3-box-graph.two .a3-graph:nth-child(4) .bar {
    width: 24%;
}
.a3-box-graph.two .a3-graph:nth-child(5) .bar {
    width: 10%;
}


.a3-box-graph.three {
    justify-content: center;
    gap: 40px;
}
.a3-box-graph.three .a3-graph:nth-child(1) .bar {
    height: 65%;
}
.a3-box-graph.three .a3-graph:nth-child(2) {
    color: var(--main-color);
    font-weight: 700;
}
.a3-box-graph.three .a3-graph:nth-child(2) .bar {
    height: 100%;
    background-color: var(--main-color);
}