footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a2029;
    padding: 100px 0;
}

.footer-wrapper {
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo-f {
    width: 140px;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.fBtn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.footer-mid {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-text p {
    color: rgba(255, 255, 255, .6);
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0;
}

.footer-text p b {
    color: rgba(255, 255, 255, .8);
    display: block;
    font-size: 17px;
    margin-bottom: -20px;
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fb-left p {
    color: rgba(255, 255, 255, .4);
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
}

.f-menu {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 30px;
    }
}


@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: unset;
        border-bottom: none;
        margin-bottom: -30px;
    }
    
    .fBtn-wrapper {
        display: none;
    }
    
    .f-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .f-menu-item {
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }
    
    .fmh {
        color: #fff;
        width: 100%;
        padding: 25px 0;
        display: flex;
        font-size: 19px;
        font-weight: 600;
        justify-content: space-between;
    }
    
    .fmh i {
        color: #aaa;
        font-weight: lighter;
    }
    
    .f-menu-hover {
        position: static;
        transform: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        box-shadow: none;
        border-radius: 0;
        display: none;
    }

    .f-menu-hover.on {
        padding: 30px 10px;
        padding-top: 5px;
        display: flex !important;
        gap: 20px;
    }

    .f-menu-item .f-menu-hover li {
        text-align: left;
    }

    .f-menu-item .f-menu-hover li a {
        display: flex;
        color: rgba(255, 255, 255, .6);
        width: 100%;
        font-size: 16px;
        font-weight: 500;
    }
}


@media (max-width: 550px) {
    .footer-wrapper {
        gap: 60px;
    }
    
    .logo-f {
        width: 260px;
    }
    
    .fmh {
        font-size: 24px;
    }

    .f-menu-item .f-menu-hover li a {
        font-size: 20px;
    }

    .footer-text p b {
        font-size: 24px;
    }

    .footer-text p,
    .fb-left p {
        font-size: 20px;
    }
}