.ct2 {
    background-color: var(--bg-white);
}

.ct2-image {
    width: 100%;
    mix-blend-mode: multiply;
    margin-top: -130rem;
}

.ct2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30rem;
}

.ct2-box {
    padding: 50rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #eee;
    background-color: #fff;
}

.ct2-box p {
    color: var(--sub-text);
    display: flex;
    flex-direction: column;
    font-size: 30rem;
    font-weight: 400;
}

.ct2-box p span {
    color: var(--main-color);
    font-size: 40rem;
    font-weight: 600;
}


/*==================================================*/
@media (max-width: 768px) {
    .ct2-image {
        transform: scale(1.5);
    }
    
    .ct2-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 550px) {
    .ct2-box p {
        font-size: 40rem;
    }

    .ct2-box p span {
        font-size: 50rem;
    }
}