.eu2 {
    background-color: var(--bg-white);
}

.eu2 .a1-box-wrapper {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.eu2 .a1-box {
    background-color: #fff;
}

.eu2 .a1-box-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.eu4 {
    background-color: var(--main-color);
    background: url(../images/eurasia/eu4-bg.jpg);
    background-attachment: fixed;
}

.eu4 .a4-text p span {
    color: var(--sub-text);
}


.eu5 {
    background-color: var(--bg-white);
}

.eu5 .a1-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50rem;
}

.eu5 .a1-box {
    background-color: #fff;
}

.eu5 .a1-box h5 {
    font-size: 40rem;
    font-weight: 500;
    font-family: unset;
}

.eu5 .a1-box ul {
    padding-left: 20rem;
    margin-top: 40rem;
}

.eu5 .a1-box ul li {
    color: var(--sub-text);
    font-size: 24rem;
    list-style: disc;
}


.eu6-image {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20rem;
    margin-top: 20rem;
}

.eu6 .ft4Swiper .swiper-slide {
    background-color: #f8f8f8;
}

.eu6 .ft4Swiper .swiper-slide img {
    mix-blend-mode: multiply;
}


.eu7 {
    background-color: var(--bg-white);
}

.eu7 .a1-box-wrapper {
    grid-template-columns: repeat(3, 1fr);
}

.eu8-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.eu8-box {
    height: auto;
}

.eu8-box h6 {
    color: var(--main-color);
    font-size: 32rem;
    font-weight: 500;
}


.eu11 {
    background-color: var(--bg-white);
}

.eu11 img {
    mix-blend-mode: multiply;
}


/*==================================================*/
@media (max-width: 768px) {
    .eu2 .a1-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .eu2 .a1-box-text {
        display: flex;
        flex-direction: column;
        gap: 30rem;
    }
    
    .eu4 {
        height: auto;
        background: var(--bg-white);
        background-attachment: unset;
    }
    .eu4::before {
        background: url(../images/eurasia/eu4-1.jpg) no-repeat;
        background-position: top center;
    }

    .eu4 .a4-text {
        margin-top: 60%;
        margin-bottom: 0;
    }

    .eu5 .a1-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0;
    }

    .eu5 .a1-box {
        height: auto;
        flex-direction: column;
        align-items: unset;
    }

    .eu5 .a1-box ul {
        margin-top: 0;
    }

    .eu6-image {
        gap: 10rem;
        margin-top: 10rem;
    }

    .eu8-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 20rem;
    }

    .eu8-box h6 br {
        display: none;
    }

    .hs3Swiper .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }

    .hs3Swiper .swiper-slide {
        display: flex;
        gap: 60rem;
    }

    .hs3Swiper .ss-year h5 {
        width: 130rem;
        font-size: 40rem;
        margin-right: 40rem;
        white-space: wrap;
    }

    .hs3Swiper .ss-line {
        width: 1px;
        height: 100%;
    }

    .hs3Swiper .ss-line::before {
        top: 36px;
        left: -4px;
    }

    .hs3Swiper .ss-line::after {
        top: 30px;
        left: -10px;
    }
}


@media (max-width: 550px) {
    .eu3 .art-bottom h6 {
        font-size: 30rem;
        padding-right: 0;
    }
    
    .eu4 .ar-title h5 {
        font-size: 50rem;
    }
}