.hs1 .ar-title {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.hs1 .ar-title h5 {
    width: 50%;
}

.hs1 .ar-title h6 {
    color: var(--sub-text);
    font-size: 22rem;
    font-weight: 400;
    line-height: 1.5;
}

.hs1Swiper {
    position: relative;
    width: calc(100% - 10%);
    margin-left: auto;
    margin-right: 0;
}

.hs1Swiper .swiperBtn-wrapper .sbnBtn {
    filter: invert(1);
    opacity: 1;
}

.swiperBtn-wrapper {
    float: right;
    width: 56%;
    display: flex;
    align-items: center;
    gap: 20rem;
    margin: 0 auto;
    margin-bottom: 60rem;
}

.ss-year {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ss-line {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}

.ss-line::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--light-blue);
}

.hs1Swiper .ss-text {
    color: var(--sub-text);
    font-size: 22rem;
    line-height: 1.5;
    margin-left: 120rem;
}


.hs2 {
    position: relative;
    background-color: var(--bg-white);
}

.hs2-map {
    position: absolute;
    bottom: 50rem;
    z-index: 1;
}

.hs2Swiper {
    width: 100%;
    margin-top: 350rem;
    z-index: 2;
}

.hs2-box {
    position: relative;
    border: 8rem solid #fff;
    height: 300rem;
}
.hs2-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, var(--main-color), transparent);
    z-index: 1;
}

.hs2-box-image {
    width: 100%;
    height: 100%
}

.hs2-box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hs2-box-text {
    position: absolute;
    bottom: 20px; left: 20px;
    color: #fff;
    z-index: 2;
}

.hs2-box-text h6 {
    font-size: 32rem;
    font-weight: 500;
}

.hs2-box-text p {
    font-size: 22rem;
}


.hs3 {
    background: url(../images/hs3-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.hs3 .ar-title {
    width: auto;
    margin-right: auto;
    margin-bottom: -100rem;
}

.hs3Swiper {
    position: relative;
    width: calc(100% - 10%);
    margin-left: auto;
    margin-right: 0;
}

.hs3Swiper .swiperBtn-wrapper {
    width: unset;
    margin-right: 100rem;
    z-index: 50;
}

.hs3Swiper .ss-year h5 {
    color: #fff;
    white-space: nowrap;
}

.hs3Swiper .ss-line {
    background-color: #ffffff6f;
}

.hs3Swiper .ss-line::after {
    content: '';
    position: absolute;
    top: -10px; left: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--light-blue);
}

.hs3Swiper .ss-text {
    color: #fff;
    padding-right: 30rem;
    margin: 30rem 0;
}

.hs3Swiper .ss-text h6 {
    font-size: 32rem;
    font-weight: 500;
}

.hs3Swiper .ss-text p {
    font-size: 20rem;
}



/*==================================================*/
@media (min-width: 2250px) {
    .hs1Swiper,
    .hs3Swiper {
        width: calc(100% - 15%);
    }

    .swiperBtn-wrapper {
        width: 59%;
    }
}


@media (max-width: 1450px) {
    .hs1Swiper,
    .hs3Swiper {
        width: calc(100% - 5%);
    }

    .swiperBtn-wrapper {
        width: 53%;
    }
}


@media (max-width: 768px) {
    .hs1 .ar-title {
        flex-direction: column;
        align-items: unset;
        gap: 40rem;
        margin-bottom: 100rem;
    }

    .swiperBtn-wrapper {
        display: none;
    }

    .hs2 .article-wrapper {
        width: 100%;
        padding-left: 5%;
    }
    
    .hs2-map {
        bottom: 330rem; left: 0;
    }

    .hs2Swiper {
        margin-right: 0;
    }

    .hs2-box {
        height: 400rem;
    }

    .hs3 .ar-title {
        margin-bottom: 70rem;
    }
}


@media (max-width: 550px) {
    .hs1 .ar-title h6 {
        font-size: 30rem;
    }

    .hs1Swiper .ss-text {
        font-size: 30rem;
    }

    .hs2 .ar-title h5 {
        font-size: 65rem;
    }

    .hs2-box-text h6 {
        font-size: 40rem;
    }

    .hs2-box-text p {
        font-size: 26rem;
    }

    .hs3 .ar-title h5 {
        font-size: 70rem;
    }

    .hs3Swiper .ss-text h6 {
        font-size: 40rem;
    }

    .hs3Swiper .ss-text p {
        font-size: 26rem;
    }
}