.ov2 {
    background-color: var(--bg-white);
}

.ov2 .art-bottom h6 {
    font-family: unset;
}

.ov2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40rem;
}

.ov2-box {
    background-color: #fff;
}

.ov2-box-text {
    padding: 30rem 50rem;
    padding-right: 0;
}

.ov2-box-text h6 {
    color: var(--main-color);
    font-size: 40rem;
    font-weight: 600;
}

.ov2-box-text ul {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 10rem;
    padding-left: 15rem;
}

.ov2-box-text ul li {
    color: var(--sub-text);
    font-size: 22rem;
    list-style: disc;
}


.ov3 {
    position: relative;
    overflow: hidden;
}

.ov3-map {
    position: absolute;
    top: -15%; left: 40%;
    height: 110%;
}

.ov3 .hs3Swiper {
    width: 100%;
    margin-top: 200rem;
}

.ov3 .hs3Swiper .swiper-wrapper {
    display: flex;
    flex-direction: column;
}

.ov3 .hs3Swiper .swiper-slide {
    display: flex;
    gap: 60rem;
}

.ov3 .hs3Swiper .ss-year h5 {
    margin-right: 40rem;
}

.ov3 .hs3Swiper .ss-line {
    width: 1px;
    height: 100%;
}

.ov3 .hs3Swiper .ss-line::before {
    top: 36px;
    left: -4px;
}

.ov3 .hs3Swiper .ss-line::after {
    top: 30px;
    left: -10px;
}


/*==================================================*/
@media (max-width: 768px) {
    .ov2-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .ov3-map {
        left: unset;
        top: -5%; right: -30%;
        transform: scale(1.7);
        width: 100%;
        height: unset;
    }

    .ov3 {
        padding-bottom: 40rem;
    }
    
    .ov3 .hs3Swiper {
        margin-top: 300rem;
    }
}


@media (max-width: 550px) {
    .ov2 .art-bottom h6 {
        font-size: 30rem;
        padding-right: 0;
    }
    
    .ov2-box-text h6 {
        font-size: 50rem;
    }
    
    .ov2-box-text ul li {
        font-size: 30rem;
    }

    .ov3-map {
        top: 5%;
    }
}