.pp1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pp1 .ar-title {
    width: unset;
}

.pp1 .a1-box-wrapper {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
}


.pp2 {
    padding-top: 60rem;
    padding-bottom: 0;
    background-color: var(--bg-white);
}

.pp2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pp2 .ar-title h6 {
    color: var(--main-color);
    font-size: 26rem;
    font-weight: unset;
    font-family: 'SabonLTPro';
    line-height: 1.4;
    margin-top: 60rem;
}

.pp2-text {
    color: var(--sub-text);
    font-size: 20rem;
    line-height: 1.6;
    margin-bottom: 50rem;
    letter-spacing: 1rem;
}

.ceo {
    width: 50%;
}


.pp3 {
    background-color: var(--main-color);
}

.pp3-wrapper {
    position: relative;
    width: calc(100% - 10%);
    margin-left: auto;
    margin-right: 0;
}

.tmSwiper {
    position: absolute;
    bottom: 0; right: 0;
    max-width: 55%;
    height: 300rem;
}

.tmSwiper .swiper-slide {
    cursor: pointer;
}

.pp3Swiper {
    position: relative;
    width: 100%;
}

.pp3Swiper .swiperBtn-wrapper {
    position: absolute;
    bottom: 50%; right: 30rem;
    display: flex;
    align-items: center;
    gap: 20rem;
    z-index: 20;
}

.pp3Swiper .swiper-slide img,
.tmSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -8px;
}

.pp3Swiper .swiper-slide {
    display: flex;
    gap: 42rem;
}

.pp3Swiper .ar-title em {
    color: #ffffffc5;
    display: flex;
    font-size: 20rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1rem;
    margin-top: 30rem;
    padding-right: 20%;
}

.pp3Swiper .ss-image {
    position: relative;
    min-width: 43%;
}

.pp3Swiper .ss-image::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to top, var(--main-color), transparent);
    z-index: 1;
}
.pp3Swiper .ss-image.show::before {
    height: 100%;
}

.pp3Swiper .ss-moreBtn {
    position: absolute;
    bottom: 50rem; left: 30rem;
    width: 40rem;
    height: 40rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--light-blue);
    transition: all .3s;
    cursor: pointer;
    z-index: 2;
}

.pp3Swiper .ss-moreBtn i {
    font-size: 20rem;
}

.pp3Swiper .ss-moreBtn.show {
    transform: rotate(45deg);
}

.pp3Swiper .ss-info {
    position: absolute;
    bottom: 0; left: 35rem;
    color: #fff;
    width: 100%;
    font-size: 17rem;
    font-weight: 300;
    line-height: 1.5;
    padding-right: 50rem;
    letter-spacing: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 2;
}

.pp3Swiper .ss-info.show {
    bottom: 120rem;
    opacity: 1;
    visibility: visible;
}

.pp3Swiper .swiper-slide .ar-title {
    margin-right: 50rem;
    opacity: 0;
    transform: translateX(-60rem);
}

.pp3Swiper .swiper-slide-active .ar-title {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}



/*==================================================*/
@media (min-width: 2250px) {
    .pp3-wrapper {
        width: calc(100% - 15%);
    }

    .pp3Swiper .ss-image {
        min-width: 40%;
    }

    .tmSwiper {
        max-width: 58%;
    }
}


@media (max-width: 1650px) {
    .pp3Swiper .swiperBtn-wrapper {
        bottom: 55%;
    }
}


@media (max-width: 1450px) {
    .pp3-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}


@media (max-width: 950px) {
    .tmSwiper {
        width: 54%;
        max-width: unset;
    }
}


@media (max-width: 768px) {
    .pp1-wrapper {
        flex-direction: column;
        justify-content: unset;
    }

    .pp1 .a1-box-wrapper {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .pp2 {
        overflow: hidden;
    }
    
    .pp2-wrapper {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }

    .ceo {
        width: 100%;
        transform: scale(1.1);
    }

    .pp3 .article-wrapper {
        width: 100%;
    }
    
    .pp3-wrapper {
        width: 100%;
    }
    
    .tmSwiper {
        display: none;
    }

    .pp3Swiper .swiperBtn-wrapper {
        display: none;
    }
    
    .pp3Swiper .swiper-slide {
        flex-direction: column-reverse;
        gap: 0;
    }
    
    .pp3Swiper .ar-title {
        margin-bottom: 30rem;
    }
    
    .pp3Swiper .ar-title em {
        height: 85rem;
        padding-right: 20rem;
        overflow-y: auto;
    }

    .pp3Swiper .ar-title em::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(255, 255, 255, .1);
    }

    .pp3Swiper .ar-title em::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .2);
    }
    
    .pp3Swiper .ss-image {
        min-width: 100%;
    }
}


@media (max-width: 550px) {
    .pp2 .ar-title h6 {
        font-size: 40rem;
    }
    
    .pp2-text {
        font-size: 28rem;
    }

    .pp3Swiper .ss-image::before {
        background: var(--main-color);
        opacity: .5;
    }

    .pp3Swiper .ss-moreBtn {
        width: 60rem;
        height:  60rem;
    }

    .pp3Swiper .ss-moreBtn i {
        font-size: 28rem;
    }
    
    .pp3Swiper .ss-info {
        font-size: 23rem;
    }

    .pp3Swiper .ss-info.show {
        bottom: 130rem;
    }
}