.pp3-wrapper .ar-title.dark {
    position: absolute;
    top: 0; left: 45%;
    z-index: 10;
}

.pp3Swiper .ss-image {
    width: 43%;
    min-width: unset;
}

.pp3Swiper .swiper-slide .ar-title {
    opacity: 1;
    margin-right: 0;
    transform: translateX(0);
}

.pp3Swiper .swiper-slide-active .ar-title {
    transition: all 0s;
}

.pd3-title {
    width: 100%;
    color: var(--main-color);
    font-size: 30rem;
    font-weight: 600;
    margin-bottom: 30rem;
    text-transform: uppercase;
}


/*==================================================*/
@media (min-width: 2250px) {
    .pp3-wrapper .ar-title.dark {
        left: 42%;
    }
    
    .pp3Swiper .ss-image {
        width: 40%;
    }
}


@media (max-width: 768px) {
    .pp3-wrapper .ar-title.dark {
        position: static;
        padding-left: 5%;
        margin-bottom: 50rem;
    }

    .pp3Swiper .ar-title em {
        height: auto;
    }
    
    .pp3Swiper .ss-image {
        width: 100%;
    }
}