



/*==================================================*/
@media (max-width: 768px) {
    .a1-box {
        flex-direction: column;
        align-items: unset;
    }

    .a1-box h5 br {
        display: none;
    }
}