.pd4-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80rem;
}

.pd4-box img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.pd4-box p {
    font-size: 30rem;
    font-weight: 400;
    text-align: center;
    margin-top: 20rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .pd4-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 50rem;
    }
}


@media (max-width: 550px) {
    .pd4-box img {
        height: 250rem;
    }
    
    .pd4-box p {
        font-size: 40rem;
        text-align: left;
    }
}