.pd2 {
    position: relative;
    background-color: #f2f2f2;
}
.pd2::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 61%;
    background-color: #eee;
    border-bottom: 2px solid #fff;
    z-index: 1;
}
.pd2::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 54%;
    background: linear-gradient(to bottom, #f2f2f2, #ddd);
    border-bottom: 2px solid #fff;
    z-index: 2;
}

.pd2-box-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50rem;
    z-index: 3;
}

.pd2-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50rem;
}

.pd2-box img {
    width: 350rem;
}

.pd2-box-text {
    height: 370rem;
    padding: 100rem 60rem;
    background-color: #fff;
}

.pd2-box-text h6 {
    color: var(--main-color);
    font-size: 30rem;
    font-weight: 600;
    text-transform: uppercase;
}

.pd2-box-text p {
    color: var(--sub-text);
    font-size: 20rem;
    line-height: 1.6;
    margin-top: 20rem;
}

.pd2-box:last-child {
    gap: 150rem;
}

.pd2-box:first-child img {
    margin-right: -200rem;
}
.pd2-box:last-child img {
    margin-left: -200rem;
}

.pd3-title {
    width: 100%;
    color: var(--main-color);
    font-size: 30rem;
    font-weight: 600;
    margin-bottom: 30rem;
    text-transform: uppercase;
}


/*==================================================*/
@media (max-width: 768px) {
    .pd2::before,
    .pd2::after {
        display: none;
    }
    
    .pd2-box-wrapper {
        display: flex;
        flex-direction: column;
        gap: 100rem;
    }

    .pd2-box {
        gap: 0 !important;
    }
    
    .pd2-box img {
        margin: 0 !important;
        margin-bottom: -40rem !important;
        z-index: 5;
    }

    .pd2-box-text {
        height: auto;
        padding: 70rem 40rem;
    }
}


@media (max-width: 550px) {
    .pd2-box-text h6 {
        font-size: 40rem;
    }
    
    .pd2-box-text p {
        font-size: 30rem;
        line-height: 1.3;
    }

    .pd3-title {
        font-size: 36rem;
    }
}