.rs2 .ov2-box-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50rem;
}

.rs2 .ov2-box-text p {
    color: var(--light-blue);
    font-size: 30rem;
    font-weight: 600;
    margin-bottom: 20rem;
}


.rs4 {
    background: url(../images/research/rs4-bg.jpg) no-repeat;
    background-attachment: fixed;
}


.rs6 {
    background-color: var(--bg-white);
}

.rs6-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.rs6-box .ov2-box-text {
    text-align: center;
}

.rs6-box .ov2-box-text p {
    color: var(--sub-text);
    font-size: 30rem;
    margin-top: 10rem;
}



/*==================================================*/
@media (max-width: 768px) {
    .rs2 .ov2-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .rs3 {
        padding-bottom: 0;
    }
    
    .rs4 {
        height: auto;
        background: var(--main-color);
        background-attachment: unset;
    }
    .rs4::before {
        background: url(../images/research/rs4-bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .rs4 .ar-title h5 {
        font-size: 60rem;
    }
    
    .rs4 .a4-text {
        margin-bottom: 0;
    }

    .rs6 .art-bottom h6 {
        font-size: 28rem;
        font-family: unset;
        padding-right: 0;
    }

    .rs6-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .rs7 .art-bottom h6 {
        font-size: 28rem;
        font-family: unset;
        padding-right: 0;
    }

    .rs7 .art-bottom h6 br {
        display: none;
    }
}


@media (max-width: 550px) {
    .rs3 .art-bottom h6 {
        font-size: 28rem;
        font-family: unset;
        padding-right: 0;
    }
}