.sub-promotion {
    position: relative;
    width: 100%;
    height: 500rem;
    display: flex;
    justify-content: center;
    background: url(../images/sub-bg.jpg);
    background-position: center;
    overflow: hidden;
}



/*==================================================*/
@media (max-width: 768px) {
    .sub-promotion {
        height: 350rem;
    }
}