.sub-promotion {
    position: relative;
    width: 100%;
    height: 500rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sub-promotion.people {
    background: url(../images/people-bg.jpg);
    background-position: center;
}
.sub-promotion.history {
    background: url(../images/history-bg.jpg);
    background-position: center;
}
.sub-promotion.clients {
    background: url(../images/clients-bg.jpg);
    background-position: left;
}
.sub-promotion.products {
    background: url(../images/products-bg.jpg);
    background-position: right;
}
.sub-promotion.factory {
    background: url(../images/factory-bg.jpg);
    background-position: right;
}
.sub-promotion.eurasia {
    background: url(../images/eurasia-bg.jpg);
    background-position: right;
}



/*==================================================*/
@media (max-width: 768px) {
    .sub-promotion {
        height: 350rem;
    }
}