.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-top: 1px solid #ddd;
    padding: 30px 0;
}

.footer-wrapper {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.f-left {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.f-left a {
    width: fit-content;
    height: fit-content;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.fBtn-wrapper .fBtn {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.fBtn-wrapper .fBtn:first-child {
    font-weight: 700;
}

.logo-f {
    width: 110px;
}

.f-text p {
    color: #222;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-top: 12px;
}


.f-right {
    display: flex;
    gap: 2rem;
}

.f-right img {
    height: 45px;
}


/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 1250px) {
    .footer-wrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .f-left {
        flex-direction: column;
        align-items: unset;
        gap: 1.5rem;
    }

    .f-right img {
        height: 30px;
    }
}


@media (max-width: 550px) {
    .footer-wrapper {
        gap: 1.5rem;
    }
    
    .f-left {
        gap: 1rem;
    }
    
    .logo-f {
        width: 75px;
    }

    .fBtn-wrapper {
        gap: 1.2rem;
    }
    
    .fBtn-wrapper .fBtn {
        font-size: 15px;
    }
    
    .f-text p {
        font-size: 14px;
    }

    .f-right img {
        height: 24px;
    }
}


@media (max-width: 450px) {
    .footer {
        overflow: hidden;
    }
}