.article2 {
    position: relative;
    padding: 0;
    background-color: var(--main-color);
}

.a2-sb {
    position: absolute;
    top: 45%; left: 180px;
    transform: translate(0, -50%);
    width: 650px;
    max-width: 650px;
    opacity: .07;
    z-index: 1;
}

.a2-wrapper {
    width: 100%;
    z-index: 2;
}

.a2-left {
    position: relative;
    width: 50%;
    padding: 120px 0 3rem 0;
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.a2-left h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.a2-left h1 {
    color: #fff;
    font-size: 45px;
    line-height: 1.2;
    margin-top: 1rem;
}

.a2-left h1 span {
    font-size: 32px;
    font-weight: 300;
}

.a2-left h1 em {
    font-weight: 300;
    font-style: normal;
    font-family: 'Anybody' !important;
}

.a2-left h1 em b {
    font-weight: 700;
    font-family: 'Anybody' !important;
}

.a2-right {
    float: right;
    width: 50.01%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 120px;
}

.a2-right p {
    position: relative;
    color: #fff;
    padding: 35px 0;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.a2-image {
    position: absolute;
    top: 50%; right: 0;
    transform: translate(0, -50%);
    width: 30px;
    max-width: 30px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a2-sb {
        left: unset;
        right: 0;
    }

    .a2-left {
        width: 100%;
        border-right: none;
    }

    .a2-right {
        float: unset;
        width: 100%;
        border-left: none;
    }

    .a2-right p {
        padding-left: 0;
    }
}


@media (max-width: 768px) {
    .a2-sb {
        top: 25%;
        right: -100px;
        width: 500px;
        max-width: 500px;
    }

    .a2-left {
        padding: 60px 0 2rem 0;
    }
    
    .a2-left h1 {
        font-size: 35px;
    }

    .a2-left h1 span {
        font-size: 28px;
    }

    .a2-right {
        padding-bottom: 60px;
    }
}


@media (max-width: 650px) {
    .a2-left h2 {
        font-size: 16px;
    }
    
    .a2-right p {
        padding: 28px 0;
        font-size: 20px;
    }

    .a2-image {
        width: 20px;
        max-width: 20px;
    }
}


@media (max-width: 550px) {
    .a2-sb {
        width: 400px;
        max-width: 400px;
    }
    
    .a2-left h1 {
        font-size: 28px;
    }

    .a2-left h1 span {
        font-size: 22px;
    }
    
    .a2-right p {
        padding: 20px 0;
        font-size: 16px;
    }

    .a2-image {
        width: 15px;
        max-width: 15px;
    }
}