.a8-wrapper {
    width: 100%;
    padding: 120px 40px;
    text-align: center;
    border-radius: 10px;
    background: url(../images/a8-bg.jpg);
}

.a8-wrapper p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 1rem;
}

.a8-wrapper h1 {
    color: #fff;
    font-size: 50px;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article8 {
        padding-top: 60px;
    }
    
    .a8-wrapper {
        padding: 80px 40px;
    }

    .a8-wrapper p {
        font-size: 18px;
        margin-bottom: .5rem;
    }

    .a8-wrapper h1 {
        font-size: 40px;
    }
}


@media (max-width: 450px) {
    .a8-wrapper {
        padding: 50px 20px;
    }

    .a8-wrapper p {
        font-size: 14px;
    }

    .a8-wrapper h1 {
        font-size: 30px;
    }
}