.a4-wrapper {
    width: 100%;
}

.a4-wrapper p {
    color: #888;
    font-size: 28px;
    margin-bottom: 1rem;
}

.a4-wrapper h1 {
    color: #222;
    font-size: 45px;
    font-weight: 800;
}

.a4-c-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 7rem 0;
}

.a4-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.a4-bottom {
    text-align: right;
}



/*==================================================*/
@media (max-width: 950px) {
    .a4-wrapper p {
        font-size: 22px;
        margin-bottom: .7rem;
    }

    .a4-wrapper h1 {
        font-size: 36px;
    }

    .a4-c-wrapper {
        gap: 1rem;
        margin: 4rem 0;
    }
}


@media (max-width: 768px) {
    .a4-wrapper p {
        font-size: 18px;
    }

    .a4-wrapper h1 {
        font-size: 32px;
    }

    .a4-c-wrapper {
        margin: 4rem 0;
    }

    .a4-circle {
        width: 6px;
        height: 6px;
    }
}


@media (max-width: 550px) {
    .a4-wrapper p {
        font-size: 14px;
    }

    .a4-wrapper h1 {
        font-size: 24px;
    }
}


@media (max-width: 450px) {
    .a4-wrapper p {
        font-size: 12px;
        margin-bottom: .5rem;
    }

    .a4-wrapper h1 {
        font-size: 18px;
    }

    .a4-c-wrapper {
        margin: 3rem 0;
    }
    
    .a4-circle {
        width: 4px;
        height: 4px;
    }
}