.article5 {
    background-color: #f2f2f2;
}

.a5-title {
    width: 100%;
    margin-bottom: 4rem;
}

.a5-title p {
    color: #888;
    font-size: 20px;
    margin-bottom: .5rem;
}

.a5-title h1 {
    color: #222;
    font-size: 65px;
    font-weight: 800;
}

.a5-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.a5-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 3%);
}

.a5-box-image img {
    height: 100px;
    opacity: .8;
}

.a5-box-text {
    text-align: center;
}

.a5-box-text h1 {
    color: #333;
    font-size: 22px;
    font-weight: 700;
}

.a5-box-text p {
    color: #aaa;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.01em;
    margin-top: 5px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a5-title {
        margin-bottom: 3rem;
    }
    
    .a5-title p {
        font-size: 18px;
    }
    
    .a5-title h1 {
        font-size: 58px;
    }
}


@media (max-width: 1050px) {
    .a5-box {
        padding: 25px;
    }
    
    .a5-box-image img {
        height: 80px;
    }

    .a5-box-text h1 {
        font-size: 20px;
    }

    .a5-box-text p {
        font-size: 14px;
    }
}


@media (max-width: 950px) {
    .a5-box-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    .a5-title {
        margin-bottom: 2rem;
    }
    
    .a5-title p {
        font-size: 15px;
        margin-bottom: .3rem;
    }
    
    .a5-title h1 {
        font-size: 45px;
    }
}


@media (max-width: 550px) {
    .a5-box {
        padding: 20px;
        gap: .3rem;
    }
    
    .a5-box-image img {
        height: 55px;
    }

    .a5-box-text h1 {
        font-size: 18px;
    }

    .a5-box-text p {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .a5-title {
        margin-bottom: 1.5rem;
    }
    
    .a5-title p {
        font-size: 13px;
    }
    
    .a5-title h1 {
        font-size: 30px;
    }

    .a5-box-image img {
        height: 45px;
    }

    .a5-box-text h1 {
        font-size: 16px;
    }
}