.article5 {
    background-color: #f2f2f2;
}

.a5-title {
    width: 100%;
    margin-bottom: 4rem;
}

.a5-title p {
    color: #888;
    font-size: 20px;
    margin-bottom: .5rem;
}

.a5-title h1 {
    color: #222;
    font-size: 65px;
    font-weight: 800;
}

.a5-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.a5-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 3%);
}

.a5-box-image img {
    height: 100px;
    opacity: .8;
}

.a5-box-text {
    text-align: center;
}

.a5-box-text h1 {
    color: #333;
    font-size: 22px;
    font-weight: 700;
}

.a5-box-text p {
    color: #aaa;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.01em;
    margin-top: 5px;
}


/*==================================================*/
