.article1 {
    position: relative;
    padding: 160px 0 80px 0;
    background-color: #eee;
}

.a1-1 {
    position: absolute;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 500px;
    opacity: .3;
    z-index: 1;
}

.a1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.a1-wrapper p {
    color: #888;
    font-size: 32px;
    margin-bottom: 1.5rem;
}

.a1-wrapper h1 {
    color: #222;
    font-size: 55px;
    font-weight: 800;
    line-height: 1.4;
}

.a1-2 {
    width: 40px;
    max-width: 40px;
    margin: 4rem 0;
}

.a1-text {
    position: relative;
    color: #222;
    padding: 20px;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, .05);
    text-align: center;
}

.a1-text p b {
    color: var(--main-color);
    font-weight: 600;
    text-decoration: underline;
}

.a1-text::after {
    content: '';
    position: absolute;
    top: -8px; left: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, 0) rotate(45deg);
    background-color: #fff;
}


/*==================================================*/
@media (max-width: 768px) {
    .article1 {
        padding: 120px 0 60px 0;
    }
    
    .a1-1 {
        width: 350px;
        max-width: 350px;
    }

    .a1-wrapper p {
        font-size: 24px;
    }

    .a1-wrapper h1 {
        font-size: 40px;
    }

    .a1-2 {
        width: 30px;
        max-width: 30px;
        margin: 3rem 0;
    }

    .a1-text {
        width: 80%;
        font-size: 15px;
    }

    .a1-text p br {
        display: none;
    }

    .a1-text::after {
        top: -4px;
    }
}


@media (max-width: 550px) {
    .article1 {
        padding: 80px 0 40px 0;
    }
    
    .a1-1 {
        top: 30%;
        width: 280px;
        max-width: 280px;
    }

    .a1-wrapper p {
        font-size: 18px;
    }

    .a1-wrapper h1 {
        font-size: 28px;
    }

    .a1-2 {
        width: 25px;
        max-width: 25px;
        margin: 2rem 0;
    }
    
    .a1-text {
        padding: 14px;
        font-size: 12px;
    }
}