.promotion {
    position: relative;
    width: 100%;
    height: 100vh !important;
    display: flex;
    transition: all .3s;
    overflow: hidden;
}

.promotion-wrapper {
    width: 1200px;
    display: flex;
}

.p-image {
    position: absolute;
    top: 300px; right: -850px;
    transform: rotate(-35deg);
    width: 2400px;
    z-index: 2;
}

.p-text {
    width: 100%;
    z-index: 3;
}

.p-text h1 {
    color: #222;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 800;
    user-select: none;
}

.p-text h1 span {
    letter-spacing: -0.04em;
}

.p-text h1 em {
    position: relative;
    font-size: 77px;
    font-weight: 300;   
    font-style: normal;
    font-family: 'Anybody' !important;
    background: linear-gradient(to right, rgba(251,132,45,1) 0%, rgba(255,171,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.04em;
}

.p-text h1 em::after {
    content: '';
    position: absolute;
    bottom: 7px; left: 0;
    width: 0;
    height: 4px;
    background: var(--main-color);
    background: linear-gradient(90deg, rgba(251,132,45,1) 0%, rgba(255,171,0,1) 100%);
    -webkit-animation: line .7s ease both;
    animation: line .7s ease both;
}

.p-text h1 em b {
    font-family: 'Anybody' !important;
}

.p-text h1 .typed-cursor {
    font-weight: 300 !important;
}

.p-text p {
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 1.2rem;
}


.pBtn {
    position: relative;
    width: 190px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 1px solid #ccc;
    /* background: var(--main-color); */
    /* background: linear-gradient(90deg, rgba(251,132,45,1) 0%, rgba(255,171,0,1) 100%); */
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, .07);
    transition: width .3s ease;
    margin-top: 3rem;
}

.pBtn::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0;
    height: 100%;
    transition: all .2s ease-in-out;
    background: var(--main-color);
    /* background: linear-gradient(90deg, rgba(251,132,45,1) 0%, rgba(255,171,0,1) 100%); */
    z-index: 1;
}

.pBtn h2 {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
}

.pBtn i {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
}

.pBtn:hover {
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.pBtn:hover h2,
.pBtn:hover i {
    color: #fff;
}

.pBtn:hover::after {
    width: 100%;
}

.scrollDown {
    position: absolute;
    bottom: 40px;
    width: 20px;
    max-width: 20px;
    transform: translate(-50%, -50%);
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    animation: upDown 1.5s ease-in-out infinite;
    z-index: 10;
}

@keyframes upDown {
    0% {
        transform: translateY(-7px);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(-7px);
    }
}

@keyframes line {
    100% {
        width: 100%;
    }
}



/*==================================================*/
@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .p-image {
        width: 1800px;
    }
}


@media (max-width: 950px) {
    .promotion {
        justify-content: flex-start !important;
    }
    
    .p-image {
        width: 1500px;
    }
    
    .p-text {
        margin-top: 5rem;
    }
    
    .p-text h1 {
        font-size: 50px;
    }

    .p-text h1 em {
        font-size: 60px;
    }

    .p-text h1 em::after {
        bottom: 3px;
    }

    .p-text p {
        font-size: 16px;
    }

    .pBtn {
        width: 170px;
        height: 42px;
        margin-top: 2rem;
    }

    .pBtn h2 {
        font-size: 14px;
    }

    .pBtn i {
        font-size: 14px;
    }
}


@media (max-width: 550px) {
    .p-image {
        top: 400px; right: -500px;
        width: 1200px;
    }
    
    .p-text h1 {
        font-size: 35px;
    }

    .p-text h1 em {
        font-size: 40px;
    }

    .p-text h1 em::after {
        height: 2px;
    }
    
    .p-text p {
        font-size: 14px;
        margin-top: 1rem;
    }

    .pBtn {
        width: 120px;
        height: 35px;
        border-radius: 5px;
        background-color: var(--main-color);
        box-shadow: none;
        border: none;
        margin-top: 1.5rem;
    }

    .pBtn h2,
    .pBtn i {
        color: #fff;
        font-size: 13px;
    }
}