.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.swiper-slide {
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .s-background {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    z-index: 4;
}

.swiper-slide .s-background img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.s-background-1 img {
    object-position: left;
}

.s-background-2 img {
    object-position: center;
}

.s-background-3 img {
    object-position: right;
}

.content {
    width: 1300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 6;
}

.content h4 {
    color: var(--main-color);
    font-size: 19px;
    font-family: 'Montserrat';
    margin-bottom: 3rem;
}

.content h5 {
    color: #fff;
    font-size: 60px;
    line-height: 1.4;
    font-weight: 700;
}

.content p {
    color: rgba(255, 255, 255, .5);
    font-size: 19px;
    line-height: 1.6;
    margin-top: 2rem;
}

.progressbar {
    position: absolute;
    bottom: 44px; left: -90px;
    transform: rotate(-90deg);
}

.progress-circle {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 156;
    stroke-dashoffset: 156;
}


/* .swiper-slide-active .content h5 {
    animation: slideAnimation 1.5s .3s both;
}

.swiper-slide-active .content p {
    animation: slideAnimation 1.5s .5s both;
} */

.swiper-slide-active .progress-circle {
    animation: progressCircle 9s both;
}

.swiper-slide-active .s-background {
    animation: slideBg 1s both;
}

.swiper-slide-active .s-background img {
    animation: reduction 7s both;
}


@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progressCircle {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes slideBg {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes reduction {
    from {
        transform: scale(1.07);
    }

    to {
        transform: scale(1);
    }
}



/*==================================================*/
@media (min-width: 2250px) {
    .swiper-slide,
    .content {
        width: 1600px;
    }
}


@media (max-width: 1350px) {
    .swiper-slide {
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .content h5 {
        font-size: 40px;
    }

    .content p {
        font-size: 18px;
        font-weight: 300;
    }
}


@media (max-width: 500px) {
    .scrollDown {
        bottom: 80px; left: 47.5%;
    }
}


@media (max-width: 450px) {
    .content h5 {
        font-size: 35px;
    }
    
    .content p {
        font-size: 15px;
        letter-spacing: -0.02em;
        margin-top: .5rem;
    }
}