.ab1 {
    position: relative;
    height: 131vh;
    padding-top: 200rem;
    background-color: #000;
}

.ab1-logo {
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);
    width: 200rem;
    z-index: 7;
}

.ab-video {
    position: relative;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    z-index: 3;
}
.ab-video::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000 50%, transparent);
    z-index: 5;
}

.ab-video video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    object-fit: cover;
}

.ab1-color {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
}

.ab1-text {
    width: 100%;
    padding-left: 10%;
}

.ab1-text h5 {
    font-size: 100rem;
    font-weight: 400;
    font-family: 'Inter';
    text-transform: uppercase;
    letter-spacing: 0;
}

.ab1-text p {
    position: relative;
    font-size: 32rem;
    font-weight: 200;
    margin-top: 50rem;
    letter-spacing: 0;
}

.ab1-image {
    width: 100%;
    height: 850rem;
    object-fit: cover;
    margin: -100rem 0;
    mix-blend-mode: difference;
    z-index: 3;
}

.ab1-bottom {
    width: 50%;
    padding-bottom: 120rem;
    margin-left: auto;
    margin-right: 0;
}

.ab1-bottom p {
    font-size: 22rem;
    font-weight: 200;
    line-height: 1.8;
}


.ab2 {
    overflow: hidden;
}

.vision-section {
    position: relative;
    padding: 0;
    width: 100%;
}

.sticky-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sticky-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-title {
    font-size: 120rem;
    font-family: 'Inter';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10%;
}

.slot-machine {
    height: 1.2em;
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    min-width: 150px;
    font-weight: 700;
}

.slot-list {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.1s ease-out;
}

.slot-list li {
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-scroll-wrapper {
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150rem;
    padding-left: 50%;
}

.card {
    min-width: 400rem;
    transition: opacity 0.4s, transform 0.4s;
    opacity: .2;
}

.card.active {
    opacity: 1;
    transform: translateY(-20px);
}

.card h6 {
    font-size: 30rem;
    font-weight: 600;
    font-family: 'Inter';
}

.card p {
    font-size: 17rem;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 30rem;
    letter-spacing: 0;
}

.card p b {
    font-weight: 600;
}


/*==================================================*/