.ci-bg {
    background: url(../images/ci-bg.jpg) no-repeat;
    background-size: cover;
}

.ci-wrapper {
    width: 100%;
    padding-bottom: 55px;
}

.ci-title h2 {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Cairo';
    margin-bottom: .5rem;
}

.ci-title h1 {
    color: #222;
    font-size: 45px;
    line-height: 1.4;
}


.ci-info {
    margin-top: 5rem;
}

.ci-info h1 {
    color: #222;
    font-size: 28px;
}

.ci-info p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 1rem;
}

.ci-info img {
    margin-top: 1.5rem;
}


.ci-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.ci-box p {
    color: #555;
    font-size: 17px;
    line-height: 1.4;
    margin-top: .7rem;
}

.ci-color {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ci-box:nth-child(1) .ci-color {
    border: 1px solid #1f6a36;
    background-color: #1f6a36;
}

.ci-box:nth-child(2) .ci-color {
    border: 1px solid #6c4921;
    background-color: #6c4921;
}

.ci-box:nth-child(3) .ci-color {
    border: 1px solid #ccc;
    background-color: #fff;
}

.ci-color p {
    font-weight: 400;
}

.ci-box:nth-child(1) .ci-color p {
    color: #fff;
}

.ci-box:nth-child(2) .ci-color p {
    color: #fff;
}

.ci-box:nth-child(3) .ci-color p {
    color: #222;
}