.sv2,
.sv3 {
    margin-top: -60px;
}

.sv-title {
    text-align: center;
    margin-bottom: 50px;
}
.sv-title h5 {
    display: inline-block;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #333;
}

.sv-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.sv3 .sv-box-wrapper {
    grid-template-columns: repeat(5, 1fr);
}

.sv-box {
    background: #fff;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 10rem 30rem 0 rgba(80, 86, 131, .1);
}

.sv-box-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.sv-box-icon i {
    color: #333;
    font-size: 36px;
    line-height: 1;
    margin-bottom: -5px;
}

.sv-box-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #444;
}

.sv1 .sv-title h5 { color: #c9a44c; }
.sv1 .sv-box-icon { background: #f3f0e7; }
.sv1 .sv-box-icon i { color: #c9a44c; }

.sv2 .sv-title h5 { color: #6f86c9; }
.sv2 .sv-box-icon { background: #e7eaf3; }
.sv2 .sv-box-icon i { color: #6f86c9 }

.sv3 .sv-title h5 { color: #6fae86; }
.sv3 .sv-box-icon { background: #e4f0e7; }
.sv3 .sv-box-icon i { color: #6fae86; }
