.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 60px 0;
}

.footer-wrapper {
    display: flex;
}

.footer-wrapper p {
    color: #ccc;
    font-size: 18rem;
}


/*==================================================*/
@media (max-width: 550px) {
    .footer {
        padding: 40px 0;
    }

    .footer-wrapper p {
        font-size: 20rem;
    }
}