.promotion {
    position: relative;
    width: 100%;
    padding: 200rem 0 100rem 0;
    background: url(../images/hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotion::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200rem;
    background-image: linear-gradient(to top, #0b0704, transparent);
    z-index: 1;
}

.promotion-wrapper {
    width: 1200rem;
    display: flex;
    align-items: center;
    gap: 50rem;
    z-index: 2;
}

.p-left,
.p-right {
    width: 50%;
}

.p-box {
    padding: 60rem;
    border-radius: 20rem;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .05);
}

.p-left .p-box {
    padding: 140rem 60rem;
}

.p-box-title {
    color: #fff;
    text-align: center;
    margin-bottom: 50rem;
}

.p-box-title h5 {
    font-size: 32rem;
}

.p-box-title #today {
    color: #ffffff90;
    font-size: 18rem;
    letter-spacing: -0.5px;
    margin-top: 15rem;
}

.prc-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.prc-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40rem;
}

.pb-left {
    position: relative;
    width: 100rem;
    min-width: 100rem;
    height: 100rem;
    min-height: 100rem;
    color: #fff;
    font-size: 34rem;
    font-weight: bolder;
    font-family: 'Times New Roman', serif;
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    outline: 1px solid rgba(255, 255, 255, .15);
    overflow: hidden;
}
.pb-left::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.pb-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.pb-right li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pb-right li span {
    color: #ffffff90;
    font-size: 20rem;
}

.pb-right li p {
    color: #fff;
    font-size: 22rem;
    font-weight: 600;
}

.p-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50rem;
}


.prc2-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.prc2-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30rem;
}

.prc2-box-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff30;
}

.prc2-box-name {
    color: #ffffff90;
    font-size: 20rem;
    white-space: nowrap;
}

.prc2-box-price {
    color: #fff;
    font-size: 22rem;
    font-weight: 600;
}


/*==================================================*/
@media (min-width: 2250px) {
    .promotion {
        padding: 250rem 0 100rem 0;
    }
}


@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 90%;
    }
}