.toggleMenu {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(25, 28, 64, 0.719);
    display: none;
}

.tgm-top {
    position: absolute;
    top: 50rem; left: 0;
    width: 100%;
    padding: 0 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-t {
    display: flex !important;
}

.tgm-close {
    width: 30rem;
    height: 26rem;
    cursor: pointer;
}

.tgm-menu-wrapper {
    width: 1000rem;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.tgm-menu {
    display: flex;
    gap: 50rem;
}

.tgm-head {
    width: 550rem;
    height: fit-content;
    color: rgba(255, 255, 255, .2);
    font-size: 95rem;
    font-weight: 800;
    white-space: nowrap;
    margin-top: -12px;
    transition: all .3s;
}

.tgm-head i {
    display: none;
}

.tgm-menu:hover .tgm-head {
    color: var(--main-color);
}

.tgm-sub {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    display: none;
}

.tgm-sub li a {
    color: #fff;
    font-size: 30rem;
    font-weight: 700;
    white-space: nowrap;
    transition: all .3s;
}

.tgm-sub:hover li a {
    color: rgba(255, 255, 255, .15);
}

.tgm-sub li a:hover {
    color: var(--main-color);
}


/*==================================================*/
@media (min-width: 2250px) {
    .tgm-menu-wrapper {
        width: 1200px;
    }
}


@media (max-width: 1550px) {
    .tgm-top {
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .toggleMenu {
        align-items: unset;
    }

    .tgm-top {
        top: 35rem;
    }

    .tgm-close {
        width: 26rem;
        height: 22rem;
    }
    
    .tgm-menu-wrapper {
        width: 85%;
        gap: 50rem;
        margin-top: 200rem;
    }
    
    .tgm-menu {
        flex-direction: column;
        gap: 20rem;
    }
    
    .tgm-head {
        width: fit-content;
        color: var(--main-color);
        font-size: 32rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .tgm-menu:hover .tgm-head {
        color: var(--main-color) !important;
    }

    .tgm-head span {
        display: none;
    }

    .tgm-head i {
        display: flex;
        transition: all .08s;
    }

    .tgm-menu:hover .tgm-head {
        color: #fff;
    }
    
    .tgm-sub {
        height: auto;
        display: flex;
        margin-top: 10rem;
        margin-bottom: 30rem;
    }

    .tgm-sub li {
        margin-left: 10rem;
    }

    .tgm-sub li a {
        color: #aaa;
        font-size: 22rem;
        font-weight: 500;
    }

    .tgm-sub:hover li a {
        color: #aaa;
    }
    
    .tgm-sub li a:hover {
        color: #aaa;
    }
}


@media (max-width: 550px) {
    .tgm-head {
        font-size: 40rem;
        font-weight: 700;
    }

    .tgm-head i {
        font-weight: lighter;
    }

    .tgm-sub {
        gap: 20rem;
    }
    
    .tgm-sub li a {
        font-size: 30rem;
    }
}