.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 160rem 0;
    overflow: hidden;
}

.article-wrapper {
    width: 1400rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*==================================================*/
@media (max-width: 1450px) {
    .article-wrapper {
        width: 100%;
        padding: 0 30px;
    }
}


@media (max-width: 768px) {
    .article {
        padding: 80rem 0;
    }
}