.it1-text {
    font-size: 32rem;
    font-weight: 700;
    margin-bottom: 20rem;
}

.it1-image img {
    border: 1px solid #ccc;
    margin-bottom: 60rem;
}

.ph1-box {
    border: none;
    background: url(../images/s26.png) no-repeat;
    background-size: cover;
}

.ph1-text h5,
.ph1-text p {
    color: #fff;
}

.ph2 {
    padding-top: 0;
}

.ph2-box {
    position: relative;
    border: none;
    background: #e4f6ff;
    background: linear-gradient(to top,
                #d1eeff, #f7feff);
    overflow: hidden;
    margin-top: -50rem;
}

.ph2-text ul {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 30rem;
}

.ph2-text ul li {
    width: fit-content;
    padding: 6px 8px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #fff;
}

.mooner2 {
    position: absolute;
    bottom: -20%; right: 3%;
    width: 530rem;
}

.ph2 .a1-box-wrapper {
    margin-top: 30rem;
}

.ph2 .a1-box {
    border: none;
    background: #e4f6ff;
    background: linear-gradient(to top,
                #d1eeff, #f7feff);
}

.ph2 .a1-box-image img {
    height: 120rem;
}



/*==================================================*/
@media (max-width: 768px) {
    .ph1-box {
        height: 600rem;
        background: url(../images/s26-m.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}