.article9 {
    background-color: #f8f8f8;
}

.a9-wrapper {
    display: flex;
    gap: 2rem;
}

.a9Btn {
    width: 350px;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--main-color);
    cursor: pointer;
}

.a9Btn:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.a9Btn p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}


/*==================================================*/