.article7 {
    background-color: #e0f0ff;
}

.a7-box-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.a7-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a7-box i {
    color: var(--main-color);
    font-size: 100px;
    margin-bottom: 1rem;
}

.a7-box p {
    color: #555;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .7rem;
}

.a7-box-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a7-box-number h1 {
    color: #333;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.a7-box-number span {
    color: #333;
    font-size: 30px;
    font-weight: 500;
    padding-left: .3rem;
}


/*==================================================*/
