.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 80rem 0;
}

.footer-wrapper {
    width: 80%;
    display: flex;
    gap: 60px;
}

.logo-f {
    width: 240px;
    filter: grayscale(1);
}

.footer-text p {
    color: #999;
    font-size: 14px;
}

.footer-text p+p {
    color: #777;
    font-size: 12px;
    margin-top: 10px;
}



/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    
}