.a2-title {
    width: 100%;
    margin-bottom: 3rem;
}

.a2-line {
    width: 40px;
    height: 2px;
    background-color: #222;
    margin-bottom: 2rem;
}

.a2-title h5 {
    color: #222;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Montserrat';
}



/*==================================================*/
