.a1-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.a1-text {
    width: 700px;
}

.a1-text p {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.a1-text h1 {
    color: #222;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;
}

.a1-text h1 span {
    color: #0051ff;
}

.a1-text h5 {
    color: #555;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-bottom: 3rem;
}

.a1Btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.a1Btn a {
    width: 106px;
    color: #222;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
}

.a1Btn ion-icon {
    font-size: 22px;
    transition: all .3s;
}

.a1Btn a:hover ion-icon {
    transform: translateX(7px);
}

.a1Btn a span {
    color: #222;
    font-size: 16px;
    font-weight: 700;
}


/*==================================================*/
@media (max-width: 1050px) {
    .a1-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .a1-text {
        width: 100%;
    }
}


@media (max-width: 600px) {
    .a1-text h1 {
        font-size: 35px;
        margin-bottom: .3rem;
    }

    .a1-text h5 {
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        margin-bottom: 1rem;
    }

    .a1Btn ion-icon {
        font-size: 18px;
    }
    
    .a1Btn a span {
        font-size: 14px;
    }
}