.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 120rem 0;
}

.article-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


/*==================================================*/
@media (max-width: 991px) {
    .article {
        padding: 80rem 0;
    }
}