.article2 {
    padding: 120rem 0;
}

.a2-box-wrapper {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
}

.a2-box {
    padding: 40rem 0;
    display: flex;
    gap: 50rem;
    border-bottom: 1px solid #fff;
}

.a2-box-num {
    font-size: 28rem;
    font-family: 'Inter';
}

.a2-box-text h6 {
    font-size: 28rem;
    font-weight: 500;
}

.a2-box-text p {
    font-weight: 300;
    letter-spacing: 0;
    margin-top: 20rem;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}