.article1 {
    height: 100vh;
}

.a1-text {
    width: 100%;
    margin-top: 15%;
}

.a1-text h6 {
    font-size: 30rem;
    font-weight: 400;
}

.a1-text h5 {
    display: flex;
    font-size: 120rem;
    font-weight: 500;
    font-family: 'Inter';
    white-space: nowrap;
    margin: 70rem 0;
}

.a1-text-box {
    position: relative;
    min-width: 250rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.a1-text-box::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(to bottom, #000, transparent);
    z-index: 1;
}
.a1-text-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(to top, #000, transparent);
    z-index: 1;
}

.a1-text-box div {
    position: absolute;
    top: 0%; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a1-text-box div span {
    color: var(--main-color);
    width: 100%;
    text-align: center;
}

.a1-text p {
    width: 55%;
    font-size: 22rem;
    line-height: 1.7;
    white-space: nowrap;
}



/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}