.a3-box-wrapper {
    width: 55%;
    margin-left: auto;
    margin-right: 0;
}

.a3-box {
    padding: 60rem 0;
    display: flex;
    gap: 50rem;
    border-bottom: 1px solid #fff;
}

.a3-box-num {
    font-size: 28rem;
    font-family: 'Inter';
}

.a3-box-text h6 {
    font-size: 28rem;
    font-weight: 500;
}

.a3-box-text p {
    font-weight: 300;
    letter-spacing: 0;
    margin-top: 30rem;
}


/*==================================================*/
@media (max-width: 991px) {
    
}


@media (max-width: 550px) {
    
}