@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: -1rem;
}

html.safari.desktop {
    font-size: 0.040083333vw;
}

html,
body {
    font-size: 6.25%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 17rem;
    word-break: keep-all;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events : none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h5 {
    letter-spacing: -2rem;
}

button, input {
    outline: none;
}

:root {
    --main-color: #0167ff;
}

.main-video {
    position: relative;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    filter: brightness(90%);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
}

.main-video video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    object-fit: cover;
}

.main-video video:nth-child(2) {
    opacity: 0;
    filter: grayscale(.4);
}


/*==================================================*/
@media (max-width: 1650px) {
    html,
    html.safari.desktop {
        font-size: 0.06756756756756757vw;
    }
}

@media (max-width: 991px) {
    html,
    html.safari.desktop {
        font-size: 0.13020833333333335vw;
    }
}
