.footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30rem;
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-wrapper p {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
    font-family: 'Inter';
}

.ft-top h5 {
    font-size: 220rem;
    font-weight: 600;
    font-family: 'Inter';
    margin-top: -40rem;
}

.ft-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ft-bottom p {
    text-align: right;
    font-family: 'Inter';
}



/*==================================================*/
@media (max-width: 991px) {
    
}