.article1 {
    background: url(../images/a1-bg.jpg) no-repeat;
    background-position: bottom !important;
}

.a1-1 {
    margin: 7rem 0;
}


/*==================================================*/
@media (max-width: 950px) {
    .a1-title {
        width: 75%;
    }

    .a1-1 {
        width: 60%;
    }

    .a1-2 {
        width: 80%;
    }
}


@media (max-width: 550px) {
    .a1-1 {
        margin: 4rem 0;
    }
}