.article10 {
    padding-bottom: 0;
    background: url(../images/a10-bg.jpg);
    overflow: hidden;
}

.a10-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a10-title p {
    color: #111;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    margin-bottom: .7rem;
}

.a10-title h5 {
    color: #111;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 55px;
    font-weight: 900;
}

.mySwiper {
    position: relative;
    width: 100%;
    height: auto;
    user-select: none;
}

.mySwiper .swiper-slide {
    width: 350px !important;
    transform: scale(.75);
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    transition: all .5s ease;
}

.mySwiper .swiper-slide img {
    width: 350px !important;
    height: 611px;
    margin-top: 83px;
}

.mySwiper .swiper-slide-active {
    transform: scale(1);
}

.mySwiper .swiper-slide-active img {
    border-radius: 35px 35px 0 0;
}

.phone {
    position: absolute;
    bottom: -8px; left: 50%;
    transform: translate(-50%, 0);
    width: 362px;
    height: 629px;
    border-radius: 40px 40px 0 0;
    background-color: #fff;
    border: 6px solid #222;
}

.a10-camera {
    position: absolute;
    top: 90px; left: 50%;
    transform: translate(-50%, 0);
    width: 80px;
    z-index: 5;
}


@keyframes updown {
    0% {transform:translateX(0);}
    10% {transform:translateX(5px);}
    20% {transform:translateX(0);}
    30% {transform:translateX(5px);}
    40% {transform:translateX(0);}
    100% {transform:translateX(0);}
}


/*==================================================*/
@media (max-width: 1350px) {
    .a10Btn {
        top: unset;
        right: unset;
        bottom: -90px;
        left: 50%;
        transform: translate(-50%, 0);
        animation: none;
    }

    .a10Btn::after {
        top: -4px; left: 50%;
        transform: translate(-50%, 0) rotate(45deg);
    }
}


@media (max-width: 850px) {
    .a10-title {
        width: 75%;
    }
}


@media (max-width: 650px) {
    .a10-title {
        margin-bottom: 0;
    }
    
    .a10Btn {
        bottom: -50px;
        padding: 12px;
        font-size: 13px;
    }
}


@media (max-width: 550px) {
    .mySwiper .swiper-slide {
        opacity: 0;
    }

    .mySwiper .swiper-slide-active {
        opacity: 1;
    }
}


@media (max-width: 450px) {    
    .mySwiper .swiper-slide {
        width: 290px !important;
    }

    .mySwiper .swiper-slide img {
        width: 300px !important;
        height: 524px;
        margin-top: 83px;
    }

    .phone {
        bottom: -95px;
        width: 303px;
    }
}