.article1 {
    background: url(../images/a1-bg.jpg) no-repeat;
    background-position: bottom !important;
}

.a1-1 {
    margin: 7rem 0;
}


/*==================================================*/
