.article6 {
    position: relative;
    background: url(../images/a6-bg.jpg);
    overflow: hidden;
}

.article6 .article-wrapper {
    width: 100%;
}

.a6-roller {
    position: absolute;
    top: 37%; right: 0;
    z-index: 3;
}

.a6-title {
    margin-bottom: 3rem;
}

.a6-paint-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a6-paint {
    position: absolute;
    top: 40px; left: 0;
    width: calc(100% - 450px);
    height: 250px;
    background-color: var(--main-color);
    mix-blend-mode: multiply;
}

.a6-1 {
    position: absolute;
    top: 90px;
}

.a6-text {
    color: #888;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-top: 360px;
}

.a6-text span {
    font-size: 18px;
    font-weight: 500;
}


/*==================================================*/
@media (max-width: 1450px) {
    .a6-roller {
        right: -10%;
    }
    
    .a6-paint {
        width: calc(100% - 10% - 165px)
    }
}


@media (max-width: 1250px) {
    .article6 .article-wrapper {
        padding: 0;
    }

    .a6-roller {
        display: none;
    }

    .a6-paint-wrapper {
        height: auto;
        padding-bottom: 30%;
        background-color: var(--main-color);
        mix-blend-mode: multiply;
    }
    
    .a6-paint {
        display: none;
    }

    .a6-1 {
        top: 25%;
        width: 50%;
        animation: blink .8s step-end infinite;
    }

    .a6-text {
        margin-top: 2rem;
    }
}


@media (max-width: 850px) {
    .a6-title {
        width: 75%;
        margin-bottom: 2rem;
    }
}


@media (max-width: 550px) {
    .a6-text p {
        font-size: 15px;
    }

    .a6-text p span {
        font-size: 13px;
    }
}