.article3 {
    position: relative;
    padding-top: 60px;
    overflow: hidden;
}

.article3::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, #000 0%, transparent 100%);
    z-index: 2;
}

.article3::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, #000 0%, transparent 100%);
}

.a3-bg {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.article3 .article-wrapper {
    width: 100%;
    z-index: 10;
}

.a3-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 7rem 0;
}

.a3-flow-wrapper {
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.a3-flow {
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: flow 80s linear infinite;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article3 .article-wrapper {
        padding: 0;
    }
}


@media (max-width: 850px) {
    .a3-1 {
        width: 85%;
    }
    
    .a3-2 {
        width: 75%;
    }
}


@media (max-width: 550px) {
    .a3-title {
        gap: 3rem;
        margin: 5rem 0;
    }
    
    .a3-3 {
        width: 50%;
    }
}


@media (max-width: 450px) {
    .a3-title {
        margin: 4rem 0;
    }
}