.article5 {
    background: url(../images/a5-l-bg.png) no-repeat;
}

.article5 .article-wrapper {
    width: 100%;
    padding: 0 !important;
}

.a5-wrapper {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.a5-wrapper h5 {
    font-size: 60rem;
    line-height: 1.3;
    font-weight: 700;
}

.a5-wrapper p {
    font-size: 20rem;
    line-height: 1.6;
    margin-top: 20rem;
}



/*==================================================*/
