.article2 {
    position: relative;
}
.article2::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 67%;
    background-color: #f2f2f2;
    z-index: 1;
}

.a2-title {
    width: 100%;
    margin-bottom: 60rem;
    z-index: 2;
}

.a2-title p {
    color: var(--main-color);
    font-size: 22rem;
    font-weight: 700;
    font-family: 'Play';
    margin-bottom: 40rem;
}

.a2-title h5 {
    color: var(--sub-green);
    font-size: 60rem;
    font-weight: 700;
    line-height: 1.3;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.a2-box {
    padding: 60rem 0;
}

.a2-box.on {
    padding: 60rem;
    color: #fff !important;
    border-radius: 40rem;
    background-color: var(--sub-green);
}

.a2-box-text h5 {
    font-size: 24rem;
    font-weight: 700;
}

.a2-box-text p {
    font-size: 17rem;
    font-weight: 300;
    margin-top: 10rem;
    opacity: .7;
}

.a2-box-num {
    display: flex;
    align-items: baseline;
    gap: 10rem;
    margin-top: 50rem;
    margin-left: 60rem;
}

.a2-box-num h5 {
    width: 150rem;
    font-size: 55rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    letter-spacing: -1.5px;
}

.a2-box-num p {
    font-size: 20rem;
    font-weight: 500;
    opacity: .7;
}


/*==================================================*/
