.promotion {
    width: 100%;
    height: 500px !important;
    display: flex;
    border-bottom: 1px solid #ddd;
    z-index: 3;
}

.promotion-wrapper {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.p-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.p-text h1 {
    color: #222;
    font-size: 45px;
    line-height: 1.3;
    font-weight: 800;
    text-align: center;
    margin-bottom: .5rem;
}

.p-text p {
    color: #777;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}


/*==================================================*/
@media (max-width: 600px) {
    .p-text h1 {
        font-size: 35px;
    }

    .p-text p br {
        display: none;
    }
}