table {
    /* border: 1px solid #ccc; */
    position: relative;
    /* border-collapse: collapse; */
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: transparent;
    /* border: 1px solid #f1f1f1; */
    padding: .35em;
}

table tr td {
    word-break: break-all !important;
    /* border: 1px solid #f1f1f1; */
}

table th,
table td {
    color: #222;
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: -0.04em;
}

table td:hover {
    filter: opacity(.8);
    -webkit-filter: opacity(.8);
}

.t-category {
    color: #222;
    font-size: 17px;
    font-weight: 700;
    background-color: #f1f1f1;
    border-bottom: 2px solid #eee;
}

.t-category:hover {
    filter: none;
    -webkit-filter: none;
}

.t-v-level h1 {
    font-size: 16px;
    font-weight: 700;
}

.t-v-level p {
    font-size: 16px;
    font-weight: 500;
}

.t-v-l-1 {
    background-color: #fffded;
}

.t-v-l-2 {
    background-color: #fffbd5;
}

.t-v-l-3 {
    background-color: #fff8bd;
}

.t-v-l-4 {
    background-color: #fff6a3;
}

.t-v-l-5 {
    background-color: #fff388;
}


.t-grade {
    font-size: 16px;
    line-height: 1.6;
}

.t-grade:nth-child(2) {
    background-color: #eefcf7;
}

.t-grade:nth-child(3) {
    background-color: #ddf9f0;
}

.t-grade:nth-child(4) {
    background-color: #cff6ea;
}

.t-grade:nth-child(5) {
    background-color: #c5f4e6;
}

.t-grade:nth-child(6) {
    background-color: #bef3e3;
}


.t-vc {
    font-size: 16px;
    font-weight: 600;
}

.t-sisa {
    background-color: #dab3f8;
}

.t-journeys {
    background-color: #88aae5;
}

.t-reading {
    background-color: #fc8872;
}

.t-writing {
    background-color: #ffd37b;
}

.t-speaking {
    background-color: #bfee82;
}

.t-phonics {
    background-color: #90ddf8;
}


/*---*/
.t2-category {
    color: #222;
    height: 105px;
    font-size: 17px;
    font-weight: 700;
}

.t2-v {
    color: #222;
    font-size: 16px;
    font-weight: 700;
}

.t2-book {
    padding: 0;
    background-color: #eee;
}




/*==================================================*/
@media (max-width: 600px) {
    table th,
    table td {
        padding: 1em .3em;
    }
    
    thead {
        display: none;
    }

    .t-category {
        font-size: 12px;
    }

    .t-v-level h1 {
        font-size: 13px;
    }

    .t-v-level p {
        font-size: 13px;
    }

    .t-grade {
        font-size: 13px;
    }

    .t-vc {
        font-size: 13px;
    }

    .t2-category {
        height: 70px;
        font-size: 13px;
    }

    .t2-v {
        font-size: 13px;
    }

    .t2-book {
        padding: 0 20px;
    }

    .t2-book-phonics {
        padding: 0;
    }
}