.tabBtn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
}

.tabBtn-wrapper a {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background-color: #eee;
}

.tabBtn-wrapper .focus {
    background-color: #5269ff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
}

.tabBtn h1 {
    color: #888;
    font-size: 18px;
    font-weight: 400;
}

.focus h1 {
    color: #fff;
    font-weight: 700;
}

.table-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.table-title h1 {
    color: #222;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: .8rem;
}

.table-title p {
    color: #666;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
}

.table-title p span {
    color: #222;
    padding: 2px 4px;
    font-weight: 800;
    border-radius: 5px;
    background-color: #d3d9ff;
}

.table-title p em {
    color: red;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}


.table-title h5 {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 2rem;
}