.tabBtn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
}

.tabBtn-wrapper a {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #eee;
}

.tabBtn-wrapper .focus {
    background-color: #5269ff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
}

.tabBtn h1 {
    color: #888;
    font-size: 18px;
    font-weight: 400;
}

.tabBtn-m {
    display: none;
}

.focus h1 {
    color: #fff;
    font-weight: 700;
}

.roadmap-title {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.roadmap-title h1 {
    color: #5269ff;
    font-size: 38px;
    font-family: 'yg-jalnan';
    letter-spacing: -0.04em;
    margin-bottom: .8rem;
}

.roadmap-title p {
    color: #222;
    font-size: 22px;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: -0.04em;
}

.roadmap-title p span {
    color: #222;
    padding: 1px 2px;
    font-weight: 800;
    background-color: #eef2ff;
}

.roadmap-title h5 {
    color: #666;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
}


@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.table-title h1 {
    color: #222;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}



/*==================================================*/
@media (max-width: 600px) {
    .tabBtn-pc {
        display: none;
    }
    
    .tabBtn-m {
        display: block;
    }

    .roadmap-title h1 {
        font-size: 30px;
        margin-bottom: .5rem;
    }

    .roadmap-title p {
        font-size: 18px;
    }

    .table-title h1 {
        font-size: 24px;
    }
}


@media (max-width: 450px) {
    .tabBtn-wrapper a {
        padding: 10px 0;
    }

    .tabBtn h1 {
        font-size: 16px;
    }

    .roadmap-title h1 {
        font-size: 24px;
    }

    .roadmap-title p {
        font-size: 15px;
        line-height: 1.5;
    }

    .table-title h1 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
}