.r-b-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r-b-wrapper h2 {
    color: #222;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 3rem;
}

.r-b-wrapper h3 {
    color: #222;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
}

.r-b-box-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 7rem;
}

.r-b-box-group {
    display: flex;
    gap: 1rem;
}

.r-b-box {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f1f1f1;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
    transition: all .3s;
    gap: 1rem;
}

.r-b-box:hover {
    background-color: #5269ff;
}

.r-b-box:hover i {
    color: #fff;
}

.r-b-box:hover p {
    color: #fff;
}

.r-b-box i {
    color: #5269ff;
    font-size: 70px;
}

.r-b-box p {
    color: #444;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    cursor: default;
}


/*==================================================*/
@media (max-width: 768px) {
    .r-b-box-wrapper {
        flex-direction: column;
    }

    .r-b-box i {
        font-size: 50px;
    }

    .r-b-box p {
        font-size: 16px;
    }
}