.r-c-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baytree {
    margin-bottom: 3rem;
}

.r-c-box-wrapper {
    width: 600px;
    display: flex;
    gap: 1rem;
}

.r-c-box {
    flex: 1;
    background-color: #fff;
    border-radius: 20px;
}

.r-c-box-title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #5269ff;
    border-radius: 20px 20px 0 0;
}

.r-c-box h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: .8rem;
}

.r-c-box ul {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

.r-c-box ul li {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    list-style: disc;
    margin-left: 20px;
}

.r-c-icon {
    text-align: center;
    margin-bottom: 1rem;
}

.r-c-icon i {
    color: #5269ff;
    font-size: 80px;
}


/*---*/
.sr-level-1 {
    background-color: #fffda0;
}

.sr-level-2 {
    background-color: #fffd7c;
}

.sr-level-3 {
    background-color: #fffc49;
}

.sr-level-4 {
    background-color: #fffb19;
}

.t3-type {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--color-6);
}

.t3-type:hover {
    filter: none;
    -webkit-filter: none;
}


.t-vc-1 {
    background-color: #d0e4ee;
}

.t-vc-1-1 {
    background-color: #ffe5b0;
}

.t-vc-2 {
    background-color: #eeffc1;
}

.t-vc-3 {
    background-color: #ffc6fa;
}

.t-vc-4 {
    background-color: #eacbff;
}

.t-vc-4-1 {
    background-color: #ffc4c4;
}

.t-vc-5 {
    background-color: #ceffce;
}

.t-vc-5-1 {
    background-color: #adffea;
}


.table-notice {
    width: 100%;
    margin-top: 1rem;
}

.table-notice p {
    color: #222;
    font-size: 22px;
    line-height: 1.8;
}

.table-notice p span {
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #e84f35;
}

.table-notice p em {
    color: #111;
    font-style: normal;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #f7cdc9;
}


/*---*/
.r-c-article {
    width: 1500px;
    padding: 80px 0;
}

.r-c-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.r-c-text h1 {
    color: #5269ff;
    font-size: 55px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 1.3rem;
}

.r-c-text p {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
}

.r-c-text p:nth-child(2) {
    margin-bottom: .8rem;
}

.t3-notice {
    margin: 3rem 0;
}

.t3-notice h1 {
    color: #222;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.t3-notice li {
    color: #555;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
}

.t3-notice li span {
    color: #222;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #d3d9ff;
}


button.btn {
    border: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #5269ff;
    cursor: pointer;
    outline-offset: 4px;
    position: relative;
}
button.btn:hover .front {
    transform: translateY(-6px);
    transition: transform 0.25s cubic-bezier(.3, .7, .4, 1.5);
}
button.btn:active .front {
    transform: translateY(-2px);
    transition: transform 0.2s;
}
button.btn:focus:not(:focus-visible) {
    outline: none;
}
button.btn .front {
    min-width: 450px;
    height: 60px;
    display: block;
    border-radius: 12px;
    line-height: 60px;
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    background-color: #5269ff;
    transform: translateY(-8px);
    transition: transform 0.4s cubic-bezier(.3, .7, .4, 1);
}
button.btn .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #4254c7;
    transform: translateY(2px);
    filter: blur(4px);
}
button.btn .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #4254c7;
}