.article7 {
    background-color: var(--main-color);
}

.a7-title {
    margin-bottom: 5rem;
}

.a7-title h1 {
    color: #222;
    font-size: 45px;
}

/*==================================================*/
