.article1 {
    position: relative;
    height: 100vh;
    height: 100svh;
    background-color: #0e1011;
    overflow: hidden;
}

.a1-big {
    position: relative;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.a1b {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 400rem;
    font-weight: 800;
}

.a1b.top {
    clip-path: polygon(0 0, 100% 0, 100% 51%, 0 51%);
}

.a1b.bottom {
    clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0 100%);
}

.a1-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 45rem;
    font-weight: 600;
    opacity: 0;
}

.a1-pain {
    position: relative;
    width: 100%;
    height: 100%;
    color: #222;
    font-size: 40rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
}

.a1-pain p {
    position: absolute;
    top: 49%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}