.article3 {
    padding-top: 200px;
    padding-bottom: 0;
}

.ai-3 {
    position: relative;
    margin-bottom: -4px;
}

.a3-2 {
    position: absolute;
    top: 150px; left: -200px;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article3 {
        padding-top: unset;
    }
}


@media (max-width: 950px) {
    .a3-2 {
        top: 0; left: 0;
    }
}