.ai-1 {
    position: relative;
}

.a1-2,
.a1-3,
.a1-4 {
    position: absolute;
}

.a1-2 {
    bottom: 100px; left: -220px;
}

.a1-3 {
    bottom: 110px; left: 0;
}

.a1-4 {
    right: -200px;
}


/*==================================================*/
@media (max-width: 950px) {
    .a1-2 {
        bottom: 0; left: 0;
    }

    .a1-3 {
        bottom: 150px; left: 0;
    }

    .a1-4 {
        display: none;
    }
}