.article2 {
    padding-top: 200px;
    background: url(../images/a2-bg.jpg);
}

.ai-2 {
    position: relative;
}

.dotmap {
    opacity: 0;
    visibility: hidden;
}

.a2-1 {
    position: absolute;
    top: 0; left: 150px;
}

.a2-2 {
    position: absolute;
    top: -120px; left: -50px;
    opacity: .5;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article2 {
        padding-top: unset;
    }

    .dotmap {
        display: none;
    }
    
    .a2-1 {
        position: unset;
    }    
}


@media (max-width: 768px) {    
    .a2-2 {
        display: none;
    }
}


@media (max-width: 550px) {
    .a2-1 {
        width: 186px;
    }
}