footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #221830;
    padding: 30px 20px;
}

.footer-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.footer-wrapper p {
    width: 500px;
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    transform: rotate(0);
}

.footer-wrapper p span {
    display: none;
}

.logo-f {
    width: 120px;
    margin-bottom: 1rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .footer-wrapper p {
        width: 100%;
        font-size: 10px;
    }

    .footer-wrapper p br {
        display: none;
    }

    .footer-wrapper p span {
        display: inline-block;
    }
}