.article7 .article-wrapper {
    width: 90%;
}

.a7-image {
    z-index: 2;
}

/*==================================================*/
@media (max-width: 768px) {
    .article7 {
        padding: 0;
    }
}


@media (max-width: 550px) {
    .article7 .article-wrapper {
        width: 100%;
        padding: 0;
    }
}