.article4 {
    position: relative;
    padding-top: 200px;
}

.a4-blur {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    opacity: .3;
    z-index: 1;
}

.a4-image {
    z-index: 10;
}


/*==================================================*/
