.a5-title {
    width: 100%;
    margin-bottom: 3rem;
}

.a5-title h5 {
    color: #222;
    font-size: 36px;
    line-height: 1.4;
}

.a5-title h5 span {
    font-weight: 800;
    background: linear-gradient(45.8deg, #af68fe 9.3%, #65dfff 75.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a5-title p {
    color: #aaa;
    font-size: 18px;
    line-height: 1.65;
    margin-top: 1rem;
}

.a5-image {
    width: 80%;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a5-image {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .a5-title h5 {
        font-size: 28px;
    }
    
    .a5-title p {
        font-size: 16px;
        line-height: 1.55;
        margin-top: 10px;
    }

    .a5-title p br {
        display: none;
    }
}


@media (max-width: 550px) {
    .article5 {
        padding-top: 0;
    }

    .a5-image {
        width: 90%;
    }
}


@media (max-width: 450px) {
    .a5-title h5 {
        font-size: 22px;
    }
    
    .a5-title p {
        font-size: 14px;
    }
}