.a5-title {
    width: 100%;
    margin-bottom: 5rem;
}

.a5-title h5 {
    color: #222;
    font-size: 36px;
    line-height: 1.4;
}

.a5-title h5 span {
    font-weight: 800;
    background: linear-gradient(45.8deg, #af68fe 9.3%, #65dfff 75.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a5-title p {
    color: #aaa;
    font-size: 18px;
    line-height: 1.65;
    margin-top: 1rem;
}

.a5-image {
    width: 80%;
}


/*==================================================*/
