.article2 {
    position: relative;
    padding-bottom: 0;
}

.globe {
    position: absolute;
    top: 10%;
    width: 1200px;
    filter: brightness(95%);
}

.a2-title {
    text-align: center;
}

.a2-title h5 {
    background: linear-gradient(45.8deg, #af68fe 9.3%, #65dfff 75.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    font-weight: unset;
    font-family: "Jersey 25", sans-serif;
}

.a2-title p {
    color: #aaa;
    font-size: 36px;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 0.02em;
}

.a2-title p span {
    color: #555;
    font-weight: 700;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 0.02em;
}

.network-map {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.worldmap {
    width: 80%;
    user-select: none;
}

.pin {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.pin-us {
    top: 41%; right: 23%;
}
.pin-fr {
    top: 35%; left: 14%;
}
.pin-hk {
    top: 49%; left: 37%;
}
.pin-kr {
    top: 42%; left: 40%;
}
.pin-as {
    bottom: 15%; left: 46%;
}

.gps {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: .7;
}

.gps::before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background: linear-gradient(45deg, rgb(175, 104, 254) 22.3%, rgb(101, 223, 255) 90.1%);
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.gps::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(175, 104, 254) 22.3%, rgb(101, 223, 255) 90.1%);
    border-radius: 15px;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}



/*==================================================*/
@media (max-width: 768px) {
    .a2-title h5 {
        font-size: 140px;
    }

    .a2-title p {
        font-size: 26px;
        margin-top: 1rem;
    }

    .globe {
        top: 15%;
        filter: brightness(50%);
    }
    
    .worldmap {
        width: 90%;
        filter: brightness(95%);
    }

    .pin-us {
        right: 25%;
    }
    .pin-fr {
        left: 12%;
    }
    .pin-hk {
        top: 49%; left: 37%;
    }
    .pin-kr {
        top: 41%; left: 39%;
    }
    .pin-as {
        bottom: 14%; left: 45%;
    }

    .gps {
        width: 12px;
        height: 12px;
    }
}


@media (max-width: 550px) {
    .article2 {
        padding: 60px 0;
    }
    
    .globe {
        top: 20%;
        filter: brightness(40%);
    }
    
    .a2-title h5 {
        font-size: 120px;
    }
    
    .a2-title p {
        font-size: 20px;
        margin-top: 0;
    }
}


