.h-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a8-title {
    position: sticky;
    top: 100px;
    height: fit-content;
    margin-top: -10px;
}

.a8-title h5 {
    font-size: 100px;
    font-weight: unset;
    font-family: "Jersey 25", sans-serif;
    background: linear-gradient(45.8deg, #af68fe 9.3%, #65dfff 75.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-box-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h-box-wrapper::after {
    content: '';
    position: absolute;
    top: 0; left: 145px;
    width: 2px;
    height: 100%;
    background-color: #eee;
    z-index: 1;
}

.h-box {
    width: 100%;
    padding-bottom: 7rem;
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    border-bottom: 1px dashed #ddd;
}

.h-box:last-child {
    border: none;
}

.h-box-year {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.h-box-year h5 {
    width: 90px;
    color: #222;
    font-size: 22px;
    font-weight: 800;
    white-space: nowrap;
    background: linear-gradient(45.8deg, #af68fe 9.3%, #65dfff 75.1%);
    letter-spacing: -0.04em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-box-year span {
    position: relative;
    width: 16px;
    height: 16px;
    display: flex;
    background-color: #ddd;
    z-index: 2;
}

.h-box-year span::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background-color: #fff;
}

.h-box-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.h-box-info li {
    color: #aaa;
    font-size: 16px;
    line-height: 1.4;
    list-style: circle;
}


/*==================================================*/
@media (max-width: 1050px) {
    .h-wrapper {
        flex-direction: column;
    }

    .h-box-wrapper {
        width: 100%;
        margin-top: 5rem;
    }
}


@media (max-width: 550px) {
    .h-box {
        gap: 2rem;
    }

    .h-box-year {
        gap: 1rem;
    }

    .h-box-wrapper::after {
        left: 93px;
    }
    
    .h-box-info p {
        font-size: 15px;
    }
}