footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed #dedede;
    background-color: #fff;
    padding: 60px 0;
}

.footer-wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fl-top {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.logo-f {
    width: 80px;
}

.fl-top ul {
    display: flex;
    gap: 2rem;
}

.fl-top ul li a {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.footer-text h5 {
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 1rem;
}

.footer-text h5 a:hover {
    text-decoration: underline;
}

.footer-text p {
    color: #555;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
}

.footer-text p span {
    color: #888;
    font-size: 13px;
    font-weight: 300;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-right .fBtn-wrapper {
    display: flex;
    gap: 10px;
}

.footer-right .fBtn-wrapper .nrBtn {
    box-shadow: none;
}

.frBtn {
    color: #bbb;
    font-size: 13px;
    text-transform: uppercase;
}

.frBtn:hover {
    text-decoration: underline;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 950px) {
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .fl-top {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .logo-f {
        width: 100px;
    }

    .footer-text h5 {
        text-align: center;
    }

    .footer-text p {
        text-align: center;
    }

    .footer-right {
        justify-content: center;
        align-items: center;
    }
    
    .frBtn {
        display: none;
    }
}


@media (max-width: 550px) {
    footer {
        padding: 40px 0;
    }
    
    .footer-left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .fl-top ul {
        display: none;
    }
    
    .footer-text {
        width: 75%;
    }
    
    .footer-text h5 {
        font-size: 14px;
    }
    
    .footer-text p {
        font-size: 12px;
    }

    .footer-text p span {
        display: block;
        margin-top: 10px;
    }
}


@media (max-width: 450px) {
    .footer-wrapper {
        gap: 2rem;
    }
    
    .footer-left {
        gap: 1rem;
    }
    
    .logo-f {
        width: 70px;
    }
    
    .footer-text {
        width: 90%;
    }

    .footer-text p span {
        font-size: 11px;
    }
}