header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    z-index: 98;
}

.Fixed {
    position: fixed;
    top: 0;
    height: 70px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .5);
}

nav {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 86px;
    padding-top: 4px;
    margin-right: 230px;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li a {
    color: #333;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .05);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nrBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nrBtn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .05);
    transition: all .3s;
}

.nrBtn i {
    color: #151515;
    font-size: 21px;
}

.nrBtn:nth-child(3) i {
    font-size: 18px;
}
.nrBtn:nth-child(5) i {
    font-size: 17px;
}

.nrBtn img {
    height: 55%;
    filter: invert(6%) sepia(1%) saturate(743%) hue-rotate(314deg) brightness(109%) contrast(97%);
}

.nrBtn:hover {
    background-color: #fff;
}

.nrBtn:hover i,
.nrBtn:hover img {
    transform: scale(1.1);
}

.navBtn {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-transform: uppercase;
    background: linear-gradient(45.8deg, rgb(175, 104, 254) 9.3%, rgb(101, 223, 255) 75.1%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .05);
}

.navBtn i {
    font-weight: lighter;
}

.navBtn:hover {
    filter: brightness(95%);
}

.gnb-m {
    display: none;
}


/*==================================================*/
@media (max-width: 1650px) {
    .logo {
        margin-right: 0;
    }
}


@media (max-width: 1250px) {
    nav {
        padding: 0 20px;
    }
    
    nav ul {
        display: none;
    }

    .gnb-m {
        display: flex;
    }

    .gnb-m #check {
        display: none;
    }
    
    .gnb-m ul {
        position: absolute;
        top: 0; left: -100%;
        width: 85%;
        height: 100vh;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        border-right: 1px solid #eee;
        box-shadow: 10px 0 25px rgba(0, 0, 0, .08);
        touch-action: none;
        transition: all .2s;
        z-index: 7;
        gap: 2.5rem;
    }

    .gnb-m li a {
        color: #333;
        font-size: 28px;
        font-weight: 800;
    }

    .menuBtns {
        display: inline-block;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #222;
        margin: 6px 0;
        transition: .2s ease;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #222;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #222;
    }
    
    #check:checked ~ ul {
        left: 0;
    }
}


@media (max-width: 768px) {
    header {
        height: 80px;
    }
    
    .logo {
        width: 72px;
    }

    .nav-right {
        gap: 1.5rem;
    }
    
    .nrBtn {
        width: 26px;
        height: 26px;
    }

    .nrBtn i {
        font-size: 18px;
    }

    .nrBtn:nth-child(3) i {
        font-size: 16px;
    }
    .nrBtn:nth-child(5) i {
        font-size: 15px;
    }

    .navBtn {
        font-size: 14px;
        padding: 8px 16px;
    }
}


@media (max-width: 550px) {
    header,
    .Fixed {
        height: 60px;
    }
    
    .logo {
        width: 50px;
    }
    
    .nrBtn {
        box-shadow: none;
    }
    
    .nav-right {
        gap: 15px;
    }
    
    .navBtn {
        padding: 0;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        box-shadow: none;
        margin-left: -8px;
    }
    
    .navBtn p {
        display: none;
    }
    
    .menuBtns {
        margin-top: 3px;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2px;
        margin: 3px 0;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}