.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/hero.jpg);
    background-position: right !important;
}

.promotion-wrapper {
    width: 1200px;
    z-index: 4;
}

.p-image {
    position: absolute;
    top: 12%; right: 3%;
    width: 53%;
    z-index: 1;
}

.p-text h5 {
    color: #222;
    font-size: 75px;
    font-weight: unset;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: -0.04em;
}

.p-text h4 {
    width: fit-content;
    background: linear-gradient(45.8deg, #af68fe 9.3%, #65dfff 75.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 155px;
    font-weight: unset;
    font-family: "Jersey 25", sans-serif;
}

.p-text p {
    color: #aaa;
    font-size: 30px;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 0.02em;
    margin-top: 1rem;
}

.pBtn-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.pBtn img {
    width: 190px;
}

.pBtn:hover {
    filter: brightness(97%);
}


/*==================================================*/
@media (min-width: 2250px) {
    .p-image {
        top: 7%;
        width: 50%;
    }
}


@media (max-width: 1550px) {
    .promotion {
        overflow: hidden;
    }
    
    .p-image {
        top: 50%; right: -5%;
        transform: translate(0, -50%) rotate(-10deg);
        min-width: 800px;
    }
}


@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 950px) {
    .p-image {
        right: -20%;
    }
}


@media (max-width: 768px) {
    .promotion {
        justify-content: flex-start !important;
    }
    
    .p-image {
        top: unset;
        bottom: -10%;
        min-width: 600px;
    }

    .p-text {
        margin-top: 3rem;
    }
    
    .p-text h5 {
        font-size: 45px;
    }

    .p-text h4 {
        font-size: 120px;
    }

    .p-text p {
        font-size: 22px;
    }

    .pBtn img {
        width: 140px;
    }
}


@media (max-width: 550px) {
    .promotion {
        position: relative;
    }
    
    .promotion::after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        opacity: .4;
        z-index: 1;
    }
    
    .p-image {
        top: unset;
        bottom: -15%; right: -50%;
        z-index: 2;
    }

    .p-text {
        margin-top: 4rem;
    }
    
    .p-text h5 {
        font-size: 36px;
    }

    .p-text h4 {
        font-size: 100px;
    }

    .p-text p {
        font-size: 18px;
    }
    
    .pBtn-wrapper {
        margin-top: 2rem;
    }

    .pBtn img {
        width: 120px;
    }
}