.article4 {
    position: relative;
    background: url(../images/a4-bg.jpg);
    overflow: hidden;
}

.article4 .article-wrapper {
    width: 85%;
}

.a4-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.a4-graph {
    width: 50%;
}

.a4-receipt {
    position: relative;
    width: 40%;
}

.a4-price {
    position: absolute;
    bottom: 15%; left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    animation: blink .8s step-end infinite;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a4-box-wrapper {
        gap: 8rem;
    }
    
    .a4-graph {
        width: 45%;
    }

    .a4-receipt {
        width: 35%;
    }
}



@media (max-width: 1250px) {
    .article4 {
        background-attachment: fixed;
    }
    
    .a4-box-wrapper {
        flex-direction: column;
    }

    .a4-graph,
    .a4-receipt {
        width: 90%;
    }

    .a4-receipt img:first-child {
        width: 100%;
    }

    .a4-graph {
        margin-right: 50px;
    }
}


@media (max-width: 550px) {
    .a4-box-wrapper {
        gap: 3rem;
    }
    
    .a4-graph,
    .a4-receipt {
        width: 95%;
    }

    .a4-graph {
        margin-right: 30px;
    }
}