.article6 {
    position: relative;
    overflow: hidden;
}

.a6-title {
    margin-bottom: 3rem;
}

.a6-table-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.a6-notice {
    position: absolute;
    top: 0;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a6-table {
        width: 100%;
    }

    .a6-notice {
        top: 0;
    }
}


@media (max-width: 1850px) {
    .a6-notice {
        width: 60%;
    }
}


@media (max-width: 1250px) {
    .a6-title {
        width: 75%;
    }
}


@media (max-width: 1050px) {
    .a6-table-wrapper {
        width: 120%;
    }
}


@media (max-width: 768px) {
    .a6-title {
        width: 90%;
        margin-top: 6%;
    }

    .a6-table-wrapper {
        width: 100%;
        margin-bottom: 10%;
    }
}


@media (max-width: 550px) {
    .a6-notice {
        top: -10%;
        width: 70%;
    }
}