.a7-title {
    text-align: center;
    margin-bottom: 3rem;
}

.a7-title p {
    color: var(--main-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.a7-title h5 {
    color: #222;
    font-size: 75px;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: -0.06em;
}


/*==================================================*/
@media (max-width: 768px) {
    .a7-title p {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .a7-title h5 {
        font-size: 55px;
    }
}


@media (max-width: 550px) {
    .a7-title {
        margin-bottom: 2rem;
    }
    
    .a7-title p {
        font-size: 18px;
    }

    .a7-title h5 {
        font-size: 45px;
    }
}


@media (max-width: 450px) {
    .a7-title p {
        font-size: 16px;
    }

    .a7-title h5 {
        font-size: 36px;
    }
}