.article8 {
    background: url(../images/a8-bg.jpg);
}

.a8-title {
    margin-bottom: 3rem;
}

.a8-box-wrapper {
    display: flex;
    margin-left: 22px;
}

.a8-box:last-child {
    margin-left: -5%;
}


/*==================================================*/
@media (max-width: 768px) {
    .article8 {
        overflow: hidden;
    }

    .article8 .article-wrapper {
        align-items: unset;
        padding: 0;
    }
    
    .a8-title {
        margin-bottom: 2rem;
    }

    .a8-box-wrapper {
        overflow: auto;
        scroll-snap-type: x mandatory;
        margin-left: 0;
    }

    .a8-box {
        width: 90%;
        min-width: 90%;
    }

    .a8-box:last-child {
        margin-left: -10%;
    }
}


@media (max-width: 550px) {
    .a8-title {
        margin-bottom: 1rem;
    }
}