.a3-wrapper {
    width: 100%;
    display: flex;
    gap: 8rem;
}

.a3-title {
    position: sticky;
    top: 140px;
    height: fit-content;
}

.a3-title p {
    color: var(--main-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.a3-title h5 {
    color: #222;
    font-size: 65px;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: -0.06em;
}

.a3-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.a3-box img {
    border-radius: 30px;
}

.a3-box-text {
    margin-top: 1rem;
}

.a3-box-text h5 {
    color: #222;
    font-size: 32px;
}

.a3-box-text p {
    color: #aaa;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 12px;
}


/*==================================================*/
@media (max-width: 1050px) {
    .a3-wrapper {
        gap: 5rem;
    }
    
    .a3-title p {
        font-size: 22px;
    }

    .a3-title h5 {
        font-size: 55px;
    }
    
    .a3-box-text h5 {
        font-size: 26px;
    }

    .a3-box-text p {
        font-size: 16px;
        margin-top: 10px;
    }
}


@media (max-width: 768px) {
    .a3-wrapper {
        flex-direction: column;
        gap: 3rem;
    }
    
    .a3-title {
        position: static;
        text-align: center;
    }

    .a3-box-text {
        text-align: center;
    }
}


@media (max-width: 550px) {
    .a3-wrapper {
        gap: 2rem;
    }
    
    .a3-title p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .a3-title h5 {
        font-size: 45px;
    }
    
    .a3-box-text h5 {
        font-size: 22px;
    }

    .a3-box-text p {
        font-size: 13px;
        margin-top: 8px;
    }
}


@media (max-width: 450px) {
    .a3-title p {
        font-size: 16px;
    }

    .a3-title h5 {
        font-size: 36px;
    }
}