.a6-bg {
    background-color: #f8f8f8;
}

.a6Btn {
    width: 650px;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--main-color);
    cursor: pointer;
}

.a6Btn:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.a6Btn p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}



/*==================================================*/
table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-spacing: 0;
    table-layout: fixed;
}

table thead {
    color: #222 !important;
    font-size: 15px;
    font-weight: 600;
    border-top: 2px solid #333;
    background-color: #f1f1f1;
}

table th,
table td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    word-break: break-all !important;
}

table td {
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
}

table tbody tr:hover {
    background-color: #f8f8f8;
}

table tbody tr:hover .C-sellerq {
    color: #df2f2f;
}

table tbody td {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

table tbody td:first-child {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.table-notice {
    width: 100%;
    margin-top: 1rem;
}

.table-notice ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.table-notice ul li {
    color: #555;
    font-size: 16px;
}

.td-logo {
    width: 100px;
}


/*==================================================*/
.Compare tbody tr td {
    padding: 15px 0;
}

.C-sellerq {
    color: #0077bf;
    font-size: 17px;
    font-weight: 700;
}

.nf-text {
    color: #df2f2f;
    font-size: 60px;
    font-weight: unset;
    font-family: 'KOHIBaeumOTF';
    margin-bottom: .5rem;
    animation: blink 1s step-end infinite;
}

@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    50% {opacity: 0;}
}


/*==================================================*/
.supportMK tbody td {
    padding: 12px 0;
}

.supportMK tbody td i {
    color: #23a177;
    font-size: 26px;
}

.supportMK tbody td img {
    padding-top: 8px;
}


/*==================================================*/
.noFee tbody tr:hover {
    background-color: transparent;
}

.noFee tbody tr td {
    font-size: 26px;
    font-weight: 700;
    padding: 100px 0;
}

.noFee tbody tr td span {
    color: #df2f2f;
    font-size: 33px;
    font-weight: 800;
}



/*==================================================*/
@media (max-width: 1550px) {
    table tbody td {
        font-size: 14px;
    }

    table tbody td:first-child {
        color: #333;
        font-size: 15px;
        font-weight: 500;
    }

    table tbody tr:hover {
        background-color: transparent;
    }
    
    table tbody tr:hover .C-sellerq {
        color: #0077bf;
    }

    .C-sellerq {
        font-size: 15px;
    }
}


@media (max-width: 1370px) {
    .Solution tbody td br {
        display: none;
    }

    .supportMK tr td:first-child {
        width: 190px !important;
    }
}


@media (max-width: 1000px) {
    table thead {
        font-size: 12px;
    }
    
    .td-logo {
        width: 75px;
    }
}


@media (max-width: 800px) {
    .Compare .C-br br {
        display: none;
    }
}


@media (max-width: 768px) {
    .nf-text {
        width: 100%;
        font-size: 40px;
        text-align: center;
    }
}


@media (max-width: 700px) {   
    .a6Btn {
        width: 350px;
        height: 60px;
    }

    table tbody td {
        font-size: 12px;
    }

    .C-sellerq {
        font-size: 12px;
    }

    .nf-text {
        font-size: 30px;
    }
}


@media (max-width: 600px) {
    .supportMK tr td:first-child {
        width: 150px !important;
    }
    
    .supportMK tbody td i {
        font-size: 18px;
    }
}


@media (max-width: 450px) {
    .a6Btn {
        width: 270px;
        height: 50px;
    }

    .a6Btn p {
        font-size: 16px;
    }

    table thead {
        font-size: 10px;
    }

    table tbody td {
        font-size: 10px;
    }

    table tbody td:first-child {
        font-size: 12px;
    }

    .C-sellerq {
        font-size: 10px;
    }

    .td-logo {
        width: 50px;
    }

    .table-notice ul li {
        font-size: 14px;
    }

    .supportMK tr td:first-child {
        width: 100px !important;
    }

    .supportMK tr td img {
        width: 70%;
    }
}