#gradient-canvas {
    transition: filter 0.15s linear;
    will-change: filter;
}

.p-text {
    text-align: center;
}

.p-text h7 {
    font-size: 90rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -2rem;
}

.p-text h7 span {
    color: #000;
    padding: 0 4rem;
    font-weight: 800;
    background-color: var(--main-color);
}

.ab1-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50rem;
}

.ab1-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ab1-top .swiper-button-wrapper {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 50rem;
}

.ab1-top .swiper-button {
    color: #aaa;
    width: 55rem;
    height: 55rem;
    font-size: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7rem;
    border: 1px solid rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .05);
    cursor: pointer;
    z-index: 10;
}

.ab1-title {
    width: 100%;
}

.ab1-title p {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-bottom: 20rem;
}

.ab1-title h5 {
    color: #fff;
    font-size: 55rem;
    letter-spacing: -2rem;
}

.ab1Swiper {
    position: relative;
    width: 100%;
}

.ab1Swiper .swiper-slide {
    position: relative;
    height: 450rem;
    padding: 60rem 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7rem;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .05);
    overflow: hidden;
}
.ab1Swiper .swiper-slide:hover {
    background-color: rgba(255, 255, 255, .07);
}

.ab1Swiper .swiper-slide h5 {
    color: var(--main-color);
    font-size: 60rem;
    letter-spacing: -3rem;
}

.ab1Swiper .swiper-slide ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20rem;
}

.ab1Swiper .swiper-slide ul li {
    color: #ccc;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.4;
    list-style: disc;
}


.ab2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40rem;
    margin-top: 50rem;
}

.ab2-box {
    padding: 60rem 50rem;
    border-radius: 7rem;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .05);
}
.ab2-box:hover {
    background-color: rgba(255, 255, 255, .07);
}

.ab2-box-image {
    float: right;
    width: 100rem;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    --d: 7rem;
    border-radius: 0 var(--d);
    border-right: var(--d) solid #0004;
    border-bottom: var(--d) solid #0008;
    background: var(--main-color);
    corner-shape: bevel;
}

.ab2-box-image img {
    width: 60%;
}

.ab2-box-text h5 {
    color: #fff;
    font-size: 32rem;
}

.ab2-box-text p {
    color: #ccc;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20rem;
}


.ab3 {
    padding-bottom: 0;
}

.ab3-box {
    width: 100%;
    padding: 80rem 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7rem;
    background-color: var(--main-color);
}

.ab3-box p {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.3;
}

.ctaBtn {
    color: #fff;
    width: 250rem;
    height: 80rem;
    font-size: 24rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: #000;
}


@media (max-width: 991px) {
    .ab1 .article-wrapper {
        width: 100%;
        padding-left: 5%;
    }

    .ab1-top {
        padding-right: 5%;
    }

    .ab2-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 30rem;
    }

    .ab3-box {
        flex-direction: column;
        justify-content: unset;
        gap: 50rem;
        margin-top: 50rem;
    }

    .ab3-box p {
        text-align: center;
    }
}


@media (max-width: 650px) {
    .p-text p br {
        display: none;
    }
}


@media (max-width: 550px) {
    .ab1Swiper .swiper-slide {
        height: 500rem;
    }
    
    .ab1Swiper .swiper-slide h5 {
        font-size: 80rem;
    }

    .ab1Swiper .swiper-slide ul li {
        font-size: 24rem;
    }

    .ab2-box-text h5 {
        font-size: 40rem;
    }

    .ab2-box-text p {
        font-size: 24rem;
        padding-right: 50%;
    }

    .ab3-box p {
        font-size: 45rem;
    }

    .ctaBtn {
        width: 70%;
        height: 90rem;
        font-size: 30rem;
    }
}