.promotion {
    width: 100%;
    background: url(../images/hero.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}


/*==================================================*/
