.business {
    background: url(../images/business-bg.jpg) no-repeat;
    background-size: cover;
}

.bz-title {
    width: 100%;
    margin-bottom: 3rem;
}

.bz-title h5 {
    color: #222;
    font-size: 45px;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.bz-title h5 span {
    color: #888;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0;
}

.bz-title p {
    color: #aaa;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 1.5rem;
}

.bz1-flow-wrapper {
    width: 100%;
    overflow: hidden;
}

.bz1-flow {
    display: flex;
    gap: 1rem;
    animation: flow 200s linear infinite;
}

@keyframes flow {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-600%, 0, 0);
    }
}

.bz1-box {
    position: relative;
    min-width: 600px;
}

.bz1-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #000 0%, transparent 100%);
    z-index: 1;
}

.bz1-box-image {
    width: 100%;
    margin-bottom: -4px;
}

.bz1-box-text {
    position: absolute;
    bottom: 30px; left: 30px;
    color: #fff;
    font-size: 28px;
    z-index: 10;
}


.bz2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.bz2-box-text h5 {
    color: #222;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}


.bz3-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2rem;
}

.bz3-text {
    position: sticky;
    top: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bz3-text li {
    color: #ccc;
    font-size: 26px;
    font-weight: 600;
    transition: all .3s;
}

.bz3-text li.on {
    color: #333;
    font-size: 30px;
    font-weight: 700;
}

.bz3-circle-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bz3-circle {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #ccc;
}

.bz3-image-wrapper {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.bz3-image-wrapper img {
    width: 100%;
}


/*==================================================*/
