.article2 {
    position: relative;
}

.a2-flow-wrapper {
    position: absolute;
    top: 120rem;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.a2-flow {
    font-size: 220rem;
    font-weight: 800;
    font-family: 'Montserrat';
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
    letter-spacing: -2rem;
    opacity: .05;
}

.a2-title h6 {
    color: var(--main-color);
}

.a2-title h5 {
    color: #222;
}

.a2-box-wrapper {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #111;
    background: url(../images/a2-bg.png) no-repeat;
    background-position: bottom;
    background-size: cover;
    transition: background 0.5s ease;
    z-index: 3;
}

.a2-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    border-right: 1px solid rgba(255, 255, 255, .15);
    transition: all .1s ease;
}

.a2-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    backdrop-filter: blur(5px);
    background: linear-gradient(0deg, #ffffff33, transparent);
    transition: all .3s;
    z-index: 2;
}

.a2-box-text {
    color: #fff;
    text-align: center;
    z-index: 2;
}

.a2-box-text h5 {
    font-size: 32rem;
}

.a2-box-text p {
    font-size: 17rem;
    line-height: 1.5;
    margin-top: 20rem;
    opacity: 0;
    transform: translateY(-20px);
}

.a2-box:hover p {
    opacity: 1;
    transform: translateY(0px);
    transition: all .5s ease;
}

.a2-box:hover::before {
    height: 100%;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a2-box-wrapper {
        height: 60vh;
    }
}


@media (max-width: 1050px) {
    .a2-box-wrapper {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .a2-box {
        padding: 100rem 0;
    }
    .a2-box:nth-child(1),
    .a2-box:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    .a2Btn {
        opacity: 1;
        transform: translate(0);
    }
}


@media (max-width: 550px) {
    .a2Btn {
        width: 60%;
    }
}


@media (max-width: 450px) {
    .a2Btn {
        height: 60rem;
        font-size: 20rem;
    }
}