.article1 {
    background: url(../images/a1-bg.jpg);
}

.a1-title {
    color: #fff;
    text-align: center;
    margin-bottom: 80rem;
}

.a1-title h6 {
    font-size: 20rem;
    font-family: 'Montserrat';
    margin-bottom: 20rem;
}

.a1-title h5 {
    font-size: 50rem;
}

.a1-title p {
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20rem;
}

.a1-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.a1-box {
    color: #fff;
    padding: 40rem;
    border-radius: 10rem;
    backdrop-filter: blur(10rem);
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .05);
}
.a1-box:hover {
    background-color: rgba(255, 255, 255, .1);
}

.a1-box-icon {
    width: 100%;
    margin-bottom: 20rem;
}

.a1-box-icon i {
    float: right;
    font-size: 40rem;
}

.a1-box-text span {
    color: #fff;
    width: fit-content;
    display: block;
    padding: 4rem 6rem;
    font-size: 17rem;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .1);
    margin-bottom: 20rem;
}

.a1-box-text h5 {
    font-size: 24rem;
    font-weight: 600;
}

.a1-box-text p {
    font-size: 17rem;
    line-height: 1.5;
    letter-spacing: -0.5rem;
    margin-top: 10rem;
    opacity: .7;
}



/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}