.fBtn-popup-wrapper {
    position: relative;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999;
    display: none;
}

.fBtn-closeBtn {
    position: absolute;
    bottom: 110px; left: 50%;
    transform: translate(-50%, 0);
    width: 70rem;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 30rem rgba(0, 0, 0, .2);
    cursor: pointer;
}

.fBtn-closeBtn img {
    width: 40%;
}

.fBtn-popup {
    width: 900rem;
    max-height: 70vh;
    padding: 60rem;
    background-color: #fff;
    overflow-y: auto;
}

.fp-text {
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.fpt-title {
    color: #222;
    font-size: 40rem;
    font-weight: 700;
}

.fp-text p,
.fp-text ul li {
    color: #333;
    font-size: 17rem;
    line-height: 1.6;
}

.fp-text ul {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding-left: 20rem;
}

.fp-text ul li {
    list-style: circle;
}

.fp-text p b {
    display: block;
    color: #222;
    font-size: 20rem;
    margin-bottom: 10rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 100rem 0;
}

.footer-wrapper {
    width: 1400rem;
    display: flex;
    flex-direction: column;
    gap: 50rem;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo-f {
    width: 180rem;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 50rem;
}

.fBtn {
    color: #fff;
    font-size: 18rem;
    font-weight: 600;
    cursor: pointer;
}

.footer-text p {
    color: rgba(255, 255, 255, .5);
    font-size: 15rem;
    line-height: 1.8;
    letter-spacing: 0;
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fb-left p {
    color: rgba(255, 255, 255, .3);
    font-size: 15rem;
    font-weight: 300;
    letter-spacing: 0;
}

.admBtn {
    color: rgba(255, 255, 255, .3);
    font-size: 13rem;
    display: flex;
    align-items: center;
    gap: 4px;
}

.f-menu {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 30px;
    }
}


@media (max-width: 1050px) {
    .fBtn-popup {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .fBtn-popup {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
    }

    .fBtn-closeBtn {
        bottom: 5%;
        box-shadow: none;
        background-color: #000;
    }

    .fBtn-closeBtn img {
        filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(189deg) brightness(103%) contrast(102%);
    }
    
    .footer {
        padding: 60rem 0;
    }
    
    .footer-top {
        flex-direction: column;
        align-items: unset;
        border-bottom: none;
        margin-bottom: -70rem;
    }
    
    .fBtn-wrapper {
        display: none;
    }
}


@media (max-width: 550px) {
    .fBtn-popup {
        padding: 60rem;
    }

    .fp-text p,
    .fp-text ul li {
        font-size: 20rem;
    }
    
    .footer-wrapper {
        gap: 60rem;
    }
    
    .fmh {
        font-size: 24rem;
    }

    .f-menu-item .f-menu-hover li a {
        font-size: 20rem;
    }

    .footer-text p,
    .fb-left p {
        font-size: 20rem;
    }
}


@media (max-width: 450px) {
    .fp-text p,
    .fp-text ul li {
        font-size: 22rem;
    }
    
    .footer-wrapper {
        padding: 0 20px;
    }
}