#sv {
    position: sticky;
    top: 80rem;
    padding: 40rem 0;
    height: fit-content;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 90rem;
    z-index: 80;
}

.sv-nav-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60rem;
}

.sv-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.sv-nav-icon {
    width: 70rem;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .2);
    transition: box-shadow .2s;
}

.sv-nav.on .sv-nav-icon {
    background-color: var(--main-color);
}

.sv-nav.on .sv-nav-icon img {
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(101%) contrast(104%);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(101%) contrast(104%);
}

.sv-nav-icon img {
    width: 45%;
    transition: width .2s;
}

.sv-nav p {
    font-size: 20rem;
    font-weight: 600;
}

.sv-nav:hover .sv-nav-icon {
    box-shadow: 0 4rem 10rem 0 rgba(80, 86, 131, .2);
}

.sv-nav:hover .sv-nav-icon img {
    width: 49%;
}


.sv {
    padding-top: 360rem;
    margin-top: -240rem;
}

.sv-title {
    font-size: 60rem;
    text-align: center;
    margin-bottom: 50rem;
}

.sv-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sv-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sv-info {
    width: 100%;
    padding: 40rem 0;
    display: flex;
    gap: 50rem;
    border-bottom: 1px solid #ddd;
}
.sv-info:last-child {
    border-bottom: none;
}

.sv-info h5 {
    min-width: 20%;
    color: #222;
    font-size: 26rem;
    margin-bottom: 20rem;
}

.sv-info ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}

.sv-info ul li {
    color: #222;
    padding: 12rem 0;
    font-size: 20rem;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #f2f2f2;
    text-align: center;
}

.sv-info ul li:hover {
    filter: brightness(95%);
}



/*==================================================*/
@media (max-width: 768px) {
    
}