.logo-w {
    display: none;
}

.logo {
    display: flex !important;
}

.sub-promotion {
    width: 100%;
    height: 300rem;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.sub-promotion-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sub-p-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    text-align: center;
}

.sub-p-text h5 {
    color: #222;
    font-size: 50rem;
}

.sub-p-text h5 span {
    color: var(--main-color);
}

.sub-p-text p {
    color: #222;
    font-size: 22rem;
    font-weight: 500;
    line-height: 1.5;
}

.sub-p-text p br {
    display: none;
}



/*==================================================*/
@media (max-width: 768px) {
    .sub-promotion {
        height: 350rem;
    }
    
    .sub-p-text p br {
        display: block;
    }
}