.a3-logo-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem 8rem;
}



/*==================================================*/
@media (max-width: 1250px) {
    .a3-logo-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem 6rem;
    }
}


@media (max-width: 850px) {
    .a3-logo-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem 4rem;
    }
}


@media (max-width: 550px) {
    .a3-logo-wrapper {
        gap: 3rem;
    }
}


@media (max-width: 450px) {
    .a3-logo-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem 3rem;
    }
}