.article1 {
    overflow: hidden;
}

.a1-box-wrapper {
    width: 100%;
}

.a1-box {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.a1-box:last-child {
    margin-top: 6rem;
}

.a1-box-image {
    flex: 1;
    overflow: hidden;
}

.a1-box-image img {
    width: 100%;
    height: auto;
    transition: all 1s ease;
}

.a1-box:hover .a1-box-image img {
    transform: scale(1.05);
}

.a1-box-text {
    flex: 1;
    margin-top: 2rem;
}

.a1-box-text h1 {
    color: #222;
    font-size: 42px;
    font-weight: 500;
    font-family: 'Ubuntu' !important;
}

.a1-box-text p {
    color: #888;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 1.7rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a1-box-text {
        margin-top: 0;
    }
}


@media (max-width: 1050px) {
    .a1-box {
        gap: 3rem;
    }
}


@media (max-width: 850px) {
    .a1-box {
        flex-direction: column;
        gap: 1rem;
    }

    .a1-box:last-child {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }

    .a1-box:hover .a1-box-image img {
        transform: scale(1);
    }

    .a1-box-text p {
        margin-top: 1rem;
    }
}


@media (max-width: 550px) {
    .a1-box-text h1 {
        font-size: 30px;
    }
}


@media (max-width: 450px) {
    .a1-box-text h1 {
        font-size: 24px;
    }
    
    .a1-box-text p {
        font-size: 13px;
        margin-top: .5rem;
    }
}