.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40rem;
}

.a2-box {
    padding: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30rem;
    background-color: #fff;
    border-radius: 20rem;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .15);
}

.a2-box img {
    width: 250rem;
    border-radius: 20rem;
    margin: 0 auto;
}

.a2-box-name {
    height: 70rem;
    text-align: center;
}

.a2-box-name p {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 700;
    margin-bottom: 10rem;
}

.a2-box-name h5 {
    font-size: 36rem;
    letter-spacing: -1rem;
}

.a2-box-text h5 {
    font-size: 24rem;
    text-align: center;
}

.a2-box-text p {
    color: #aaa;
    font-size: 18rem;
    font-weight: 500;
    margin-top: 10rem;
    text-align: center;
}

.a2-box-text ul {
    padding: 30rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-left: 45rem;
    border-radius: 15rem;
    border: 1px solid #eee;
    background-color: #f5f5f5;
    margin-top: 30rem;
}

.a2-box-text ul li {
    color: #555;
    font-size: 16rem;
    line-height: 1.4;
    list-style-type: '- ';
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}