.a0-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40rem;
}

.a0-box {
    padding: 50rem;
    border-radius: 20rem;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .15);
}

.a0-box-icon {
    width: 74rem;
    height: 74rem;
    line-height: 85rem;
    text-align: center;
    border-radius: 25rem;
    background-color: var(--main-color);
    margin-bottom: 30rem;
}

.a0-box-icon i {
    color: #fff;
    font-size: 40rem;
}

.a0-box-text h5 {
    font-size: 24rem;
    letter-spacing: -0.7rem;
}

.a0-box-text p {
    color: #777;
    font-size: 17rem;
    line-height: 1.5;
    margin-top: 15rem;
}

.a0-box-text p span {
    display: block;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 10rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .ar-title p {
        padding: 0 100rem;
        font-size: 24rem;
        line-height: 1.4;
    }
    
    .a0-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 550px) {
    .a0-box-text h5 {
        font-size: 30rem;
    }

    .a0-box-text p {
        font-size: 22rem;
    }
}