footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202630;
    padding: 60rem 0;
}

.footer-wrapper {
    width: 1200rem;
}

.footer-box-wrapper {
    width: 100%;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.f-info p {
    color: #ffffffa4;
    font-size: 15rem;
    line-height: 1.8;
    letter-spacing: 0;
}

.f-info p span br {
    display: none;
}

.f-info em br {
    display: block;
}

.logo-f {
    width: fit-content;
    display: flex;
}

.logo-f span {
    color: var(--main-color);
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 550px) {
    .f-info p {
        font-size: 24rem;
    }
}