.sub-promotion {
    position: relative;
    width: 100%;
    height: 500px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sub-promotion-wrapper {
    width: 1200px;
    height: auto;
    padding-top: 50px;
    z-index: 3;
}

.sub-p-text h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.4;
    font-family: 'NanumSquare';
    letter-spacing: -0.02em;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.sub-p-text p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: .3rem;
}

.sub-p-text p br {
    display: none;
}

.s-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    display: block;
    animation: reduction 3s ease-out;
    z-index: 2;
}

.s-about {
    background: url(../../images/sub/s-about-bg.jpg);
    background-size: cover;
}


@keyframes reduction {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}


.sub-top-menu {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
    -webkit-user-select: none;
    user-select: none;
}

.sub-top-menu-wrapper {
    width: 1200px;
    display: flex;
    align-items: center;
}

.sub-top-menu-wrapper span {
    color: #ddd;
}

.homeBtn {
    padding-right: 20px;
}

.homeBtn img {
    min-width: 17px;
    width: 17px;
}

.s-t-menuBtn {
    position: relative;
    width: 200px;
}

.s-t-menuBtn-title {
    width: 200px;
    height: 65px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.s-t-menuBtn-title p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.s-t-menuBtn-title span {
    color: #777;
    font-size: 16px;
    padding-top: 4px;
    padding-right: .5rem;
}

.s-t-listtop {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.s-t-menulist {
    position: absolute;
    top: 0; left: 0;
    width: 200px;
    height: fit-content;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
    transition: all .1s ease-in;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.s-t-menulist li a {
    font-size: 16px;
}

.s-t-m-visible {
    opacity: 1;
    visibility: visible;
}

.s-t-active {
    color: var(--main-color);
    padding: 2px 4px;
    border-bottom: 1px solid var(--main-color);
}


/*==================================================*/
@media (max-width: 1250px) {
    .sub-promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .sub-top-menu {
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    .sub-promotion {
        height: 300px !important;
    }
    
    .sub-p-text h1 {
        font-size: 33px;
    }

    .sub-p-text p {
        font-size: 16px;
        font-weight: 300;
    }

    .sub-p-text p br {
        display: block;
    }
}


@media (max-width: 550px) {   
    .sub-promotion-wrapper {
        padding-top: 40px;
    }

    .s-background::after {
        content: '';
        width: 100%;
        height: 300px;
        display: block;
        background-color: rgba(0, 0, 0, .15);
        z-index: 1;
    }

}


@media (max-width: 500px) {  
    .sub-top-menu {
        height: 52px;
        padding: 0 20px;
    }
    
    .s-t-menuBtn {
        width: 130px;
    }

    .s-t-menuBtn-title {
        width: 130px;
        height: 52px;
    }

    .s-t-menuBtn-title p {
        font-size: 13px;
    }

    .s-t-menuBtn-title span {
        font-size: 13px;
        padding-right: 0;
    }
    
    .s-t-menulist {
        width: 130px;
        padding-bottom: 20px;
        gap: 1rem;
    }

    .s-t-menulist li a {
        font-size: 13px;
    }
}