.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 98;
}
.header.hide {
    transform: translateY(-100%);
}
.header.Fixed {
    position: fixed;
    background-color: var(--main-color);
}

.gnb {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 56px;
}

.menu a {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
}

.menu a i {
    font-weight: lighter;
}

.logo {
    display: flex;
    width: 150px;
}

.ctaBtn {
    width: 150px;
    height: 48px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
}

#check,
.gnb label {
    display: none;
}


/*==================================================*/
@media (max-width: 1450px) {
    .gnb {
        width: 90%;
    }
}


@media (max-width: 1024px) {
    .gnb label {
        display: flex;
        z-index: 8;
    }

    .menuBtns {
        display: inline-block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50rem;
        background-color: #111;
        touch-action: none;
        transition: all .2s;
        z-index: 7;
    }

    .menu li a {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        transition: .3s ease;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-5px, 2px);
        background-color: #fff;
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-9px, -6px);
        background-color: #fff;
    }

    #check:checked~.menu {
        left: 0;
    }
}


@media (max-width: 768px) {
    .header {
        height: 120rem;
    }

    .logo {
        width: 60px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 24px;
        height: 2px;
        margin: 3px 0;
        transition: .3s ease;
    }

    .bar2 {
        opacity: 0;
        visibility: hidden;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
    }
}