.promotion {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.p-glow {
    position: absolute;
    top: 0;
    z-index: 1;
}

.promotion-wrapper {
    width: 90%;
    padding: 0 15%;
    z-index: 2;
}

.p-text h6 {
    color: var(--point-color);
    font-size: 24rem;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-bottom: 30rem;
    letter-spacing: 0;
    margin-top: 200rem;
}

.p-text h5 {
    color: #fff;
    font-size: 75rem;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
}

.p-text p {
    padding-left: 25%;
    color: #ddd;
    font-size: 24rem;
    line-height: 1.8;
    font-weight: 500;
    margin-top: 120rem;
}

.p-text p span {
    color: #000;
    padding: 0 3px;
    font-weight: 800;
    background-color: var(--point-color);
}




/*==================================================*/
@media (max-width: 1024px) {
    
}