.article1 {
    position: relative;
    padding-top: 250px;
    background: url(../images/a1-bg.jpg);
}

.cloud1 {
    position: absolute;
    top: 400px; left: 300px;
}

.cloud2 {
    position: absolute;
    top: 200px; right: 300px;
}

.a1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
}

.a1-image {
    width: 650px;
}

.a1-subtitle {
    color: #222;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'RIDIBatang';
    text-align: center;
    letter-spacing: -0.04em;
}


@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.a1-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a1-r-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.a1-r-box span {
    color: #fff;
    font-size: 20px;
    font-family: 'PuradakGentleGothicR';
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 20px 0;
    background-color: #be1a21;
}

.a1-r-box p {
    color: #222;
    font-size: 26px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    letter-spacing: -0.04em;
}