.article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 100px 0;
}

.article-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-title {
    text-align: center;
    margin-bottom: 4rem;
}

.article-title h1 {
    color: var(--main-color);
    font-size: 75px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    letter-spacing: -0.04em;
}

.article-title h1 span {
    color: #111;
    font-family: 'PuradakGentleGothicR';
}

.article-title p {
    color: #555;
    font-size: 26px;
    font-family: 'PuradakGentleGothicR';
    letter-spacing: -0.04em;
    margin-bottom: 1.2rem;
}

.at-dark p,
.at-dark h1 span {
    color: #fff;
}

@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    .article {
        padding: 60px 0;
    }

    .article-title {
        margin-bottom: 2.5rem;
    }

    .article-title h1 {
        font-size: 45px;
    }
    
    .article-title p {
        font-size: 18px;
        margin-bottom: .7rem;
    }
}


@media (max-width: 450px) {
    .article-title h1 {
        font-size: 32px;
    }

    .article-title p {
        font-size: 14px;
    }
}