.article3 {
    position: relative;
    background: url(../images/a3-bg.jpg);
    overflow: hidden;
}

.a3-1 {
    position: absolute;
    top: 30px; left: 120px;
}

.a3-2 {
    position: absolute;
    bottom: 30px; right: 60px;
}

.a3-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.a3-box {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid #6d5734;
    background-color: #111;
}

.a3-box p {
    color: #ddd;
    font-size: 22px;
    margin-bottom: 1rem;
}

.a3-box h1 {
    color: #fff;
    font-size: 45px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    letter-spacing: -0.04em;
}

.a3-box h1 span {
    color: #be1a21;
    font-family: 'PuradakGentleGothicR';
}


.article3-1 {
    background-color: #184030;
}

.article3-1 h1 {
    color: #fff;
    font-size: 75px;
    font-weight: unset;
    font-family: 'FUNFLOWSURVIVORKR';
    letter-spacing: -0.04em;
    text-align: center;
}

.article3-1 h1 span {
    color: var(--sub-color);
    font-size: 120px;
    font-family: 'FUNFLOWSURVIVORKR';
    animation: blinker .7s step-end infinite;
}

@font-face {
    font-family: 'FUNFLOWSURVIVORKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/FUNFLOWSURVIVORKR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*==================================================*/
@media (max-width: 1650px) {
    .a3-1 {
        top: unset;
        bottom: 30px;
        left: 0;
        width: 250px;
    }

    .a3-2 {
        right: 0;
        width: 270px;
    }
}


@media (max-width: 850px) {
    .a3-1,
    .a3-2 {
        z-index: 1;
    }

    .a3-box {
        z-index: 2;
    }

    .article3-1 h1 {
        font-size: 45px;
    }

    .article3-1 h1 span {
        font-size: 55px;
    }
}


@media (max-width: 550px) {
    .a3-1 {
        display: none;
    }
    
    .a3-box-wrapper {
        gap: 1rem;
    }
    
    .a3-box {
        width: 100%;
        height: auto;
        padding: 30px 0;
        border-radius: 10px;
        border: 3px solid #6d5734;
        background-color: rgba(0, 0, 0, .8);
    }

    .a3-box p {
        font-size: 18px;
    }

    .a3-box h1 {
        font-size: 32px;
    }
}


@media (max-width: 450px) {
    .a3-2 {
        right: -100px;
    }
    
    .a3-box {
        padding: 20px 0;
    }
    
    .a3-box p {
        margin-bottom: .5rem;
    }
    
    .a3-box h1 {
        font-size: 24px;
    }

    .article3-1 h1 {
        font-size: 30px;
    }

    .article3-1 h1 span {
        font-size: 40px;
    }
}