.article1 {
    padding-top: 250px;
    background-color: #f4ede7;
}

.a1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.a1-image {
    width: 650px;
}

.a1-subtitle {
    color: #222;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'RIDIBatang';
    text-align: center;
    letter-spacing: -0.04em;
}


@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.a1-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.a1-r-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.a1-r-box span {
    color: var(--main-color);
    font-size: 40px;
    font-family: 'PuradakGentleGothicR';
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a1-r-box p {
    color: #222;
    font-size: 26px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    letter-spacing: -0.04em;
}