.floating {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--main-color);
    z-index: 999;
}

.floating-wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.f-closeBtn {
    display: none;
}

.floating-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.f-tel img {
    height: 55px;
    animation: updown 1s infinite ease-in-out;
}

@keyframes updown {
    0% {transform:translateY(0);}
    10% {transform:translateY(-3px);}
    20% {transform:translateY(0);}
    30% {transform:translateY(-3px);}
    40% {transform:translateY(0);}
    100% {transform:translateY(0);}
}

.ft-text p {
    color: #fff;
    font-size: 20px;
    font-family: 'RIDIBatang';
    letter-spacing: -0.04em;
    margin-bottom: 5px;
}

.ft-text a {
    color: #fff;
    font-size: 32px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
}

.f-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.f-form .inputbox {
    color: #222;
    width: 185px;
    height: 47px;
    padding: 0 19px;
    font-size: 15px;
    font-family: 'Pretendard';
    border: none;
    outline: none;
}

.f-form .selectbox {
    color: #bbb;
    width: 185px;
    height: 47px;
    padding: 0 16px;
    font-size: 15px;
    font-family: 'Pretendard';
    border: none;
    outline: none;
    cursor: pointer;
}

.f-form .selectbox:valid {
    color: #222;
}

.f-form .selectbox option {
    color: #444;
}

.f-submit {
    color: #222;
    width: 185px;
    height: 47px;
    font-size: 15px;
    padding: 0 19px;
    border: none;
    outline: none;
    background-color: var(--sub-color);
    cursor: pointer;
}

.f-submit p {
    font-family: 'PuradakGentleGothicR';
}

.f-personal {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: .7rem;
}

.f-personal input {
    display: none;
}

.f-personal em {
    position: relative;
    width: 14px;
    min-width: 14px;
    height: 14px;
    min-height: 14px;
    background-color: #fff;
}

.f-personal em::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #be1a21;
    display: none;
}

.f-personal label p {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#cb:checked ~ em::after {
    display: block;
}


/*==================================================*/
@media (max-width: 1250px) {
    .floating-wrapper {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        gap: 1.2rem;
    }

    .floating-title {
        width: 100%;
        gap: 10px;
    }

    .ft-text {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .ft-text p {
        font-size: 24px;
        margin-bottom: 0;
    }
    
    .ft-text a {
        font-size: 32px;
    }

    .f-tel img {
        height: 35px;
    }

    .floating-wrapper form {
        width: 100%;
    }
    
    .f-form {
        width: 100%;
    }
    
    .f-form .inputbox,
    .f-form .selectbox,
    .f-submit {
        width: 25%;
    }
}


@media (max-width: 600px) {
    .floating {
        position: relative;
        position: fixed;
        bottom: 10px; right: 10px;
        width: 200px;
        padding: 10px;
        padding-top: 20px;
    }

    .floating-wrapper {
        padding: 0;
    }

    .f-closeBtn {
        position: absolute;
        top: 8px; right: 8px;
        width: 13px;
        display: block;
        cursor: pointer;
    }

    .floating-close {
        width: fit-content;
        padding: 15px;
        border-radius: 50%;
    }
    
    .ft-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .ft-text p {
        font-size: 18px;
    }

    .ft-text a {
        font-size: 18px;
    }

    .f-tel img {
        height: 25px;
        animation: none;
        display: none;
    }
    
    .f-form {
        flex-direction: column;
    }

    .f-form .inputbox,
    .f-form .selectbox,
    .f-submit {
        width: 100%;
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
    }
    
    .f-personal em {
        width: 10px;
        min-width: 10px;
        height: 10px;
        min-height: 10px;
    }

    .f-personal em::after {
        width: 5px;
        height: 5px;
    }

    .f-personal label p {
        font-size: 10px;
    }
}