.article1 {
    padding-top: 0;
}

.a1-title {
    width: 100%;
    margin-bottom: 70rem;
}

.a1-title h5 {
    font-size: 50rem;
}

.a1-title h5 span {
    color: var(--main-color);
}

.a1-title p {
    color: #222;
    font-size: 22rem;
    line-height: 1.6;
    margin-top: 30rem;
}

.a1-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50rem;
}

.a1-box {
    position: relative;
    height: 480rem;
    padding: 50rem;
    display: flex;
    flex-direction: column;
    gap: 30rem;
    border-radius: 10rem;
    background-color: #f2f2f2;
}
.a1-box:nth-child(1) {
    background-color: #eaebff;
}
.a1-box:nth-child(2) {
    background-color: #e7f3ff;
}
.a1-box:nth-child(3) {
    background-color: #fff1d6;
}

.a1-box-image {
    position: absolute;
    bottom: 40rem; right: 45rem;
    height: 37%;
    z-index: 1;
}

.a1-box-text {
    z-index: 2;
}

.a1-box-text h6 {
    font-size: 36rem;
}

.a1-box-text p {
    color: #777;
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.45;
    margin-top: 20rem;
    padding-right: 50rem;
}



/*==================================================*/
@media (max-width: 768px) {
    .article1 {
        padding-top: 150rem;
    }

    .a1-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 20rem;
    }

    .a1-box {
        height: auto;
    }
    
    .a1-box-text {
        width: 60%;
    }

    .a1-box-image {
        height: 60%;
    }
}


@media (max-width: 550px) {
    .a1-title h5 {
        font-size: 60rem;
    }

    .a1-title p {
        font-size: 26rem;
    }

    .a1-title p br {
        display: none;
    }

    .a1-box-text h6 {
        font-size: 40rem;
    }

    .a1-box-text p {
        font-size: 22rem;
    }
}