.a3-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50rem;
}

.a3-box-text h6 {
    font-size: 30rem;
}

.a3-box-text ul {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 20rem;
}

.a3-box-text ul li {
    color: #666;
    padding: 20rem;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 10rem;
    border: 1px solid #eee;
    background-color: #f5f5f5;
}

.a3-box-right {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20rem;
}

.a3-box-image {
    position: relative;
    width: 100%;
    height: 400rem;
    border-radius: 20rem;
    border: 1px solid #ddd;
    overflow: hidden;
}

.a3-box-image p {
    position: absolute;
    top: 30rem; left: 30rem;
    font-size: 26rem;
    font-weight: 700;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}