.a5-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30rem;
}

.a5-box {
    height: auto;
    background-color: #fff !important;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .2);
}

.a5-box .a1-box-text p {
    padding-right: 0;
}

.a5-box-icon {
    height: 45rem;
    margin-bottom: 40rem;
}



/*==================================================*/
@media (max-width: 768px) {
    .a5-title br {
        display: none;
    }

    .a5-box-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .a5-box .a1-box-text {
        width: 100%;
    }
}


@media (max-width: 550px) {
    
}