.a2-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50rem;
}

.a2-box {
    display: flex;
    align-items: center;
    gap: 60rem;
}
.a2-box:nth-child(2) {
    flex-direction: row-reverse;
    text-align: right;
}

.a2-box-image {
    width: 300rem;
    min-width: 300rem;
    height: 300rem;
    min-height: 300rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60rem;
    background-color: #f5f5f5;
}

.a2-box-image img {
    width: 70%;
}

.a2-box-text {
    width: 70%;
}

.a2-box-text h5 {
    color: #222;
    font-size: 30rem;
}

.a2-box-text p {
    color: #222;
    font-size: 20rem;
    line-height: 1.6;
    margin-top: 20rem;
}



/*==================================================*/
@media (max-width: 768px) {
    .a2-box-wrapper {
        gap: 30rem;
    }
    
    .a2-box {
        width: 100%;
        padding: 50rem 30rem;
        flex-direction: row;
        align-items: unset;
        gap: 30rem;
        background-color: #fff;
        border-radius: 10rem;
        box-shadow: 0 0 50rem 0 rgba(80, 86, 131, .15);
    }

    .a2-box:nth-child(2) {
        flex-direction: row;
        text-align: left;
    }
    
    .a2-box-image {
        width: 35%;
        height: auto;
        min-width: unset;
        min-height: unset;
        border-radius: 0;
        background-color: transparent;
    }

    .a2-box-text {
        width: 100%;
    }

    .a2-box-text p br {
        display: none;
    }
}


@media (max-width: 550px) {
    .a2-box-text h5 {
        font-size: 40rem;
    }
    
    .a2-box-text p {
        font-size: 24rem;
    }
}