.a1-title {
    width: 100%;
    margin-bottom: 70rem;
}

.a1-title h5 {
    font-size: 50rem;
}

.a1-title h5 span {
    color: var(--main-color);
}

.a1-title p {
    color: #666;
    font-size: 18rem;
    line-height: 1.6;
    margin-top: 30rem;
}

.a1-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50rem;
}

.a1-box {
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.a1-box img {
    border-radius: 20rem;
}

.a1-box-text h6 {
    font-size: 24rem;
}

.a1-box-text p {
    color: #888;
    font-size: 16rem;
    line-height: 1.6;
    margin-top: 15rem;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}