.a3-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120rem;
}

.a3-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50rem;
}

.a3-box-text h6 {
    font-size: 30rem;
}

.a3-box-text ul {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    margin-top: 20rem;
}

.a3-box-text ul li {
    color: #666;
    padding: 20rem;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 10rem;
    background-color: #fff;
    box-shadow: 0 10rem 30rem 0 rgba(80, 86, 131, .15);
}

.a3-box-right {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20rem;
}

.a3-box-image {
    position: relative;
    width: 100%;
    height: 400rem;
    padding: 30rem;
    border-radius: 10rem;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    overflow: hidden;
}

.a3-box-image img {
    position: absolute;
    bottom: -20rem; right: 0;
    width: 90%;
    height: 80%;
    object-fit: cover;
    object-position: left top;
    overflow: hidden;
    z-index: 1;
}

.a3-box-image p {
    font-size: 26rem;
    font-weight: 700;
    z-index: 2;
}



/*==================================================*/
@media (max-width: 768px) {
    .a3-box {
        flex-direction: column;
        gap: 30rem;
    }

    .a3-box-text ul {
        display: none;
    }
    
    .a3-box-right {
        width: 100%;
    }
}


@media (max-width: 550px) {
    
}