.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 120rem 0;
}

.footer-wrapper {
    width: 1200rem;
    display: flex;
    flex-direction: column;
    gap: 90rem;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.ft-menu {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.ft-menu h5 {
    color: #fff;
    font-size: 22rem;
    margin-bottom: 10rem;
}

.ft-menu li {
    color: #ffffffa1;
    font-size: 18rem;
}
.ft-menu li:hover {
    color: #fff;
}

.ft-menu li div {
    cursor: pointer;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 50rem;
}

.fBtn {
    color: #ffffffd5;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.fBtn:hover {
    color: #fff;
}

.footer-mid {
    display: flex;
    justify-content: space-between;
}

.fm-left {
    display: flex;
    gap: 120rem;
}

.logo-f {
    width: 220rem;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.footer-text p {
    color: #ffffffa1;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0;
}

.footer-text p:last-child {
    color: #ffffff60;
}

.footer-text p a {
    letter-spacing: 0;
}

.family_site {
    width: 300rem;
    height: 55rem;
    color: #fff;
    padding: 0 15rem;
    font-size: 17rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
    outline: none;
}
.family_site:hover {
    background-color: rgba(255, 255, 255, .13);
}

.family_site option {
    color: #222;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .footer {
        padding: 60rem 20rem;
    }
    
    .footer-top {
        display: none;
    }
    
    .footer-mid {
        flex-direction: column;
        gap: 30rem;
    }
    
    .fm-left {
        width: 100%;
        flex-direction: column;
        gap: 40rem;
    }

    .logo-f {
        width: 300rem;
    }
    
    .fBtn-wrapper {
        display: none;
    }

    .family_site {
        width: 100%;
        height: 70rem;
        font-size: 22rem;
    }
}


@media (max-width: 550px) {
    .footer-text p,
    .fb-left p {
        font-size: 20rem;
    }
}