.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 96;
}
.header.Fixed {
    position: fixed;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.gnb {
    width: 1200rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb-left {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.menu {
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-item a:first-child i {
    font-size: 12px;
}

.menu-item a:first-child {
    color: #2d343d;
    padding: 12px 16px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
}

.menu-item a:first-child:hover {
    background-color: rgba(0, 0, 0, .05);
}

.menu-hover {
    position: absolute;
    top: 44px; left: 50%;
    transform: translate(-50%, 0);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .2);
    background-color: #fff;
    display: none;
}
.menu-hover.mh-1 {
    width: 130px;
}
.menu-hover.mh-3 {
    width: 140px;
}
.menu-hover.mh-4 {
    width: 110px;
}

.menu-hover li {
    width: 100%;
    text-align: center;
}

.menu-hover li a {
    width: 100%;
    padding: 7px 0;
    font-size: 15px;
    display: block;
    border-radius: 5px;
}

.menu-hover li a:hover {
    background-color: #f7f7f7;
}

.menu-item a.on,
.mi-head.on i {
    color: #222 !important;
}

.logo {
    width: 170px;
    max-width: 170px;
    user-select: none;
    z-index: 9999;
}

.gnb-right {
    display: flex;
    align-items: center;
    gap: 20rem;
    font-weight: 600;
    z-index: 9999;
}

.gnb-right a {
    font-size: 16px;
}

.gnbBtn,
a.gnbBtn {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 3px;
    background: var(--main-color);
    white-space: nowrap;
    margin-left: 10px;
}

.gnbBtn:hover,
a.gnbBtn:hover {
    filter: brightness(97%);
    background-color: var(--main-color);
}

.mh-mobile,
.mobile-login,
.toggleBtn,
.closeBtn,
.menu-sb {
    display: none;
}



/*==================================================*/
@media (max-width: 1250px) {
    .gnb {
        width: 100%;
        padding: 0 30px;
    }
}


@media (max-width: 1050px) {
    .gnb-left {
        gap: 1rem;
    }

    .menu {
        gap: 10px;
    }
    
    .menu {
        position: relative;
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        padding: 100px 40px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #f2f2f2;
        display: none;
    }

    .menu-item a {
        padding: 20px 30px !important;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 !important;
        background-color: #fff;
    }

    .menu-item a:first-child i {
        color: #aaa;
        font-size: 20px;
        font-weight: lighter;
    }

    .menu-item .menu-hover li a:hover,
    .menu-item a:first-child:hover {
        background-color: #fff;
    }
    .menu-item a:first-child:active {
        background-color: #f5f5f5;
    }

    .menu-hover {
        position: static;
        transform: unset;
        width: 100% !important;
        padding: 0;
        border: none;
        box-shadow: none;
        display: none;
    }

    .menu-hover.on {
        display: flex !important;
    }
    
    .menu-hover li a {
        border-top: 1px solid #eee;
        border-radius: 0 !important;
    }
    
    .toggleBtn {
        display: flex;
        cursor: pointer;
        z-index: 99999;
    }

    .toggleBtn i {
        color: #222;
        font-size: 32px;
        font-weight: lighter;
    }
}


@media (max-width: 768px) {
    .gnb {
        padding: 0 20px;
    }

    .menu {
        padding: 100px 20px;
    }
}


@media (max-width: 550px) {
    .header {
        height: 120rem;
    }
    
    .header.Fixed {
        height: 100rem;
    }
    
    .logo {
        width: 200rem;
    }

    .menu {
        padding: 120rem 20px;
    }
    
    .toggleBtn i {
        font-size: 40rem;
    }

    .gnb-right a {
        font-size: 22rem;
    }
    
    .gnbBtn, a.gnbBtn {
        font-size: 24rem;
        padding: 12rem 26rem;
        margin-left: 0;
    }
}