.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .3s;
    z-index: 96;
}
.header.Fixed {
    position: fixed;
    height: 90px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.gnb {
    width: 1200rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb-left {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.menu {
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-item a:first-child i {
    font-size: 12px;
}

.menu-item a:first-child {
    color: #2d343d;
    padding: 12px 16px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
}

.menu-item a:first-child:hover {
    background-color: #f7f7f7;
}

.menu-hover {
    position: absolute;
    top: 44px; left: 50%;
    transform: translate(-50%, 0);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .2);
    background-color: #fff;
    display: none;
}
.menu-hover.mh-1 {
    width: 130px;
}
.menu-hover.mh-3 {
    width: 140px;
}
.menu-hover.mh-4 {
    width: 110px;
}

.menu-item .menu-hover li {
    width: 100%;
    text-align: center;
}

.menu-item .menu-hover li a {
    width: 100%;
    padding: 7px 0;
    font-size: 15px;
    display: block;
    border-radius: 5px;
}

.menu-item .menu-hover li a:hover {
    background-color: #f7f7f7;
}

.menu-item a.on,
.mi-head.on i {
    color: #222 !important;
}

.logo,
.logo-w {
    width: 170px;
    max-width: 170px;
    user-select: none;
}

.logo.hide,
.logo-w.hide {
    display: none;
}

.gnb-right {
    display: flex;
    align-items: center;
    gap: 20rem;
    font-weight: 600;
}

.gnbBtn,
a.gnbBtn {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 3px;
    background: var(--main-color);
    white-space: nowrap;
    margin-left: 10px;
}

.gnbBtn:hover,
a.gnbBtn:hover {
    filter: brightness(97%);
    background-color: var(--main-color);
}

.mh-mobile,
.mobile-login,
.toggleBtn,
.closeBtn,
.menu-sb {
    display: none;
}


.header.trans {
    background-color: transparent;
    box-shadow: none;
}
.header.trans.Fixed {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.header.trans .menu-item a:first-child,
.header.trans .menu-item a:first-child i {
    color: #fff;
}

.header.trans .menu-item a:first-child:hover,
.header.trans .menu-item .menu-hover li a:hover {
    background-color: rgba(255, 255, 255, .1);
}

.header.trans .gnb-right a {
    color: #fff;
}

.header.trans .menu-hover {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(0, 0, 0, .15);
}

.header.trans.Fixed .menu-item a:first-child:hover,
.header.trans.Fixed .menu-item .menu-hover li a:hover {
    background-color: #f5f5f5;
}

.header.trans.Fixed .menu-hover {
    border: 1px solid #f2f2f2;
    background-color: #fff;
}

.header.trans.Fixed .gnb-right a {
    color: #2d343d;
    font-weight: 700;
}

.header.trans.Fixed .gnbBtn {
    color: #fff !important;
}


/*==================================================*/
@media (max-width: 1250px) {
    .gnb {
        width: 100%;
        padding: 0 30px;
    }
}


@media (max-width: 1050px) {
    .gnb-left {
        gap: 1rem;
    }

    .menu {
        gap: 10px;
    }
    
    .menu {
        position: relative;
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color: #000;
        display: none;
    }
    
    .closeBtn {
        position: absolute;
        top: 27px; right: 33px;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
        z-index: 99;
    }

    .closeBtn img {
        opacity: .8;
    }
    
    .menu-sb {
        position: absolute;
        bottom: -22%; right: 0;
        display: block;
        height: 70%;
        filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(173deg) brightness(107%) contrast(100%);
        opacity: .07;
        z-index: 95;
    }
    
    .menu-item a:first-child {
        padding: 20px;
        font-size: 28px;
        font-weight: 600;
        gap: 1rem;
    }
    
    .menu-item a:first-child i {
        font-size: 24px;
    }
    
    .menu-item a:first-child:hover {
        background-color: transparent;
    }

    .menu-item a.on, .mi-head.on i {
        color: #fff !important;
    }
    
    .menu-hover {
        position: static;
        transform: unset;
        width: 100% !important;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: #f2f2f2;
        display: none;
    }

    .menu-hover.on {
        display: flex !important;
    }

    .mh-mobile {
        display: flex;
    }

    .menu-item a,
    .menu-item a i {
        color: #fff !important;
    }
    
    .menu-item .menu-hover li {
        text-align: left;
    }

    .menu-item .menu-hover li a {
        height: unset !important;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        border-bottom: none;
    }

    .menu-item .menu-hover li a:hover {
        background-color: transparent;
    }
    
    .gnb-right a {
        display: none;
    }

    .toggleBtn {
        display: flex;
        margin-left: 20px;
        cursor: pointer;
    }

    .toggleBtn i {
        color: #222;
        font-size: 32px;
    }

    .mobile-login {
        width: calc(100% - 40px);
        height: 50px;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: var(--main-color);
        margin: 1.5rem auto 0 auto;
    }

    .header.trans .toggleBtn i {
        color: #fff;
    }
    
    .header.trans .menu-hover {
        backdrop-filter: unset;
        border: none;
    }

    .header.trans.Fixed .toggleBtn i {
        color: #222;
    }
    
    .header.trans.Fixed .menu-item a:first-child:hover,
    .header.trans.Fixed .menu-item .menu-hover li a:hover,
    .header.trans .menu-item a:first-child:hover,
    .header.trans .menu-item .menu-hover li a:hover {
        background-color: transparent;
    }

    .menu-hover.on {
        border: none;
        background-color: rgba(0, 0, 0, .15) !important;
    }

    .header.trans.Fixed .menu-hover {
        border: none;
    }
}


@media (max-width: 950px) {
    .header {
        height: 75px;
    }
    
    .gnb {
        padding: 0 20px;
    }
    
    .logo,
    .logo-w {
        width: 135px;
        max-width: 135px;
    }
    
    .toggleBtn i {
        font-size: 26px;
    }

    .closeBtn {
        top: 25px; right: 20px;
        font-size: 24px;
    }
}


@media (max-width: 550px) {
    .header {
        height: 65px;
    }

    .closeBtn {
        top: 20px;
    }

    .menu-item a:first-child {
        font-size: 24px;
    }
}