.promotion {
    width: 100%;
    height: 100vh;
    background: url(../images/hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-wrapper {
    width: 1200rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.p-text h6 {
    font-size: 30rem;
    margin-bottom: 30rem;
}

.p-text h5 {
    font-size: 65rem;
    font-weight: 700;
    line-height: 1.2;
}

.p-text p {
    font-size: 22rem;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 130rem;
}

.pBtn {
    color: #fff;
    font-size: 24rem;
    font-weight: 700;
    outline: none;
    border: none;
    width: 250rem;
    height: 65rem;
    border-radius: 7rem;
    background-color: var(--main-color);
    margin-top: 30rem;
    cursor: pointer;
}


.scrollDown {
    position: absolute;
    bottom: 40rem;
    width: 20px;
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}



/*==================================================*/
@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 90%;
    }
}