.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotion::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, #fff, transparent);
    z-index: 1;
}

.p-image {
    position: absolute;
    top: 20%; left: 50%;
    width: 700rem;
    background: url(../images/p-image.png) no-repeat;
    background-size: cover;
    z-index: 1;
}

.promotion-wrapper {
    width: 1200rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.p-text {
    margin-top: 50rem;
    z-index: 2;
}

.p-text h6 {
    color: #222;
    font-size: 30rem;
    margin-bottom: 30rem;
}

.p-text h5 {
    color: #222;
    font-size: 65rem;
    font-weight: 700;
}

.p-text h5 span {
    color: var(--main-color);
    letter-spacing: -1.5rem;
}

.p-text p {
    color: #222;
    font-size: 22rem;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 130rem;
}

.p-text a {
    display: flex;
}

.pBtn {
    color: #fff;
    font-size: 24rem;
    font-weight: 700;
    outline: none;
    border: none;
    width: 250rem;
    height: 70rem;
    border-radius: 7rem;
    background-color: var(--main-color);
    margin-top: 30rem;
    cursor: pointer;
}


.scrollDown {
    position: absolute;
    bottom: 40rem;
    width: 20px;
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}



/*==================================================*/
@media (min-width: 2250px) {
    .p-image {
        top: 25%;
    }
}


@media (max-width: 1450px) {
    .p-image {
        top: 50%;
        transform: translate(0, -50%) !important;
    }
}


@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 90%;
    }
}


@media (max-width: 768px) {
    .promotion {
        height: 1200rem;
        background-size: 350%;
    }
    
    .promotion-wrapper {
        flex-direction: column;
    }

    .p-text {
        width: 100%;
        margin-top: 35%;
    }

    .p-text p {
        margin-top: 50rem;
    }

    .p-image {
        top: unset; left: unset;
        bottom: 0; right: 0;
        transform: unset !important;
        width: 80%;
    }
}


@media (max-width: 550px) {
    .promotion {
        height: 1300rem;
    }
    
    .p-text h6 {
        font-size: 40rem;
    }

    .p-text h5 {
        font-size: 75rem;
        line-height: 1.1;
    }

    .p-text p {
        font-size: 26rem;
    }

    .pBtn {
        width: 300rem;
        height: 80rem;
        font-size: 30rem;
    }
}