/* main */
.svm-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80rem;
}

.svm-title {
    margin-bottom: 50rem;
}

.svm-title h5 {
    position: relative;
    padding-left: 25rem;
    font-size: 32rem;
    font-weight: 700;
}
.svm-title h5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 25px;
    background-color: var(--main-color);
    transform: skew(-30deg);
    z-index: 1;
}

.svm-title p {
    color: #888;
    font-size: 18rem;
    margin-top: 20rem;
}

.svm-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.svm-box {
    padding: 30rem 35rem;
    font-size: 22rem;
    font-weight: 600;
    border-radius: 10rem;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .2);
    transition: all .1s;
}

.svm-box:hover {
    box-shadow: 0 5rem 15rem 0 rgba(80, 86, 131, .15);
}



/* sub */
.sub-promotion.services {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.sv-noise {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: 128px;
    background-repeat: repeat;
    background-image: url(../../../contents/images/nosie.png);
    opacity: 0.075;
    border-radius: 0;
}

.sv-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    animation: reduction 6s both;
}

@keyframes reduction {
    100% {
        transform: scale(1);
    }
}

.sub-p-text {
    color: #fff;
    text-align: center;
    margin-top: 50rem;
    z-index: 2;
}

.sub-p-text h5 {
    font-size: 55rem;
    line-height: 1.3;
}

.sub-p-text p {
    font-size: 19rem;
    line-height: 1.6;
    margin-top: 20rem;
}

.sub-pBtn {
    display: block;
    margin: 0 auto;
    margin-top: 50rem;
}


.sv-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50rem;
}

.sv-title {
    position: sticky;
    top: 150rem;
    height: fit-content;
}

.sv-title h6 {
    color: var(--main-color);
    font-size: 20rem;
    font-family: 'Montserrat';
    margin-bottom: 20rem;
}

.sv-title h5 {
    font-size: 50rem;
}

.sv1-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    margin-top: 50rem;
}

.sv1-box {
    width: 550rem;
    padding: 30rem;
    color: #666;
    font-size: 22rem;
    font-weight: 500;
    box-shadow: 0 15rem 50rem 0 rgba(80, 86, 131, .2);
}
.sv1-box:nth-child(2n-1) {
    border-radius: 0 50rem 50rem 50rem;
    margin-left: -150rem;
}
.sv1-box:nth-child(2n) {
    color: #fff;
    font-size: 24rem;
    font-weight: 600;
    border-radius: 50rem 0 50rem 50rem;
    margin-bottom: 50rem;
    background-color: #222;
    box-shadow: none;
}


.sv2 {
    padding: 0;
    background-color: #f5f5f5;
    background: url(../images/sv2-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sv2 .sv-title {
    margin: 120rem 0;
}

.sv2-box-wrapper {
    position: relative;
    width: 40%;
    padding: 120rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.sv2-line {
    position: absolute;
    top: 0; left: -50rem;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.sv2-arrow i {
    font-size: 20rem;
}

.sv2-box {
    position: relative;
    width: 100%;
    padding: 50rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 12rem 30rem 0 rgba(80, 86, 131, .12);
}
.sv2-box::before {
    content: '';
    position: absolute;
    top: 50%; left: -55rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.sv2-box h6 {
    color: #fff;
    width: fit-content;
    padding: 4px 6px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    background-color: var(--main-color);
    margin-bottom: 20rem;
}

.sv2-box h5 {
    font-size: 30rem;
}

.sv2-box p {
    color: #555;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 15rem;
}


.sv3 {
    background-color: var(--main-color);
}

.sv3 .sv-title {
    position: static;
    color: #fff;
    margin-bottom: 50rem;
}

.sv3-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.sv3-box {
    padding: 50rem 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    border-radius: 5px;
    background-color: #fff;
}

.sv3-box i {
    font-size: 45rem;
}

.sv3-box p {
    font-size: 24rem;
    font-weight: 700;
}

.sv3-box-icon {
    width: 66rem;
    height: 66rem;
    line-height: 74rem;
    text-align: center;
    border-radius: 26rem;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.sv3-box-icon i {
    color: #222;
    font-size: 32rem;
}


/*==================================================*/
@media (max-width: 768px) {

}