.why .article-wrapper {
    width: 90%;
}

.why-title {
    font-size: 50rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50rem;
}

.why-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20rem;
}

.why-box {
    padding: 40rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 12rem 30rem 0 rgba(80, 86, 131, .12);
}

.why-box-icon {
    width: 66rem;
    height: 66rem;
    line-height: 74rem;
    text-align: center;
    border-radius: 26rem;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    margin: 0 auto;
    margin-bottom: 30rem;
}

.why-box-icon i {
    color: #222;
    font-size: 32rem;
}

.why-box-text {
    text-align: center;
}

.why-box-text h5 {
    font-size: 24rem;
    font-weight: 600;
}

.why-box-text p {
    color: #555;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 15rem;
}



/*==================================================*/
@media (max-width: 768px) {

}