.a1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.a1-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a1-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.a1-2 {
    position: relative;
}

.a1-2 a {
    position: absolute;
    bottom: 4px; left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .1);
}

.a1-2 a p {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat';
    padding-left: 40px;
    z-index: 2;
}

.a1-2 a::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    transition: all .3s;
    z-index: 1;
}

.a1-2 a:hover::after {
    width: 100%;
}

.a1-moreBtn {
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    z-index: 2;
}


/*==================================================*/
