.article2 {
    position: relative;
    padding-top: 200px;
}

.a2-bg {
    position: absolute;
    top: 0; left: 0;
    width: 52%;
    height: 100%;
    background-color: #eee;
    background: url(../images/a2-bg.jpg) no-repeat;
    background-size: cover;
    z-index: 1;
}

.a2-bg2 {
    position: absolute;
    bottom: 0; right: 0;
    width: 50%;
    height: 80%;
    background-color: var(--main-color);
    z-index: 2;
}

.a2-title {
    width: 100%;
    margin-bottom: 5rem;
}

.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    z-index: 3;
}

.a2-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .1);
}

.a2-box-icon {
    width: 100%;
}

.a2-box-icon img {
    float: right;
    height: 72px;
    filter: invert(8%) sepia(64%) saturate(2999%) hue-rotate(205deg) brightness(104%) contrast(102%);
    user-select: none;
}

.a2-box-text h5 {
    color: var(--main-color);
    font-size: 22px;
}

.a2-box-text p {
    width: 91%;
    color: #999;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 1rem;
}


/*==================================================*/
