.a3-title {
    text-align: center;
    margin-bottom: 5rem;
}

.a3-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.a3-box {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.a3-box::before {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(to top, rgba(0, 0, 0, .7) 0%, transparent 100%);
    z-index: 1;
}

.a3-box::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, var(--main-color) 0%, transparent 100%);
    transition: all .7s;
    z-index: 2;
}

.a3-box:hover::after {
    height: 100%;
}

.a3-box-image {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #000;
    transition: all .7s;
}

.a3-box-text {
    position: absolute;
    bottom: 50px; left: 50px;
    z-index: 3;
}

.a3-box-text h5 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.a3-moreBtn {
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0;
    transition: all .7s;
    margin-top: 1.5rem;
}

.a3-arrow {
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    user-select: none;
}

.a3-box:hover .a3-box-image {
    filter: grayscale(1);
    transform: translate(-50%, -50%) scale(1.1);
}

.a3-box:hover .a3-moreBtn {
    gap: 2rem;
}


/*==================================================*/
@media (min-width: 2250px) {
    .article3 .article-wrapper {
        width: 80%;
    }
    
    .a3-box {
        height: 700px;
    }

    .a3-box-text {
        bottom: 60px; left: 60px;
    }
    
    .a3-box-text h5 {
        font-size: 28px;
    }
}