.a1-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30rem;
    z-index: 4;
}

.a1-box-group {
    position: relative;
    padding: 100rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .05);
}

.a1-notice {
    position: absolute;
    top: 45rem; left: 50%;
    transform: translate(-50%, 0);
    width: 92%;
    font-size: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a1-box {
    width: 70%;
    padding: 45rem 0 15rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed rgba(255, 255, 255, .15);
}
.a1-box:nth-child(2) {
    padding: 20rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, .15);
}
.a1-box:last-child {
    border: none;
}

.a1-box:nth-child(2) h5 {
    font-size: 22rem;
    font-weight: 500;
    opacity: .5;
}

.a1-box-left h5 {
    font-size: 30rem;
    font-weight: 500;
}

.a1-box-right {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.a1-box-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.a1-box-text h5 {
    width: 100%;
    font-size: 30rem;
    text-align: center;
}

.a1-box-text .arrow {
    font-size: 16px;
    display: flex;
    gap: 5px;
}

.a1-box-text span {
    opacity: .7;
    letter-spacing: 0;
}

.a1-box-title {
    font-size: 40rem;
    font-weight: 600;
    margin-bottom: 50rem;
}

.a1-box ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.a1-box ul li {
    width: 100%;
    font-size: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50rem;
    white-space: nowrap;
}

.a1-box ul li h5 {
    font-size: 28rem;
    opacity: 1 !important;
}

.a1-box-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .15);
}


/*==================================================*/
@media (max-width: 1250px) {
    .a1-box {
        width: 80%;
    }
}


@media (max-width: 768px) {
    .a1-box-group {
        padding: 40rem 0;
    }

    .a1-notice {
        position: absolute;
        top: -40rem; left: 50%;
        transform: translate(-50%, 0);
        width: 95%;
        font-size: 16rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .a1-box {
        width: 85%;
        padding: 30rem 0;
    }
    
    .a1-box-right {
        width: 70%;
        margin-right: -30rem;
    }

    .a1-box-left h5,
    .a1-box-text h5 {
        font-size: 24rem;
    }

    .a1-box-title {
        font-size: 30rem;
        margin-bottom: 30rem;
    }

    .a1-box ul li {
        font-size: 20rem;
    }
}