.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100rem;
    padding-top: 39rem;
    display: flex;
    justify-content: center;
    transition: all .3s;
    z-index: 99;
}

.header.more {
    height: 210rem;
    background-color: var(--sub-color);
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}

.Fixed {
    position: fixed;
    top: 0;
    display: flex;
    background-color: var(--sub-color);
}

.logo {
    width: 200rem;
    height: fit-content;
    margin-top: -13rem;
}

.gnb {
    width: 1300rem;
    display: flex;
    justify-content: space-between;
}

.menu {
    position: relative;
    display: flex;
    margin-right: -40rem;
}

.menu-item a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    letter-spacing: -1.7px;
    transition: all .3s;
}

.menu-item a:hover {
    color: var(--main-color) !important;
}

.menu-item i {
    display: none;
}

.menu-head {
    padding: 0 40rem;
    font-size: 22rem;
    font-weight: 700;
}

.sub-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin-top: 40rem;
    opacity: 0;
    visibility: hidden;
}

.sub-menu.show {
    opacity: 1;
    visibility: visible;
    transition: all .5s .1s;
}

.sub-menu li a {
    color: rgba(255, 255, 255, .5) !important;
    font-size: 19rem;
    font-weight: 500;
}

.sub-menu li a:hover {
    color: var(--main-color) !important;
}

.menuBtns {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    cursor: pointer;
    margin-left: 60rem;
}

.menuBtns .bar1,
.menuBtns .bar2,
.menuBtns .bar3 {
    width: 28rem;
    height: 2px;
    background-color: #fff;
}


/*==================================================*/
@media (max-width: 1650px) {
    .gnb {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 1350px) {
    .menu-item a {
        font-size: 22rem;
    }

    .sub-menu li a {
        padding: 0 55rem;
        font-size: 19rem;
    }
}


@media (max-width: 768px) {
    .header {
        height: 90rem;
        padding-top: 32rem;
        background-color: transparent;
    }
    
    .menu {
        display: none;
    }


}


@media (max-width: 550px) {
    .menuBtns .bar1,
    .menuBtns .bar2,
    .menuBtns .bar3 {
        width: 32rem;
    }
}