.article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    overflow: hidden;
    padding: 120px 0;
}

.article-wrapper {
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.article-title {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.at-image {
    width: fit-content;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.at-image img {
    height: 54px;
}

.at-text h5 {
    font-size: 65px;
    font-family: 'Montserrat';
    white-space: nowrap;
}

.at-text p {
    color: #777;
    font-size: 21px;
    line-height: 1.6;
    white-space: nowrap;
    margin-top: 1rem;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .article-title {
        width: 80%;
    }
}



@media (max-width: 550px) {
    .article {
        padding: 80px 0;
    }

    .article-title {
        width: 90%;
        gap: 2rem;
    }

    .at-image {
        padding: 12px;
        border-radius: 15px;
    }
    
    .at-image img {
        height: 36px;
    }
    
    .at-text h5 {
        font-size: 36px;
    }
    
    .at-text p {
        font-size: 16px;
        margin-top: 10px;
    }
}


@media (max-width: 450px) {
    .article-title {
        gap: 2rem;
    }
    
    .a1-image {
        border-radius: 10px;
    }
    
    .at-image img {
        height: 30px;
    }

    .at-text h5 {
        font-size: 30px;
    }

    .at-text p {
        font-size: 14px;
    }
}