.article2 {
    padding-bottom: 0;
    background: url(../images/a2-bg.png);
    background-position: bottom !important;
}

.article2 .article-wrapper {
    position: relative;
    align-items: flex-start ;
}

.article2 .article-title {
    margin-top: 7rem;
}

.a2-image {
    margin-bottom: -5px;
}

.a2-2 {
    position: relative;
    position: absolute;
    top: 34%; right: -140px;
    width: 607px;
}

.a2-heart {
    position: absolute;
    top: 32%; right: 11%;
    transform: translate(0, -50%);
    width: 100px
}

.a2-heart2 {
    top: 72%;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article2 .article-wrapper {
        align-items: center;
    }

    .article2 .article-title {
        margin-top: 0;
    }

    .a2-image {
        position: relative;
    }

    .a2-2 {
        top: unset; right: unset;
        bottom: 12%; left: 50%;
        transform: translate(-50%, 0) !important;
        width: 120%;
    }
}


@media (max-width: 550px) {
    .a2-image {
        margin-top: -2rem;
    }
}


@media (max-width: 450px) {
    .a2-heart {
        width: 70px;
    }
}