.article5 {
    padding-bottom: 0;
    background: url(../images/a5-bg.png);
}

.article5 .article-wrapper {
    align-items: flex-start ;
}

.article5 .article-title {
    margin-top: 7rem;
}

.a5-left {
    position: relative;
    width: 500px;
    height: 776px;
    overflow: hidden;
    margin-bottom: -25px;
    margin-left: -25px;
}

.a5-mockup {
    position: relative;
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    z-index: 10;
}

.a5-frame {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 350px;
    z-index: 20;
}

.a5-video {
    position: relative;
    position: absolute;
    bottom: 0; left: 50%;
    transform: translate(-50%, 0) !important;
    width: 430px;
    height: 735px;
    border-radius: 60px 60px 0 0;
    overflow: hidden;
}

.a5-video video {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1.4);
    width: 100%;
    z-index: 1;
}


/*==================================================*/
@media (max-width: 1050px) {
    .article5 .article-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    .article5 .article-title {
        margin-top: 0;
    }
}


@media (max-width: 550px) {
    .a5-left {
        width: 100%;
        height: auto;
        padding-bottom: 140%;
        margin-top: -2rem;
        margin-left: 0;
    }

    .a5-mockup {
        left: 50%;
        transform: translate(-50%, 0) !important;
    }

    .a5-frame {
        width: 65%;
    }

    .a5-video {
        width: 90%;
        height: auto;
        padding-bottom: 132%;
        border-radius: 30px 30px 0 0;
    }
}