.floating {
    position: fixed;
    bottom: 130px; right: 40px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    z-index: 98;
}

.topBtn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.topBtn img {
    height: 32px;
}

.fixed-m {
    display: none;
}



/*==================================================*/
@media (max-width: 1050px) {
    .floating {
        bottom: 110px; right: 30px;
    }

    .topBtn {
        width: 50px;
        height: 50px;
    }

    .topBtn img {
        height: 28px;
    }
    
    .fixed-m {
        position: fixed;
        bottom: 20px; left: 50%;
        transform: translate(-50%, 0);
        width: 95%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background-image: linear-gradient(to right, #ffcfe0 0%, var(--main-color) 100%);
    }

    .fixed-m h5 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    .fixed-m img {
        width: 42px;
    }
}


@media (max-width: 550px) {
    .floating {
        bottom: 90px; right: 25px;
    }
    
    .topBtn {
        width: 40px;
        height: 40px;
    }
    
    .topBtn img {
        height: 21px;
    }
    
    .fixed-m {
        bottom: 25px;
        width: 90%;
    }
    
    .fixed-m h5 {
        font-size: 16px;
    }

    .fixed-m img {
        width: 28px;
    }
}