.promotion {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/hero.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-wrapper {
    width: 1300rem;
}

.p-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50rem;
}

.p-text h5 {
    font-size: 85rem;
}

.p-text p {
    font-size: 24rem;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 30rem;
}

.pBtn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60rem;
}

.pBtn {
    padding: 24rem 80rem;
    color: #fff;
    font-size: 22rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    background-color: var(--main-color);
}
.pBtn:last-child {
    background-color: var(--dk-black);
}

.scrollDown {
	position: relative;
    position: absolute;
    bottom: 50px; left: 50%;
    transform: translate(-50%, 0);
	width: 30px;
	height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
	border: 2px solid #333;
	border-radius: 60px;
}
.scrollDown::before {
    content: '';
    position: absolute;
    top: 10px; left: 50%;
    width: 12px;
    height: 12px;
    transform: translateX(-50%);
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

.scrollDown p {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: -90px;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 36px;
	}
}


@media (max-width: 1350px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}