.sub-promotion {
    width: 100%;
    padding-bottom: 0;
    background-color: #fff;
}

.sub-promotion-wrapper {
    width: 75%;
    padding-top: 130rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-p-title {
    width: 100%;
    margin-bottom: 50rem;
}

.sub-p-title h5 {
    color: #222;
    font-size: 60rem;
    font-weight: 600;
}
.sub-p-title h5 span {
    color: var(--main-color);
}

.sub-p-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100rem 0 30rem 0;
    z-index: 1;
}

.sub-navigation {
    display: flex;
    align-items: center;
    gap: 50rem;
}

.sub-navBtn {
    color: #aaa;
    font-size: 20rem;
    font-weight: 500;
}
.sub-navBtn:hover {
    color: #333;
}
.sub-navBtn.show {
    color: var(--main-color);
    font-weight: 700;
}

.sub-p-route {
    display: flex;
    align-items: center;
    gap: 20rem;
}

.sub-p-route p {
    letter-spacing: 0;
}

.sub-p-image {
    position: relative;
    width: 100%;
    height: 650rem;
    object-fit: cover;
    overflow: hidden;
    z-index: 2;
}

.sub-p-image img {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 150%;
    object-fit: cover;
}



/*==================================================*/
@media (max-width: 1350px) {
    .sub-promotion-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .sub-p-route {
        display: none;
    }

    .sub-promotion img {
        height: 350rem;
    }
}


@media (max-width: 550px) {
    .sub-navBtn {
        font-size: 28rem;
    }
}
