.article4 {
    position: relative;
    background-color: #222;
}

.article4::after {
    content: '';
    position: absolute;
    bottom: -20px; left: 50%;
    width: 40px;
    height: 40px;
    display: block;
    background-color: #222;
    transform: rotate(45deg);
}

.a4-circle-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
    margin: 4rem 0 6rem 0;
}

.a4-circle-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.a4-circle {
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s;
    cursor: pointer;
}

.a4-circle:hover {
    transform: translateY(-8px);
    background-color: yellow;
}

.a4-circle p {
    color: #222;
    font-size: 30px;
    font-weight: 800;
    margin: 1.5rem 0 .5rem 0;
}

.a4-circle span {
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
    margin-bottom: 1rem;
}

.a4-circle h1 {
    color: var(--main-color);
    font-size: 90px;
    font-weight: unset;
    font-family: 'GangwonEduPowerExtraBoldA';
    letter-spacing: -0.04em;
}


@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a4-circle-wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .a4-circle-group {
        justify-content: center;
        gap: 1rem;
    }
}



@media (max-width: 600px) {
    .a4-circle-wrapper {
        margin: 3rem 0;
    }
    
    .a4-circle {
        width: 180px;
        height: 180px;
    }

    .a4-circle p {
        font-size: 22px;
    }

    .a4-circle span {
        font-size: 18px;
    }

    .a4-circle h1 {
        font-size: 50px;
    }

    .a4-bottom img {
        width: 248px;
    }
}


@media (max-width: 450px) {
    .article4 {
        overflow: hidden;
    }
    
    .a4-circle-wrapper {
        margin: 2rem 0;
    }
    
    .a4-circle {
        min-width: 150px;
        width: 150px;
        min-height: 150px;
        height: 150px;
    }

    .a4-circle p {
        font-size: 18px;
        margin: .8rem 0 .2rem 0;
    }

    .a4-circle span {
        font-size: 16px;
        margin-bottom: .5rem;
    }

    .a4-circle h1 {
        font-size: 40px;
    }
}