.articlex {
    padding: 160px 0;
    background: url(../images/ax-bg.jpg);
    /* background-color: #2ac1bc; */
}

.ax-wrapper {
    width: 100%;
    margin-top: 2rem;
}

.swiper {
    width: 100%;
    height: auto;
    padding: 3rem 0 !important;
    padding-bottom: 5rem !important;
}

.swiper-slide {
    width: 350px !important;
    height: 450px !important;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .1);
    opacity: .2;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
    opacity: 1;
}

.swiper-slide:hover .review-image img {
    transform: scale(1.05);
}

.review-image {
    width: 350px;
    height: 300px;
    overflow: hidden;
}

.review-image img {
    width: 350px;
    height: 300px;
    transition: all .3s ease;
}

.review-text {
    padding: 20px;
}

.review-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.review-top h1 {
    color: #222;
    font-size: 18px;
    font-weight: 700;
}

.review-star {
    color: #ff9900;
    font-size: 18px;
    display: flex;
    gap: 3px;
}

.review-info {
    height: 70px;
    overflow-y: scroll;
}

.review-info p {
    color: #555;
    font-size: 15px;
    word-break: break-all;
}

.review-info::-webkit-scrollbar {
    width: .2em;
}
 
.review-info::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,.0);
}
 
.review-info::-webkit-scrollbar-thumb {
  background-color: #ddd;
  outline: none;
}



/*==================================================*/
@media (max-width: 1180px) {
    .articlex {
        padding: 120px 0;
    }
    
    .swiper-slide {
        opacity: 1;
    }
}



@media (max-width: 850px) {
    .articlex {
        padding: 60px 0;
    }

    .ax-title {
        width: 264px;
    }

    .ax-wrapper {
        margin-top: 0;
    }
}