.article6 {
    background: url(../images/a6-bg.png);
}

.a6-wrapper {
    width: 850px;
    margin-top: 3rem;
}

/*==================================================*/
@media (max-width: 900px) {
    .a6-wrapper {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .a6-title {
        width: 247px;
    }
}


@media (max-width: 550px) {
    .a6-wrapper {
        margin-top: 1.5rem;
    }
}