.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

.footer-top ul {
    width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.footer-top ul li {
    color: #222;
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.footer-box {
    width: 1320px;
    display: flex;
    justify-content: space-between;
}

.footer-text p {
    color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.65;
    letter-spacing: 0;
}

.footer-family {
    width: 200px;
    height: 45px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    cursor: pointer;
}

.footer-family p {
    color: #222;
    font-size: 15px;
    white-space: nowrap;
}


/*==================================================*/