.promotion {
    width: 100%;
    height: 600px;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.promotion-wrapper {
    position: relative;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.p-text {
    margin-bottom: 2rem;
}

.p-text h4 {
    color: #aaa;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.p-text h5 {
    color: #222;
    font-size: 70px;
    font-weight: 700;
}

.p-text h5 span {
    color: var(--main-color);
    font-weight: 800;
}

.p-mobile {
    display: none;
}


.mySwiper {
    width: 600px;
    height: 500px;
    border-radius: 40px;
}

.mySwiper .swiper-slide {
    position: relative;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.mySwiper .s-slide1 {
    background-color: #ff6a1a;
}
.mySwiper .s-slide2 {
    background-color: #29bbae;
}
.mySwiper .s-slide3 {
    background-color: #0095eb;
}
.mySwiper .s-slide4 {
    background-color: #47b76d;
}
.mySwiper .s-slide5 {
    background-color: #f03d38;
}
.mySwiper .s-slide6 {
    background-color: #4084f3;
}
.mySwiper .s-slide7 {
    background-color: #9354eb;
}

.mySwiper .swiperBtn-wrapper {
    position: absolute;
    top: 50px; right: 50px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.3rem;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: #fff;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}

.mySwiper .swiper-pagination {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    transform: translate3d(0, 0, 0);
    margin-bottom: 5px;
    z-index: 10
}

.ss-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.ss-top h5 {
    color: #fff;
    font-size: 30px;
}

.ss-box-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.ss-box {
    flex: 1;
    color: #fff;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #fff;
    transition: all .2s;
}

.ss-box:first-child {
    color: #333;
    font-weight: 700;
    padding: 0 100px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, .8);
}

.ss-box.empty {
    color: rgba(255, 255, 255, .4);
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, .2);
    pointer-events: none;
}

.ss-box:hover {
    color: #222;
    background-color: #fff;
}


/*==================================================*/
@media (max-width: 1370px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .mySwiper {
        right: 20px;
        width: 60%;
    }

    .p-text {
        width: 40%;
    }
}


@media (max-width: 1165px) {
    .promotion {
        height: auto;
        background: #fff;
    }
    
    .promotion-wrapper {
        height: auto;
        flex-direction: column;
        justify-content: unset;
        gap: 3rem;
    }
    
    .mySwiper {
        position: static;
        width: 100%;
        margin-bottom: 2rem;
    }

    .promotion .swiperBtn-wrapper {
        margin-top: 2rem;
    }

    .promotion .swiper-button-next,
    .promotion .swiper-button-prev {
        font-size: 20px;
    }

    .promotion .swiper-pagination {
        font-size: 14px;
    }

    .p-text {
        display: none;
    }

    .p-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    .p-mobile p {
        color: #222;
        font-size: 24px;
        font-family: 'yg-jalnan';
        margin-bottom: 1rem;
    }

    .logo-p {
        width: 80%;
    }

    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}


@media (max-width: 550px) {
    .mySwiper {
        height: 400px;
        border-radius: 7px;
    }

    .mySwiper .swiper-slide {
        border-radius: 7px;
    }

    .promotion .swiper-button-next,
    .promotion .swiper-button-prev {
        font-size: 16px;
    }

    .promotion .swiper-pagination {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .mySwiper {
        height: 250px;
    }

    .p-mobile {
        margin-top: 7rem;
    }
    
    .p-mobile p {
        font-size: 20px;
    }
    
    .logo-p {
        width: 70%;
    }
}