.article1 {
    background-color: #191919;
    background: url(../images/a1-bg.jpg) no-repeat;
    background-attachment: fixed;
}

.a1-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a1-right {
    width: 800px;
    display: flex;
    gap: 3rem;
}

.a1-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.a1-box-wrapper:first-child {
    margin-top: 10rem;
}

.a1-box {
    width: 100%;
    border-radius: 0 30px 30px 30px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .07);
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}

.a1-box:hover .a1-box-image {
    filter: grayscale(0);
}

.a1-box-image {
    filter: grayscale(1);
    border-radius: 0 30px 0 0;
    transition: all .3s;
}

.a1-box-text {
    padding: 35px;
}

.a1-box-text h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.a1-box-text h1 {
    color: #fff;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.a1-box-text h1 span {
    color: var(--sub-color);
    font-weight: 700;
    letter-spacing: -0.01em;
}

.a1-box-text p {
    color: #ddd;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 1.5rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article1 {
        background-attachment: unset;
    }
    
    .a1-wrapper {
        flex-direction: column;
        justify-content: unset;
    }

    .a1-right {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .a1-right,
    .a1-box-wrapper {
        gap: 2rem;
    }

    .a1-box-text {
        padding: 25px;
    }

    .a1-box-text h2 {
        font-size: 14px;
    }

    .a1-box-text h1 {
        font-size: 22px;
    }

    .a1-box-text p {
        font-size: 14px;
    }
}


@media (max-width: 550px) {
    .a1-right,
    .a1-box-wrapper {
        gap: 1rem;
    }

    .a1-box-wrapper:first-child {
        margin-top: 4rem;
    }

    .a1-box-text {
        padding: 20px;
    }

    .a1-box-text h2 {
        font-size: 12px;
        margin-bottom: 1rem;
    }

    .a1-box-text h1 {
        font-size: 17px;
    }

    .a1-box-text p {
        font-size: 12px;
        margin-top: .7rem;
    }
}


@media (max-width: 450px) {
    .a1-box-text {
        padding: 18px;
    }
    
    .a1-box-text h1 {
        font-size: 15px;
    }
}