.article2 {
    padding: 200px 0;
    background-color: #151515;
    background: url(../images/a2-bg.jpg);
    background-attachment: fixed;
}

.a2-title {
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
}

.a2-title h5 {
    font-size: 60px;
}

.a2-title p {
    font-size: 19px;
    line-height: 1.7;
    margin-top: 1.5rem;
}

.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.a2-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .03);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .2);
}

.a2-box:hover {
    background-color: rgba(255, 255, 255, .06);
}

.a2-box-icon {
    height: 100px;
}

.a2-box p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}


/*==================================================*/
