.article1 {
    background-color: #f5f5f5;
}

.a1-title {
    text-align: center;
    margin-bottom: 4rem;
}

.a1-title h5 {
    color: #222;
    font-size: 50px;
}

.a1-title p {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
}

.a1-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.a1-box {
    width: 23%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
}

.a1-box-text {
    text-align: center;
}

.a1-box-text h5 {
    color: var(--main-color);
    font-size: 26px;
    white-space: nowrap;
}

.a1-box-text p {
    color: #aaa;
    font-size: 16px;
    margin-top: 10px;
}

.a1Btn {
    color: #888;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: #f5f5f5;
    transition: all .3s;
    cursor: pointer;
    margin-top: 2rem;
}

.a1Btn:hover {
    color: #fff;
    background-color: var(--main-color);
}

.a1-popup-wrapper {
    position: relative;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 99;
}

.a1-closeBtn {
    position: absolute;
    top: 40px; right: 40px;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    z-index: 99;
}

.a1-popup {
    padding: 50px;
    width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    border-radius: 5px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.a1-p-title {
    margin-top: 3rem;
}

.a1-p-title h5 {
    font-size: 45px;
}

.a1-p-title p {
    font-size: 20px;
}

.a1-p-box h5 {
    color: var(--main-color);
    font-size: 40px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.a1-table thead,
.a1-table .data-head {
    color: #222;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-top: 2px solid #333;
    background-color: #f1f1f1;
}

.a1-p-b-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a1-p-b-image.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.a1-popup::-webkit-scrollbar {
    width: .5em;
}

.a1-popup::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.a1-popup::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    outline: none;
}


/*==================================================*/
@media (max-width: 1350px) {
    .a1-popup {
        width: 90%;
        height: 80vh;
    }
}


@media (max-width: 1050px) {
    .a1-box-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .a1-box {
        width: 100%;
    }
}


@media (max-width: 850px) {
    .a1-popup {
        padding: 30px;
        gap: 3rem;
    }

    .a1-p-box h5 {
        font-size: 32px;
    }
    
    .a1-p-b-image.grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 768px) {
    .a1-title {
        margin-bottom: 3rem;
    }

    .a1-title h5 {
        font-size: 40px;
    }

    .a1-title p {
        font-size: 16px;
        margin-top: 10px;
    }
    
    .a1-box {
        padding: 25px;
    }

    .a1Btn {
        margin-top: 1rem;
    }

    .a1-table thead,
    .a1-table .data-head {
        height: 30px;
        font-size: 13px;
    }

    table td,
    table th {
        padding: 10px;
        font-size: 12px;
    }
}


@media (max-width: 550px) {
    .a1-box-wrapper {
        gap: 1rem;
    }

    .a1-box {
        border-radius: 10px;
        justify-content: space-between;
    }
    
    .a1-box-text h5 {
        font-size: 18px;
    }
    
    .a1-box-text p {
        font-size: 14px;
    }

    .a1Btn {
        color: #fff;
        width: 100%;
        border-radius: 5px;
        background-color: var(--main-color);
    }

    .a1-p-title h5,
    .a1-p-box h5 {
        font-size: 28px;
    }

    .a1-table thead,
    .a1-table .data-head {
        font-size: 12px;
    }

    table td,
    table th {
        padding: 6px;
        font-size: 10px;
    }
}