.article2 {
    position: relative;
    background-color: #111;
    overflow: hidden;
}

.a2-glow {
    position: absolute;
    top: -300px; left: 50%;
    transform: translate(-50%, 0);
    opacity: .4;
}

.a2-wrapper {
    width: 100%;
}

.a2-box-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 1rem;
}

.a2-hashtag {
    color: #fff;
    padding: 20px 30px;
    font-size: 35px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    border-radius: 100px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.a2-hashtag:hover {
    background-color: rgba(255, 255, 255, .15);
}

.a2-circle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 7rem 0;
}

.a2-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .2);
}

.a2-text h2 {
    color: rgba(255, 255, 255, .5);
    font-size: 45px;
    text-align: center;
    margin-bottom: 1rem;
}

.a2-text h1 {
    color: #fff;
    font-size: 75px;
    line-height: 1.3;
    text-align: center;
}

.a2-text p {
    color: rgba(255, 255, 255, .35);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    margin-top: 4rem;
}

.a2-text p br {
    display: none;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a2-glow {
        top: -220px;
        min-width: 1200px;
    }
    
    .a2-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .a2-box-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .a2-hashtag {
        padding: 12px 22px;
        font-size: 24px;
    }

    .a2-circle-wrapper {
        gap: 1.2rem;
        margin: 4rem 0;
    }

    .a2-circle {
        width: 7px;
        height: 7px;
    }

    .a2-text h2 {
        font-size: 35px;
    }

    .a2-text h1 {
        font-size: 65px;
    }
}


@media (max-width: 550px) {
    .a2-box-wrapper {
        gap: .5rem;
    }
    
    .a2-hashtag {
        padding: 8px 16px;
        font-size: 18px;
    }

    .a2-circle-wrapper {
        gap: 1rem;
        margin: 3rem 0;
    }

    .a2-circle {
        width: 5px;
        height: 5px;
    }

    .a2-text h2 {
        font-size: 25px;
    }
    
    .a2-text h1 {
        font-size: 45px;
    }

    .a2-text p {
        margin-top: 3rem;
    }

    .a2-text p br {
        display: block;
    }
}


@media (max-width: 450px) {
    .a2-hashtag {
        padding: 7px 14px;
        font-size: 15px;
    }

    .a2-text h2 {
        font-size: 18px;
    }
    
    .a2-text h1 {
        font-size: 35px;
    }

    .a2-text p {
        font-size: 12px;
    }
}