.article1 {
    background-color: #f1f1f1;
}

.a1-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a1-box-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a1-box {
    flex: 1;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .07);
}

.a1-box ion-icon {
    color: var(--main-color);
    font-size: 45px;
}

.a1-box p {
    color: #222;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.04em;
}


/*==================================================*/
@media (max-width: 1000px) {
    .a1-box {
        padding: 35px 10px;
    }
    
    .a1-box p {
        font-size: 16px;
    }
}


@media (max-width: 850px) {
    .a1-box-wrapper {
        flex-direction: column;
    }
}


@media (max-width: 450px) {
    .a1-box {
        padding: 35px 5px;
    }
    
    .a1-box p {
        font-size: 14px;
    }
}