.article8 {
    padding: 200px 0;
    background-color: #000;
}


.article8 p {
    color: #fff;
    font-size: 35px;
    line-height: 1.5;
    text-align: center;
}

.article8 p br {
    display: none;
}


/*==================================================*/
@media (max-width: 850px) {
    .article8 {
        padding: 120px 0;
    }

    .article8 p {
        font-size: 24px;
    }
}


@media (max-width: 500px) {
    .article8 p br {
        display: block;
    }
}