.article3 {
    background-color: #f1f1f1;
}

.form-notice p {
    color: #777;
    font-size: 13px;
    font-weight: 500;
}


/*==================================================*/
@media (max-width: 850px) {
    .a3-wrapper {
        width: 100%;
    }

    .form-notice {
        margin-top: 1rem;
    }
}


@media (max-width: 600px) {
    .form-wrapper .textbox {
        margin: .5rem 0 0 0;
    }
    
    .form-notice {
        margin-top: 0;
    }
}