.article3 {
    position: relative;
    background-color: #151515;
}

.a3-image {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 1;
}

.a3-wrapper {
    color: #c7c7c7;
    text-align: center;
    z-index: 2;
}

.a3-wrapper p {
    font-size: 35px;
}

.a3Btn {
    padding: 18px 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 80px;
    background-color: #382222;
    border: 5px solid #ff5555;
    margin: 2rem 0;
}

.a3Btn .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff5555;
    -webkit-animation: pulseAnim 1.3s infinite;
    animation: pulseAnim 1.3s infinite;
}

.a3Btn h1 {
    color: #ff5555;
    font-size: 55px;
}

.a3-wrapper h2 {
    font-size: 45px;
}


/*==================================================*/
@media (max-width: 850px) {
    .article3 {
        overflow: hidden;
    }

    .a3-image {
        width: 450px;
    }
    
    .a3-wrapper p {
        font-size: 24px;
    }
    
    .a3Btn {
        padding: 15px 60px;
        margin: 1.5rem 0;
    }
    
    .a3Btn .circle {
        width: 20px;
        height: 20px;
    }
    
    .a3Btn h1 {
        font-size: 40px;
    }

    .a3-wrapper h2 {
        font-size: 35px;
    }
}


@media (max-width: 600px) {
    .a3-image {
        width: 350px;
    }
    
    .a3-wrapper p {
        font-size: 20px;
    }
    
    .a3Btn {
        padding: 12px 40px;
        margin: 1.2rem 0;
        border: 3px solid #ff5555;
    }
    
    .a3Btn .circle {
        width: 15px;
        height: 15px;
    }
    
    .a3Btn h1 {
        font-size: 28px;
    }

    .a3-wrapper h2 {
        font-size: 24px;
    }
}


@media (max-width: 450px) {
    .a3-image {
        width: 250px;
    }
    
    .a3-wrapper p {
        font-size: 15px;
    }
    
    .a3Btn {
        gap: 10px;
        border: 2px solid #ff5555;
    }

    .a3Btn .circle {
        width: 12px;
        height: 12px;
    }

    .a3Btn h1 {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.3;
    }

    .a3-wrapper h2 {
        font-size: 18px;
    }
}