.article6 {
    position: relative;
    background-color: #171717;
}

.gd-left {
    position: relative;
    position: absolute;
    top: 0; left: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to right, #380358, transparent);
}

.gd-text {
    position: absolute;
    top: 50%; left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.gd-r-text {
    left: unset;
    right: 0;
}

.gd-text img {
    width: 100px;
    opacity: .15;
}

.gd-text h1 {
    color: rgba(255, 255, 255, .15);
    font-size: 50px;
}

.gd-right {
    position: relative;
    position: absolute;
    top: 0; right: 0;
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to left, #380d17, transparent);
}

.a6-wrapper {
    color: #fff;
    text-align: center;
}

.a6-wrapper h1 {
    color: #e84680;
    font-size: 65px;
}

.a6-wrapper h1 span {
    color: #b446e8;
}

.a6-wrapper h2 {
    font-size: 55px;
    margin-top: 1.5rem;
}

.a6-wrapper p {
    font-size: 45px;
    margin-top: 2.2rem;
}


/*==================================================*/
