.article5 {
    position: relative;
    padding: 160px 0;
    background-color: #171717;
    overflow: hidden;
}

.a5-image {
    position: absolute;
    bottom: -100px; left: 50%;
    transform: translate(-50%, 0);
    width: 700px;
    z-index: 1;
}

.a5-wrapper {
    color: #fff;
    text-align: center;
    z-index: 2;
}

.a5-wrapper p {
    font-size: 45px;
    margin-bottom: 1rem;
}

.a5-wrapper h1 {
    font-size: 55px;
    line-height: 1.5;
}

.a5-wrapper h1 span {
    background: linear-gradient(to top, var(--main-color) 60%, transparent 50%);
}


/*==================================================*/
@media (max-width: 450px) {
    .a5-wrapper p {
        font-size: 20px;
    }

    .a5-wrapper h1 {
        font-size: 35px;
    }
}