@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, h7, p, a, li, span {
    font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'sans-serif';
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-color: #ff3d3d;
}


/*==================================================*/
@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

@keyframes pulseAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(209, 25, 25, 0.5);
	}
	70% {
		box-shadow: 0 0 0 25px rgb(151 213 229 / 0%);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
	}
}


@media (max-width: 768px) {
    @keyframes pulseAnim {
        0% {
            box-shadow: 0 0 0 0 rgba(209, 25, 25, 0.5);
        }
        70% {
            box-shadow: 0 0 0 15px rgb(151 213 229 / 0%);
        }
        100% {
            box-shadow: 0 0 0 0 rgb(151 213 229 / 0%);
        }
    }
}