.article5 {
    background: url(../images/a5-bg.jpg);
}

.a5-title {
    width: 100%;
    color: rgba(0, 0, 0, .6);
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 3rem;
}

.a5-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.a5-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a5-box h5 {
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    letter-spacing: 0;
}

.a5-box p {
    color: rgba(0, 0, 0, .3);
    font-size: 16px;
    line-height: 1.65;
    letter-spacing: 0;
    margin-top: 12px;
}

.a5-image {
    width: 500px;
    border-radius: 10px;
}


/*==================================================*/
@media (max-width: 1050px) {
    .a5-wrapper {
        flex-direction: column;
    }

    .a5-box p br {
        display: none;
    }

    .a5-image {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .a5-title {
        font-size: 32px;
        margin-bottom: 1.5rem;
    }

    .a5-wrapper {
        gap: 1rem;
    }
}


@media (max-width: 450px) {
    .a5-box h5 {
        font-size: 16px;
    }
    
    .a5-box p {
        font-size: 14px;
        margin-top: 5px;
    }
}