.promotion {
    position: relative;
    background: url(../images/hero.jpg);
}

.promotion-wrapper {
    width: 1000px;
}

.profile {
    position: absolute;
    bottom: -40%; right: 40px;
    user-select: none;
    opacity: .95;
}

.p-text {
    color: rgba(255, 255, 255, .6);
    font-size: 80px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Montserrat';
}

.p-text span {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Montserrat';
}

.p-text p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.65;
    font-family: 'Montserrat';
    margin-top: 2.2rem;
}

.scrollDown {
    position: absolute;
    bottom: 40px; left: 50%;
    width: 20px;
    transform: translate(-50%, 0);
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}


/*==================================================*/
@media (min-width: 2250px) {
    .profile {
        bottom: -15%; right: 120px;
    }

    .p-text,
    .p-text span {
        font-size: 110px;
    }

    .p-text p {
        font-size: 32px;
        line-height: 1.55;
        margin-top: 3rem;
    }
}