.article3 {
    position: relative;
    padding-top: 200px;
    background: url(../images/a3-bg.jpg);
    overflow: hidden;
}

.a3-overtext {
    position: absolute;
    top: 0; right: -2600px;
    font-size: 350px;
    font-weight: 600;
    font-family: 'Montserrat';
    white-space: nowrap;
    opacity: .05;
}

.a3-title {
    position: relative;
}

.a3-0 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) !important;
}

.a3-2 {
    position: absolute;
    bottom: 80px; left: -580px;
    z-index: 1;
}

.a3-3 {
    position: absolute;
    bottom: 80px; right: -580px;
    z-index: 1;
}

.a3-title {
    position: relative;
    width: 750px;
    height: 750px;
    z-index: 3;
}

.a3-spin {
    position: absolute;
    top: 0; left: 0;
    animation: spin 3s infinite linear;
}


@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}


.a3-text {
    color: #222;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.65;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: -0.0625em;
    z-index: 2;
}

.a3-text b {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: -0.0625em;
}


/*==================================================*/
@media (min-width: 2250px) {
    .a3-2 {
        left: -400px;
    }

    .a3-3 {
        right: -400px;
    }
}


@media (max-width: 1850px) {
    .a3-2,
    .a3-3 {
        width: 50%;
    }

    .a3-2 {
        left: -20%;
    }

    .a3-3 {
        right: -20%;
    }
}


@media (max-width: 1250px) {
    .article3 {
        padding-top: 120px;
        padding-bottom: 65%;
    }

    .a3-overtext {
        font-size: 250px;
    }
    
    .a3-title {
        width: 100%;
        height: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .a3-0 {
        width: 40%;
    }
    
    .a3-1,
    .a3-spin {
        width: 60%;
    }

    .a3-spin {
        top: unset;
        left: unset;
    }

    .a3-2 {
        display: none;
    }

    .a3-3 {
        width: 100%;
        right: -50px;
    }

    .a3-text {
        margin-top: 2rem;
    }
}


@media (max-width: 768px) {
    .a3-text {
        font-size: 22px;
    }

    .a3-text b {
        font-size: 32px;
    }
}


@media (max-width: 650px) {
    .a3-overtext {
        font-size: 180px;
    }
    
    .a3-0 {
        width: 65%;
    }
    
    .a3-1,
    .a3-spin {
        width: 85%;
    }

    .a3-3 {
        bottom: 40px;
    }
}


@media (max-width: 550px) {
    .article3 {
        padding-bottom: 68%;
    }
    
    .a3-3 {
        right: -40px;
    }
    
    .a3-text {
        font-size: 15px;
    }

    .a3-text b {
        font-size: 18px;
    }
}