footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 50px 20px;
}

.footer-wrapper {
    width: 1200px;
}

.footer-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-box-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.logo-f {
    width: 200px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.fBtn {
    color: #222;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.fBtn p {
    font-size: 18px;
    font-weight: 700;
}

.footer-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-box-title h4 {
    color: #222;
    font-size: 20px;
    font-weight: 700;
}

.footer-box-info h5 {
    color: #222;
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0;
}

.footer-box-info p {
    color: #222;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
}

.footer-box-info p br {
    display: none;
}

.footer-box-info p em br {
    display: block;
}

.f-list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.f-list li {
    color: #222;
    font-size: 15px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
    }
}



@media (max-width: 1050px) {
    .footer-right {
        display: none;
    }
}


@media (max-width: 850px) {
    .footer-left {
        flex-direction: column;
        align-items: unset;
        gap: 1rem;
    }

    .logo-f {
        width: 140px;
        margin-bottom: 0;
    }
}


@media (max-width: 768px) {
    footer {
        margin-bottom: 55px;
    }
}


@media (max-width: 550px) {
    footer {
        padding: 30px 20px;
    }
    
    .fBtn {
        display: none;
    }
}


@media (max-width: 450px) {
    footer {
        margin-bottom: 45px;
    }
    
    .logo-f {
        width: 100px;
    }

    .footer-box-info p {
        font-size: 13px;
    }
}