.article.promotion {
    position: relative;
    width: 100%;
    height: calc(100vh - 220px);
    background: url(../images/hero.jpg);
    overflow: hidden;
    margin-top: 220px;
}

.fork {
    position: absolute;
    bottom: 0; left: -50px !important;
    width: 360px;
}

.promotion-wrapper {
    width: 1200px;
}

.p-text {
    width: 530px;
}

.p-text p {
    color: #555;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 2rem;
}

.p-text p span {
    position: relative;
    color: var(--main-color);
    font-weight: 800;
}

.p-text p span:after {
    content: '';
    position: absolute;
    bottom: -8px; left: 0;
    width: 222px;
    height: 42px;
    background: url(../images/line.png) no-repeat;
}

.p-image {
    position: absolute;
    top: 50%; right: -120px;
    transform: translate(0, -50%);
}



/*==================================================*/
@media (max-height: 1050px) {
    .article.promotion {
        height: 900px;
    }
}


@media (min-width: 2250px) {
    .article.promotion {
        height: calc(100vh - 260px);
        margin-top: 260px;
    }
    
    .fork {
        left: -130px;
        width: 600px;
    }
    
    .p-image {
        right: 160px;
    }
}


@media (max-width: 1750px) {
    .article.promotion {
        height: auto;
        padding: 180px 0;
    }
    
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .fork {
        display: none;
    }

    .p-image {
        width: 60%;
    }
}


@media (max-width: 1150px) {
    .article.promotion {
        padding-top: 0;
        padding-bottom: 100px;
        justify-content: flex-start;
        margin-top: 0;
    }

    .p-text {
        margin: 0 auto;
        margin-top: 18rem;
    }

    .p-image {
        display: none;
    }
}


@media (max-width: 950px) {
    .p-text {
        margin-top: 10rem;
    }
}


@media (max-width: 650px) {
    .p-text {
        width: 90%;
    }

    .p-text p span:after {
        background: none;
    }
}


@media (max-width: 550px) {
    .p-text {
        margin-top: 8rem;
    }

    .p-text p {
        font-size: 15px;
        word-break: break-all;
    }
}


@media (max-width: 450px) {
    .article.promotion {
        padding-bottom: 80px;
    }
}