.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120rem 0;
}

.article-wrapper {
    width: 1300rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}



@media (max-width: 1350px) {
    .article-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .article {
        padding: 60rem 0;
    }
}