footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100rem 0;
    z-index: 10;
}
footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #61ff311e, transparent);
    z-index: 1;
}

.footer-wrapper {
    width: 1300rem;
    display: flex;
    flex-direction: column;
    gap: 50rem;
    z-index: 2;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo-f {
    width: 150rem;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 50rem;
}

.fBtn {
    color: #fff !important;
    font-size: 18rem;
    font-weight: 600;
}

.footer-text p {
    color: rgba(255, 255, 255, .5);
    font-size: 17rem;
    line-height: 1.8;
    letter-spacing: 0;
}

.footer-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fb-left p {
    color: rgba(255, 255, 255, .3);
    font-size: 15rem;
    font-weight: 300;
    letter-spacing: 0.03em;
}



/*==================================================*/
@media (max-width: 1350px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    footer {
        padding: 60rem 0;
    }

    .footer-top {
        flex-direction: column;
        align-items: unset;
        gap: 50rem;
    }
}


@media (max-width: 550px) {
    .fBtn {
        font-size: 24rem;
    }

    .fb-left p,
    .footer-text p {
        font-size: 22rem;
    }
}