.about-sb {
    position: fixed;
    top: 50%; left: 110%;
    transform: translate(-50%, -50%);
    width: 100%;
    mix-blend-mode: difference;
    user-select: none;
    z-index: 2;
}

.about-sb img {
    filter: invert(10%) sepia(94%) saturate(7483%) hue-rotate(242deg) brightness(96%) contrast(121%);
}

.ab1 {
    position: relative;
    height: 100vh;
}

.scrollDown {
    position: absolute;
    bottom: 5%;
    width: 80rem;
    animation: upDown 1.5s ease-in-out infinite;
    filter: invert(87%) sepia(17%) saturate(3217%) hue-rotate(358deg) brightness(102%) contrast(105%);
    z-index: 20;
}

.scrollDown img {
    filter: invert(1);
}

@keyframes upDown {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.ab1-text {
    width: 100%;
}

.ab1-text h5 {
    font-size: 70rem;
    font-weight: 600;
    font-family: 'Montserrat';
}

.ab1-text p {
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 50rem;
}

.ab1-box-wrapper {
    display: flex;
    flex-direction: column;
}


.ab2 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.ab2-box-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.ab2-box {
    position: relative;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
}

.ab2-box p {
    font-size: 24rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 5%;
    mix-blend-mode: overlay;
}

.ab2-logo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    transition: all 0.5s ease;
}

.main-logo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 300rem;
}


/*==================================================*/

