footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 40px 0;
}

.footer-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fBtn {
    width: fit-content;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    margin-bottom: 1.5rem;
}

.fBtn:hover {
    background-color: transparent;
}

.footer-notice p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.02em;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .15);
}

.footer-text p {
    color: #fff;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0;
}

.footer-text p br {
    display: none;
}

.footer-text p em br {
    display: block;
}

.logo-f {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo-f img {
    height: 24px;
}

.logo-f p {
    color: #fff;
    font-size: 22px;
    font-family: 'establishRetrosansOTF';
    text-shadow: 0 0 10px rgba(0, 0, 0, .07);
    padding-top: 10px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .footer-wrapper {
        width: 100%;
        padding: 0 20px;
    }
    
    .footer-text p br {
        display: block;
    }

    .footer-text p span {
        display: none;
    }
}