.promotion {
    width: 100%;
    height: 750px !important;
    background: url(../images/hero.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.promotion-wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-text p {
    color: #fff;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;
}

.p-text p br {
    display: none;
}

.p-text p span {
    color: var(--main-color);
    letter-spacing: -0.02em;
}

.p-text h1 {
    color: #fff;
    font-size: 72px;
    line-height: 1.25;
    letter-spacing: -0.02em;
}

.p-text h1 span {
    color: var(--main-color);
    letter-spacing: -0.02em;
}

.p-image {
    display: none;
}


/*==================================================*/
@media (min-width: 2560px) {
    .promotion {
        background: url(../images/hero-b.jpg);
    }
}


@media (max-width: 1250px) {
    .promotion-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 850px) {
    .promotion {
        position: relative;
        background: #36414d !important;
    }

    .promotion::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #eee;
    }

    .p-image {
        position: absolute;
        bottom: -20px; right: 10px;
        width: 60%;
        display: block;
        z-index: 18;
    }

    .p-text {
        z-index: 22;
    }

    .p-text h1 {
        font-size: 62px;
    }

    .p-text p span {
        color: #fff;
    }
}


@media (max-width: 550px) {
    .p-image {
        bottom: 0;
        width: 300px;
    }
    
    .p-text {
        margin-bottom: 7rem;
    }
    
    .p-text p {
        font-size: 18px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .07);
    }

    .p-text h1 {
        font-size: 55px;
        text-shadow: 0 0 10px rgba(0, 0, 0, .07);
    }
}


@media (max-width: 450px) {
    .promotion {
        height: 550px !important;
    }

    .promotion::after {
        height: 60px;
    }

    .p-image {
        width: 240px;
    }

    .p-text p {
        font-size: 15px;
    }

    .p-text p br {
        display: block;
    }

    .p-text h1 {
        font-size: 38px;
    }
}