.article8 {
    background: url(../images/a8-bg.jpg);
}

.a8-title {
    color: #fff;
}

.a8-title h5 {
    font-size: var(--font-big);
}

.a8-title p {
    font-size: var(--font-sub);
    line-height: 1.5;
    margin-top: 2rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .article8 {
        padding-bottom: 0;
    }
    
    .article8 .at-wrapper {
        gap: 3rem;
    }

    .a8-title {
        text-align: center;
    }
}


@media (max-width: 450px) {
    .a8-title p {
        margin-top: 1.5rem;
    }
}