.article7 {
    background-color: #f5f5f5;
}

.a7-title {
    min-width: 500px;
}

.a7-title h5 {
    color: #222;
    font-size: var(--font-main);
    font-weight: 800;
}

.a7-title h5 span {
    color: var(--main-color);
}

.a7-title p {
    color: #888;
    font-size: var(--font-sub);
    line-height: 1.6;
    margin-top: 2rem;
}


/*==================================================*/
@media (max-width: 1350px) {
    .a7-title {
        min-width: unset;
    }
}


@media (max-width: 768px) {
    .a7-title {
        width: 100%;
    }
    
    .a7-right {
        width: 90%;
    }
}


@media (max-width: 550px) {
    .article7 {
        overflow: hidden;
    }
    
    .a7-title p {
        margin-top: 1.5rem;
    }
    
    .a7-right {
        width: 120%;
        margin-right: -20px;
    }
}