.article6 {
    background-color: #f5f5f5;
}

.a6-title {
    min-width: 550px;
}

.a6-title p {
    color: #888;
    font-size: var(--font-sub);
    margin-bottom: 2rem;
}

.a6-title h5 {
    color: #222;
    font-size: var(--font-main);
    font-weight: 800;
}

.a6-title h5 span {
    color: var(--main-color);
}

.a6-right {
    position: relative;
}

.a6-2 {
    position: absolute;
    top: 27%; left: 14%;
    width: 45%;
}



/*==================================================*/
@media (max-width: 1350px) {
    .a6-title {
        min-width: unset;
    }
}


@media (max-width: 768px) {
    .a6-title {
        width: 100%;
    }
    
    .a6-right {
        width: 90%;
    }
}


@media (max-width: 550px) {
    .article6 {
        padding-bottom: 30px;
        overflow: hidden;
    }
    
    .a6-right {
        width: 115%;
    }
}