.article8 {
    background: url(../images/a8-bg.jpg);
}

.a8-n {
    margin-bottom: 2rem;
}


/*==================================================*/
@media (max-width: 768px) {
    .a8-title {
        width: 70%;
    }
}


@media (max-width: 450px) {
    .a8-n {
        width: 153px;
        margin-bottom: 1rem;
    }
}