.article7 {
    background: url(../images/a7-bg.jpg);
}

.a7-n {
    margin-bottom: 2rem;
}

.mySwiper2 {
    width: 100%;
    height: auto;
}


/*==================================================*/
@media (max-width: 768px) {
    .a7-title {
        width: 70%;
    }
}


@media (max-width: 450px) {
    .a7-n {
        width: 153px;
        margin-bottom: 1rem;
    }
}