.article1 {
    margin-top: -5px;
    background: url(../images/a1-bg.jpg);
}

.a1-title {
    z-index: 4;
}

.a1-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a1-1 {
    margin-top: 3rem;
    z-index: 1;
}

.a1-2 {
    position: absolute;
    bottom: 115px;
    z-index: 3;
    -webkit-animation: blink .7s step-end infinite;
    animation: blink .7s step-end infinite;
}

.a1-3 {
    position: absolute;
    top: -170px;
    z-index: 2;
}