.article2 {
    background: url(../images/a2-bg.jpg);
}

.a2-box {
    margin-top: 3rem;
}

.a2-box-1 {
    position: relative;
}

.a2-cheese {
    position: absolute;
    bottom: -10px; right: -30px;
}

.a2-box-2 {
    position: relative;
}

.a2-present {
    position: absolute;
    bottom: -50px; left: 50%;
    transform: translate(-37%, 0);
    width: 100%;
}

.a2-present img:first-child {
    width: 80%;
}

.a2-x {
    position: absolute;
    top: 50px; left: 40%;
    transform: translate(-50%, 0);
    -webkit-animation: blink .8s infinite;
    animation: blink .8s infinite;
}