.article9 {
    background: url(../images/a9-bg.jpg);
    background-position: top center !important;
}

.a9-1 {
    margin: 3rem 0 2rem 0;
}

.a9-2 {
    margin-bottom: 2rem;
}

.a9-3 {
    margin-top: 2rem;
}


/*==================================================*/
@media (max-width: 850px) {
    .a9-2 {
        width: 80%;
    }
}


@media (max-width: 650px) {
    .a9-1 {
        width: 60%;
        margin-bottom: 1rem;
    }

    .a9-2 {
        margin-bottom: 1.5rem;
    }

    .a9-3 {
        width: 60%;
        margin-top: 1rem;
    }
}


@media (max-width: 450px) {
    .a9-1 {
        margin: 2rem 0 1rem 0;
    }
}