.article6 {
    background: url(../images/a6-bg.jpg);
    background-position: bottom center !important;
}

.a6-n {
    margin-bottom: 2rem;
}

.a6-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    padding-bottom: 32rem;
}