.article12 {
    padding-bottom: 0;
    background: url(../images/a12-bg.jpg);
}

.article12 .mySwiper {
    margin-top: 0;
    margin-bottom: -3px;
}


/*==================================================*/
@media (max-width: 450px) {
    .article12 .mySwiper {
        margin-top: -2rem;
    }
}