.article11 {
    background: url(../images/a11-bg.jpg);
}

.form-wrapper {
    width: 100%;
    padding: 0 50px;
    margin-top: 3rem;
}

.f-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-form .input-group {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px dashed #bbb;
}

.f-form .input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-form .input-wrapper .input-title {
    width: 90px;
}

.f-form .input-wrapper .input-title h1 {
    color: #444;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.f-form .input-wrapper .input-title h1 span {
    color: red;
}

.f-form .inputbox {
    color: #222;
    height: 47px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Pretendard';
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.f-form textarea {
    color: #222;
    width: 100%;
    height: 140px;
    padding: 15px;
    margin-left: 41px;
    font-size: 15px;
    font-family: 'Pretendard';
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.f-form .inputbox::placeholder {
    color: #aaa;
}

.f-form textarea::placeholder {
    color: #aaa;
}

.f-form .inputbox:focus,
.f-form textarea:focus {
    border: 1px solid #222;
}

.f-form .inputbox:disabled,
.f-form textarea:disabled {
    cursor: not-allowed;
    background-color: #ddd;
}

.f-submit {
    color: #fff;
    width: 250px;
    height: 52px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.02em;
    padding: 0 19px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    cursor: pointer;
    margin-top: 1.5rem;
}

.f-submit:disabled {
    color: #aaa;
    cursor: not-allowed;
    background-color: #ddd;
}

.f-personal {
    width: 100%;
    padding: 20px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.f-personal-no {
    border: 1px solid var(--main-color)
}

.f-personal-text input {
    display: none;
}

.f-personal-text label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.f-personal-text label em {
    position: relative;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.f-personal-text label em::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    display: none;
}

.f-personal-text label p {
    color: #444;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

#cb:checked ~ label em::after {
    display: block;
}

.f-personalBtn {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #aaa;
    cursor: pointer;
}

.f-personalBtn-no {
    background-color: var(--main-color);
}

.f-popup-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    display: none;
}

.f-popup {
    position: relative;
    width: 550px;
    padding: 30px;
    border-radius: 7px;
    background-color: #fff;
}

.f-popup p {
    color: #222;
    font-size: 15px;
    line-height: 1.4;
}

.f-popup p b {
    line-height: 2;
}

.f-popup-closeBtn {
    position: absolute;
    top: 18px; right: 18px;
    width: 15px;
    cursor: pointer;
}



/*==================================================*/
@media (max-width: 900px) {
    .form-wrapper {
        padding: 0 30px;
    }
    
    .f-form .input-group {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .f-form .input-wrapper {
        width: 100%;
        gap: 3rem;
    }

    .f-form .input-wrapper .input-title h1 {
        width: 85px !important;
    }

    .f-form .inputbox {
        width: 100%;
    }

    .f-form textarea {
        margin-left: 0;
    }
}


@media (max-width: 650px) {
    .a11-title {
        width: 300px;
    }

    .form-wrapper {
        margin-top: 2rem;
    }

    .f-popup,
    .f-alert {
        width: 80%;
        padding: 25px;
    }

    .f-alert {
        width: 250px;
        padding: 15px 20px;
    }

    .f-popup p,
    .f-alert p {
        font-size: 12px;
        line-height: 1.3;
    }

    .f-popup-closeBtn {
        top: 13px; right: 13px;
    }
}


@media (max-width: 550px) {
    .article11 {
        padding: 50px 0;
    }
    
    .f-personal {
        padding: 12px;
    }
    
    .f-personal-text label p {
        font-size: 12px;
        letter-spacing: -0.02em;
    }

    .f-personalBtn {
        font-size: 10px;
    }
    
    .f-form .input-wrapper {
        gap: 1rem;
    }

    .f-form .input-wrapper .input-title h1 {
        width: 75px;
        font-size: 13px;
    }
}


@media (max-width: 450px) {
    .a11-title {
        width: 200px;
    }
    
    .form-wrapper {
        padding: 0 20px;
    }
    
    .f-form .input-group {
        padding: 10px 0;
        gap: 10px;
    }
    
    .f-form .inputbox {
        height: 43px;
        font-size: 13px;
    }

    .f-form textarea {
        font-size: 13px;
    }

    .f-submit {
        width: 220px;
        height: 45px;
        font-size: 14px;
        margin-top: 1.5rem;
    }
}


@media (max-width: 350px) {
    .f-form .input-wrapper {
        gap: 10px;
    }

    .f-form .input-wrapper .input-title h1 {
        width: 70px !important;
        font-size: 12px;
    }
}