.article9 {
    background: url(../images/a3-bg.jpg);
}

.a9-title {
    margin-bottom: 3rem;
}

.mySwiper3 {
    width: 85%;
    height: auto;
}

.a9-notice {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 4rem;
}

.a9-notice li {
    color: #aaa;
    font-size: 15px;
    font-weight: 400;
    list-style: disc;
}


/*==================================================*/
@media (max-width: 900px) {
    .a9-notice {
        width: 100%;
        text-align: center;
    }

    .a9-notice li {
        list-style: none;
    }
}


@media (max-width: 650px) {
    .a9-title {
        margin-bottom: 1rem;
    }
    
    .a9-title img {
        width: 190px;
    }
}


@media (max-width: 550px) {
    .a9-notice li {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    .article9 {
        padding: 50px 0;
    }
    
    .mySwiper3 {
        width: 100%;
    }
}