.article4 {
    background: url(../images/a4-bg.jpg);
}

.a4-title {
    margin-bottom: 2rem;
}

.a4-notice {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 1rem;
}

.a4-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.a4-notice {
    position: absolute;
    top: 10px; right: 10px;
    animation: blink .7s step-end infinite;
    z-index: 2;
}

.a4-notice p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.a4-2-1 {
    position: absolute;
    top: 385px;
    width: 400px;
    animation: expand 3s infinite;
}

.a4-3 {
    position: absolute;
    top: 130px; left: 235px;
}

.a-notice {
    color: rgba(255, 255, 255, .3);
    font-size: 14px;
    font-weight: 500;
    margin-top: 3rem;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}


@keyframes expand {
    50% {
        transform: scale(1.1);
    }
}


/*==================================================*/
