.article11 {
    padding: 30px;
    background-color: #010101;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.a11-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a11-text ul {
    padding-left: 20px;
}

.a11-text h1 {
    color: #ccc;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.a11-text li {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
    list-style: circle;
    letter-spacing: 0.02em;
}


/*==================================================*/
