.article12 {
    padding: 30px;
    background-color: #010101;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.a12-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a12-text ul {
    padding-left: 20px;
}

.a12-text h1 {
    color: #ccc;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.a12-text li {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
    list-style: circle;
    letter-spacing: 0.02em;
}


/*==================================================*/
@media (max-width: 450px) {
    .article12 {
        padding: 30px 20px;
    }
    
    .a12-wrapper {
        gap: 1rem;
    }
    
    .a12-text h1 {
        font-size: 14px;
    }

    .a12-text li {
        font-size: 12px;
    }
}