.article3 {
    background: url(../images/a3-bg.jpg);
}

.a3-title {
    margin-bottom: 2rem;
}

.mySwiper {
    width: 85%;
    height: auto;
}



/*==================================================*/
