.article2 {
    position: relative;
    background: url(../images/a2-bg.jpg);
}

.a2-bg {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}

.a2-bg video {
    width: 1200px;
}

.a2-bg::before {
    content: '';
    position: absolute;
    bottom: 257px; left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(to bottom, #1d140b10 0%, #1d140b 100%);
    z-index: 3;
}

.a2-nmr {
    position: absolute;
    top: 300px;
    width: 100px;
    z-index: 2;
}

.a2-polygon {
    position: absolute;
    top: 125px;
    opacity: .1;
    z-index: 1;
}

.a2-title,
.a2-text {
    z-index: 3;
}

.a2-text p {
    width: 400px;
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 3rem;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.a2-box-group {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.a2-box-group:nth-child(3) {
    width: 500px;
    margin-top: 8rem;
}

.a2-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.a2-box-image {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px dashed var(--main-color);
    background-color: rgba(0, 0, 0, .2);
    animation: pulse .7s infinite;
}

.a2-box-image img {
    width: 55px;
    transition: all .2s;
}

.a2-box-text {
    color: #fafafa;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.05em;
}

@keyframes pulse {
    100% {
        transform: scale(1.1)
    }
}



/*==================================================*/
@media (max-width: 768px) {
    .a2-bg video {
        width: unset;
    }

    .a2-bg::before {
        bottom: 100px;
    }
    
    .a2-box-group {
        width: 95%;
    }

    .a2-box-group:nth-child(3) {
        width: 70%;
    }
}


@media (max-width: 650px) {
    .article2-2 {
        padding-top: 20px;
    }
    
    .a2-nmr {
        top: 170px;
        width: 70px;
    }
    
    .a2-polygon {
        top: 40px;
        width: 450px;
    }
    
    .a2-box-wrapper {
        gap: 2rem;
    }

    .a2-box-group {
        width: 85%;
    }

    .a2-box-group:nth-child(3) {
        margin-top: 7rem;
    }
    
    .a2-box {
        width: unset;
    }

    .a2-box-image {
        width: 80px;
        height: 80px;
    }

    .a2-box-image img {
        width: 35px;
    }

    .a2-box-text {
        font-size: 15px;
    }
}


@media (max-width: 550px) {
    .a2-bg::before {
        bottom: 180px;
    }
    
    .a2-nmr {
        top: 150px;
        width: 50px;
    }
    
    .a2-polygon {
        width: 70%;
    }

    .a2-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .a2-title img {
        width: 60%;
    }
    
    .a2-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .a2-text p {
        width: 330px;
        font-size: 16px;
        text-align: center;
        margin-top: 2rem;
    }

    .a2-box-wrapper {
        gap: 1rem;
    }

    .a2-box-group {
        width: 75%;
    }

    .a2-box-group:nth-child(3) {
        width: 60%;
        margin-top: 3rem;
    }

    .a2-box-image {
        width: 70px;
        height: 70px;
    }

    .a2-box-image img {
        width: 25px;
    }

    .a2-box-text {
        font-size: 13px;
    }
}


@media (max-width: 450px) {
    .article2-1 {
        padding-bottom: 50px;
    }

    .a2-bg video {
        width: 650px;
    }

    .a2-bg::before {
        bottom: 75px;
    }
    
    .a2-nmr {
        top: 130px;
    }
    
    .a2-polygon {
        width: 300px;
    }

    .a2-text p {
        width: 260px;
        font-size: 13px;
    }
    
    .a2-box-group {
        width: 90%;
    }

    .a2-box-group:nth-child(3) {
        width: 70%;
    }

    .a2-box-image {
        width: 60px;
        height: 60px;
    }
}