.article6 {
    position: relative;
    background-color: #160a0a;
}

.a6-2 {
    position: absolute;
    top: 385px;
    animation-delay: .8s !important;
    animation-duration: .15s !important;
    animation-iteration-count: 6;
}

.a6-car {
    position: absolute;
    top: 0;
    width: 100%;
}

.a6-3 {
    position: relative;
    width: 100%;
}

.a6-2-1 {
    position: absolute;
    left: -310px;
}

.a6-2-2 {
    position: absolute;
    right: -320px;
}

.a6-title {
    margin-bottom: 3rem;
    z-index: 2;
}

.a6-wrapper {
    position: relative;
    margin-top: 20rem;
}

.a6-notice {
    position: absolute;
    top: 15px; left: 50%;
    transform: translate(-50%, 0);
    animation: blink .7s step-end infinite;
    z-index: 2;
}

.a6-notice p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
}


/*==================================================*/
@media (max-width: 900px) {
    .a6-2 {
        top: 48%;
    }

    .a6-2-1 {
        left: -36%;
    }

    .a6-2-2 {
        right: -36%;
    }

    .a6-wrapper {
        margin-top: 35%;
    }
}


@media (max-width: 768px) {
    .a6-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .a6-1 {
        width: 90%;
    }
}


@media (max-width: 650px) {
    .a6-title img {
        width: 300px;
    }
}


@media (max-width: 550px) {
    .a6-title img {
        width: 240px;
    }

    .a6-3 {
        opacity: .5 !important;
    }
}


@media (max-width: 450px) {
    .article6 {
        padding: 50px 0;
    }
    
    .a6-notice p {
        font-size: 10px;
        font-weight: 400;
    }
}