.article8 {
    background: url(../images/a8-bg.jpg);
    background-position: top !important;
}

.a8-title {
    margin-bottom: 4rem;
}

.a8-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a8-box h1 {
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.a8-box:nth-child(2) h1 {
    text-align: right;
}

.a8-speech {
    clear: both;
    width: 88%;
    padding: 20px;
    border-radius: 0 18px 18px 18px;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: #302d2990;
}

.a8-speech-right {
    float: right;
    border-radius: 18px 0 18px 18px;
}

.a8-speech p {
    color: #fafafa;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.mySwiper2 {
    width: 90%;
    height: auto;
    margin-top: 5rem;
}

.mySwiper2 .swiper-slide {
    transform: scale(.8);
    transition: all .3s ease;
    opacity: .2;
}

.mySwiper2 .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.mySwiper2 .swiper-slide img {
    border-radius: 10px;
}


/*==================================================*/
@media (max-width: 650px) {
    .a8-title img {
        width: 300px;
    }
}


@media (max-width: 550px) {
    .a8-title img {
        width: 240px;
    }

    .a8-wrapper {
        width: 90%;
        gap: 1rem;
    }

    .a8-box h1 {
        font-size: 14px;
    }

    .a8-speech {
        padding: 15px 20px;
    }
    
    .a8-speech p {
        font-size: 13px;
        font-weight: 400;
    }

    .mySwiper2 {
        width: 75%;
    }
}