footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010101;
    padding: 30px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-text p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.8;
}

.footer-text p br {
    display: none;
}

.footer-text p em br {
    display: block;
}

.footer-text p .mbr {
    display: none;
}

.logo-f {
    width: 55px;
    margin-top: 5px;
    opacity: .5;
}


/*==================================================*/
@media (max-width: 650px) {
    .footer-text p {
        text-align: left;
    }
    
    .footer-text p span {
        display: none;
    }

    .footer-text p br {
        display: block;
    }

    .footer-text p .mbr {
        display: block;
    }

    .footer-text p b {
        font-size: 14px;
        line-height: 2.5;
    }
}


@media (max-width: 550px) {
    .footer-text p {
        font-size: 12px;
    }
}


@media (max-width: 450px) {
    footer {
        padding: 20px;
    }
}