header {
    position: absolute;
    top: 30px; left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 55px;
    z-index: 2;
}


/*==================================================*/
@media (max-width: 550px) {
    .logo {
        width: 40px;
    }
}


@media (max-width: 350px) {
    .logo {
        width: 30px;
    }
}