.article8 {
    padding-bottom: 160px;
    background: url(../images/a8-bg.jpg);
    background-position: bottom !important;
    margin-bottom: -3px;
}

.a8-title {
    margin-bottom: 4rem;
}

.a8-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.a8-box-title {
    color: #aaa;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500;
    padding-bottom: 25px;
    border-bottom: 2px solid #222;
}

.a8-box p {
    color: #222;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    padding-top: 25px;
}


.a8-receipt-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
}

.a8-receipt-box {
    position: relative;
}

.a8-stamp {
    position: absolute;
    bottom: 0; right: 0;
    width: 350px;
}

.a8-bottom {
    color: #888;
    font-size: 18px;
    text-align: center;
}

.a8-bottom span {
    font-size: 16px;
    line-height: 3;
}


/*==================================================*/
@media (max-width: 1450px) {
    .article8 .article-wrapper {
        padding: 0 20px;
    }
}


@media (max-width: 950px) {
    .a8-box-wrapper {
        gap: 2rem;
    }
    
    .a8-box-title {
        font-size: 24px;
        padding-bottom: 15px;
    }

    .a8-box p {
        font-size: 24px;
        padding-top: 15px;
    }
}


@media (max-width: 768px) {
    .a8-title {
        width: 75%;
    }
}


@media (max-width: 550px) {
    .article8 {
        padding-bottom: 100px;
    }
    
    .a8-title {
        margin-bottom: 2rem;
    }

    .a8-box-wrapper {
        width: 90%;
    }
    
    .a8-box-title {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .a8-box p {
        font-size: 16px;
        padding-top: 10px;
    }

    .a8-receipt-wrapper {
        flex-direction: column;
        margin: 4rem 0 2rem 0;
    }

    .a8-stamp {
        width: 250px;
    }

    .a8-bottom {
        font-size: 14px;
    }

    .a8-bottom span {
        font-size: 12px;
        line-height: 2;
    }
}