.article1 {
    position: relative;
    background-color: #111;
    overflow: hidden;
}

.article1 .article-wrapper {
    align-items: flex-end;
}

.a1-sb {
    position: absolute;
    top: -200px; left: -100px;
    width: 700px;
    animation: rotate_image 10s linear infinite;
    opacity: .03;
}

@keyframes rotate_image{
	100% {
        transform: rotate(360deg);
    }
}

.a1-wrapper {
    width: 1600px;
    display: flex;
    gap: 6rem;
}

.a1-title {
    width: 433px;
    white-space: nowrap;
}

.a1-title h5 {
    color: #fff;
    font-size: 45px;
    font-weight: unset;
    line-height: 1.35;
    font-family: 'PuradakGentleGothicR';
}

.a1-title p {
    color: #fff;
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    line-height: 1.65;
    margin-top: 1.5rem;
}

.mySwiper {
    position: relative;
    position: absolute;
    top: 50%; right: 0;
    width: 1200px;
}

.mySwiper .swiper-wrapper {
    margin-bottom: 4rem;
}

.mySwiper .swiper-pagination-progressbar {
    top: unset !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 2px !important;
    background-color: rgba(255, 255, 255, .2) !important;
}

.mySwiper .swiper-pagination-progressbar-fill {
    background-color: var(--main-color) !important;
}

.mySwiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--main-color);
    overflow: hidden;
}

.mySwiper .swiper-slide img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    opacity: .15;
}

.mySwiper .swiper-slide span {
    color: #fff;
    font-size: 24px;
}

.mySwiper .swiper-slide h5 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-top: 2rem;
}

.mySwiper .swiper-slide h4 {
    color: #fff;
    font-size: 52px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
    margin-top: 1.5rem;
}



/*==================================================*/
@media (min-width: 2250px) {
    .a1-sb {
        width: 800px;
    }
    
    .a1-wrapper {
        width: 1920px;
    }

    .mySwiper {
        width: 1450px;
    }
    
    .mySwiper .swiper-slide {
        height: 360px;
    }

    .mySwiper .swiper-slide img {
        width: 300px;
    }

    .mySwiper .swiper-slide h4 {
        font-size: 65px;
    }
}