.article6 {
    padding: 0;
    background: url(../images/a6-bg.jpg);
}

.article6 .article-wrapper {
    padding: 120px 0;
}

.a6-title {
    text-align: center;
    margin-bottom: 4rem;
}

.a6-title h5 {
    color: #fff;
    font-size: 65px;
    font-weight: unset;
    font-family: 'PuradakGentleGothicR';
}

.a6-title p {
    color: #fff;
    font-size: 26px;
    font-family: 'GmarketSansMedium';
    letter-spacing: -0.0625em;
    line-height: 1.65;
    margin-top: 2rem;
}

.a6-wrapper {
    position: relative;
    user-select: none;
}

#number {
    position: absolute;
    top: 50.6%; left: 47%;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

#number span {
    color: #ffde00;
    font-size: 36px;
    text-align: right;
    letter-spacing: 0;
}

.a6-tutorial {
    position: relative;
}

.a6-tablet {
    border-radius: 20px;
    border: 20px solid #000;
    border-left: 60px solid #000;
    border-right: 60px solid #000;
    box-shadow: 0 0 60px rgba(255, 255, 255, .2);
}

@keyframes dungdung {
    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.a6-t0 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, .3);
    z-index: 20;
}

.a6-t6 {
    position: absolute;
    top: 8%; right: 8%;
}

.tBtn-5 {
    color: #fff;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 40px;
    background: var(--main-color);
    box-shadow: 4px 0 20px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.tBtn-0 {
	display: flex;
	align-items: center;
	justify-content: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.tBtn-0 p {
    position: relative;
    color: #fff;
    padding: 40px 60px;
    padding-top: 45px;
    border-radius: 60px;
    font-size: 65px;
    font-family: 'GongGothicMedium';
    background: var(--main-color);
    text-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0px 15px 0px #aa1d3a;
}

.tBtn-0 p:hover {
    top: 10px;
    box-shadow: 0px 6px 0px #aa1d3a;
}

.a6-t2,
.a6-t3,
.a6-t4,
.a6-t5 {
    display: none;
}

.tArw-1 { /* +100 화살표 */
    position: absolute;
    bottom: 2%; left: 32%;
    animation: dungdung .5s infinite;
    z-index: 2;
}

.tBtn-1 { /* +100 버튼 */
    position: absolute;
    bottom: 18.3%; left: 29.6%;
    cursor: pointer;
    z-index: 1;
}

.tArw-2 { /* 입찰 화살표 */
    position: absolute;
    bottom: 35%; right: 29.5%;
    animation: dungdung .5s infinite;
    z-index: 2;
}

.tBtn-2,
.tBtn-4 { /* 입찰 버튼 */
    position: absolute;
    bottom: 29%; right: 27.7%;
    cursor: pointer;
    z-index: 1;
}

.tArw-3 { /* +1,000 화살표 */
    position: absolute;
    bottom: 2%; right: 30.5%;
    animation: dungdung .5s infinite;
    z-index: 2;
}

.tBtn-3 { /* +1,000 버튼 */
    position: absolute;
    bottom: 18.3%; right: 28.5%;
    cursor: pointer;
    z-index: 1;
}



/*==================================================*/
@media (max-width: 1450px) {
    .article6 .article-wrapper {
        padding: 0;
    }

    .article6 .a4-flow-wrapper:first-child {
        display: none;
    }
    
    .a6-title,
    .a6-wrapper {
        display: none;
    }
}