.article11 {
    background-color: #000;
}

.article11 .article-wrapper {
    width: 1400px;
}

.a11-title {
    margin-bottom: 5rem;
}

.a11-box-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 1rem;
}

.a11-box {
    position: relative;
    padding: 40px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .1);
}

.a11-box-num {
    position: absolute;
    top: -20px; left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--main-color);
}

.a11-box-image img {
    height: 60px;
    margin-bottom: 1rem;
    filter: invert(90%) sepia(99%) saturate(0%) hue-rotate(110deg) brightness(106%) contrast(100%);
    user-select: none;
}

.a11-box-text {
    text-align: center;
}

.a11-box-text h5 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.a11-box-text p {
    color: #aaa;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
}


/*==================================================*/
