.pbb1 {
    background: url(../images/privacy-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.personal-wrapper {
    width: 800px;
    padding: 40px 0;
}

.personal-items {
    width: 100%;
}

.personal-items p {
    color: #555;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6rem;
}

.personal-items p b {
    font-size: 20px;
}


/*=========================================================*/
@media (max-width: 800px) {
    .personal-wrapper {
        width: 100%;
        padding: 20px;
    }
}