.article4 {
    background-color: #f4f5f6;
}

.article4 .article-wrapper {
    width: 100%;
}

.a4-title {
    text-align: center;
    margin-bottom: 4rem;
}

.a4-title h5 {
    color: #222;
    font-size: 45px;
    font-weight: 800;
}

.a4-title p {
    color: #777;
    font-size: 19px;
    line-height: 1.65;
    margin-top: 1rem;
}

.mySwiper {
    position: relative;
    width: 100%;
}

.mySwiper .swiper-slide {
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
}

.mySwiper .s-num {
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat';
    text-align: right;
    letter-spacing: 0;
    margin-bottom: 1rem;
}

.mySwiper .s-image {
    margin-bottom: 2rem;
}

.mySwiper .s-image img {
    height: 80px;
}

.mySwiper .s-text h5 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
}

.mySwiper .s-text p {
    color: #777;
    font-size: 18px;
    line-height: 1.65;
    margin-top: 1rem;
}

.mySwiper .s-text p b {
    font-weight: 600;
    text-decoration: underline;
}

.mySwiper .s-text p br {
    display: none;
}

.mySwiper .swiper-button-wrapper {
    position: absolute;
    top: 50%; left: 30%;
}

.mySwiper .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .1);
    opacity: .7;
}

.mySwiper .swiper-button-next i {
    color: rgba(0, 0, 0, .5);
    font-size: 22px;
}

.mySwiper .swiper-button-next:hover {
    opacity: 1;
}



/*==================================================*/
@media (min-width: 2250px) {
    .mySwiper .swiper-button-wrapper {
        left: 35%;
    }
}


@media (max-width: 1919px) {
    .mySwiper .swiper-button-wrapper {
        left: 20%;
    }
}


@media (max-width: 1350px) {
    .mySwiper .s-text p br {
        display: block;
    }
}


@media (max-width: 1250px) {
    .article4 .article-wrapper {
        padding: 0;
    }
}


@media (max-width: 950px) {
    .mySwiper .s-num {
        font-size: 16px;
        margin-bottom: 0;
    }
    
    .mySwiper .s-image {
        margin-bottom: 1rem;
    }
    
    .mySwiper .s-image img {
        height: 60px;
    }
    
    .mySwiper .s-text h5 {
        font-size: 20px;
    }
    
    .mySwiper .s-text p {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .a4-title {
        margin-bottom: 3rem;
    }
    
    .a4-title h5 {
        font-size: 36px;
    }

    .a4-title p {
        font-size: 16px;
    }

    .mySwiper .swiper-slide {
        padding: 30px;
    }

    .mySwiper .s-num {
        font-size: 13px;
    }
    
    .mySwiper .s-image img {
        height: 40px;
    }
    
    .mySwiper .s-text h5 {
        font-size: 18px;
    }
    
    .mySwiper .s-text p {
        font-size: 12px;
    }

    .mySwiper .swiper-button-wrapper {
        left: 7%;
    }
}


@media (max-width: 450px) {
    .a4-title {
        margin-bottom: 2rem;
    }
    
    .a4-title h5 {
        font-size: 32px;
    }

    .a4-title p {
        font-size: 14px;
    }

    .mySwiper .swiper-button-wrapper {
        left: 10%;
    }

    .mySwiper .swiper-button-next {
        width: 36px;
        height: 36px;
        border-radius: 14px;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
    }
    
    .mySwiper .swiper-button-next i {
        font-size: 18px;
    }
}