.article6 {
    background: url(../images/a6-bg.jpg);
}

.a6-title {
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
}

.a6-title h5 {
    font-size: 55px;
    line-height: 1.35;
}

.a6-title h5 br {
    display: none;
}

.a6-title p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 2rem;
}

.a6Btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.a6Btn {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
    width: 250px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 8px;
    background-color: #fff;
    transition: all .1s ease;
    cursor: pointer;
}

.a6Btn:hover {
    color: #fff;
    background-color: #2d3133;
}


/*==================================================*/
@media (max-width: 850px) {
    .a6-title h5 br {
        display: block;
    }
}


@media (max-width: 768px) {
    .a6-title {
        margin-bottom: 4rem;
    }
    
    .a6-title h5 {
        font-size: 45px;
    }

    .a6-title p {
        font-size: 18px;
        margin-top: 1.5rem;
    }

    .a6Btn-wrapper {
        gap: 1rem;
    }

    .a6Btn {
        font-size: 16px;
        width: 220px;
        height: 47px;
    }
}


@media (max-width: 550px) {
    .article6 {
        background: url(../images/a6-bg-m.jpg) no-repeat;
        background-size: cover;
    }

    .a6-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .a6-title h5 {
        font-size: 32px;
    }

    .a6-title p {
        width: 70%;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 1.2rem;
    }

    .a6Btn-wrapper {
        flex-direction: column;
    }

    .a6Btn {
        font-size: 14px;
        width: 180px;
        height: 43px;
    }
}