.a1-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.a1-title .warning {
    width: 100px;
    margin-bottom: 1rem;
    animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-15%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-7%);
    }

    100% {
        transform: translateY(0);
    }
}

.a1-title h5 {
    color: #222;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.4;
}

.a1-title p {
    color: #777;
    font-size: 19px;
    line-height: 1.65;
    margin-top: 2rem;
}

.a1Btn {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    outline: none;
    border: none;
    width: 220px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #2d3133;
    margin-top: 4rem;
}

.a1-bottom {
    color: #aaa;
    font-size: 13px;
    text-align: center;
}

.a1-bottom br {
    display: none;
}


/*==================================================*/
@media (max-width: 768px) {
    .a1-title .warning {
        width: 65px;
    }

    .a1-title h5 {
        font-size: 42px;
    }

    .a1-title p {
        font-size: 16px;
    }

    .a1-bottom {
        line-height: 1.7;
    }
    
    .a1-bottom br {
        display: block;
    }

    .a1-bottom span {
        display: none;
    }

    .a1Btn {
        width: 200px;
        height: 45px;
        font-size: 15px;
        margin-top: 2rem;
    }
}


@media (max-width: 550px) {
    .a1-title {
        margin-bottom: 1rem;
    }
    
    .a1-title p br {
        display: none;
    }

    .a1-bottom {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #eee;
        background-color: #f5f5f5;
    }
}


@media (max-width: 450px) {
    .a1-title h5 {
        font-size: 32px;
    }

    .a1-title p {
        width: 90%;
        font-size: 14px;
    }

    .a1Btn {
        width: 160px;
        height: 38px;
        font-size: 12px;
    }
}