.article3 .article-wrapper {
    position: relative;
}

.a3-square {
    position: absolute;
    bottom: -20px; left: 45%;
    width: 31%;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .08);
    z-index: 1;
}

.a3-title {
    text-align: center;
    margin-bottom: 6rem;
}

.a3-title p {
    color: #555;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.a3-title p b {
    font-weight: 700;
    text-decoration: underline;
}

.a3-title h5 {
    font-size: 85px;
    font-weight: 800;
    letter-spacing: -0.04em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    background-image: linear-gradient(-225deg, #007adf 0%, #00ecbc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.a3-title h5 span {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.a3-table {
    width: 100%;
    border-collapse: collapse;
    z-index: 10;
}

.a3-table tr {
    width: 25%;
    transition: all .2s ease;
}

.a3-table tr:hover {
    background-color: rgba(0, 0, 0, .03);
}

.a3-table tr:first-child td {
    color: #222;
    font-size: 20px;
    font-weight: 600;
}

.a3-table tr:first-child:hover {
    background-color: transparent;
}

.a3-table tr td {
    color: #aaa;
    padding: 30px;
    font-size: 18px;
    text-align: center;
}

.a3-table tr td:first-child {
    color: #333;
    font-weight: 600;
    border-radius: 20px 0 0 20px;
}
.a3-table tr td:last-child {
    border-radius: 0 20px 20px 0;
}

.a3-table tr td.a3-td-zero {
    font-size: 22px;
    font-weight: 500;
    background-image: linear-gradient(-225deg, #007adf 0%, #00ecbc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.a3-table tr td.a3-td-chunil {
    font-size: 22px;
    font-weight: 700;
    background-image: linear-gradient(-225deg, #007adf 0%, #00ecbc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.a3-table tr td.a3-td-price {
    font-size: 32px;
    font-weight: 800;
    background-image: linear-gradient(-225deg, #007adf 0%, #00ecbc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    animation: blink .7s step-end infinite;
}

@keyframes blink {
    50% {opacity: 0;}
}


/*==================================================*/
@media (max-width: 768px) {
    .a3-square {
        width: 29%;
        height: 420px;
    }
    
    .a3-title p {
        font-size: 18px;
    }

    .a3-title h5 {
        font-size: 75px;
    }

    .a3-table tr:first-child td {
        font-size: 16px;
    }

    .a3-table tr td {
        padding: 20px;
        font-size: 15px;
    }

    .a3-table tr td.a3-td-zero {
        font-size: 18px;
    }
    .a3-table tr td.a3-td-chunil {
        font-size: 18px;
    }
    .a3-table tr td.a3-td-price {
        font-size: 24px;
    }
}


@media (max-width: 550px) {
    .a3-square {
        left: 42%;
        width: 30%;
        height: 320px;
        border-radius: 15px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    }
    
    .a3-title p {
        font-size: 14px;
    }

    .a3-title h5 {
        font-size: 55px;
    }

    .a3-table tr:first-child td {
        font-size: 13px;
    }

    .a3-table tr td {
        padding: 15px;
        font-size: 12px;
    }

    .a3-table tr td.a3-td-zero {
        font-size: 13px;
    }
    .a3-table tr td.a3-td-chunil {
        font-size: 13px;
    }
    .a3-table tr td.a3-td-price {
        font-size: 16px;
    }

    .a3-table tr td:first-child {
        width: 50px;
    }
}


@media (max-width: 450px) {
    .a3-square {
        bottom: -12px; left: 44.5%;
        width: 28%;
        height: 300px;
    }

    .a3-title {
        margin-bottom: 4rem;
    }
    
    .a3-title p {
        font-size: 12px;
    }

    .a3-title h5 {
        font-size: 48px;
    }

    .a3-title h5 span {
        font-size: 14px;
    }
}