.a2-title {
    text-align: center;
    margin-bottom: 3rem;
}

.a2-title h5 {
    color: #222;
    font-size: 45px;
    font-weight: 800;
}

.a2-title p {
    color: #777;
    font-size: 19px;
    line-height: 1.65;
    margin-top: 1rem;
}

.a2-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.a2-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.a2-box-num {
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat';
    text-align: right;
    letter-spacing: 0;
    margin-bottom: 2rem;
}

.a2-box img {
    height: 60px;
    margin-bottom: 1rem;
}

.a2-box-text h5 {
    color: #222;
    font-size: 24px;
}

.a2-box-text p {
    color: #555;
    font-size: 16px;
    line-height: 1.65;
    margin-top: 1rem;
}

.a2-box-text p span {
    color: #aaa;
    font-size: 14px;
}

.a2Btn {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    outline: none;
    border: none;
    width: 220px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #2d3133;
    margin-top: 6rem;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a2-box-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 850px) {
    .a2-box-wrapper {
        gap: 1rem;
    }
    
    .a2-box {
        padding: 40px;
    }
    
    .a2-box-text p br {
        display: none;
    }

    .a2-box-text p em br {
        display: block;
    }
}


@media (max-width: 768px) {
    .a2-title h5 {
        font-size: 36px;
    }

    .a2-title p {
        font-size: 16px;
    }

    .a2-box-text h5 {
        font-size: 20px;
    }

    .a2-box-text p {
        font-size: 13px;
    }

    .a2-box-text p span {
        font-size: 12px;
    }

    .a2Btn {
        width: 200px;
        height: 45px;
        font-size: 15px;
        margin-top: 3rem;
    }
}


@media (max-width: 550px) {
    .a2-title {
        margin-bottom: 2rem;
    }
    
    .a2-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .a2-box {
        padding: 30px;
        border-radius: 10px;
    }
    
    .a2-box-num {
        margin-bottom: -1rem;
    }

    .a2-box img {
        height: 45px;
        margin-bottom: 0;
    }

    .a2-box-text p br {
        display: block;
    }
}


@media (max-width: 450px) {
    .a2-title h5 {
        font-size: 32px;
    }

    .a2-title p {
        font-size: 14px;
    }

    .a2Btn {
        width: 160px;
        height: 38px;
        font-size: 12px;
    }
}