.promotion {
    position: relative;
    width: 100%;
    padding-top: 200px !important;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    overflow: hidden;
}

.promotion-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-image {
    position: relative;
    width: 1800px;
    margin-top: -3rem;
    z-index: 1;
}

.p-truck {
    position: absolute;
    bottom: 350px; left: 730px;
    width: 150px;
    max-width: 150px;
    animation: truck 6s infinite both;
    z-index: 2;
}

@keyframes truck {
    80% {
        opacity: 1;
    }
    
    100% {
        bottom: 200px; left: 990px;
        opacity: 0;
    }
}

.p-text {
    text-align: center;
    z-index: 10;
}

.p-text h5 {
    color: #222;
    font-size: 55px;
    font-weight: 800;
    line-height: 1.4;
    background-image: linear-gradient(-225deg, #007adf 0%, #00ecbc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.p-text p {
    color: #888;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 2rem;
}

.pBtn {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    outline: none;
    border: none;
    width: 220px;
    height: 47px;
    border-radius: 8px;
    background-color: #2d3133;
    margin-top: 4rem;
    cursor: pointer;
}



/*==================================================*/
@media (max-width: 768px) {
    .promotion {
        padding-top: 150px !important;
    }
    
    .p-text h5 {
        font-size: 40px;
    }

    .p-text p {
        font-size: 18px;
        margin-top: 1.5rem;
    }

    .pBtn {
        width: 200px;
        height: 45px;
        font-size: 15px;
        margin-top: 2rem;
    }
}


@media (max-width: 550px) {
    .promotion-wrapper {
        gap: 3rem;
    }
    
    .p-image {
        width: 1200px;
    }

    .p-truck {
        bottom: 240px; left: 470px;
        width: 110px;
        max-width: 110px;
    }

    @keyframes truck {
        80% {
            opacity: 1;
        }
        
        100% {
            bottom: 130px; left: 665px;
            opacity: 0;
        }
    }
}


@media (max-width: 450px) {
    .p-text h5 {
        font-size: 32px;
    }

    .p-text p {
        font-size: 15px;
    }

    .pBtn {
        width: 160px;
        height: 38px;
        font-size: 12px;
    }
}