.register {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.register-wrapper {
    width: 650px;
}

.register-title {
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 2rem;
}

.r-t-box {
    padding: 20px 20px 20px 35px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left;
    background-color: #f1f1f1;
    margin-top: 1rem;
}

.r-t-box li {
    font-size: 13px;
    line-height: 1.4;
    list-style: circle;
}

.form-title h1 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
}

.form-title p {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

.article form {
    width: 100%;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-wrapper {
    width: 100%;
}

.input-title {
    float: left;
    color: #303030;
    font-size: 16px;
    margin-bottom: .5rem;
}

.input-title span {
    color: red;
}

.id-input {
    width: 100%;
    display: flex;
    gap: 5px;
}

.id-input myInput {
    width: 90%;
}

.id-input .id-checkBtn {
    color: #fff;
    width: 10%;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #303030;
    cursor: pointer;
}

.id-input .id-checkBtn:hover {
    background-color: #222;
}

.myInput {
    width: 100%;
    height: 52px;
    padding: 0 20px;
    font-size: 15px;
    font-family: 'Pretendard';
    border: none;
    background-color: #f1f1f1;
}

.myInput:focus {
    border: 1px solid #222;
}

.input-radio-wrapper {
    display: flex;
    gap: 2rem;
}

.input-radio input,
.input-radio label {
    cursor: pointer;
    font-family: 'Pretendard';
}


.submit-wrapper {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 1rem;
}

.registerBtn {
    width: 50%;
    padding: 18px 0;
    border: none;
    outline: none;
    background-color: #303030;
    cursor: pointer;
}

.registerBtn p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.cancleBtn {
    background-color: #ddd;
}

.cancleBtn p {
    color: #111;
}


/*==================================================*/
@media (max-width: 768px) {
    .register {
        margin-top: 30px;
    }
    
    .register-wrapper {
        width: 100%;
        padding: 0 20px;
    }
    
    .id-input myInput {
        width: 80%;
    }
    
    .id-input .id-checkBtn {
        width: 20%;
    }
}


@media (max-width: 500px) {
    .id-input myInput {
        width: 70%;
    }
    
    .id-input .id-checkBtn {
        width: 30%;
    }
}