.a1-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.a1-box {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20rem;
    border: 1px solid #eee;
    background-image: linear-gradient(to bottom, #f7f7f7, #ecf0f4);
}

.a1-box-text {
    padding: 50rem;
}

.a1-box-text h6 {
    color: #333;
    font-size: 26rem;
    font-family: 'Paperozi';
}

.a1-box-text p {
    color: #888;
    font-size: 17rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20rem;
}

.a1-box-image {
    padding-bottom: 30rem;
    padding-right: 30rem;
    margin-top: -10rem;
}

.a1-box-image img {
    float: right;
    height: 150rem;
    transition: transform .2s;
}

.a1-box:hover img {
    transform: scale(1.07);
}



/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}