.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f4;
    padding: 80rem 0;
}

.footer-wrapper {
    width: 1000rem;
    display: flex;
    flex-direction: column;
    gap: 40rem;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-f {
    width: 120px;
    filter: grayscale(1);
    opacity: .8;
}

.fBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 40rem;
}

.fBtn {
    color: #727374;
    font-size: 17rem;
    font-weight: 600;
}

.footer-mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fm-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fmrBtn {
    padding: 15rem 24rem;
    font-size: 16rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    background-color: #565c71;
}

.fmrBtn:nth-child(1) {
    color: #3c1e1e;
    background-color: #fae100;
}

.footer-text p {
    color: #888;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: -0.3rem;
}

.footer-bot {
    width: 100%;
    padding-top: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fbBtn-wrapper {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.fbBtn {
    color: #222;
    font-size: 15rem;
    font-weight: 600;
}



/*==================================================*/
@media (max-width: 1050px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 991px) {
    .footer {
        padding: 60rem 0;
    }
    
    .fBtn-wrapper {
        display: none;
    }

    .footer-mid {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        gap: 30rem;
    }
}


@media (max-width: 550px) {
    .logo-f {
        width: 160rem;
    }
    
    .fmrBtn {
        font-size: 18rem;
    }
    
    .footer-text p {
        font-size: 18rem;
    }

    .fm-right {
        gap: 5px;
    }
    
    .fmrBtn {
        font-size: 22rem;
    }
    
    .fbBtn {
        font-size: 22rem;
    }
}