.article1 {
    background-color: #000;
}

.a1-title {
    width: 100%;
}

.a1-title p {
    color: var(--main-color);
    font-size: 20rem;
    font-weight: 700;
    font-family: 'Play';
    margin-bottom: 50rem;
}

.a1-title h5 {
    color: #fff;
    font-size: 60rem;
    line-height: 1.4;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}