.a6-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.a6-mockup {
    height: 65%;
}


/*=========================================================*/
@media (max-width: 1600px) {
    .a6-mockup {
        width: 60%;
        height: auto;
    }
}


@media (max-width: 1250px) {
    .a6-wrapper {
        flex-direction: column;
    }
}


@media (max-width: 850px) {
    .a6-mockup {
        width: 90%;
        margin-left: 30%;
    }
}


@media (max-width: 550px) {
    .promotion .ar-text h5 br {
        display: none;
    }

    .a6-mockup {
        width: 100%;
        margin-left: 15%;
        margin-top: -1rem;
    }
}