.article7 {
    background-color: #f6f6f6;
}

.a7-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.form-wrapper {
    width: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 30px rgba(45,52,61,.12);
    z-index: 2;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-title h5 {
    color: #222;
    font-size: 30px;
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-wrapper h5 {
    color: #333;
    font-size: 16px;
}

.input-wrapper h5 span {
    color: red;
}

.input-wrapper .inputbox {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}
.input-wrapper .inputbox:focus {
    border: 1px solid var(--main-color);
}
.input-wrapper .inputbox::placeholder {
    color: #bbb;
    font-size: 16px;
}

.input-wrapper textarea {
    width: 100%;
    height: 100px;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}
.input-wrapper textarea:focus {
    border: 1px solid var(--main-color);
}
.input-wrapper textarea::placeholder {
    color: #bbb;
    font-size: 16px;
}

.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.f-personal-text {
    display: block !important;
}

.f-personal-text p {
    color:#555;
    font-size: 16px;
    font-weight: 600;
    padding-left: 4px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.check span {
    color: #fff;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: 600;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #bbb;
    margin-left: 5px;
}

.submitBtn {
    color: #fff;
    width: 100%;
    height: 55px;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Pretendard';
    border-radius: 5px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 3rem;
    transition: all .3s;
}

.submitBtn:disabled {
    cursor: not-allowed;
    background-color: #ddd;
}


.pp-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

.policy-popup {
    position: relative;
}

.pp-title {
    position: absolute;
    top: 0;
    width: 100%;
    /* width: calc(100% - .3em); */
    padding: 20px 30px;
    border-radius: 3px 3px 0 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.pp-title p {
    font-size: 24px;
    font-weight: 700;
}

.pp-closeBtn {
    position: absolute;
    top: 26px; right: 30px;
    width: 20px;
    max-width: 20px;
    cursor: pointer;
    z-index: 2;
}

.policy-popup textarea {
    color: #222;
    width: 600px;
    height: 340px;
    padding: 30px;
    padding-top: 95px;
    font-size: 15px;
    line-height: 1.4;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.policy-popup textarea::-webkit-scrollbar {
    width: .3em;
}

.policy-popup textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.policy-popup textarea::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 30px;
    outline: none;
}


/*=============================================================*/
@media (min-width: 2250px) {
    .form-wrapper {
        padding: 50px;
    }

    .input-title h5 {
        font-size: 36px;
    }

    .input-wrapper h5 {
        font-size: 18px;
    }
    
    .input-wrapper .inputbox {
        height: 52px;
    }

    .input-wrapper textarea {
        height: 140px;
    }
}