.article2 {
    position: relative;
}

.a2-mockup {
    position: absolute;
    bottom: 0; right: 5%;
    height: 80%;
}


/*=========================================================*/
@media (min-width: 2250px) {
    .a2-mockup {
        right: 2%;
    }
}


@media (max-width: 1250px) {
    .a2-mockup {
        width: 60%;
        margin-left: 40%;
    }
}


@media (max-width: 768px) {
    .a2-mockup {
        width: 95%;
        margin-left: 40%;
    }
}