.article1 {
    position: relative;
    background: url(../images/a1-bg.jpg);
}

.a1-mockup {
    position: absolute;
    bottom: 0; right: 5%;
    height: 80%;
}


/*=========================================================*/
@media (min-width: 2250px) {
    .a1-mockup {
        right: 10%;
    }
}


@media (max-width: 1250px) {
    .a1-mockup {
        width: 60%;
        margin-left: 40%;
    }
}


@media (max-width: 768px) {
    .a1-mockup {
        width: 90%;
        margin-left: 30%;
    }
}


@media (max-width: 550px) {
    .a1-mockup {
        width: 95%;
        margin-left: 15%;
    }
}