.article3 {
    position: relative;
    background-color: #f6f6f6;
}

.a3-mockup {
    position: absolute;
    bottom: -10%; right: 5%;
    height: 90%;
}


/*=========================================================*/
@media (min-width: 2250px) {
    .a3-mockup {
        bottom: 0;
        height: 80%;
    }
}


@media (max-width: 1250px) {
    .a3-mockup {
        width: 80%;
        margin-left: 40%;
    }
}


@media (max-width: 768px) {
    .a3-mockup {
        width: 100%;
        margin-left: 10%;
        margin-bottom: -100px;
    }
}


@media (max-width: 550px) {
    .a3-mockup {
        margin-bottom: -50px;
    }
}