.article3 {
    position: relative;
    background-color: #f6f6f6;
}

.a3-mockup {
    position: absolute;
    bottom: 0; right: 5%;
    height: 80%;
}


/*=========================================================*/
