.article3 {
    position: relative;
    background-color: #f6f6f6;
}

.a3-mockup {
    position: absolute;
    bottom: -10%; right: 5%;
    height: 90%;
}


/*=========================================================*/
@media (min-width: 2250px) {
    .a3-mockup {
        bottom: 0;
        height: 80%;
    }
}