.article2 {
    position: relative;
}

.a2-mockup {
    position: absolute;
    bottom: 0; right: 8%;
    height: 80%;
}


/*=========================================================*/
@media (min-width: 2250px) {
    .a2-mockup {
        right: 2%;
    }
}