.article {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    overflow: hidden;
    padding-top: 80px;
}

.article-wrapper {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ar-text {
    width: 100%;
    min-width: 50%;
    margin-bottom: 3rem;
}

.ar-text h5 {
    color: #222;
    font-size: 70px;
}

.ar-text h5 span {
    color: var(--main-color);
}

.ar-text p {
    color: #888;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 2rem;
}

.ar-text p b {
    font-weight: 800;
}

.ar-text.dark h5 {
    color: #fff;
}

.ar-text.dark p {
    color: #fff;
}


/*=========================================================*/
@media (min-width: 2250px) {
    .article-wrapper {
        width: 1400px;
    }

    .ar-text h5 {
        font-size: 75px;
    }

    .ar-text p {
        font-size: 24px;
    }

    .ar-text.dark p {
        font-size: 28px;
    }
}


@media (max-width: 1600px) {
    .article {
        height: auto;
        padding: 60px 0;
    }
}


@media (max-width: 1250px) {
    .article-wrapper {
        width: 90%;
    }
}