.floating {
    position: fixed;
    top: 50%; left: 0;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    z-index: 98;
}

.flBtn {
    width: 84px;
    height: 84px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}

.flBtn.on {
    width: 320px;
    gap: 1.5rem;
    transition: width .3s;
}

.flBtn.on h5 {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    transition-delay: .3s;
}

.flBtn.on p {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    transition-delay: .3s;
}

.flBtn.on p span {
    font-weight: 600;
}

.flBtn i {
    color: #fff;
    font-size: 45px;
}

.flBtn h5 {
    color: #fff;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
}

.flBtn p {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    opacity: 0;
    visibility: hidden;
}

.telBtn {
    background-color: #35d27b;
}

.kakaoBtn {
    background-color: #ffe919;
}
.kakaoBtn i {
    color: #3d2324;
}

.kakaoBtn p {
    color: #3d2324;
}

.kakaoBtn p span {
    color: #3d232470;
    font-size: 19px;
    font-weight: 400;
}


/*==================================================*/
