.footer {
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.footer-wrapper {
    width: 1400px;
}

.logo-f {
    display: flex;
    width: 240px;
    margin-bottom: 4rem;
}

.f-info {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}

.f-info br {
    display: none;
}

.f-info em br {
    display: block;
}

.f-copyright {
    color: rgba(255, 255, 255, .5);
    margin-top: 3rem;
}


/*=========================================================*/
@media (max-width: 1450px) {
    .footer-wrapper {
        width: 90%;
    }
}


@media (max-width: 600px) {
    .footer-wrapper {
        padding: 0 20px;
    }
}