.navigation {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.remote {
    position: fixed;
    top: 50%; right: 50px;
    transform: translate(0, -50%);
}

.remote-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.remoteBtn {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #aaa;
}

.remoteBtn.actives {
    background-color: var(--main-color);
}


/*=========================================================*/
@media (max-width: 1600px) {
    .navigation {
        display: none;
    }
}