::-webkit-scrollbar {
    display: none;
}

.promotion {
    background: url(../images/hero.jpg) no-repeat;
}

.promotion-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 97;
}

.p-text {
    width: 1200px;
}

.p-text h5 {
    color: #fff;
    font-size: 90px;
}

.p-text h5 span {
    color: #ffffff80;
    font-weight: 500;
}

.p-text p {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 2rem;
}

.p-text p b {
    font-weight: 800;
}

.p-text.dark h5 {
    color: #222;
    line-height: 1.15;
}

.p-text.dark h5 span {
    color: var(--main-color);
    font-weight: 700;
}

.p-text.dark p {
    color: #888;
    font-size: 26px;
}

.p-store-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.p-storeBtn img {
    width: 195px;
}

.scrollDown {
    position: absolute;
    bottom: 40px;
    width: 20px;
    -webkit-animation: upDown 1.5s ease-in-out infinite;
    animation: upDown 1.5s ease-in-out infinite;
    z-index: 97;
}

@keyframes upDown {
	0% {
		transform:  translateY(-7px);
	}
	50% {
		transform: translateY(7px);
	}
	100% {
		transform:  translateY(-7px);
	}
}


/*=========================================================*/
@media (min-width: 2250px) {
    .p-text {
        width: 1400px;
    }
}


@media (max-width: 1250px) {
    .p-text {
        width: 90%;
    }
}