.a2Swiper {
    width: 100%;
    overflow: hidden;
}

.a2Swiper .swiper-slide img {
    border-radius: 70rem;
}


/*==================================================*/
@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
    
}