.header {
    position: relative;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 997;
}
/* .header::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 110%;
    background-image: linear-gradient(to bottom, #00000077, transparent);
    z-index: 1;
} */

.gnb {
    width: 100%;
    padding: 0 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.gnb-menu {
    display: flex;
}

.gnb-menu-item {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb-menu-item a {
    color: #fff;
    padding: 34px 0;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    margin-top: 3px;
}

.Fixed {
    position: fixed;
    top: 0;
}

.logo {
    width: 200rem;
    z-index: 999;
}

.gnb-right {
    position: relative;
    z-index: 999;
}

.rsvBtn {
    position: relative;
    position: absolute;
    top: -7px; left: -270rem;
    width: 220rem;
    height: 60rem;
    font-size: 22rem;
    font-weight: 300;
    font-family: 'artific';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #fff;
    border-radius: 100rem;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(34,34,34,.2);
    transition: all .3s;
    letter-spacing: -0.5px;
}
.rsvBtn:hover {
    background-color: var(--main-color);
}

.langBtn {
    width: fit-content;
    color: #fff;
    font-size: 32rem;
    display: flex;
    align-items: center;
    gap: 7px;
}

.langBtn p {
    font-weight: 500;
    font-family: 'artific';
    letter-spacing: 0;
}


/*==================================================*/
