.promotion {
    width: 100%;
    height: 100vh;
}

.pSwiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pSwiper .swiper,
.pSwiper .swiper .swiper-slide .swiper-gl-image {
    width: 100%;
    height: 100%;
}



/*==================================================*/
