.article4 {
    background-color: #1c1c25;
}

.a4-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a4-video {
    position: relative;
    width: 650px;
    height: 0;
    padding-bottom: 30%;
}

.a4-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*==================================================*/
@media (max-width: 1250px) {
    .a4-wrapper {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .a4-video {
        width: 100%;
        padding-bottom: 55%;
    }
}


@media (max-width: 550px) {
    .article4 {
        padding-top: 0;
    }
    
    .a4-wrapper {
        gap: 1.5rem;
    }
}