.article1 {
    position: relative;
    height: 800px;
    background: url(../images/a1-bg.jpg) no-repeat;
    background-attachment: fixed;
}

.a1-image {
    position: absolute;
    right: -250px;
}

.a1-wrapper {
    width: 100%;
}



/*==================================================*/
@media (max-width: 1919px) {
    .article1 {
        height: unset;
        padding: 10% 0;
    }
    
    .a1-image {
        width: 75%;
    }
}


@media (max-width: 1650px) {
    .article1 {
        height: 1050px;
    }

    .article1 .article-wrapper {
        height: 100%;
    }

    .a1-image {
        bottom: 0;
        width: unset;
    }
}


@media (max-width: 1450px) {
    .a1-image {
        width: 100%;
        min-width: 1200px;
    }
}


@media (max-width: 768px) {
    .article1 {
        height: unset;
        padding-top: 60px;
        padding-bottom: 85%;
    }

    .a1-image {
        right: unset;
        left: 50%;
        transform: translate(-50%, 0);
        width: 150%;
        min-width: 150%;
    }
}