.article7 {
    background-color: #1c1c25;
}

.a7-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.a7-video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.a7-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*==================================================*/
