.article2 {
    padding: 240px 0;
    background-color: #1c1c25;
}

.a2-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a2-wrapper img {
    width: 650px;
}


/*==================================================*/
