.article3 {
    padding: 0;
    background-color: #1c1c25;
    overflow: hidden;
}

.article3 .article-wrapper {
    width: 100%;
}

.a3-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a3-text {
    position: relative;
    width: 1200px;
    padding-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: ptop 2s ease both;
    background: url(../images/a3-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

@keyframes ptop {
    100% {
        padding-top: 100px;
    }
}

.a3-background {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url(../images/a3-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    animation: zoomzoom 2s ease both;
    z-index: -1;
}

@keyframes zoomzoom {
    100% {
        transform: translate(-50%, -50%) scale(1.6);
    }
}

.a3-text p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.a3-text h4 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4;
}

.a3-vertical {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 10;
}

.a3-text .a3-vertical {
    margin-top: 3rem;
    margin-bottom: 0;
}

.a3-bottom {
    color: #fff;
    font-size: 18px;
    line-height: 1.65;
    text-align: center;
    margin-top: 4rem;
}


.a3-arrow {
    margin: 3rem 0 5rem 0;
}

.a3-arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    animation: animate 1s infinite;
    margin: -5px 0;
}

.a3-arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.a3-arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}


/*==================================================*/
