.article1 {
    color: #fff;
    height: 100vh;
    background: url(../images/a1-bg.jpg) no-repeat;
    background-attachment: fixed;
}

.a1-title {
    width: fit-content;
    font-size: 45px;
    font-weight: 700;
}

.a1-title span {
    float: right;
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 1rem;
}

.a1-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

.a1-text p {
    font-size: 42px;
    font-weight: 500;
}

.a1-text h5 {
    font-size: 75px;
    font-weight: 800;
}

.a1-circle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin: 4rem 0;
}

.a1-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}


/*==================================================*/
@media (max-height: 850px) {
    .article1 {
        height: auto;
    }
}