.article6 {
    position: relative;
    background: url(../images/a6-bg.jpg) no-repeat;
    background-attachment: fixed;
}

.a6-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.a6-left {
    width: 430px;
    min-width: 430px;
}

.a6-right {
    width: 100%;
}

.a6-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.a6-box {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, .1);
}

.a6-box-text h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.a6-box-image img {
    height: 60px;
    filter: invert(94%) sepia(4%) saturate(0%) hue-rotate(349deg) brightness(106%) contrast(105%);
    user-select: none;
}



/*==================================================*/
@media (max-width: 1250px) {
    .a6-wrapper {
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .a6-box-text h5 {
        font-size: 16px;
    }
}


@media (max-width: 550px) {
    .a6-wrapper {
        gap: 1.5rem;
    }
    
    .a6-box-wrapper {
        gap: 10px;
    }

    .a6-box {
        padding: 15px 5px;
        gap: 5px;
    }

    .a6-box-image img {
        height: 35px;
    }

    .a6-box-text h5 {
        font-size: 12px;
    }
}