.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 120px 0;
    overflow: hidden;
}

.article-wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article .p-text h4 {
    font-size: 45px;
}

.article .p-text h5 {
    font-size: 20px;
}


/*==================================================*/
@media (max-width: 1250px) {
    .article-wrapper {
        width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .article {
        padding: 60px 0;
    }
}


@media (max-width: 550px) {
    .article .p-text p {
        font-size: 12px;
        margin-bottom: 1rem;
    }
    
    .article .p-text h4 {
        font-size: 32px;
    }

    .article .p-text h5 {
        font-size: 14px;
        margin-top: 1.5rem;
    }
}