.a2-title {
    width: 100%;
    margin-bottom: 4rem;
}

.a2-title h1 {
    color: #222;
    font-size: 35px;
    font-weight: 800;
}

.a2-title p {
    color: #888;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}

.a2-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.a2-box {
    position: relative;
    width: 100%;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
    overflow: hidden;
}

.a2-box:nth-child(1) {
    background: url(../images/a2-b-bg-1.jpg) no-repeat;
    background-size: cover;
}
.a2-box:nth-child(2) {
    background: url(../images/a2-b-bg-2.jpg) no-repeat;
    background-size: cover;
}
.a2-box:nth-child(3) {
    background: url(../images/a2-b-bg-3.jpg) no-repeat;
    background-size: cover;
}

.a2-box-text {
    z-index: 2;
}

.a2-box-text h1 {
    color: #fff;
    font-size: 42px;
}

.a2-box-text p {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.65;
    border-radius: 5px;
    margin-top: 1rem;
}

.a2-box-text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    margin-top: 3rem;
}

.a2-box-text ul li {
    color: #fff;
    font-size: 18px;
    list-style: disc;
}

.a2-box:nth-child(3) ul li:nth-child(3) {
    opacity: 0;
    visibility: hidden;
}

.a2Btn {
    color: #fff;
    width: 220px;
    height: 50px;
    padding: 15px 35px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    background-color: var(--main-color);
    z-index: 2;
}

.a2-box:nth-child(3) .a2Btn {
    display: none;
}

.a2Tel {
    padding: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    width: fit-content;
    background-color: transparent;
    text-shadow: 0 0 25px rgba(0, 0, 0, .7);
    letter-spacing: 0;
    white-space: nowrap;
}



/*==================================================*/
@media (max-width: 850px) {
    .a2-title {
        margin-bottom: 3rem;
    }

    .a2-title h1 {
        font-size: 45px;
    }

    .a2-title p {
        font-size: 20px;
    }
    
    .a2-box {
        position: relative;
        padding: 50px 0 0 50px;
        flex-direction: column;
        gap: 4rem;
        border-radius: 30px 30px 0 30px;
    }

    .a2-box::after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .a2-box:nth-child(2) {
        background-position: center;
    }
    .a2-box:nth-child(3) {
        background-position: center;
    }

    .a2-box:nth-child(2)::after {
        background-color: rgba(0, 0, 0, .3);
    }

    .a2-box-text {
        width: 100%;
    }

    .a2-box-text h1 {
        font-size: 35px;
    }

    .a2-box-text p {
        font-size: 18px;
    }

    .a2-box-text ul li {
        font-size: 16px;
    }

    .a2-box:nth-child(3) ul li:nth-child(3) {
        opacity: 1;
        visibility: visible;
    }
    
    .a2Btn {
        width: 250px;
        height: 55px;
        border-radius: 0;
    }

    .a2-box:nth-child(3) .a2Btn {
        display: flex;
    }

    .a2Tel {
        display: none;
    }
}


@media (max-width: 550px) {
    .a2-title h1 {
        font-size: 35px;
    }

    .a2-title p {
        font-size: 16px;
        margin-top: .7rem;
    }
    
    .a2-box-wrapper {
        gap: 1rem;
    }

    .a2-box {
        padding: 40px 0 0 40px;
        gap: 2rem;
    }

    .a2-box-text {
        padding-right: 30px;
    }
    
    .a2-box-text h1 {
        font-size: 28px;
    }

    .a2-box-text p {
        font-size: 15px;
        margin-top: .7rem;
    }

    .a2-box-text ul {
        padding-left: 15px;
        margin-top: 2rem;
    }
    
    .a2-box-text ul li {
        font-size: 13px;
    }

    .a2Btn {
        width: 170px;
        height: 48px;
        padding: 15px;
        font-size: 15px;
        justify-content: center;
        white-space: nowrap;
    }
}


@media (max-width: 450px) {
    .a2-title {
        margin-bottom: 2rem;
    }

    .a2-title h1 {
        font-size: 30px;
    }

    .a2-title p {
        font-size: 14px;
    }

    .a2-box {
        padding: 35px 0 0 35px;
        gap: 2.5rem;
    }

    .a2-box-text h1 {
        font-size: 24px;
    }

    .a2-box-text p {
        font-size: 14px;
    }
}