.article1 {
    background: url(../images/a1-bg.jpg);
    background-attachment: fixed;
}

.at-title {
    width: 100%;
}

.hs-text h5 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hs-text p {
    color: rgba(255, 255, 255, .6);
    font-size: 19px;
    line-height: 1.7;
}

.hs-year-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin: 10rem 0;
}

.hs-year {
    width: 100%;
    font-size: 200px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    letter-spacing: -0.04em;
    transition: all .3s;
    opacity: .3;
}

.hs-year:hover {
    opacity: 1;
}

.hs-year:nth-child(2n) {
    margin-left: -3rem;
}

.hs-popup-wrapper {
    position: relative;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 99;
}

.hs-closeBtn {
    position: absolute;
    top: 45px; right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.hs-closeBtn img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(104%) contrast(101%);
    user-select: none;
}

.hs-popup {
    position: relative;
    color: #000;
    width: 850px;
    height: auto;
    max-height: 80vh;
    background-color: #fff;
    overflow-y: scroll;
}

.hs-p-title {
    position: absolute;
    top: 40px; left: 40px;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.06em;
    z-index: 3;
    display: none;
}

.hs-p-prize {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 3;
    margin-bottom: 2rem;
}

.prize {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #111;
}

.prize span {
    width: 26px;
    height: 26px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: var(--main-color);
}

.hSwiper {
    width: 100%;
}

.hSwiper .swiper-slide {
    width: 100% !important;
}

.hSwiper .swiper-slide img {
    width: 100% !important;
    height: 500px;
    object-fit: cover !important;
    object-position: center !important;
}

.hs-p-text {
    padding: 70px;
}

.hs-p-text h5 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 3rem;
}

.hs-p-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hs-p-box h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.hs-p-text p,
.hs-p-box p,
.hs-p-box ul li {
    color: #888;
    font-size: 16px;
    line-height: 1.6;
    list-style: circle;
    list-style-position: inside;
}


/*==================================================*/
